In [1]:
#import dask
import pandas as pd
import datetime as dt
from datetime import date,time,datetime
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer
lbl = LabelEncoder()
mlb = MultiLabelBinarizer()
#import dask.dataframe as dd
import numpy as np
import pickle as p

In [2]:
adm = pd.read_csv('ADMISSIONS.csv',parse_dates=[3,4],date_parser=lambda x:datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))
icu_stays = pd.read_csv('ICUSTAYS.csv')
patients = pd.read_csv('PATIENTS.csv',parse_dates=[3],date_parser=lambda x:datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))
diag_ref = pd.read_csv('D_ICD_DIAGNOSES.csv')
#lab_itms = pd.read_csv('D_LABITEMS.csv')
diag = pd.read_csv('DIAGNOSES_ICD.csv')
lab_evnts = pd.read_csv('LABEVENTS.csv')

In [3]:
lab_evnts = lab_evnts.dropna(subset = ['HADM_ID'], axis=0)

#doubtful on edregtime,edouttime
adm = adm.drop(['DEATHTIME','ADMISSION_LOCATION','DISCHARGE_LOCATION','INSURANCE','LANGUAGE',
                'MARITAL_STATUS','ETHNICITY','HOSPITAL_EXPIRE_FLAG','RELIGION','ROW_ID',
                'HAS_CHARTEVENTS_DATA','ADMISSION_TYPE','EDREGTIME','EDOUTTIME','DIAGNOSIS'],axis=1)

# Dropping some unnecessary columns from patients
patients = patients.drop(['ROW_ID','DOD','DOD_HOSP','DOD_SSN','EXPIRE_FLAG'],axis=1)

patients['GENDER'] = lbl.fit_transform(patients['GENDER'])

diag = diag.drop(['ROW_ID','SEQ_NUM','SUBJECT_ID'],axis = 1)

In [11]:
adm['LENGTH_OF_STAY'] = abs(adm['ADMITTIME']-adm['DISCHTIME'])

days =abs( pd.to_datetime(adm['ADMITTIME']).dt.day-pd.to_datetime(adm['DISCHTIME']).dt.day)

adm['ADMISSION_DAYS'] = days
adm.head()
# # Merging 
dataset = pd.merge(adm,patients,how='left',left_on='SUBJECT_ID',right_on='SUBJECT_ID')
dataset['ADMITTIME'] = dataset['ADMITTIME'].dt.year
dataset['DOB'] = dataset['DOB'].dt.year
dataset['AGE'] = (dataset['ADMITTIME']-dataset['DOB'])

In [12]:
age = []
for x in dataset['AGE']:
    if x>=300:
        x=x-300+89
        age.append(x)
    else:
        age.append(x)
dataset['AGE'] = age
    
dataset = dataset.drop(['ADMITTIME','DISCHTIME','LENGTH_OF_STAY','DOB'],axis=1)
adm = adm.drop(['ADMITTIME','DISCHTIME','LENGTH_OF_STAY'],axis=1)
diag['ICD9_CODE'] = diag.ICD9_CODE.astype(str)

# Adding lab tests as columns

In [14]:

lab_evnts = lab_evnts.drop(['VALUE','FLAG','VALUEUOM','ROW_ID'],axis=1)

# dropping rows with no HADM_ID, Values
lab_evnts = lab_evnts.dropna(subset=['HADM_ID'],axis=0)
lab_evnts = lab_evnts.dropna(subset=['VALUENUM'],axis=0)

In [15]:
lab_evnts = lab_evnts.sort_values('CHARTTIME').groupby(['HADM_ID','ITEMID']).head(1)
lab_evnts = lab_evnts.drop(['CHARTTIME'],axis=1)

# splitting to columns 
lab1 = lab_evnts.pivot_table('VALUENUM', ['HADM_ID'], 'ITEMID')

In [16]:
dataset = pd.merge(dataset,lab1,how='left',left_on='HADM_ID',right_index=True)

In [17]:
diag = pd.pivot_table(diag,index='HADM_ID',values='ICD9_CODE',aggfunc=list)
dataset = pd.merge(dataset,diag,how='outer',left_on='HADM_ID',right_index=True)
dataset1 = pd.DataFrame(mlb.fit_transform(dataset['ICD9_CODE']),columns=mlb.classes_, index=dataset.HADM_ID)
dataset1 = dataset1.drop('nan',axis=1)
#dataset = dataset.drop('ICD9_CODE',axis=1)

In [18]:
dataset1

,0030,0031,0038,0039,0041,0048,0049,0051,00581,0059,...,V8801,V8811,V8812,V8821,V9010,V902,V9039,V9081,V9089,V9103
HADM_ID,,,,,,,,,,,,,,,,,,,,,
165315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
152223,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124321,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
161859,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
129635,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101071,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122631,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
190264,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
dataset['ICD9_CODE']

0            [9678, 9693, E9502, E9503, 3488, 29620, 4019]
1        [41401, 4111, 4241, V4582, 2724, 4019, 60000, ...
2        [2252, 3485, 78039, 4241, 4019, 2720, 2724, V4...
3                             [41041, 41401, 53081, 25000]
4                              [41071, 25011, 41401, 4019]
                               ...
58971    [8028, 2851, 8701, 87341, 87352, 87343, 6202, ...
58972                             [430, 4019, 41401, V667]
58973    [56211, 51881, 1890, 5849, 5184, 5180, 2762, 9...
58974    [85201, 5990, E8809, 85221, 8024, 8028, 8020, ...
58975       [80321, 73313, 311, 30390, 2948, V1588, E8859]
Name: ICD9_CODE, Length: 58976, dtype: object

In [21]:
dataset

,SUBJECT_ID,HADM_ID,ADMISSION_DAYS,GENDER,AGE,50801,50802,50803,50804,50805,...,51513,51514,51515,51516,51517,51518,51519,51529,51532,ICD9_CODE
0,22,165315,1,0,65,NaN,0.0,NaN,22.0,NaN,...,NaN,0.2,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"[9678, 9693, E9502, E9503, 3488, 29620, 4019]"
1,23,152223,5,1,71,NaN,0.0,NaN,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[41401, 4111, 4241, V4582, 2724, 4019, 60000, ..."
2,23,124321,7,1,75,NaN,1.0,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[2252, 3485, 78039, 4241, 4019, 2720, 2724, V4..."
3,24,161859,3,1,39,NaN,0.0,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[41041, 41401, 53081, 25000]"
4,25,129635,3,1,59,NaN,0.0,NaN,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[41071, 25011, 41401, 4019]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,98800,191113,28,0,20,230.0,-2.0,26.0,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[8028, 2851, 8701, 87341, 87352, 87343, 6202, ..."
58972,98802,101071,1,0,84,485.0,-3.0,18.0,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[430, 4019, 41401, V667]"
58973,98805,122631,8,1,42,422.0,-1.0,NaN,27.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"[56211, 51881, 1890, 5849, 5184, 5180, 2762, 9..."
58974,98813,170407,11,0,60,NaN,-3.0,22.0,23.0,2.0,...,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[85201, 5990, E8809, 85221, 8024, 8028, 8020, ..."
58975,98813,190264,1,0,63,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[80321, 73313, 311, 30390, 2948, V1588, E8859]"

In [22]:
dataset = pd.merge(dataset,dataset1,how='left',left_on='HADM_ID',right_index=True)

In [23]:
dataset

,SUBJECT_ID,HADM_ID,ADMISSION_DAYS,GENDER,AGE,50801,50802,50803,50804,50805,...,V8801,V8811,V8812,V8821,V9010,V902,V9039,V9081,V9089,V9103
0,22,165315,1,0,65,NaN,0.0,NaN,22.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,23,152223,5,1,71,NaN,0.0,NaN,26.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,23,124321,7,1,75,NaN,1.0,NaN,27.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,24,161859,3,1,39,NaN,0.0,NaN,27.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,25,129635,3,1,59,NaN,0.0,NaN,26.0,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,98800,191113,28,0,20,230.0,-2.0,26.0,25.0,NaN,...,0,0,0,0,0,0,0,0,0,0
58972,98802,101071,1,0,84,485.0,-3.0,18.0,18.0,NaN,...,0,0,0,0,0,0,0,0,0,0
58973,98805,122631,8,1,42,422.0,-1.0,NaN,27.0,NaN,...,0,0,0,0,0,0,0,0,0,0
58974,98813,170407,11,0,60,NaN,-3.0,22.0,23.0,2.0,...,0,0,0,0,0,0,0,0,0,0
58975,98813,190264,1,0,63,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [24]:
icu_stays = icu_stays.drop(['ROW_ID','DBSOURCE','FIRST_WARDID','LAST_WARDID','INTIME','OUTTIME'],axis=1)
icu_stays.iloc[:,[3]] = lbl.fit_transform(icu_stays.iloc[:,[3]])
icu_stays.iloc[:,[4]] = lbl.fit_transform(icu_stays.iloc[:,[4]])
#MICU-2
#CCU-0
#NICU-3
#TSICU-5
#SICU-4
#CSRU-1
diag_ref = diag_ref.drop(['ROW_ID'],axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [25]:
dataset.shape

(58976, 7470)

In [32]:
dataset[6:3000].isna().sum().max()

2994

In [34]:
for col in dataset:
    print (dataset[col].value_counts(dropna=False))

13033    42
109      34
11861    34
5060     31
20643    24
         ..
18493     1
18494     1
18495     1
17027     1
98805     1
Name: SUBJECT_ID, Length: 46520, dtype: int64
165315    1
162801    1
120538    1
114047    1
152958    1
         ..
125778    1
118343    1
174152    1
131587    1
190264    1
Name: HADM_ID, Length: 58976, dtype: int64
4     5928
2     5554
3     5031
5     4725
6     4028
7     3426
8     2924
1     2676
9     2366
10    1954
11    1679
12    1393
13    1335
0     1323
14    1169
15    1139
16    1064
23    1046
21    1016
17     995
24     990
22     983
19     983
20     979
18     936
25     925
26     873
27     706
28     489
29     287
30      54
Name: ADMISSION_DAYS, dtype: int64
1    32950
0    26026
Name: GENDER, dtype: int64
0      8089
89     2454
77     1129
78     1115
69     1112
       ...
16       11
15        8
99        7
98        5
100       2
Name: AGE, Length: 88, dtype: int64
NaN      49092
595.0       52
588.0       49
585.0       48
605.0       46
         ...
86.0         1
57.0         1
61.0         1
726.0        1
112.0        1
Name: 50801, Length: 597, dtype: int64
 NaN      21620
 0.0       8001
 1.0       3369
 2.0       3103
-1.0       2744
          ...
-42.0         1
 26.0         1
-39.0         1
 30.0         1
-414.0        1
Name: 50802, Length: 70, dtype: int64
NaN     52000
24.0      690
25.0      648
26.0      590
23.0      589
        ...
55.0        1
45.0        1
12.9        1
59.0        1
12.3        1
Name: 50803, Length: 63, dtype: int64
NaN     21623
26.0     3790
25.0     3554
28.0     3253
27.0     3060
        ...
1.0         2
65.0        1
60.0        1
62.0        1
63.0        1
Name: 50804, Length: 66, dtype: int64
NaN    57251
1.0      435
2.0      338
0.0      205
3.0      121
       ...
6.1        1
7.6        1
5.1        1
5.9        1
3.7        1
Name: 50805, Length: 68, dtype: int64
NaN      39224
104.0     1555
105.0     1501
106.0     1494
103.0     1471
         ...
1.7          1
142.0        1
11.0         1
14.0         1
148.0        1
Name: 50806, Length: 89, dtype: int64
NaN      30691
1.150     1487
1.130     1482
1.160     1411
1.120     1385
         ...
3.190        1
0.092        1
1.690        1
0.580        1
2.200        1
Name: 50808, Length: 170, dtype: int64
NaN      32301
101.0      364
102.0      356
108.0      349
104.0      347
         ...
602.0        1
501.0        1
970.0        1
508.0        1
19.0         1
Name: 50809, Length: 674, dtype: int64
NaN      35340
35.0      1658
38.0      1532
32.0      1517
34.0      1247
         ...
72.0         1
69.0         1
7.0          1
62.0         1
291.0        1
Name: 50810, Length: 65, dtype: int64
NaN      35340
11.3       493
11.1       448
11.5       435
12.0       428
         ...
20.1         1
130.0        1
19.7         1
3.7          1
2.7          1
Name: 50811, Length: 181, dtype: int64
NaN      24427
1.20      1803
1.40      1753
1.00      1750
1.30      1736
         ...
29.00        1
2.21         1
17.10        1
1.77         1
22.60        1
Name: 50813, Length: 284, dtype: int64
NaN     57361
0.0       770
1.0       310
0.3       113
0.2        68
0.5        54
0.6        51
0.1        50
0.4        40
0.7        32
0.9        26
0.8        16
2.0        16
1.1         8
3.0         5
1.2         4
4.0         4
29.0        3
7.0         3
5.0         3
18.0        2
10.0        2
1.6         2
16.0        2
1.7         2
47.0        2
31.0        1
6.4         1
1.5         1
30.0        1
32.0        1
1.9         1
9.0         1
14.0        1
43.0        1
64.0        1
58.0        1
81.0        1
37.0        1
25.9        1
1.3         1
4.9         1
2.1         1
40.0        1
11.0        1
22.0        1
28.0        1
8.0         1
33.0        1
51.0        1
3.7         1
13.0        1
46.0        1
Name: 50814, dtype: int64
NaN      51528
2.0       1433
4.0       1336
3.0        854
6.0        513
         ...
91.0         1
5.7          1
360.0        1
375.0        1
10.1         1
Name: 50815, Length: 160, dtype: int64
NaN      38975
100.0     6714
50.0      3959
40.0      2803
60.0      1377
         ...
71.0         1
3.5          1
11.0         1
800.0        1
11.5         1
Name: 50816, Length: 108, dtype: int64
NaN     36005
98.0     5351
97.0     2874
99.0     2611
96.0     1612
        ...
98.6        1
5.0         1
94.4        1
6.0         1
13.0        1
Name: 50817, Length: 104, dtype: int64
NaN      21629
40.0      1877
38.0      1830
42.0      1796
39.0      1780
         ...
146.0        1
131.0        1
179.0        1
156.0        1
174.0        1
Name: 50818, Length: 164, dtype: int64
NaN      45146
5.0      10115
10.0      1286
8.0        934
6.0        383
12.0       264
15.0       197
0.0        146
7.0         98
14.0        62
20.0        53
18.0        44
4.0         38
16.0        34
13.0        30
3.0         25
2.0         23
9.0         22
22.0        16
11.0         8
19.0         7
17.0         6
100.0        4
23.0         4
1.0          4
25.0         4
28.0         4
24.0         3
26.0         2
30.0         2
7.5          2
45.0         1
40.0         1
50.0         1
700.0        1
76.0         1
21.0         1
32.0         1
500.0        1
52.0         1
450.0        1
Name: 50819, dtype: int64
NaN     20059
7.42     2138
7.40     2109
7.38     1992
7.41     1947
        ...
6.75        1
6.49        1
6.56        1
6.61        1
6.66        1
Name: 50820, Length: 113, dtype: int64
NaN      21626
70.0       303
76.0       278
71.0       274
69.0       269
         ...
599.0        1
650.0        1
592.0        1
11.0         1
612.0        1
Name: 50821, Length: 601, dtype: int64
NaN      29578
4.00      2157
3.80      2085
3.90      2027
4.10      1925
         ...
10.60        1
17.50        1
10.30        1
4.24         1
16.70        1
Name: 50822, Length: 114, dtype: int64
NaN      49090
100.0      630
94.0       265
95.0       258
98.0       256
         ...
26.0         2
16.0         1
19.0         1
21.0         1
20.0         1
Name: 50823, Length: 85, dtype: int64
NaN      35522
138.0     2790
139.0     2548
140.0     2351
137.0     2227
         ...
105.0        1
174.0        1
108.0        1
178.0        1
173.0        1
Name: 50824, Length: 80, dtype: int64
NaN     39596
36.7     1804
37.2     1274
37.0     1141
36.1      955
        ...
29.0        1
26.7        1
40.7        1
31.2        1
0.0         1
Name: 50825, Length: 113, dtype: int64
NaN       43976
500.0      3088
600.0      2164
800.0      1882
550.0      1177
          ...
1020.0        1
577.0         1
694.0         1
506.0         1
456.0         1
Name: 50826, Length: 477, dtype: int64
NaN     58958
13.0        4
0.0         2
12.0        2
46.0        1
35.0        1
18.0        1
10.0        1
14.0        1
7.0         1
53.0        1
51.0        1
36.0        1
44.0        1
Name: 50830, dtype: int64
NaN     58035
7.45       49
7.47       46
7.44       39
7.43       34
        ...
6.92        1
7.97        1
9.00        1
6.88        1
6.25        1
Name: 50831, Length: 120, dtype: int64
NaN      58969
29.0         1
127.0        1
157.0        1
93.0         1
110.0        1
187.0        1
51.0         1
Name: 50832, dtype: int64
NaN     58974
97.0        1
4.4         1
Name: 50833, dtype: int64
NaN      58975
125.0        1
Name: 50834, dtype: int64
NaN    58540
1.0       50
1.3       40
1.5       37
1.1       36
1.2       34
1.6       27
1.4       26
1.8       22
1.7       21
1.9       18
2.2       17
2.0       13
2.1       10
2.5        9
2.4        8
0.5        8
2.7        6
2.6        6
2.8        5
0.8        5
0.6        5
2.3        5
0.9        5
0.4        4
2.9        3
3.3        3
0.7        3
3.0        2
4.0        1
3.6        1
0.2        1
5.0        1
3.4        1
3.9        1
3.2        1
0.3        1
Name: 50835, dtype: int64
NaN        58347
4.0           19
12.0          18
16.0          17
13.0          17
           ...
5511.0         1
741.0          1
14150.0        1
34570.0        1
30340.0        1
Name: 50836, Length: 237, dtype: int64
NaN     58950
29.0        3
20.0        3
23.0        2
18.0        2
13.0        2
27.0        2
16.0        2
22.0        2
25.0        1
26.0        1
42.0        1
15.0        1
19.0        1
9.0         1
37.0        1
24.0        1
Name: 50837, dtype: int64
NaN     58506
0.3        25
0.2        18
0.6        18
0.4        17
        ...
8.2         1
2.8         1
57.0        1
17.1        1
9.0         1
Name: 50838, Length: 157, dtype: int64
NaN      58945
100.0        3
105.0        2
109.0        2
97.0         2
112.0        2
126.0        2
106.0        2
107.0        2
120.0        1
103.0        1
95.0         1
123.0        1
125.0        1
122.0        1
111.0        1
102.0        1
110.0        1
113.0        1
121.0        1
98.0         1
99.0         1
128.0        1
Name: 50839, dtype: int64
NaN     58970
39.0        1
61.0        1
6.0         1
15.0        1
33.0        1
12.0        1
Name: 50840, dtype: int64
NaN     58660
0.8        20
0.9        20
1.1        18
0.6        16
        ...
5.3         1
11.5        1
11.7        1
3.8         1
10.9        1
Name: 50841, Length: 77, dtype: int64
NaN      58303
135.0       19
99.0        15
115.0       12
126.0       12
         ...
29.0         1
52.0         1
720.0        1
277.0        1
243.0        1
Name: 50842, Length: 207, dtype: int64
NaN      58255
50.0        15
62.0        12
47.0        10
67.0        10
         ...
10.0         1
285.0        1
13.0         1
526.0        1
210.0        1
Name: 50843, Length: 315, dtype: int64
NaN         58966
103.0           1
992.0           1
29862.0         1
17940.0         1
122880.0        1
3.0             1
163.0           1
29.0            1
6.0             1
45.0            1
Name: 50844, dtype: int64
NaN      58974
271.0        1
294.0        1
Name: 50846, dtype: int64
NaN    58942
4.4        4
3.7        4
4.1        4
3.9        2
5.1        2
5.0        2
4.2        2
3.5        2
4.9        1
3.4        1
4.6        1
6.7        1
3.1        1
7.8        1
4.3        1
5.9        1
3.6        1
4.0        1
6.3        1
3.2        1
Name: 50847, dtype: int64
NaN      58935
139.0        4
136.0        4
131.0        3
144.0        3
145.0        3
148.0        2
137.0        2
130.0        2
134.0        2
135.0        2
128.0        2
133.0        2
138.0        1
129.0        1
143.0        1
125.0        1
126.0        1
153.0        1
140.0        1
158.0        1
114.0        1
150.0        1
Name: 50848, dtype: int64
NaN      58086
0.6         51
0.8         48
0.9         43
1.0         40
         ...
7.4          1
6.6          1
573.0        1
795.0        1
6.3          1
Name: 50849, Length: 66, dtype: int64
NaN       58905
18.0          2
75.0          2
16.0          2
185.0         2
          ...
74.0          1
696.0         1
1304.0        1
29.0          1
91.0          1
Name: 50850, Length: 66, dtype: int64
NaN     58965
57.0        1
26.0        1
16.0        1
77.0        1
51.0        1
95.0        1
33.0        1
15.0        1
21.0        1
63.0        1
3.0         1
Name: 50851, dtype: int64
NaN     52362
5.7       458
5.9       435
5.8       419
5.6       416
        ...
15.9        1
4.3         1
19.5        1
14.4        1
14.5        1
Name: 50852, Length: 130, dtype: int64
NaN     58907
23.0        5
11.0        4
20.0        4
17.0        4
31.0        4
7.0         3
13.0        3
26.0        3
14.0        3
6.0         3
10.0        3
22.0        3
16.0        2
28.0        2
29.0        2
27.0        2
8.0         2
50.0        2
24.0        2
12.0        2
25.0        1
53.0        1
44.0        1
34.0        1
47.0        1
18.0        1
40.0        1
37.0        1
32.0        1
5.0         1
45.0        1
Name: 50853, dtype: int64
NaN     58975
0.45        1
Name: 50854, dtype: int64
NaN    58975
7.3        1
Name: 50855, dtype: int64
NaN      58344
5.0         28
6.0         26
8.0         16
7.0         14
         ...
123.6        1
14.2         1
14.1         1
27.1         1
175.7        1
Name: 50856, Length: 257, dtype: int64
NaN      58975
331.0        1
Name: 50857, dtype: int64
NaN       25315
15.0       1150
14.0       1138
17.0       1133
16.0       1115
          ...
600.0         1
1863.0        1
1540.0        1
3837.0        1
952.0         1
Name: 50861, Length: 1068, dtype: int64
NaN    27980
3.4     1665
3.3     1626
3.6     1618
3.1     1614
3.5     1605
3.2     1574
3.7     1569
3.0     1487
3.8     1407
3.9     1404
2.8     1348
2.9     1333
2.7     1249
2.6     1201
4.0     1171
4.1     1021
2.5      953
2.4      843
4.2      842
4.3      681
2.3      673
2.2      590
4.4      541
2.1      501
4.5      383
2.0      350
1.9      280
4.6      275
1.8      210
4.7      186
1.7      137
4.8      108
1.6      103
4.9       84
1.5       81
5.0       64
1.4       46
1.3       32
5.1       31
1.1       31
1.2       19
5.2       17
5.3       13
5.4        9
1.0        6
5.6        5
5.5        4
5.7        3
6.3        1
5.8        1
5.9        1
Name: 50862, dtype: int64
NaN       25403
68.0        426
61.0        419
67.0        417
64.0        415
          ...
970.0         1
1006.0        1
1147.0        1
723.0         1
911.0         1
Name: 50863, Length: 921, dtype: int64
NaN     58241
2.0        25
1.6        24
1.7        24
1.9        24
        ...
23.2        1
51.4        1
38.0        1
38.4        1
89.8        1
Name: 50864, Length: 203, dtype: int64
NaN     58949
10.8        2
11.7        2
4.3         1
11.3        1
5.1         1
5.9         1
11.6        1
16.0        1
20.2        1
7.5         1
9.4         1
10.4        1
7.7         1
4.9         1
6.8         1
1.7         1
9.7         1
9.2         1
6.5         1
10.9        1
8.9         1
5.0         1
20.8        1
9.9         1
3.7         1
Name: 50865, dtype: int64
NaN      56908
31.0        41
22.0        41
24.0        40
25.0        40
         ...
217.0        1
922.0        1
252.0        1
132.0        1
308.0        1
Name: 50866, Length: 226, dtype: int64
NaN       40372
36.0        280
44.0        276
39.0        272
42.0        267
          ...
509.0         1
410.0         1
1111.0        1
369.0         1
502.0         1
Name: 50867, Length: 749, dtype: int64
14.0    6178
NaN     6168
15.0    6065
13.0    5847
16.0    5204
12.0    4656
17.0    4292
11.0    3385
18.0    3247
19.0    2476
10.0    2065
20.0    1787
21.0    1264
9.0     1221
22.0     945
23.0     693
8.0      589
24.0     552
25.0     404
7.0      234
27.0     219
26.0     199
28.0     181
29.0     171
30.0     142
31.0      93
6.0       90
32.0      88
33.0      80
34.0      64
35.0      58
36.0      49
39.0      38
40.0      37
38.0      36
37.0      31
42.0      19
41.0      16
43.0      16
5.0       15
45.0      10
4.0        9
3.0        5
47.0       5
46.0       5
48.0       4
44.0       4
52.0       3
50.0       3
51.0       3
54.0       2
53.0       2
2.0        2
59.0       1
1.0        1
49.0       1
56.0       1
58.0       1
Name: 50868, dtype: int64
NaN    58969
3.0        2
2.0        2
1.0        1
7.0        1
0.0        1
Name: 50869, dtype: int64
NaN    58975
0.0        1
Name: 50870, dtype: int64
NaN       58965
151.0         1
22.0          1
50.0          1
28.0          1
2396.0        1
167.0         1
24.0          1
929.0         1
92.0          1
952.0         1
62.0          1
Name: 50877, dtype: int64
NaN        25342
19.0        1083
18.0        1056
21.0        1014
20.0        1011
           ...
5960.0         1
13695.0        1
541.0          1
1560.0         1
1189.0         1
Name: 50878, Length: 1239, dtype: int64
NaN     58866
2.1         5
3.7         5
4.2         4
2.6         4
        ...
6.2         1
15.4        1
3.1         1
1.1         1
5.2         1
Name: 50881, Length: 68, dtype: int64
NaN     6151
24.0    5393
25.0    5322
23.0    5063
26.0    4875
        ...
18.7       1
2.0        1
14.5       1
25.3       1
22.3       1
Name: 50882, Length: 61, dtype: int64
NaN     46996
0.3      3662
0.2      2795
0.4      1047
0.1       743
        ...
36.5        1
23.2        1
17.6        1
15.1        1
33.6        1
Name: 50883, Length: 215, dtype: int64
 NaN     47265
 0.3       485
 0.2       468
 0.4       415
 0.5       312
         ...
-1.3         1
 22.8        1
 20.6        1
 18.3        1
 23.2        1
Name: 50884, Length: 239, dtype: int64
NaN     19301
0.3      4446
0.4      4329
0.5      3753
0.6      3038
        ...
39.6        1
31.7        1
28.9        1
34.2        1
26.8        1
Name: 50885, Length: 361, dtype: int64
NaN       56432
0.40         10
0.90          9
1.40          9
2.30          8
          ...
10.68         1
135.50        1
28.79         1
65.10         1
120.10        1
Name: 50889, Length: 1631, dtype: int64
NaN      58266
108.0       12
122.0       11
117.0       10
80.0         9
         ...
154.0        1
95.0         1
5.0          1
156.0        1
18.0         1
Name: 50890, Length: 172, dtype: int64
NaN     58231
27.0       31
29.0       29
25.0       25
19.0       25
        ...
65.0        1
7.5         1
54.0        1
23.5        1
66.0        1
Name: 50891, Length: 74, dtype: int64
NaN      58816
14.0         5
13.0         4
12.0         3
67.0         3
         ...
159.0        1
73.0         1
26.0         1
546.0        1
109.0        1
Name: 50892, Length: 132, dtype: int64
NaN     9974
8.5     2552
8.6     2524
8.7     2490
8.8     2425
        ...
19.5       1
30.6       1
17.1       1
15.9       1
17.5       1
Name: 50893, Length: 145, dtype: int64
NaN     58971
12.0        1
26.0        1
19.0        1
7.1         1
3.6         1
Name: 50894, dtype: int64
NaN     58730
0.97       14
1.06       13
0.95       12
0.99        9
        ...
0.69        1
0.58        1
1.13        1
0.56        1
1.31        1
Name: 50895, Length: 70, dtype: int64
NaN     58732
6.7         8
7.5         7
6.2         6
3.5         6
        ...
10.6        1
10.5        1
39.9        1
3.8         1
9.2         1
Name: 50896, Length: 100, dtype: int64
NaN       58932
12.0          2
20.0          2
265.0         1
1949.0        1
124.0         1
653.0         1
58.0          1
16.0          1
48.0          1
393.0         1
36.0          1
242.0         1
574.0         1
62.0          1
27.0          1
1548.0        1
467.0         1
1182.0        1
561.0         1
39.0          1
744.0         1
77.0          1
43.0          1
61.0          1
945.0         1
3740.0        1
298.0         1
45.0          1
21.0          1
51.0          1
50.0          1
31.0          1
276.0         1
37.0          1
18.0          1
75.0          1
52.0          1
123.0         1
554.0         1
102.0         1
1287.0        1
25.0          1
Name: 50898, dtype: int64
NaN    58803
4.1        5
4.9        5
5.7        5
6.9        5
       ...
9.0        1
8.7        1
0.7        1
6.6        1
9.4        1
Name: 50899, Length: 92, dtype: int64
NaN     58336
1.1        19
2.0        19
1.9        18
1.5        16
        ...
78.0        1
9.1         1
70.0        1
8.3         1
47.0        1
Name: 50900, Length: 176, dtype: int64
NaN      6124
104.0    4048
103.0    3910
105.0    3888
102.0    3615
         ...
63.0        1
144.0       1
66.0        1
142.0       1
145.0       1
Name: 50902, Length: 86, dtype: int64
NaN     52758
2.8       240
3.4       213
2.7       206
3.2       206
        ...
45.7        1
16.8        1
32.4        1
10.9        1
10.6        1
Name: 50903, Length: 182, dtype: int64
NaN      52724
44.0       198
42.0       191
40.0       188
41.0       187
         ...
115.0        1
149.0        1
124.0        1
132.0        1
116.0        1
Name: 50904, Length: 117, dtype: int64
 NaN      53028
 74.0        84
 73.0        82
 60.0        78
 68.0        78
          ...

NaN       8581
108.0      618
112.0      615
107.0      612
100.0      604
          ...
982.0        1
784.0        1
708.0        1
1013.0       1
1309.0       1
Name: 50931, Length: 871, dtype: int64
NaN     58972
1.0         1
78.0        1
10.0        1
19.0        1
Name: 50934, dtype: int64
NaN      53346
195.0       28
175.0       27
108.0       27
110.0       26
         ...
590.0        1
450.0        1
525.0        1
529.0        1
477.0        1
Name: 50935, Length: 547, dtype: int64
NaN     58639
7.2         7
8.9         7
6.5         6
8.1         6
        ...
16.7        1
6.8         1
14.0        1
17.6        1
23.3        1
Name: 50945, Length: 137, dtype: int64
NaN        58923
5.0            4
6.0            4
7.0            3
13.0           2
19.0           2
166.0          1
382.0          1
146.0          1
289.0          1
76.0           1
17.0           1
40611.0        1
131.0          1
18.0           1
9.0            1
20357.0        1
18741.0        1
7597.0         1
11252.0        1
55181.0        1
10.0           1
25.0           1
23889.0        1
191.0          1
20639.0        1
2064.0         1
120.0          1
8684.0         1
38888.0        1
634.0          1
10816.0        1
33447.0        1
32.0           1
14836.0        1
22.0           1
20705.0        1
2032.0         1
11.0           1
13612.0        1
15.0           1
8.0            1
172.0          1
54376.0        1
Name: 50946, dtype: int64
NaN    58972
1.0        2
0.0        1
3.0        1
Name: 50947, dtype: int64
NaN       57907
19.0          9
149.0         7
161.0         7
120.0         7
          ...
7590.0        1
303.0         1
526.0         1
412.0         1
396.0         1
Name: 50949, Length: 514, dtype: int64
NaN       57681
569.0         5
846.0         5
1347.0        5
749.0         4
          ...
1386.0        1
895.0         1
791.0         1
3236.0        1
1094.0        1
Name: 50950, Length: 967, dtype: int64
NaN      57966
54.0        15
56.0        15
35.0        13
31.0        13
         ...
398.0        1
208.0        1
309.0        1
165.0        1
251.0        1
Name: 50951, Length: 317, dtype: int64
NaN      49933
18.0       202
23.0       199
21.0       196
22.0       189
         ...
266.0        1
242.0        1
327.0        1
344.0        1
354.0        1
Name: 50952, Length: 272, dtype: int64
NaN      50162
183.0       78
164.0       71
215.0       71
217.0       70
         ...
26.0         1
564.0        1
540.0        1
446.0        1
558.0        1
Name: 50953, Length: 380, dtype: int64
NaN        35418
223.0        132
198.0        131
190.0        126
180.0        125
           ...
5210.0         1
836.0          1
10570.0        1
2372.0         1
1662.0         1
Name: 50954, Length: 1700, dtype: int64
NaN       38500
18.0        528
19.0        526
16.0        525
15.0        512
          ...
6500.0        1
1227.0        1
975.0         1
277.0         1
786.0         1
Name: 50956, Length: 823, dtype: int64
NaN     58770
0.30       21
0.70       20
0.20       20
0.50       19
0.60       17
0.80       15
0.90       12
0.40       11
1.20        9
1.00        9
1.10        7
1.30        5
2.00        5
1.40        4
3.00        3
1.60        3
1.90        2
1.50        2
3.20        2
2.40        2
2.20        2
2.60        1
3.46        1
3.30        1
3.50        1
4.60        1
7.10        1
1.70        1
3.80        1
3.40        1
0.28        1
4.30        1
3.31        1
5.50        1
0.77        1
0.21        1
1.03        1
Name: 50957, dtype: int64
NaN     58928
2.2         3
6.8         3
16.0        3
15.0        3
2.8         3
4.7         2
1.4         2
3.5         2
4.8         2
13.0        2
1.7         1
25.0        1
3.7         1
53.0        1
7.8         1
9.1         1
1.8         1
11.0        1
4.3         1
3.3         1
3.6         1
39.0        1
7.5         1
7.6         1
10.0        1
19.0        1
3.9         1
28.0        1
1.1         1
4.1         1
1.5         1
23.0        1
8.0         1
Name: 50958, dtype: int64
NaN     9214
1.9     6003
2.0     5790
1.8     5469
2.1     4789
        ...
6.8        1
6.3        1
5.0        1
14.9       1
7.8        1
Name: 50960, Length: 72, dtype: int64
NaN       58947
1.70          3
0.58          2
0.51          1
16.10         1
0.60          1
1.00          1
25.00         1
0.43          1
348.00        1
16.00         1
1.10          1
2.00          1
22.00         1
13.00         1
0.04          1
4.80          1
0.05          1
2.80          1
0.07          1
5.70          1
5.00          1
319.00        1
7.20          1
5.30          1
3.40          1
0.24          1
Name: 50961, dtype: int64
NaN     58919
1.6         4
0.9         3
1.7         3
1.3         2
8.0         2
3.1         2
2.3         2
3.7         2
6.0         2
3.2         2
4.5         2
1.9         1
3.8         1
2.9         1
1.4         1
1.0         1
2.1         1
3.4         1
11.8        1
12.6        1
2.8         1
16.3        1
2.7         1
1.8         1
2.6         1
24.8        1
4.7         1
0.6         1
2.2         1
6.1         1
6.8         1
11.0        1
5.4         1
1.2         1
7.2         1
5.6         1
6.5         1
3.6         1
14.6        1
2.4         1
5.7         1
3.3         1
Name: 50962, dtype: int64
NaN       54856
106.0         6
99.0          5
70.0          4
1311.0        4
          ...
1947.0        1
5861.0        1
4439.0        1
7336.0        1
4283.0        1
Name: 50963, Length: 3479, dtype: int64
NaN      54032
292.0      113
301.0      110
290.0      103
298.0      100
         ...
461.0        1
419.0        1
442.0        1
390.0        1
400.0        1
Name: 50964, Length: 206, dtype: int64
NaN      57600
9.0         16
12.0        14
10.0        13
58.0        12
         ...
457.0        1
637.0        1
281.0        1
431.0        1
589.0        1
Name: 50965, Length: 495, dtype: int64
NaN     58752
10.5        5
27.3        4
15.5        3
15.0        3
        ...
20.0        1
23.0        1
10.1        1
12.8        1
11.4        1
Name: 50966, Length: 164, dtype: int64
NaN     55035
9.0        43
8.4        40
7.3        39
8.7        38
        ...
33.0        1
29.1        1
33.5        1
54.0        1
29.9        1
Name: 50967, Length: 289, dtype: int64
NaN    58599
1.7       27
1.4       26
2.0       23
1.9       21
1.6       20
1.0       19
1.8       18
1.3       16
2.1       16
0.9       15
2.3       13
1.1       13
2.2       12
1.2       12
1.5       11
2.7       11
2.4       10
2.9       10
3.0        9
2.6        9
3.1        8
2.8        8
2.5        7
3.2        6
0.8        6
3.6        6
0.7        5
3.5        5
3.3        4
3.7        4
3.8        2
3.9        2
0.4        1
0.5        1
4.0        1
Name: 50968, dtype: int64
NaN     58599
17.0       30
15.0       29
14.0       27
18.0       26
16.0       24
12.0       23
13.0       22
11.0       21
23.0       18
20.0       18
19.0       17
28.0       13
22.0       13
21.0       11
10.0       11
30.0        9
24.0        7
27.0        7
25.0        7
9.0         6
29.0        4
26.0        4
32.0        4
34.0        3
7.0         2
31.0        2
37.0        2
45.0        2
51.0        2
41.0        2
8.0         2
56.0        1
47.0        1
43.0        1
67.0        1
55.0        1
62.0        1
38.0        1
35.0        1
48.0        1
Name: 50969, dtype: int64
NaN     10068
3.4      2181
3.3      2076
3.5      2048
3.1      2045
        ...
14.2        1
15.5        1
17.8        1
17.3        1
11.9        1
Name: 50970, Length: 160, dtype: int64
NaN      6100
4.00     3515
4.10     3455
4.20     3432
3.90     3411
         ...
17.10       1
5.52        1
8.23        1
5.31        1
1.50        1
Name: 50971, Length: 94, dtype: int64
NaN     58919
4.6         3
4.2         3
2.4         3
3.0         3
5.1         2
7.3         2
3.5         2
4.5         2
5.0         2
4.3         2
9.1         2
1.5         2
5.3         2
3.2         2
6.2         1
9.8         1
8.5         1
4.7         1
2.3         1
2.9         1
1.2         1
2.8         1
2.6         1
4.1         1
7.5         1
8.9         1
4.9         1
11.4        1
7.2         1
1.8         1
8.2         1
6.0         1
5.9         1
3.3         1
6.5         1
5.6         1
6.9         1
5.8         1
9.6         1
Name: 50972, dtype: int64
NaN      58821
11.0         7
13.0         7
23.0         6
18.0         5
         ...
117.0        1
82.0         1
5.2          1
216.0        1
25.0         1
Name: 50973, Length: 93, dtype: int64
NaN     58544
0.1        41
0.3        21
0.5        19
0.4        19
        ...
41.2        1
46.3        1
4.2         1
6.8         1
59.5        1
Name: 50974, Length: 149, dtype: int64
NaN     55542
6.1       141
5.9       137
6.0       132
5.6       132
        ...
12.2        1
12.8        1
2.3         1
9.1         1
2.9         1
Name: 50976, Length: 84, dtype: int64
NaN    58971
1.7        2
1.6        1
0.6        1
1.8        1
Name: 50977, dtype: int64
NaN     58822
4.2         6
2.4         5
7.3         5
4.6         4
        ...
8.0         1
3.4         1
14.0        1
14.6        1
11.4        1
Name: 50978, Length: 99, dtype: int64
NaN      58582
9.0         42
8.0         36
10.0        33
7.0         28
11.0        22
15.0        21
6.0         19
12.0        18
13.0        17
14.0        17
17.0        12
4.0         12
3.0         11
5.0         10
16.0         9
18.0         8
21.0         7
19.0         7
20.0         6
23.0         5
31.0         4
22.0         3
39.0         3
24.0         3
33.0         3
27.0         2
65.0         2
26.0         2
32.0         2
47.0         1
387.0        1
51.0         1
234.0        1
188.0        1
28.0         1
182.0        1
561.0        1
361.0        1
116.0        1
62.0         1
48.0         1
55.0         1
101.0        1
236.0        1
25.0         1
57.0         1
323.0        1
354.0        1
115.0        1
82.0         1
43.0         1
29.0         1
342.0        1
164.0        1
91.0         1
79.0         1
330.0        1
34.0         1
591.0        1
Name: 50980, dtype: int64
NaN      58815
4.0         48
5.0         20
6.0         14
9.0         10
7.0          7
12.0         4
5.1          3
8.0          3
4.1          3
15.0         2
28.0         2
50.0         2
25.0         2
11.0         2
54.0         1
13.8         1
8.5          1
4.8          1
105.0        1
15.5         1
4.9          1
37.0         1
93.8         1
7.3          1
5.7          1
26.0         1
13.6         1
4.4          1
19.1         1
35.0         1
66.8         1
8.7          1
20.1         1
18.0         1
55.8         1
60.0         1
57.0         1
30.0         1
23.0         1
34.0         1
4.2          1
43.0         1
14.0         1
17.0         1
29.6         1
42.0         1
10.0         1
39.0         1
63.0         1
7.7          1
27.0         1
53.0         1
27.1         1
Name: 50981, dtype: int64
NaN     58966
43.0        2
22.0        1
12.0        1
24.0        1
11.0        1
26.0        1
15.0        1
18.0        1
41.0        1
Name: 50982, dtype: int64
NaN      6117
139.0    5926
140.0    5728
138.0    5292
141.0    5122
         ...
180.0       1
83.0        1
84.0        1
102.0       1
96.0        1
Name: 50983, Length: 84, dtype: int64
NaN     58055
5.6        19
3.0        19
3.8        19
3.3        17
        ...
20.1        1
25.7        1
19.5        1
39.0        1
14.8        1
Name: 50986, Length: 182, dtype: int64
NaN       58936
52.0          2
24.0          2
31.0          2
73.0          1
20.0          1
56.0          1
539.0         1
97.0          1
50.0          1
627.0         1
498.0         1
320.0         1
274.0         1
88.0          1
64.0          1
6.0           1
23.0          1
45.0          1
129.0         1
87.0          1
70.0          1
1109.0        1
199.0         1
917.0         1
764.0         1
48.0          1
171.0         1
22.0          1
34.0          1
21.0          1
123.0         1
126.0         1
202.0         1
43.0          1
151.0         1
25.0          1
19.0          1
Name: 50988, dtype: int64
NaN     58960
0.1         2
0.8         2
2.4         1
5.6         1
9.8         1
19.0        1
3.4         1
22.0        1
4.2         1
2.0         1
3.1         1
11.0        1
7.4         1
0.6         1
Name: 50989, dtype: int64
NaN     58884
4.9         4
5.6         3
2.4         3
3.4         3
        ...
1.2         1
11.2        1
13.8        1
3.2         1
10.0        1
Name: 50990, Length: 64, dtype: int64
NaN       58936
4.0           4
8.0           2
11.0          2
3.0           2
189.0         1
14.0          1
42.0          1
1170.0        1
15.0          1
260.0         1
0.6           1
1990.0        1
0.8           1
12.0          1
20.0          1
7.0           1
29.0          1
66.0          1
55.0          1
2.9           1
447.0         1
630.0         1
22.0          1
90.0          1
152.0         1
324.0         1
490.0         1
3890.0        1
627.0         1
6.0           1
1530.0        1
27.0          1
13.0          1
9.0           1
Name: 50991, dtype: int64
NaN      58941
14.0         5
11.0         2
13.0         2
17.0         2
16.0         2
294.0        1
24.0         1
64.0         1
22.0         1
15.0         1
255.0        1
122.0        1
103.0        1
23.0         1
989.0        1
39.0         1
133.0        1
11.3         1
289.0        1
18.0         1
19.0         1
89.0         1
992.0        1
30.0         1
356.0        1
28.0         1
124.0        1
Name: 50992, dtype: int64
NaN       46995
1.100       373
1.500       329
1.200       327
1.300       325
          ...
0.056         1
74.000        1
68.000        1
27.800        1
83.000        1
Name: 50993, Length: 318, dtype: int64
NaN     57235
6.4        41
6.6        40
6.9        40
5.7        39
        ...
15.0        1
11.7        1
12.6        1
16.2        1
12.8        1
Name: 50994, Length: 149, dtype: int64
NaN     55953
1.10      408
1.20      361
1.30      281
1.00      259
        ...
0.34        1
6.30        1
4.60        1
5.00        1
0.44        1
Name: 50995, Length: 123, dtype: int64
NaN      58822
4.0         31
5.0         16
3.0         16
6.0         13
1.0         10
2.0          9
7.0          8
9.0          8
13.0         6
8.0          5
18.0         5
12.0         4
0.0          4
10.0         3
21.0         2
15.0         2
16.0         2
19.0         1
105.0        1
24.0         1
25.0         1
32.0         1
27.0         1
87.0         1
17.0         1
11.0         1
61.0         1
Name: 50996, dtype: int64
NaN     58680
2.3        10
0.5        10
0.4         9
0.2         9
        ...
17.5        1
5.4         1
8.9         1
8.3         1
6.4         1
Name: 50997, Length: 96, dtype: int64
NaN      50162
141.0       78
126.0       71
165.0       71
167.0       70
         ...
20.0         1
434.0        1
415.0        1
343.0        1
429.0        1
Name: 50998, Length: 380, dtype: int64
NaN       49125
90.0         92
75.0         91
96.0         88
69.0         87
          ...
684.0         1
18.0          1
403.0         1
5170.0        1
1041.0        1
Name: 51000, Length: 641, dtype: int64
NaN      57818
46.0        28
52.0        26
60.0        26
54.0        25
         ...
187.0        1
141.0        1
154.0        1
231.0        1
179.0        1
Name: 51001, Length: 154, dtype: int64
NaN     57303
0.3       184
0.4       128
0.5        97
0.6        76
        ...
37.6        1
25.8        1
9.2         1
28.4        1
26.8        1
Name: 51002, Length: 313, dtype: int64
NaN      43476
0.02      2059
0.03      1401
0.01      1397
0.04      1119
         ...
10.25        1
6.39         1
14.24        1
3.60         1
5.77         1
Name: 51003, Length: 722, dtype: int64
NaN     58730
1.03       14
0.94       13
1.05       11
1.01        9
        ...
1.64        1
3.23        1
1.45        1
1.72        1
0.76        1
Name: 51005, Length: 67, dtype: int64
NaN      7968
15.0     2435
16.0     2340
14.0     2305
13.0     2271
         ...
175.0       1
201.0       1
274.0       1
213.0       1
251.0       1
Name: 51006, Length: 204, dtype: int64
NaN     55672
5.0        57
4.1        56
5.5        56
5.2        55
        ...
0.7         1
19.1        1
17.6        1
17.8        1
16.8        1
Name: 51007, Length: 189, dtype: int64
NaN      58458
37.0        14
15.0        14
30.0        14
18.0        10
         ...
133.0        1
153.8        1
513.0        1
102.0        1
132.0        1
Name: 51008, Length: 119, dtype: int64
NaN     47716
9.3        87
9.5        78
10.0       76
10.1       76
        ...
53.7        1
39.8        1
45.2        1
67.5        1
51.1        1
Name: 51009, Length: 540, dtype: int64
NaN       53071
421.0        15
482.0        15
456.0        14
686.0        13
          ...
1014.0        1
1290.0        1
1901.0        1
143.0         1
1611.0        1
Name: 51010, Length: 1616, dtype: int64
NaN      58957
123.6        2
219.0        1
17.0         1
20.9         1
140.3        1
25.8         1
186.3        1
29.6         1
28.0         1
10.9         1
48.3         1
63.9         1
4.2          1
33.9         1
156.0        1
12.5         1
3.7          1
77.2         1
Name: 51011, dtype: int64
NaN    58973
0.0        1
0.4        1
0.1        1
Name: 51012, dtype: int64
NaN      56504
74.0        51
63.0        50
56.0        50
66.0        50
         ...
171.0        1
9.0          1
227.0        1
123.0        1
249.0        1
Name: 51014, Length: 199, dtype: int64
NaN      58637
19.0        18
21.0        15
18.0        14
20.0        14
         ...
169.0        1
57.0         1
74.0         1
132.0        1
219.0        1
Name: 51015, Length: 96, dtype: int64
NaN    58975
1.6        1
Name: 51016, dtype: int64
NaN      56481
25.0        45
30.0        41
28.0        40
37.0        37
         ...
352.0        1
965.0        1
198.0        1
244.0        1
314.0        1
Name: 51018, Length: 360, dtype: int64
NaN    58975
2.7        1
Name: 51019, dtype: int64
NaN         58966
17.0            2
210.0           1
58.0            1
19.0            1
475.0           1
7.0             1
126900.0        1
1964.0          1
39600.0         1
Name: 51020, dtype: int64
NaN    58972
0.7        2
8.4        1
0.9        1
Name: 51021, dtype: int64
NaN      58950
115.0        2
87.0         2
44.0         1
0.0          1
45.0         1
198.0        1
84.0         1
65.0         1
110.0        1
56.0         1
62.0         1
103.0        1
132.0        1
76.0         1
63.0         1
233.0        1
61.0         1
23.0         1
119.0        1
104.0        1
173.0        1
131.0        1
185.0        1
3.0          1
Name: 51022, dtype: int64
NaN       58968
521.0         1
2444.0        1
1167.0        1
2726.0        1
1338.0        1
570.0         1
1157.0        1
2529.0        1
Name: 51023, dtype: int64
NaN    58961
4.2        3
2.6        2
3.2        1
4.0        1
4.5        1
1.5        1
1.9        1
2.7        1
3.0        1
3.8        1
4.9        1
6.0        1
Name: 51024, dtype: int64
NaN    58626
2.8       25
3.1       25
2.9       24
3.0       22
2.7       21
3.3       16
2.6       16
3.2       16
2.5       14
2.1       13
2.3       13
2.2       12
3.5       12
2.4       11
1.7       10
3.4       10
2.0        9
3.6        9
1.9        8
1.5        8
1.8        6
1.4        5
1.0        5
3.9        4
3.7        4
1.6        4
1.2        3
1.1        3
1.3        3
4.1        3
0.0        2
0.9        2
3.8        2
4.0        1
0.5        1
4.2        1
0.6        1
4.3        1
5.3        1
0.4        1
0.2        1
0.7        1
0.3        1
Name: 51025, dtype: int64
NaN         58434
23.0           15
16.0           11
31.0           11
18.0           11
            ...
1092.0          1
271.0           1
4010.0          1

NaN     58368
0.5        23
0.3        21
0.4        20
0.8        15
        ...
6.1         1
7.1         1
13.9        1
14.5        1
67.8        1
Name: 51077, Length: 164, dtype: int64
NaN      53290
11.0       138
10.0       128
12.0       122
13.0       117
         ...
212.0        1
163.0        1
220.0        1
6.0          1
249.0        1
Name: 51078, Length: 220, dtype: int64
NaN      58916
23.0         3
16.0         3
15.0         3
12.0         3
22.0         2
39.0         2
76.0         2
67.0         2
28.0         2
29.0         2
41.0         2
4.0          2
5.0          2
58.0         1
176.0        1
52.0         1
11.0         1
82.1         1
92.0         1
55.0         1
20.0         1
106.0        1
86.0         1
34.0         1
31.0         1
157.0        1
45.0         1
69.0         1
37.0         1
61.0         1
128.0        1
13.0         1
33.0         1
26.0         1
60.0         1
24.0         1
73.0         1
98.0         1
7.0          1
14.0         1
116.0        1
84.2         1
27.0         1
Name: 51080, dtype: int64
NaN    58915
0.9        9
0.8        5
1.3        5
0.7        4
0.6        3
1.2        3
1.1        3
1.4        2
3.3        2
1.8        2
4.0        2
2.4        2
1.0        2
2.7        1
4.2        1
7.5        1
3.5        1
2.5        1
1.7        1
3.9        1
2.6        1
3.8        1
0.4        1
1.9        1
3.6        1
2.0        1
1.5        1
1.6        1
6.1        1
2.1        1
Name: 51081, dtype: int64
NaN      45744
56.0       127
67.0       125
41.0       123
37.0       119
         ...
141.3        1
362.0        1
460.0        1
423.0        1
354.0        1
Name: 51082, Length: 423, dtype: int64
NaN      58975
217.0        1
Name: 51083, dtype: int64
NaN       58928
4.0           6
1.0           3
3.0           3
8.0           3
10.0          2
5.0           2
24.0          2
335.0         1
771.0         1
1136.0        1
26.0          1
7.0           1
395.0         1
3384.0        1
180.0         1
18.0          1
952.0         1
542.0         1
839.0         1
97.0          1
29.0          1
13.0          1
6.0           1
435.0         1
163.0         1
16.0          1
181.0         1
40.0          1
9.0           1
58.0          1
52.0          1
22.0          1
622.0         1
30.0          1
Name: 51084, dtype: int64
NaN     58403
24.0      553
12.0       11
6.0         3
48.0        1
2.0         1
60.0        1
9.0         1
4.0         1
14.0        1
Name: 51087, dtype: int64
NaN     58620
2.4        11
3.3         9
5.4         7
4.2         7
        ...
17.4        1
13.5        1
12.9        1
19.5        1
7.2         1
Name: 51088, Length: 139, dtype: int64
NaN      49061
334.0       59
340.0       55
344.0       53
320.0       53
         ...
854.0        1
912.0        1
171.0        1
945.0        1
32.0         1
Name: 51093, Length: 903, dtype: int64
NaN    58411
6.0      212
5.0      168
7.0       81
2.0       34
1.0       27
4.0       21
3.0       12
8.0        6
9.0        4
Name: 51094, dtype: int64
NaN      58235
0.0          9
23.0         4
16.5         4
14.6         4
         ...
21.0         1
58.3         1
90.2         1
105.7        1
103.4        1
Name: 51095, Length: 541, dtype: int64
NaN      52545
32.0       134
29.0       128
36.0       127
37.0       127
         ...
2.0          8
100.0        6
152.0        1
29.1         1
134.0        1
Name: 51097, Length: 103, dtype: int64
NaN       58975
1054.0        1
Name: 51098, dtype: int64
NaN      56717
0.2        214
0.3        195
0.5        178
0.4        172
         ...
180.5        1
9.9          1
47.6         1
47.0         1
15.9         1
Name: 51099, Length: 152, dtype: int64
NaN      46908
10.0       321
11.0       279
12.0       252
13.0       231
         ...
224.0        1
8.0          1
233.0        1
236.0        1
251.0        1
Name: 51100, Length: 239, dtype: int64
NaN     58915
24.0       54
12.0        4
48.0        1
2.0         1
4.0         1
Name: 51101, dtype: int64
NaN       56389
9.0          57
14.0         54
13.0         51
11.0         50
          ...
306.0         1
865.0         1
760.0         1
1210.0        1
535.0         1
Name: 51102, Length: 442, dtype: int64
NaN       51060
215.0        20
362.0        19
398.0        19
326.0        19
          ...
1373.0        1
1177.0        1
1546.0        1
1243.0        1
1337.0        1
Name: 51104, Length: 1312, dtype: int64
NaN     58590
17.5        5
41.6        3
15.3        3
15.9        3
        ...
24.0        1
2.8         1
32.8        1
35.3        1
0.8         1
Name: 51105, Length: 309, dtype: int64
NaN      58915
62.0         3
29.0         3
16.0         3
22.0         3
56.0         3
10.0         2
27.0         2
50.0         2
15.0         2
44.0         2
39.0         2
41.0         2
34.0         2
36.0         2
4.0          1
23.0         1
222.0        1
54.0         1
42.0         1
40.0         1
97.0         1
14.0         1
8.0          1
25.0         1
43.0         1
111.0        1
20.0         1
64.0         1
74.0         1
28.0         1
26.0         1
82.0         1
38.0         1
53.0         1
30.0         1
86.0         1
128.0        1
24.0         1
37.0         1
33.0         1
84.0         1
78.0         1
Name: 51106, dtype: int64
NaN       58403
1700.0       18
1100.0       14
1800.0       14
1500.0       14
          ...
2175.0        1
2375.0        1
5350.0        1
950.0         1
575.0         1
Name: 51108, Length: 188, dtype: int64
NaN       58915
1200.0        4
1100.0        3
1500.0        3
800.0         2
2450.0        2
1600.0        2
1300.0        2
2500.0        2
1150.0        2
775.0         2
1700.0        2
3925.0        1
1900.0        1
2310.0        1
2975.0        1
4200.0        1
1125.0        1
2075.0        1
2900.0        1
7250.0        1
1000.0        1
650.0         1
600.0         1
450.0         1
500.0         1
3575.0        1
1825.0        1
5800.0        1
2850.0        1
2140.0        1
2700.0        1
700.0         1
2425.0        1
3800.0        1
2000.0        1
1050.0        1
1650.0        1
3000.0        1
6200.0        1
3300.0        1
125.0         1
2350.0        1
2750.0        1
1325.0        1
2800.0        1
900.0         1
Name: 51109, dtype: int64
NaN    58863
1.0       65
2.0       24
3.0        9
4.0        5
0.0        4
5.0        3
6.0        2
8.0        1
Name: 51110, dtype: int64
NaN     58880
1.0        61
2.0        18
3.0         8
0.0         4
6.0         2
8.0         1
7.0         1
23.0        1
Name: 51111, dtype: int64
NaN    58923
1.0       41
2.0        7
0.0        3
3.0        1
5.0        1
Name: 51112, dtype: int64
NaN    58974
0.0        1
1.0        1
Name: 51113, dtype: int64
NaN     58652
1.0       197
2.0        54
3.0        28
4.0        15
0.0         6
5.0         5
7.0         4
6.0         3
10.0        3
8.0         2
33.0        1
41.0        1
12.0        1
13.0        1
9.0         1
50.0        1
14.0        1
Name: 51114, dtype: int64
NaN     58855
2.0        15
3.0        10
9.0         8
2.5         6
5.0         6
6.0         6
0.0         4
4.0         4
7.0         4
14.0        4
16.0        3
8.0         3
13.0        3
3.5         3
10.0        3
20.0        3
6.5         2
26.0        2
25.5        2
5.5         2
9.5         1
25.0        1
4.1         1
37.0        1
19.0        1
32.0        1
1.5         1
13.5        1
7.5         1
12.9        1
40.0        1
75.0        1
40.5        1
28.0        1
14.5        1
30.0        1
15.0        1
34.0        1
8.5         1
60.0        1
18.0        1
10.2        1
41.0        1
31.0        1
6.3         1
17.0        1
24.0        1
4.5         1
Name: 51115, dtype: int64
NaN     57671
0.0       100
1.0        66
4.0        54
3.0        51
        ...
77.0        1
94.0        1
91.0        1
96.0        1
93.0        1
Name: 51116, Length: 96, dtype: int64
NaN     58038
1.0        49
2.0        48
4.0        40
3.0        34
        ...
91.0        1
96.0        1
94.0        1
97.0        1
95.0        1
Name: 51117, Length: 98, dtype: int64
NaN      58105
1.0        186
2.0        175
3.0         91
4.0         75
5.0         56
7.0         43
6.0         42
8.0         28
10.0        17
12.0        16
13.0        16
11.0        15
9.0         14
14.0        10
0.0         10
19.0         8
16.0         7
24.0         7
18.0         7
17.0         6
15.0         6
21.0         4
33.0         3
20.0         3
25.0         3
29.0         3
23.0         3
50.0         2
31.0         2
34.0         1
32.0         1
27.0         1
22.0         1
45.0         1
40.0         1
47.0         1
44.0         1
36.0         1
42.0         1
28.0         1
100.0        1
30.0         1
Name: 51118, dtype: int64
NaN    58970
1.0        4
2.0        2
Name: 51119, dtype: int64
NaN     57671
0.0       435
1.0        37
6.0        36
4.0        36
        ...
86.0        1
84.0        1
88.0        1
79.0        1
74.0        1
Name: 51120, Length: 93, dtype: int64
NaN    58973
6.0        1
0.0        1
1.0        1
Name: 51121, dtype: int64
NaN     58935
1.0        25
2.0         8
4.0         3
0.0         2
6.0         1
13.0        1
10.0        1
Name: 51122, dtype: int64
NaN     58705
1.0        80
2.0        53
0.0        27
3.0        25
4.0        17
5.0        11
11.0        7
7.0         6
8.0         6
6.0         5
12.0        3
16.0        3
10.0        3
25.0        2
72.0        2
36.0        2
9.0         2
99.0        2
24.0        1
90.0        1
98.0        1
15.0        1
52.0        1
32.0        1
75.0        1
31.0        1
29.0        1
27.0        1
74.0        1
60.0        1
95.0        1
21.0        1
18.0        1
Name: 51123, dtype: int64
NaN     58928
1.0        31
2.0        10
4.0         2
0.0         1
7.0         1
8.0         1
11.0        1
3.0         1
Name: 51124, dtype: int64
NaN     57671
0.0        90
2.0        48
1.0        46
4.0        41
        ...
62.0        4
64.0        4
53.0        4
24.0        4
71.0        3
Name: 51125, Length: 102, dtype: int64
NaN    58975
0.0        1
Name: 51126, dtype: int64
NaN        57701
0.0           34
1.0           12
10.0          10
4.0            9
           ...
64750.0        1
433.0          1
3875.0         1
5300.0         1
1130.0         1
Name: 51127, Length: 808, dtype: int64
NaN        57670
0.0           21
150.0         16
50.0          16
125.0         16
           ...
785.0          1
2333.0         1
10325.0        1
3944.0         1
830.0          1
Name: 51128, Length: 512, dtype: int64
NaN    58975
6.0        1
Name: 51129, dtype: int64
NaN       58596
1.0           4
0.0           3
1700.0        3
1200.0        2
          ...
2191.0        1
327.0         1
2607.0        1
652.0         1
1665.0        1
Name: 51130, Length: 351, dtype: int64
NaN       58520
0.0           8
6.0           5
2.0           4
373.0         4
          ...
348.0         1
683.0         1
1887.0        1
245.0         1
782.0         1
Name: 51131, Length: 323, dtype: int64
NaN       58597
1.0           4
2.0           4
275.0         3
316.0         3
          ...
132.0         1
65.0          1
864.0         1
1222.0        1
784.0         1
Name: 51132, Length: 318, dtype: int64
NaN       58519
1008.0        9
1200.0        4
640.0         4
1710.0        3
          ...
2613.0        1
313.0         1
837.0         1
2369.0        1
2000.0        1
Name: 51133, Length: 370, dtype: int64
NaN      58974
107.0        1
116.0        1
Name: 51136, dtype: int64
NaN    58974
1.0        2
Name: 51137, dtype: int64
NaN     58647
3.8        11
3.6        11
4.4        10
5.4         9
        ...
5.1         1
7.7         1
28.5        1
31.0        1
7.3         1
Name: 51138, Length: 112, dtype: int64
NaN     58647
8.0        12
5.0        10
7.2        10
9.2        10
        ...
39.0        1
8.1         1
5.1         1
12.2        1
15.0        1
Name: 51139, Length: 127, dtype: int64
NaN      58769
83.0         7
76.0         7
85.0         5
110.0        5
         ...
125.0        1
43.0         1
75.0         1
24.0         1
52.0         1
Name: 51140, Length: 93, dtype: int64
NaN     39042
0.0     14310
1.0      2632
2.0      1210
3.0       654
        ...
10.5        1
0.7         1
4.8         1
5.1         1
41.0        1
Name: 51143, Length: 67, dtype: int64
NaN     34365
0.0     12567
1.0      2700
2.0      1832
3.0      1229
        ...
2.2         1
25.2        1
18.9        1
7.9         1
63.0        1
Name: 51144, Length: 100, dtype: int64
NaN      14730
0.00     14071
0.20      5511
0.30      4795
0.10      4627
0.40      3669
0.50      2675
1.00      2368
0.60      1866
0.70      1336
0.80       941
0.90       698
2.00       362
1.10       346
1.20       240
1.30       173
1.40       119
1.50        91
3.00        62
1.60        62
1.70        50
1.80        34
2.10        21
1.90        20
4.00        16
2.20        10
2.30         9
2.40         7
2.60         7
2.90         6
2.50         6
2.80         6
5.00         5
2.70         5
6.00         4
3.30         4
3.20         3
3.10         3
12.00        2
3.60         2
10.00        2
3.70         2
4.30         1
40.00        1
8.00         1
3.50         1
13.00        1
0.21         1
4.20         1
3.80         1
3.40         1
4.10         1
Name: 51146, dtype: int64
NaN     58603
0.0        99
1.0        66
2.0        32
5.0        13
        ...
91.0        1
39.0        1
81.0        1
20.0        1
25.0        1
Name: 51148, Length: 72, dtype: int64
NaN     58947
5.0         7
7.0         4
11.0        3
9.0         3
8.0         2
10.0        2
3.0         2
12.0        1
2.5         1
8.5         1
3.5         1
14.5        1
13.0        1
Name: 51149, dtype: int64
NaN    58974
5.4        1
8.6        1
Name: 51150, dtype: int64
NaN     58975
14.0        1
Name: 51152, dtype: int64
NaN     58975
79.0        1
Name: 51160, dtype: int64
NaN      58970
368.0        1
269.0        1
244.0        1
34.0         1
100.0        1
2.0          1
Name: 51162, dtype: int64
NaN      58970
28.10        1
13.80        1
18.80        1
9.90         1
81.00        1
0.49         1
Name: 51163, dtype: int64
NaN      58967
0.0          3
26.0         1
233.0        1
29.0         1
4.0          1
30.0         1
0.6          1
Name: 51164, dtype: int64
NaN     58975
0.46        1
Name: 51165, dtype: int64
NaN    58975
3.0        1
Name: 51166, dtype: int64
NaN     58967
0.00        2
2.00        2
1.00        2
4.00        1
0.06        1
0.87        1
Name: 51168, dtype: int64
NaN     58975
0.23        1
Name: 51169, dtype: int64
NaN    58975
2.0        1
Name: 51170, dtype: int64
NaN      58962
2.20         1
0.10         1
72.50        1
72.40        1
71.50        1
69.10        1
5.60         1
89.10        1
4.00         1
47.00        1
63.60        1
73.61        1
67.70        1
72.80        1
Name: 51174, dtype: int64
NaN       58962
28.0          1
0.0           1
1416.0        1
938.0         1
1235.0        1
468.0         1
7.0           1
307.0         1
5.0           1
293.0         1
290.0         1
247.0         1
372.0         1
589.0         1
Name: 51175, dtype: int64
NaN     58596
79.0       16
74.0       15
83.0       15
76.0       13
        ...
77.5        1
3.0         1
32.3        1
15.0        1
49.0        1
Name: 51176, Length: 75, dtype: int64
NaN     58520
1.0        17
18.0       17
8.0        15
9.0        14
        ...
89.0        1
4.4         1
8.6         1
27.0        1
71.0        1
Name: 51180, Length: 74, dtype: int64
NaN      58597
0.10        40
0.20        40
0.30        37
0.40        26
         ...
2.60         1
10.20        1
5.50         1
0.06         1
0.45         1
Name: 51181, Length: 67, dtype: int64
NaN      58971
149.0        1
74.0         1
113.0        1
191.0        1
45.0         1
Name: 51184, dtype: int64
NaN      58968
0.60         1
72.50        1
71.80        1
5.60         1
47.00        1
68.90        1
71.29        1
74.80        1
Name: 51185, dtype: int64
NaN       58968
1.0           1
1253.0        1
487.0         1
7.0           1
293.0         1
314.0         1
392.0         1
606.0         1
Name: 51186, dtype: int64
NaN     58975
29.0        1
Name: 51188, dtype: int64
NaN     58597
40.0       14
44.0       12
38.0       12
61.0       11
        ...
19.3        1
8.5         1
2.9         1
68.0        1
84.0        1
Name: 51194, Length: 90, dtype: int64
NaN        57412
10000.0        9
1427.0         4
3758.0         3
1127.0         3
           ...
3372.0         1
1307.0         1
5240.0         1
2835.0         1
3958.0         1
Name: 51196, Length: 1398, dtype: int64
NaN       58840
10.0          8
60.0          7
50.0          6
40.0          6
          ...
180.0         1
747.0         1
300.0         1
1750.0        1
760.0         1
Name: 51199, Length: 69, dtype: int64
NaN     14730
0.0      8453
1.0      3697
0.1      2725
0.2      2383
        ...
36.5        1
12.1        1
40.0        1
12.2        1
15.7        1
Name: 51200, Length: 204, dtype: int64
NaN     58950
63.0        3
67.0        2
38.0        2
10.0        1
41.0        1
39.0        1
7.0         1
57.0        1
32.0        1
26.0        1
23.0        1
48.0        1
27.0        1
65.0        1
19.0        1
29.0        1
18.0        1
74.0        1
20.0        1
81.0        1
33.0        1
52.0        1
Name: 51202, dtype: int64
NaN      58945
89.0         2
100.0        2
66.0         2
30.0         2
87.0         1
74.0         1
41.0         1
1.5          1
58.0         1
120.0        1
98.0         1
95.0         1
60.0         1
59.0         1
169.0        1
36.0         1
117.0        1
142.0        1
40.0         1
133.0        1
97.0         1
149.0        1
110.0        1
77.0         1
106.0        1
34.0         1
129.0        1
Name: 51203, dtype: int64
NaN      58931
68.0         3
61.0         2
55.0         2
10.0         2
144.0        2
90.0         2
43.0         2
79.0         1
104.0        1
105.0        1
133.0        1
23.0         1
100.0        1
1.8          1
160.0        1
96.0         1
99.0         1
82.0         1
93.0         1
125.0        1
146.0        1
180.0        1
33.0         1
132.0        1
127.0        1
41.0         1
158.0        1
42.0         1
119.0        1
156.0        1
73.0         1
56.0         1
71.0         1
35.0         1
30.0         1
27.0         1
97.0         1
Name: 51204, dtype: int64
NaN      58929
26.0         3
20.0         2
34.0         2
7.0          2
1.0          2
40.0         2
67.0         2
82.0         2
69.0         1
77.0         1
74.0         1
12.0         1
14.0         1
36.0         1
58.0         1
47.0         1
81.0         1
103.0        1
80.0         1
16.0         1
85.0         1
18.0         1
6.0          1
76.0         1
21.0         1
35.0         1
23.0         1
46.0         1
15.0         1
2.0          1
8.0          1
60.0         1
57.0         1
37.0         1
49.0         1
45.0         1
28.0         1
48.0         1
Name: 51205, dtype: int64
NaN      58805
147.0        6
112.0        3
174.0        3
127.0        2
         ...
125.0        1
154.0        1
146.0        1
197.0        1
242.0        1
Name: 51206, Length: 135, dtype: int64
NaN      58932
27.0         3
64.0         3
35.0         2
82.0         2
30.0         2
71.0         2
102.0        2
58.0         1
9.0          1
12.0         1
21.0         1
76.0         1
65.0         1
16.0         1
104.0        1
68.0         1
2.0          1
77.0         1
95.0         1
157.0        1
54.0         1
51.0         1
62.0         1
43.0         1
59.0         1
25.0         1
149.0        1
5.0          1
105.0        1
84.0         1
63.0         1
56.0         1
112.0        1
50.0         1
69.0         1
Name: 51208, dtype: int64
NaN      58956
28.0         2

NaN      10913
150.0      769
26.4       395
25.8       374
25.2       374
         ...
118.4        1
91.0         1
119.1        1
85.6         1
89.4         1
Name: 51275, Length: 1190, dtype: int64
NaN     58831
9.6         5
7.5         4
12.0        4
8.9         4
        ...
16.3        1
6.8         1
15.1        1
17.7        1
8.6         1
Name: 51276, Length: 93, dtype: int64
NaN     2046
13.6    1513
13.5    1490
13.7    1481
13.2    1428
        ...
26.6       1
30.6       1
31.1       1
29.6       1
26.5       1
Name: 51277, Length: 180, dtype: int64
NaN     2038
3.85     310
3.92     306
4.07     304
4.20     303
        ...
6.52       1
1.29       1
7.23       1
1.33       1
6.95       1
Name: 51279, Length: 603, dtype: int64
NaN     58960
23.8        2
14.9        1
20.1        1
23.0        1
20.6        1
19.5        1
24.4        1
18.9        1
18.4        1
25.0        1
16.4        1
18.6        1
27.0        1
18.1        1
61.4        1
Name: 51280, dtype: int64
NaN     58962
19.5        2
18.5        1
18.4        1
16.3        1
18.1        1
18.7        1
17.9        1
17.7        1
16.0        1
19.7        1
16.1        1
19.9        1
17.2        1
Name: 51281, dtype: int64
NaN      58974
116.2        1
52.7         1
Name: 51282, dtype: int64
NaN      53502
1.60       225
1.70       221
1.30       201
1.80       198
         ...
17.90        1
11.20        1
1.75         1
9.70         1
11.80        1
Name: 51283, Length: 126, dtype: int64
NaN     57751
2.2        36
1.4        32
1.2        29
2.4        29
        ...
9.9         1
10.9        1
14.0        1
14.4        1
10.3        1
Name: 51284, Length: 172, dtype: int64
NaN     58972
34.5        1
28.0        1
29.4        1
34.1        1
Name: 51285, dtype: int64
NaN      56121
20.0        69
50.0        61
15.0        59
60.0        59
         ...
142.0        4
146.0        3
148.0        2
147.0        2
144.0        2
Name: 51288, Length: 151, dtype: int64
NaN    58923
1.4       12
1.5       11
1.6        7
1.3        6
2.2        3
1.8        2
2.1        2
1.2        2
2.6        2
2.5        1
3.3        1
2.0        1
2.4        1
2.3        1
1.9        1
Name: 51289, dtype: int64
NaN      58582
150.0       78
17.7         5
12.2         5
26.2         4
         ...
28.7         1
24.4         1
86.2         1
55.5         1
10.1         1
Name: 51297, Length: 201, dtype: int64
NaN      58906
180.0        3
122.0        3
66.0         2
89.0         2
         ...
166.0        1
148.0        1
161.0        1
320.0        1
137.0        1
Name: 51298, Length: 62, dtype: int64
NaN      58933
193.0        2
60.0         2
180.0        1
26.0         1
121.0        1
94.0         1
117.0        1
311.0        1
505.0        1
171.0        1
295.0        1
208.0        1
137.0        1
750.0        1
47.0         1
85.0         1
200.0        1
139.0        1
68.0         1
72.0         1
25.0         1
62.0         1
104.0        1
174.0        1
196.0        1
172.0        1
73.0         1
142.0        1
192.0        1
158.0        1
113.0        1
131.0        1
216.0        1
91.0         1
181.0        1
185.0        1
59.0         1
358.0        1
288.0        1
342.0        1
140.0        1
Name: 51299, dtype: int64
NaN     58519
6.3         9
8.0         7
3.1         7
3.2         7
        ...
16.5        1
33.4        1
18.7        1
5.3         1
18.6        1
Name: 51300, Length: 175, dtype: int64
NaN       1986
8.80       525
8.00       518
9.10       514
8.50       514
          ...
59.30        1
42.70        1
73.00        1
17.62        1
300.40       1
Name: 51301, Length: 803, dtype: int64
NaN     58901
1.0        43
2.0        12
0.0         9
4.0         4
3.0         4
25.0        1
15.0        1
13.0        1
Name: 51302, dtype: int64
NaN     58742
1.0        83
2.0        49
3.0        32
4.0        26
5.0         9
8.0         7
0.0         5
6.0         4
7.0         4
11.0        4
9.0         4
25.0        1
10.0        1
15.0        1
18.0        1
42.0        1
29.0        1
13.0        1
Name: 51343, dtype: int64
NaN     58759
1.0        79
2.0        52
4.0        24
3.0        16
0.0        10
5.0         9
7.0         8
9.0         4
6.0         4
8.0         3
14.0        2
10.0        1
13.0        1
12.0        1
15.0        1
28.0        1
21.0        1
Name: 51344, dtype: int64
NaN     58884
1.0        60
2.0        15
3.0         9
0.0         3
10.0        1
4.0         1
11.0        1
25.0        1
5.0         1
Name: 51345, dtype: int64
NaN     58969
0.0         4
67.0        1
66.0        1
59.0        1
Name: 51346, dtype: int64
NaN     58528
1.0       201
2.0       107
3.0        48
4.0        22
5.0        20
6.0        10
8.0         9
10.0        5
7.0         4
12.0        4
0.0         3
15.0        2
13.0        2
64.0        1
17.0        1
57.0        1
29.0        1
20.0        1
58.0        1
9.0         1
14.0        1
11.0        1
33.0        1
32.0        1
Name: 51347, dtype: int64
NaN     58931
2.5         7
2.0         6
3.0         4
8.0         3
4.5         3
5.5         3
4.0         2
6.5         2
6.0         2
3.5         2
10.0        1
38.0        1
64.0        1
11.0        1
35.0        1
19.0        1
9.0         1
17.0        1
2.8         1
14.0        1
5.0         1
Name: 51348, dtype: int64
NaN    58975
0.0        1
Name: 51349, dtype: int64
NaN      56411
0.0        233
100.0       64
80.0        56
40.0        52
         ...
61.0        10
78.0        10
47.0         9
59.0         9
99.0         9
Name: 51351, Length: 102, dtype: int64
NaN     58192
2.0        72
1.0        68
3.0        55
4.0        50
        ...
42.0        1
85.0        1
48.0        1
69.0        1
78.0        1
Name: 51352, Length: 94, dtype: int64
NaN     58941
0.0        14
1.0         6
2.0         4
4.0         3
3.0         3
8.0         1
6.0         1
5.0         1
7.0         1
45.0        1
Name: 51353, dtype: int64
NaN     58950
1.0        11
2.0         5
3.0         5
0.0         2
4.0         2
10.0        1
Name: 51354, dtype: int64
NaN     56411
0.0       628
8.0        94
4.0        91
5.0        91
        ...
97.0        1
92.0        1
90.0        1
95.0        1
99.0        1
Name: 51355, Length: 100, dtype: int64
NaN     58966
1.0         3
2.0         3
0.0         2
27.0        1
4.0         1
Name: 51356, dtype: int64
NaN     58857
1.0        34
2.0        27
3.0        14
4.0        10
6.0         6
5.0         5
9.0         3
0.0         3
7.0         3
19.0        2
18.0        2
12.0        2
26.0        1
10.0        1
84.0        1
15.0        1
22.0        1
13.0        1
36.0        1
8.0         1
Name: 51357, dtype: int64
NaN     58784
1.0        38
2.0        27
0.0        25
3.0        24
4.0        13
6.0         8
5.0         7
7.0         5
8.0         4
9.0         4
17.0        3
92.0        2
24.0        2
63.0        2
84.0        2
12.0        2
53.0        2
33.0        2
23.0        2
10.0        2
99.0        1
14.0        1
36.0        1
96.0        1
66.0        1
11.0        1
22.0        1
73.0        1
15.0        1
20.0        1
43.0        1
41.0        1
75.0        1
19.0        1
21.0        1
13.0        1
Name: 51358, dtype: int64
NaN     58962
1.0         6
2.0         3
3.0         1
10.0        1
4.0         1
5.0         1
0.0         1
Name: 51359, dtype: int64
NaN     56411
0.0       793
1.0       103
2.0        97
3.0        70
        ...
37.0        6
49.0        6
41.0        6
53.0        4
45.0        4
Name: 51360, Length: 102, dtype: int64
NaN    58973
2.0        2
0.0        1
Name: 51361, dtype: int64
NaN        56427
0.0          384
1.0          272
2.0          140
3.0           81
           ...
37000.0        1
39500.0        1
2300.0         1
630.0          1
111.0          1
Name: 51362, Length: 916, dtype: int64
NaN        56411
1.0          467
0.0          380
2.0          289
3.0          199
           ...
32.0           1
155.0          1
395.0          1
46250.0        1
71.0           1
Name: 51363, Length: 329, dtype: int64
NaN    58970
2.0        3
0.0        2
1.0        1
Name: 51364, dtype: int64
NaN    58966
1.0        7
9.0        1
3.0        1
2.0        1
Name: 51365, dtype: int64
NaN     58949
1.0        11
2.0         7
3.0         3
10.0        2
0.0         1
4.0         1
21.0        1
5.0         1
Name: 51366, dtype: int64
NaN    58973
1.0        2
0.0        1
Name: 51367, dtype: int64
NaN    58945
1.0       19
2.0        5
7.0        2
3.0        2
9.0        2
6.0        1
Name: 51368, dtype: int64
NaN     58927
2.5         4
3.5         4
5.0         3
6.0         3
4.0         3
0.0         2
2.0         2
9.0         2
12.0        2
10.0        2
37.0        1
4.5         1
20.7        1
6.5         1
11.0        1
16.0        1
26.5        1
32.0        1
23.5        1
41.0        1
27.0        1
30.0        1
14.0        1
22.5        1
42.0        1
28.0        1
0.4         1
14.4        1
25.5        1
17.0        1
26.0        1
7.0         1
Name: 51369, dtype: int64
NaN     58657
0.0        84
1.0        43
3.0        27
2.0        26
4.0        23
5.0        12
6.0        11
10.0        8
9.0         7
7.0         7
16.0        6
20.0        4
8.0         4
29.0        3
37.0        3
17.0        3
15.0        3
24.0        3
12.0        3
26.0        3
33.0        2
31.0        2
27.0        2
13.0        2
41.0        2
72.0        2
14.0        1
60.0        1
38.0        1
22.0        1
92.0        1
62.0        1
58.0        1
54.0        1
56.0        1
35.0        1
19.0        1
80.0        1
18.0        1
45.0        1
57.0        1
28.0        1
23.0        1
25.0        1
67.0        1
51.0        1
50.0        1
39.0        1
90.0        1
11.0        1
Name: 51375, dtype: int64
NaN     58853
2.0        16
5.0        11
3.0         9
1.0         9
6.0         6
4.0         6
7.0         5
11.0        4
13.0        4
10.0        4
8.0         4
16.0        3
9.0         3
12.0        3
28.0        3
21.0        2
37.0        2
61.0        2
15.0        2
24.0        2
14.0        2
56.0        1
62.0        1
60.0        1
25.0        1
31.0        1
42.0        1
22.0        1
90.0        1
86.0        1
19.0        1
40.0        1
18.0        1
55.0        1
29.0        1
36.0        1
95.0        1
23.0        1
84.0        1
44.0        1
43.0        1
33.0        1
Name: 51376, dtype: int64
NaN     58960
1.0         6
3.0         2
4.0         1
8.0         1
6.0         1
13.0        1
5.0         1
2.0         1
66.0        1
11.0        1
Name: 51377, dtype: int64
NaN    58975
0.0        1
Name: 51378, dtype: int64
NaN     58657
0.0        86
2.0        29
1.0        25
4.0        18
7.0        17
9.0        16
6.0        15
3.0        12
5.0        12
14.0        9
8.0         8
13.0        7
11.0        6
12.0        5
10.0        5
18.0        5
32.0        4
17.0        3
15.0        2
26.0        2
29.0        2
42.0        2
22.0        2
20.0        2
16.0        2
31.0        1
75.0        1
35.0        1
55.0        1
93.0        1
21.0        1
86.0        1
24.0        1
46.0        1
43.0        1
19.0        1
54.0        1
28.0        1
56.0        1
25.0        1
36.0        1
23.0        1
53.0        1
30.0        1
84.0        1
49.0        1
34.0        1
61.0        1
Name: 51379, dtype: int64
NaN    58966
1.0        5
3.0        2
4.0        1
2.0        1
0.0        1
Name: 51380, dtype: int64
NaN     58954
1.0         8
3.0         4
2.0         3
5.0         3
0.0         1
6.0         1
4.0         1
36.0        1
Name: 51381, dtype: int64
NaN     58657
94.0       20
98.0       20
93.0       17
97.0       16
        ...
26.0        1
28.0        1
7.0         1
24.0        1
6.0         1
Name: 51382, Length: 80, dtype: int64
NaN         58682
0.0             9
2000.0          5
1500.0          4
61500.0         3
            ...
792500.0        1
64500.0         1
800000.0        1
75.0            1
107625.0        1
Name: 51383, Length: 236, dtype: int64
NaN         58657
0.0             5
56.0            5
500.0           5
32000.0         4
            ...
7830.0          1
29875.0         1
119500.0        1
48500.0         1
158000.0        1
Name: 51384, Length: 263, dtype: int64
NaN     58920
1.0        26
2.0         9
0.0         7
5.0         7
3.0         3
4.0         2
7.0         1
13.0        1
Name: 51385, dtype: int64
NaN     58873
1.0        47
2.0        18
3.0         8
0.0         7
4.0         7
5.0         4
6.0         3
7.0         2
12.0        2
26.0        1
33.0        1
31.0        1
9.0         1
8.0         1
Name: 51386, dtype: int64
NaN     58908
1.0        50
2.0         7
0.0         5
3.0         3
13.0        1
9.0         1
4.0         1
Name: 51387, dtype: int64
NaN      58946
14.00        2
11.50        1
7.80         1
15.40        1
12.50        1
12.90        1
17.82        1
33.20        1
18.20        1
18.80        1
26.90        1
15.70        1
22.60        1
32.20        1
10.50        1
11.10        1
16.80        1
12.20        1
15.00        1
15.20        1
13.89        1
22.20        1
16.00        1
15.30        1
17.50        1
8.30         1
17.00        1
21.00        1
26.50        1
Name: 51398, dtype: int64
NaN      58946
74.00        3
58.00        1
79.70        1
71.10        1
84.30        1
69.80        1
74.37        1
34.00        1
83.00        1
70.40        1
68.20        1
70.00        1
62.90        1
63.60        1
74.90        1
77.40        1
81.70        1
78.90        1
74.50        1
64.20        1
73.80        1
73.99        1
70.80        1
82.10        1
73.00        1
72.00        1
63.00        1
51.50        1
Name: 51404, dtype: int64
NaN       58946
24.0          2
2040.0        1
1213.0        1
1026.0        1
5166.0        1
70.4          1
558.0         1
1872.0        1
62.0          1
27.0          1
2047.0        1
2249.0        1
646.0         1
676.0         1
1810.0        1
3356.0        1
33.0          1
1263.0        1
1285.0        1
1864.0        1
55.0          1
795.0         1
3226.0        1
1825.0        1
852.0         1
3242.0        1
1812.0        1
2332.0        1
23.1          1
Name: 51406, dtype: int64
NaN     58975
16.0        1
Name: 51408, dtype: int64
NaN    58974
1.2        1
1.5        1
Name: 51409, dtype: int64
NaN     58975
22.0        1
Name: 51418, dtype: int64
NaN     58494
1.0       220
2.0        92
3.0        44
4.0        28
5.0        26
6.0        12
7.0        12
13.0        6
8.0         6
12.0        4
9.0         4
0.0         3
14.0        3
16.0        2
15.0        2
10.0        2
44.0        2
11.0        2
20.0        1
25.0        1
22.0        1
43.0        1
17.0        1
50.0        1
37.0        1
40.0        1
35.0        1
32.0        1
57.0        1
19.0        1
Name: 51419, dtype: int64
NaN     58738
5.0        18
3.0        13
4.5        11
2.0        10
        ...
31.5        1
24.0        1
20.5        1
31.0        1
21.0        1
Name: 51422, Length: 66, dtype: int64
NaN     57488
0.0       204
1.0       142
2.0       134
3.0        99
        ...
66.0        1
89.0        1
70.0        1
84.0        1
49.0        1
Name: 51427, Length: 97, dtype: int64
NaN     58100
2.0        68
1.0        53
5.0        46
3.0        45
        ...
74.0        1
99.0        1
87.0        1
98.0        1
96.0        1
Name: 51428, Length: 98, dtype: int64
NaN     58599
1.0       103
2.0        44
3.0        35
4.0        26
5.0        26
0.0        22
6.0        16
10.0       14
7.0        12
8.0        11
11.0        8
15.0        5
17.0        5
9.0         4
22.0        4
18.0        4
14.0        4
16.0        4
20.0        3
13.0        3
12.0        2
39.0        2
25.0        2
46.0        2
40.0        1
52.0        1
34.0        1
21.0        1
45.0        1
63.0        1
28.0        1
68.0        1
27.0        1
70.0        1
73.0        1
87.0        1
24.0        1
41.0        1
29.0        1
55.0        1
Name: 51429, dtype: int64
NaN    58964
1.0        6
2.0        3
0.0        3
Name: 51430, dtype: int64
NaN     57488
0.0       488
2.0       101
1.0        99
3.0        94
        ...
77.0        1
60.0        1
36.0        1
54.0        1
79.0        1
Name: 51431, Length: 75, dtype: int64
NaN    58970
0.0        2
1.0        1
2.0        1
3.0        1
8.0        1
Name: 51432, dtype: int64
NaN     58935
1.0        15
2.0        13
0.0         4
4.0         3
5.0         2
7.0         1
6.0         1
29.0        1
3.0         1
Name: 51433, dtype: int64
NaN     58512
1.0        67
2.0        62
0.0        41
5.0        35
        ...
28.0        1
39.0        1
42.0        1
50.0        1
51.0        1
Name: 51434, Length: 73, dtype: int64
NaN    58969
1.0        3
0.0        2
2.0        1
7.0        1
Name: 51435, dtype: int64
NaN     57488
0.0        89
92.0       39
94.0       38
95.0       36
        ...
60.0        5
20.0        5
53.0        4
37.0        4
43.0        3
Name: 51436, Length: 102, dtype: int64
NaN     58973
0.0         1
1.0         1
82.0        1
Name: 51437, dtype: int64
NaN        57968
0.0          515
1.0           10
2.0            6
3.0            5
           ...
22778.0        1
10500.0        1
2525.0         1
93.0           1
280.0          1
Name: 51438, Length: 407, dtype: int64
NaN        57827
0.0          477
500.0         12
2000.0        11
1000.0         7
           ...
369.0          1
179.0          1
4111.0         1
19500.0        1
370.0          1
Name: 51439, Length: 421, dtype: int64
NaN     58853
1.0        55
2.0        30
3.0        11
4.0         7
5.0         4
0.0         3
6.0         3
9.0         2
10.0        2
14.0        2
7.0         1
17.0        1
23.0        1
12.0        1
Name: 51440, dtype: int64
NaN     58870
1.0        43
2.0        21
3.0        15
0.0         8
5.0         5
4.0         3
7.0         2
9.0         2
8.0         2
6.0         2
25.0        1
12.0        1
13.0        1
Name: 51441, dtype: int64
NaN    58888
1.0       59
2.0       17
3.0        5
4.0        2
6.0        2
5.0        2
0.0        1
Name: 51442, dtype: int64
NaN     58974
14.0        1
1.0         1
Name: 51443, dtype: int64
NaN     58470
1.0       245
2.0        92
4.0        34
3.0        33
5.0        18
6.0        12
8.0        10
7.0         8
0.0         7
11.0        5
26.0        4
24.0        4
21.0        3
30.0        3
12.0        3
16.0        3
14.0        2
15.0        2
38.0        2
17.0        2
20.0        1
10.0        1
57.0        1
9.0         1
35.0        1
56.0        1
34.0        1
13.0        1
18.0        1
31.0        1
48.0        1
47.0        1
43.0        1
23.0        1
Name: 51444, dtype: int64
NaN     58789
2.0        29
2.5        24
3.0        14
4.0        13
5.0         8
7.0         8
4.5         7
1.0         6
5.5         6
6.0         5
22.0        5
0.0         5
10.0        4
3.5         4
8.0         4
1.5         3
16.0        3
9.0         3
17.5        2
12.5        2
13.0        2
14.0        2
11.0        2
21.0        1
13.5        1
26.0        1
15.0        1
15.5        1
19.0        1
2.3         1
18.0        1
20.0        1
39.0        1
30.0        1
2.8         1
77.0        1
27.5        1
31.0        1
12.0        1
6.5         1
8.5         1
40.0        1
17.0        1
2.7         1
71.0        1
22.5        1
11.5        1
32.0        1
14.7        1
Name: 51445, dtype: int64
NaN      57339
0.0         84
2.0         62
3.0         51
5.0         47
         ...
89.0         3
91.0         2
100.0        2
98.0         1
96.0         1
Name: 51446, Length: 102, dtype: int64
NaN     57930
1.0        75
2.0        75
3.0        60
4.0        57
        ...
83.0        1
70.0        1
62.0        1
61.0        1
84.0        1
Name: 51447, Length: 91, dtype: int64
NaN     57928
1.0       181
2.0       180

[V3000, V290, V053]                                                                                            451
[V3000, V053, V290]                                                                                            343
[V3001, V290, V053]                                                                                            138
[V3000, V502, V053, V290]                                                                                      133
[V3000, V290, V502, V053]                                                                                      126
                                                                                                              ...
[00845, 5849, 2765, 4280, 4553, 2948, 5533, 56400, 2809, 4019, 53560, 56989, 72981]                              1
[51881, 5191, 5070, 9340, E911, 99659, 2409, 4280, 70705, 0311, 9992, 45182, 4240, 25000, 3439, 319, 55320]      1
[5715, 7895, 07070, 07030, 30401, 5118, 51882, 5722, 5128, 5849, 5939, 5723, 7062]                               1
[5715, 5849, 51881, 5722, 07020, 07071, 7895, 5119, 2762, 2767, 2761, 2875, 30401, 30503, 4589, V667]            1
[80321, 73313, 311, 30390, 2948, V1588, E8859]                                                                   1
Name: ICD9_CODE, Length: 55736, dtype: int64
0    58974
1        2
Name: 0030, dtype: int64
0    58975
1        1
Name: 0031, dtype: int64
0    58974
1        2
Name: 0038, dtype: int64
0    58975
1        1
Name: 0039, dtype: int64
0    58973
1        3
Name: 0041, dtype: int64
0    58975
1        1
Name: 0048, dtype: int64
0    58975
1        1
Name: 0049, dtype: int64
0    58975
1        1
Name: 0051, dtype: int64
0    58974
1        2
Name: 00581, dtype: int64
0    58975
1        1
Name: 0059, dtype: int64
0    58975
1        1
Name: 0071, dtype: int64
0    58969
1        7
Name: 0074, dtype: int64
0    58975
1        1
Name: 00804, dtype: int64
0    58975
1        1
Name: 00841, dtype: int64
0    58975
1        1
Name: 00843, dtype: int64
0    57532
1     1444
Name: 00845, dtype: int64
0    58975
1        1
Name: 00847, dtype: int64
0    58972
1        4
Name: 0085, dtype: int64
0    58975
1        1
Name: 00861, dtype: int64
0    58974
1        2
Name: 00862, dtype: int64
0    58970
1        6
Name: 00863, dtype: int64
0    58959
1       17
Name: 00869, dtype: int64
0    58837
1      139
Name: 0088, dtype: int64
0    58950
1       26
Name: 0090, dtype: int64
0    58957
1       19
Name: 0091, dtype: int64
0    58971
1        5
Name: 0092, dtype: int64
0    58972
1        4
Name: 0093, dtype: int64
0    58974
1        2
Name: 01085, dtype: int64
0    58975
1        1
Name: 01123, dtype: int64
0    58975
1        1
Name: 01136, dtype: int64
0    58975
1        1
Name: 01164, dtype: int64
0    58975
1        1
Name: 01186, dtype: int64
0    58968
1        8
Name: 01190, dtype: int64
0    58975
1        1
Name: 01193, dtype: int64
0    58974
1        2
Name: 01194, dtype: int64
0    58975
1        1
Name: 01205, dtype: int64
0    58975
1        1
Name: 01215, dtype: int64
0    58973
1        3
Name: 01300, dtype: int64
0    58975
1        1
Name: 01304, dtype: int64
0    58974
1        2
Name: 01325, dtype: int64
0    58975
1        1
Name: 01330, dtype: int64
0    58975
1        1
Name: 01354, dtype: int64
0    58975
1        1
Name: 01402, dtype: int64
0    58975
1        1
Name: 01405, dtype: int64
0    58975
1        1
Name: 01485, dtype: int64
0    58974
1        2
Name: 01504, dtype: int64
0    58975
1        1
Name: 01505, dtype: int64
0    58974
1        2
Name: 01803, dtype: int64
0    58975
1        1
Name: 01805, dtype: int64
0    58975
1        1
Name: 01880, dtype: int64
0    58975
1        1
Name: 01890, dtype: int64
0    58972
1        4
Name: 01894, dtype: int64
0    58975
1        1
Name: 01895, dtype: int64
0    58975
1        1
Name: 01896, dtype: int64
0    58975
1        1
Name: 0218, dtype: int64
0    58975
1        1
Name: 0239, dtype: int64
0    58966
1       10
Name: 0270, dtype: int64
0    58972
1        4
Name: 0272, dtype: int64
0    58975
1        1
Name: 0279, dtype: int64
0    58975
1        1
Name: 0309, dtype: int64
0    58961
1       15
Name: 0310, dtype: int64
0    58974
1        2
Name: 0311, dtype: int64
0    58960
1       16
Name: 0312, dtype: int64
0    58974
1        2
Name: 0318, dtype: int64
0    58972
1        4
Name: 0319, dtype: int64
0    58974
1        2
Name: 03285, dtype: int64
0    58975
1        1
Name: 03289, dtype: int64
0    58974
1        2
Name: 0329, dtype: int64
0    58975
1        1
Name: 0338, dtype: int64
0    58960
1       16
Name: 0340, dtype: int64
0    58973
1        3
Name: 035, dtype: int64
0    58971
1        5
Name: 0360, dtype: int64
0    58971
1        5
Name: 0362, dtype: int64
0    58975
1        1
Name: 03641, dtype: int64
0    58600
1      376
Name: 0380, dtype: int64
0    58932
1       44
Name: 03810, dtype: int64
0    58461
1      515
Name: 03811, dtype: int64
0    58858
1      118
Name: 03812, dtype: int64
0    58826
1      150
Name: 03819, dtype: int64
0    58888
1       88
Name: 0382, dtype: int64
0    58866
1      110
Name: 0383, dtype: int64
0    58916
1       60
Name: 03840, dtype: int64
0    58972
1        4
Name: 03841, dtype: int64
0    58509
1      467
Name: 03842, dtype: int64
0    58849
1      127
Name: 03843, dtype: int64
0    58949
1       27
Name: 03844, dtype: int64
0    58581
1      395
Name: 03849, dtype: int64
0    58770
1      206
Name: 0388, dtype: int64
0    55251
1     3725
Name: 0389, dtype: int64
0    58969
1        7
Name: 0391, dtype: int64
0    58975
1        1
Name: 0392, dtype: int64
0    58973
1        3
Name: 0398, dtype: int64
0    58966
1       10
Name: 0400, dtype: int64
0    58951
1       25
Name: 04082, dtype: int64
0    58974
1        2
Name: 04089, dtype: int64
0    58950
1       26
Name: 04100, dtype: int64
0    58939
1       37
Name: 04101, dtype: int64
0    58895
1       81
Name: 04102, dtype: int64
0    58972
1        4
Name: 04103, dtype: int64
0    58362
1      614
Name: 04104, dtype: int64
0    58972
1        4
Name: 04105, dtype: int64
0    58832
1      144
Name: 04109, dtype: int64
0    58918
1       58
Name: 04110, dtype: int64
0    58273
1      703
Name: 04111, dtype: int64
0    58737
1      239
Name: 04112, dtype: int64
0    58683
1      293
Name: 04119, dtype: int64
0    58963
1       13
Name: 0412, dtype: int64
0    58503
1      473
Name: 0413, dtype: int64
0    58009
1      967
Name: 0414, dtype: int64
0    58785
1      191
Name: 04149, dtype: int64
0    58937
1       39
Name: 0415, dtype: int64
0    58763
1      213
Name: 0416, dtype: int64
0    58572
1      404
Name: 0417, dtype: int64
0    58964
1       12
Name: 04182, dtype: int64
0    58966
1       10
Name: 04183, dtype: int64
0    58924
1       52
Name: 04184, dtype: int64
0    58676
1      300
Name: 04185, dtype: int64
0    58772
1      204
Name: 04186, dtype: int64
0    58905
1       71
Name: 04189, dtype: int64
0    58957
1       19
Name: 0419, dtype: int64
0    58438
1      538
Name: 042, dtype: int64
0    58975
1        1
Name: 04590, dtype: int64
0    58971
1        5
Name: 0463, dtype: int64
0    58975
1        1
Name: 04671, dtype: int64
0    58975
1        1
Name: 0470, dtype: int64
0    58973
1        3
Name: 0478, dtype: int64
0    58947
1       29
Name: 0479, dtype: int64
0    58971
1        5
Name: 048, dtype: int64
0    58975
1        1
Name: 0490, dtype: int64
0    58975
1        1
Name: 0491, dtype: int64
0    58973
1        3
Name: 0498, dtype: int64
0    58964
1       12
Name: 0499, dtype: int64
0    58973
1        3
Name: 0520, dtype: int64
0    58971
1        5
Name: 0521, dtype: int64
0    58972
1        4
Name: 0527, dtype: int64
0    58969
1        7
Name: 0529, dtype: int64
0    58970
1        6
Name: 0530, dtype: int64
0    58974
1        2
Name: 05311, dtype: int64
0    58974
1        2
Name: 05312, dtype: int64
0    58973
1        3
Name: 05313, dtype: int64
0    58975
1        1
Name: 05314, dtype: int64
0    58930
1       46
Name: 05319, dtype: int64
0    58974
1        2
Name: 05320, dtype: int64
0    58971
1        5
Name: 05329, dtype: int64
0    58974
1        2
Name: 05371, dtype: int64
0    58969
1        7
Name: 05379, dtype: int64
0    58903
1       73
Name: 0539, dtype: int64
0    58975
1        1
Name: 0540, dtype: int64
0    58949
1       27
Name: 05410, dtype: int64
0    58974
1        2
Name: 05412, dtype: int64
0    58974
1        2
Name: 05413, dtype: int64
0    58969
1        7
Name: 05419, dtype: int64
0    58944
1       32
Name: 0542, dtype: int64
0    58955
1       21
Name: 0543, dtype: int64
0    58975
1        1
Name: 05440, dtype: int64
0    58975
1        1
Name: 05443, dtype: int64
0    58974
1        2
Name: 0545, dtype: int64
0    58975
1        1
Name: 05471, dtype: int64
0    58973
1        3
Name: 05472, dtype: int64
0    58949
1       27
Name: 05479, dtype: int64
0    58862
1      114
Name: 0549, dtype: int64
0    58975
1        1
Name: 0578, dtype: int64
0    58973
1        3
Name: 0579, dtype: int64
0    58975
1        1
Name: 05821, dtype: int64
0    58975
1        1
Name: 05829, dtype: int64
0    58975
1        1
Name: 05881, dtype: int64
0    58975
1        1
Name: 05889, dtype: int64
0    58975
1        1
Name: 0622, dtype: int64
0    58975
1        1
Name: 06641, dtype: int64
0    58975
1        1
Name: 06642, dtype: int64
0    58975
1        1
Name: 0700, dtype: int64
0    58958
1       18
Name: 0701, dtype: int64
0    58955
1       21
Name: 07020, dtype: int64
0    58957
1       19
Name: 07022, dtype: int64
0    58803
1      173
Name: 07030, dtype: int64
0    58971
1        5
Name: 07031, dtype: int64
0    58686
1      290
Name: 07032, dtype: int64
0    58974
1        2
Name: 07033, dtype: int64
0    58962
1       14
Name: 07041, dtype: int64
0    58802
1      174
Name: 07044, dtype: int64
0    58975
1        1
Name: 07049, dtype: int64
0    58883
1       93
Name: 07051, dtype: int64
0    58975
1        1
Name: 07052, dtype: int64
0    58975
1        1
Name: 07053, dtype: int64
0    57758
1     1218
Name: 07054, dtype: int64
0    58974
1        2
Name: 07059, dtype: int64
0    58302
1      674
Name: 07070, dtype: int64
0    58907
1       69
Name: 07071, dtype: int64
0    58975
1        1
Name: 0709, dtype: int64
0    58965
1       11
Name: 075, dtype: int64
0    58974
1        2
Name: 0778, dtype: int64
0    58974
1        2
Name: 07799, dtype: int64
0    58975
1        1
Name: 0780, dtype: int64
0    58970
1        6
Name: 07810, dtype: int64
0    58969
1        7
Name: 07811, dtype: int64
0    58971
1        5
Name: 07819, dtype: int64
0    58885
1       91
Name: 0785, dtype: int64
0    58974
1        2
Name: 07889, dtype: int64
0    58973
1        3
Name: 0790, dtype: int64
0    58974
1        2
Name: 0793, dtype: int64
0    58974
1        2
Name: 0794, dtype: int64
0    58969
1        7
Name: 07951, dtype: int64
0    58975
1        1
Name: 07953, dtype: int64
0    58965
1       11
Name: 0796, dtype: int64
0    58975
1        1
Name: 07983, dtype: int64
0    58960
1       16
Name: 07989, dtype: int64
0    58975
1        1
Name: 07998, dtype: int64
0    58897
1       79
Name: 07999, dtype: int64
0    58972
1        4
Name: 08240, dtype: int64
0    58974
1        2
Name: 08249, dtype: int64
0    58975
1        1
Name: 0839, dtype: int64

0    58972
1        4
Name: 0840, dtype: int64
0    58974
1        2
Name: 0844, dtype: int64
0    58975
1        1
Name: 0846, dtype: int64
0    58975
1        1
Name: 0849, dtype: int64
0    58975
1        1
Name: 0859, dtype: int64
0    58972
1        4
Name: 0860, dtype: int64
0    58975
1        1
Name: 0880, dtype: int64
0    58953
1       23
Name: 08881, dtype: int64
0    58961
1       15
Name: 08882, dtype: int64
0    58975
1        1
Name: 0902, dtype: int64
0    58975
1        1
Name: 0912, dtype: int64
0    58975
1        1
Name: 09152, dtype: int64
0    58975
1        1
Name: 09181, dtype: int64
0    58975
1        1
Name: 0919, dtype: int64
0    58974
1        2
Name: 0931, dtype: int64
0    58970
1        6
Name: 0940, dtype: int64
0    58967
1        9
Name: 0949, dtype: int64
0    58974
1        2
Name: 096, dtype: int64
0    58975
1        1
Name: 0970, dtype: int64
0    58971
1        5
Name: 0971, dtype: int64
0    58973
1        3
Name: 0979, dtype: int64
0    58974
1        2
Name: 0980, dtype: int64
0    58974
1        2
Name: 0993, dtype: int64
0    58974
1        2
Name: 1100, dtype: int64
0    58939
1       37
Name: 1101, dtype: int64
0    58937
1       39
Name: 1103, dtype: int64
0    58953
1       23
Name: 1104, dtype: int64
0    58948
1       28
Name: 1105, dtype: int64
0    58975
1        1
Name: 1106, dtype: int64
0    58964
1       12
Name: 1108, dtype: int64
0    58974
1        2
Name: 1109, dtype: int64
0    58972
1        4
Name: 1110, dtype: int64
0    58975
1        1
Name: 1118, dtype: int64
0    58961
1       15
Name: 1119, dtype: int64
0    58330
1      646
Name: 1120, dtype: int64
0    58875
1      101
Name: 1121, dtype: int64
0    58639
1      337
Name: 1122, dtype: int64
0    58847
1      129
Name: 1123, dtype: int64
0    58939
1       37
Name: 1124, dtype: int64
0    58804
1      172
Name: 1125, dtype: int64
0    58971
1        5
Name: 11281, dtype: int64
0    58974
1        2
Name: 11283, dtype: int64
0    58850
1      126
Name: 11284, dtype: int64
0    58974
1        2
Name: 11285, dtype: int64
0    58865
1      111
Name: 11289, dtype: int64
0    58955
1       21
Name: 1129, dtype: int64
0    58975
1        1
Name: 1140, dtype: int64
0    58975
1        1
Name: 1149, dtype: int64
0    58975
1        1
Name: 11505, dtype: int64
0    58975
1        1
Name: 11519, dtype: int64
0    58973
1        3
Name: 11590, dtype: int64
0    58970
1        6
Name: 11599, dtype: int64
0    58975
1        1
Name: 1160, dtype: int64
0    58861
1      115
Name: 1173, dtype: int64
0    58975
1        1
Name: 1174, dtype: int64
0    58962
1       14
Name: 1175, dtype: int64
0    58969
1        7
Name: 1177, dtype: int64
0    58842
1      134
Name: 1179, dtype: int64
0    58972
1        4
Name: 118, dtype: int64
0    58974
1        2
Name: 1208, dtype: int64
0    58972
1        4
Name: 1209, dtype: int64
0    58973
1        3
Name: 1211, dtype: int64
0    58974
1        2
Name: 1228, dtype: int64
0    58965
1       11
Name: 1231, dtype: int64
0    58974
1        2
Name: 1251, dtype: int64
0    58975
1        1
Name: 1270, dtype: int64
0    58970
1        6
Name: 1272, dtype: int64
0    58975
1        1
Name: 1273, dtype: int64
0    58971
1        5
Name: 1300, dtype: int64
0    58967
1        9
Name: 1307, dtype: int64
0    58975
1        1
Name: 1308, dtype: int64
0    58972
1        4
Name: 1309, dtype: int64
0    58975
1        1
Name: 13101, dtype: int64
0    58975
1        1
Name: 13102, dtype: int64
0    58975
1        1
Name: 13109, dtype: int64
0    58974
1        2
Name: 1320, dtype: int64
0    58975
1        1
Name: 1329, dtype: int64
0    58967
1        9
Name: 1330, dtype: int64
0    58975
1        1
Name: 1348, dtype: int64
0    58722
1      254
Name: 135, dtype: int64
0    58973
1        3
Name: 1361, dtype: int64
0    58890
1       86
Name: 1363, dtype: int64
0    58962
1       14
Name: 1369, dtype: int64
0    58972
1        4
Name: 1370, dtype: int64
0    58974
1        2
Name: 1373, dtype: int64
0    58903
1       73
Name: 138, dtype: int64
0    58974
1        2
Name: 1390, dtype: int64
0    58964
1       12
Name: 1398, dtype: int64
0    58975
1        1
Name: 1400, dtype: int64
0    58975
1        1
Name: 1401, dtype: int64
0    58974
1        2
Name: 1409, dtype: int64
0    58965
1       11
Name: 1410, dtype: int64
0    58974
1        2
Name: 1414, dtype: int64
0    58968
1        8
Name: 1418, dtype: int64
0    58972
1        4
Name: 1419, dtype: int64
0    58971
1        5
Name: 1420, dtype: int64
0    58975
1        1
Name: 1429, dtype: int64
0    58975
1        1
Name: 1430, dtype: int64
0    58975
1        1
Name: 1431, dtype: int64
0    58975
1        1
Name: 1439, dtype: int64
0    58972
1        4
Name: 1440, dtype: int64
0    58974
1        2
Name: 1448, dtype: int64
0    58974
1        2
Name: 1449, dtype: int64
0    58973
1        3
Name: 1450, dtype: int64
0    58974
1        2
Name: 1452, dtype: int64
0    58974
1        2
Name: 1453, dtype: int64
0    58975
1        1
Name: 1455, dtype: int64
0    58975
1        1
Name: 1458, dtype: int64
0    58971
1        5
Name: 1460, dtype: int64
0    58975
1        1
Name: 1461, dtype: int64
0    58975
1        1
Name: 1463, dtype: int64
0    58975
1        1
Name: 1464, dtype: int64
0    58975
1        1
Name: 1467, dtype: int64
0    58974
1        2
Name: 1468, dtype: int64
0    58975
1        1
Name: 1469, dtype: int64
0    58973
1        3
Name: 1471, dtype: int64
0    58970
1        6
Name: 1478, dtype: int64
0    58970
1        6
Name: 1479, dtype: int64
0    58969
1        7
Name: 1481, dtype: int64
0    58974
1        2
Name: 1488, dtype: int64
0    58975
1        1
Name: 1489, dtype: int64
0    58969
1        7
Name: 1490, dtype: int64
0    58975
1        1
Name: 1498, dtype: int64
0    58974
1        2
Name: 1500, dtype: int64
0    58970
1        6
Name: 1501, dtype: int64
0    58968
1        8
Name: 1503, dtype: int64
0    58955
1       21
Name: 1504, dtype: int64
0    58917
1       59
Name: 1505, dtype: int64
0    58886
1       90
Name: 1508, dtype: int64
0    58948
1       28
Name: 1509, dtype: int64
0    58878
1       98
Name: 1510, dtype: int64
0    58974
1        2
Name: 1511, dtype: int64
0    58960
1       16
Name: 1512, dtype: int64
0    58974
1        2
Name: 1513, dtype: int64
0    58963
1       13
Name: 1514, dtype: int64
0    58975
1        1
Name: 1515, dtype: int64
0    58974
1        2
Name: 1516, dtype: int64
0    58949
1       27
Name: 1518, dtype: int64
0    58960
1       16
Name: 1519, dtype: int64
0    58959
1       17
Name: 1520, dtype: int64
0    58974
1        2
Name: 1521, dtype: int64
0    58971
1        5
Name: 1522, dtype: int64
0    58972
1        4
Name: 1528, dtype: int64
0    58974
1        2
Name: 1529, dtype: int64
0    58969
1        7
Name: 1530, dtype: int64
0    58960
1       16
Name: 1531, dtype: int64
0    58960
1       16
Name: 1532, dtype: int64
0    58939
1       37
Name: 1533, dtype: int64
0    58946
1       30
Name: 1534, dtype: int64
0    58972
1        4
Name: 1535, dtype: int64
0    58938
1       38
Name: 1536, dtype: int64
0    58968
1        8
Name: 1537, dtype: int64
0    58945
1       31
Name: 1538, dtype: int64
0    58945
1       31
Name: 1539, dtype: int64
0    58956
1       20
Name: 1540, dtype: int64
0    58933
1       43
Name: 1541, dtype: int64
0    58975
1        1
Name: 1542, dtype: int64
0    58971
1        5
Name: 1543, dtype: int64
0    58966
1       10
Name: 1548, dtype: int64
0    58639
1      337
Name: 1550, dtype: int64
0    58904
1       72
Name: 1551, dtype: int64
0    58931
1       45
Name: 1552, dtype: int64
0    58950
1       26
Name: 1560, dtype: int64
0    58935
1       41
Name: 1561, dtype: int64
0    58954
1       22
Name: 1562, dtype: int64
0    58970
1        6
Name: 1568, dtype: int64
0    58968
1        8
Name: 1569, dtype: int64
0    58849
1      127
Name: 1570, dtype: int64
0    58969
1        7
Name: 1571, dtype: int64
0    58961
1       15
Name: 1572, dtype: int64
0    58973
1        3
Name: 1573, dtype: int64
0    58974
1        2
Name: 1574, dtype: int64
0    58886
1       90
Name: 1578, dtype: int64
0    58940
1       36
Name: 1579, dtype: int64
0    58964
1       12
Name: 1580, dtype: int64
0    58963
1       13
Name: 1588, dtype: int64
0    58970
1        6
Name: 1589, dtype: int64
0    58974
1        2
Name: 1598, dtype: int64
0    58974
1        2
Name: 1599, dtype: int64
0    58974
1        2
Name: 1602, dtype: int64
0    58975
1        1
Name: 1603, dtype: int64
0    58975
1        1
Name: 1608, dtype: int64
0    58975
1        1
Name: 1609, dtype: int64
0    58970
1        6
Name: 1610, dtype: int64
0    58970
1        6
Name: 1611, dtype: int64
0    58973
1        3
Name: 1612, dtype: int64
0    58974
1        2
Name: 1613, dtype: int64
0    58965
1       11
Name: 1618, dtype: int64
0    58965
1       11
Name: 1619, dtype: int64
0    58971
1        5
Name: 1620, dtype: int64
0    58903
1       73
Name: 1622, dtype: int64
0    58641
1      335
Name: 1623, dtype: int64
0    58941
1       35
Name: 1624, dtype: int64
0    58809
1      167
Name: 1625, dtype: int64
0    58585
1      391
Name: 1628, dtype: int64
0    58801
1      175
Name: 1629, dtype: int64
0    58973
1        3
Name: 1630, dtype: int64
0    58974
1        2
Name: 1638, dtype: int64
0    58970
1        6
Name: 1639, dtype: int64
0    58966
1       10
Name: 1640, dtype: int64
0    58974
1        2
Name: 1641, dtype: int64
0    58972
1        4
Name: 1642, dtype: int64
0    58975
1        1
Name: 1643, dtype: int64
0    58972
1        4
Name: 1648, dtype: int64
0    58973
1        3
Name: 1649, dtype: int64
0    58970
1        6
Name: 1700, dtype: int64
0    58975
1        1
Name: 1702, dtype: int64
0    58975
1        1
Name: 1703, dtype: int64
0    58970
1        6
Name: 1707, dtype: int64
0    58970
1        6
Name: 1710, dtype: int64
0    58973
1        3
Name: 1712, dtype: int64
0    58966
1       10
Name: 1713, dtype: int64
0    58968
1        8
Name: 1714, dtype: int64
0    58967
1        9
Name: 1715, dtype: int64
0    58972
1        4
Name: 1716, dtype: int64
0    58975
1        1
Name: 1717, dtype: int64
0    58974
1        2
Name: 1718, dtype: int64
0    58974
1        2
Name: 1720, dtype: int64
0    58971
1        5
Name: 1723, dtype: int64
0    58971
1        5

Name: 1724, dtype: int64
0    58965
1       11
Name: 1725, dtype: int64
0    58971
1        5
Name: 1726, dtype: int64
0    58973
1        3
Name: 1727, dtype: int64
0    58973
1        3
Name: 1728, dtype: int64
0    58956
1       20
Name: 1729, dtype: int64
0    58975
1        1
Name: 1730, dtype: int64
0    58974
1        2
Name: 1731, dtype: int64
0    58972
1        4
Name: 1732, dtype: int64
0    58975
1        1
Name: 17322, dtype: int64
0    58962
1       14
Name: 1733, dtype: int64
0    58975
1        1
Name: 17331, dtype: int64
0    58975
1        1
Name: 17332, dtype: int64
0    58968
1        8
Name: 1734, dtype: int64
0    58975
1        1
Name: 17341, dtype: int64
0    58975
1        1
Name: 17342, dtype: int64
0    58970
1        6
Name: 1735, dtype: int64
0    58974
1        2
Name: 1736, dtype: int64
0    58967
1        9
Name: 1737, dtype: int64
0    58975
1        1
Name: 17372, dtype: int64
0    58974
1        2
Name: 1738, dtype: int64
0    58973
1        3
Name: 1739, dtype: int64
0    58974
1        2
Name: 1743, dtype: int64
0    58967
1        9
Name: 1744, dtype: int64
0    58975
1        1
Name: 1745, dtype: int64
0    58904
1       72
Name: 1748, dtype: int64
0    58918
1       58
Name: 1749, dtype: int64
0    58974
1        2
Name: 1759, dtype: int64
0    58972
1        4
Name: 1760, dtype: int64
0    58974
1        2
Name: 1761, dtype: int64
0    58974
1        2
Name: 1763, dtype: int64
0    58973
1        3
Name: 1764, dtype: int64
0    58975
1        1
Name: 1765, dtype: int64
0    58974
1        2
Name: 1768, dtype: int64
0    58973
1        3
Name: 1769, dtype: int64
0    58974
1        2
Name: 179, dtype: int64
0    58974
1        2
Name: 1800, dtype: int64
0    58970
1        6
Name: 1808, dtype: int64
0    58968
1        8
Name: 1809, dtype: int64
0    58949
1       27
Name: 1820, dtype: int64
0    58895
1       81
Name: 1830, dtype: int64
0    58975
1        1
Name: 1832, dtype: int64
0    58975
1        1
Name: 1838, dtype: int64
0    58973
1        3
Name: 1840, dtype: int64
0    58971
1        5
Name: 1844, dtype: int64
0    58975
1        1
Name: 1848, dtype: int64
0    58674
1      302
Name: 185, dtype: int64
0    58974
1        2
Name: 1869, dtype: int64
0    58972
1        4
Name: 1874, dtype: int64
0    58974
1        2
Name: 1880, dtype: int64
0    58973
1        3
Name: 1881, dtype: int64
0    58969
1        7
Name: 1882, dtype: int64
0    58973
1        3
Name: 1883, dtype: int64
0    58973
1        3
Name: 1884, dtype: int64
0    58974
1        2
Name: 1885, dtype: int64
0    58906
1       70
Name: 1888, dtype: int64
0    58943
1       33
Name: 1889, dtype: int64
0    58757
1      219
Name: 1890, dtype: int64
0    58967
1        9
Name: 1891, dtype: int64
0    58970
1        6
Name: 1892, dtype: int64
0    58974
1        2
Name: 1893, dtype: int64
0    58975
1        1
Name: 1898, dtype: int64
0    58975
1        1
Name: 1905, dtype: int64
0    58975
1        1
Name: 1906, dtype: int64
0    58967
1        9
Name: 1910, dtype: int64
0    58906
1       70
Name: 1911, dtype: int64
0    58921
1       55
Name: 1912, dtype: int64
0    58935
1       41
Name: 1913, dtype: int64
0    58967
1        9
Name: 1914, dtype: int64
0    58969
1        7
Name: 1915, dtype: int64
0    58973
1        3
Name: 1916, dtype: int64
0    58971
1        5
Name: 1917, dtype: int64
0    58939
1       37
Name: 1918, dtype: int64
0    58928
1       48
Name: 1919, dtype: int64
0    58975
1        1
Name: 1920, dtype: int64
0    58970
1        6
Name: 1921, dtype: int64
0    58971
1        5
Name: 1922, dtype: int64
0    58927
1       49
Name: 193, dtype: int64
0    58970
1        6
Name: 1940, dtype: int64
0    58974
1        2
Name: 1941, dtype: int64
0    58975
1        1
Name: 1943, dtype: int64
0    58975
1        1
Name: 1945, dtype: int64
0    58967
1        9
Name: 1950, dtype: int64
0    58975
1        1
Name: 1951, dtype: int64
0    58975
1        1
Name: 1952, dtype: int64
0    58974
1        2
Name: 1953, dtype: int64
0    58972
1        4
Name: 1958, dtype: int64
0    58873
1      103
Name: 1960, dtype: int64
0    58722
1      254
Name: 1961, dtype: int64
0    58725
1      251
Name: 1962, dtype: int64
0    58925
1       51
Name: 1963, dtype: int64
0    58951
1       25
Name: 1965, dtype: int64
0    58954
1       22
Name: 1966, dtype: int64
0    58942
1       34
Name: 1968, dtype: int64
0    58961
1       15
Name: 1969, dtype: int64
0    58222
1      754
Name: 1970, dtype: int64
0    58920
1       56
Name: 1971, dtype: int64
0    58759
1      217
Name: 1972, dtype: int64
0    58931
1       45
Name: 1973, dtype: int64
0    58875
1      101
Name: 1974, dtype: int64
0    58901
1       75
Name: 1975, dtype: int64
0    58659
1      317
Name: 1976, dtype: int64
0    58182
1      794
Name: 1977, dtype: int64
0    58839
1      137
Name: 1978, dtype: int64
0    58940
1       36
Name: 1980, dtype: int64
0    58934
1       42
Name: 1981, dtype: int64
0    58937
1       39
Name: 1982, dtype: int64
0    58209
1      767
Name: 1983, dtype: int64
0    58886
1       90
Name: 1984, dtype: int64
0    58133
1      843
Name: 1985, dtype: int64
0    58956
1       20
Name: 1986, dtype: int64
0    58840
1      136
Name: 1987, dtype: int64
0    58968
1        8
Name: 19881, dtype: int64
0    58931
1       45
Name: 19882, dtype: int64
0    58539
1      437
Name: 19889, dtype: int64
0    58971
1        5
Name: 1990, dtype: int64
0    58807
1      169
Name: 1991, dtype: int64
0    58958
1       18
Name: 20000, dtype: int64
0    58975
1        1
Name: 20001, dtype: int64
0    58973
1        3
Name: 20002, dtype: int64
0    58975
1        1
Name: 20003, dtype: int64
0    58975
1        1
Name: 20005, dtype: int64
0    58974
1        2
Name: 20008, dtype: int64
0    58970
1        6
Name: 20010, dtype: int64
0    58975
1        1
Name: 20011, dtype: int64
0    58975
1        1
Name: 20018, dtype: int64
0    58948
1       28
Name: 20020, dtype: int64
0    58974
1        2
Name: 20021, dtype: int64
0    58975
1        1
Name: 20022, dtype: int64
0    58972
1        4
Name: 20023, dtype: int64
0    58975
1        1
Name: 20024, dtype: int64
0    58969
1        7
Name: 20028, dtype: int64
0    58966
1       10
Name: 20030, dtype: int64
0    58975
1        1
Name: 20033, dtype: int64
0    58975
1        1
Name: 20037, dtype: int64
0    58971
1        5
Name: 20040, dtype: int64
0    58975
1        1
Name: 20042, dtype: int64
0    58975
1        1
Name: 20047, dtype: int64
0    58975
1        1
Name: 20048, dtype: int64
0    58968
1        8
Name: 20050, dtype: int64
0    58975
1        1
Name: 20060, dtype: int64
0    58968
1        8
Name: 20070, dtype: int64
0    58975
1        1
Name: 20071, dtype: int64
0    58975
1        1
Name: 20078, dtype: int64
0    58958
1       18
Name: 20080, dtype: int64
0    58975
1        1
Name: 20148, dtype: int64
0    58971
1        5
Name: 20150, dtype: int64
0    58974
1        2
Name: 20152, dtype: int64
0    58972
1        4
Name: 20158, dtype: int64
0    58894
1       82
Name: 20190, dtype: int64
0    58974
1        2
Name: 20191, dtype: int64
0    58974
1        2
Name: 20192, dtype: int64
0    58968
1        8
Name: 20198, dtype: int64
0    58954
1       22
Name: 20200, dtype: int64
0    58974
1        2
Name: 20201, dtype: int64
0    58974
1        2
Name: 20203, dtype: int64
0    58975
1        1
Name: 20205, dtype: int64
0    58975
1        1
Name: 20206, dtype: int64
0    58972
1        4
Name: 20208, dtype: int64
0    58953
1       23
Name: 20210, dtype: int64
0    58975
1        1
Name: 20211, dtype: int64
0    58975
1        1
Name: 20212, dtype: int64
0    58974
1        2
Name: 20213, dtype: int64
0    58974
1        2
Name: 20218, dtype: int64
0    58975
1        1
Name: 20220, dtype: int64
0    58965
1       11
Name: 20240, dtype: int64
0    58975
1        1
Name: 20243, dtype: int64
0    58975
1        1
Name: 20252, dtype: int64
0    58970
1        6
Name: 20260, dtype: int64
0    58971
1        5
Name: 20270, dtype: int64
0    58972
1        4
Name: 20278, dtype: int64
0    58637
1      339
Name: 20280, dtype: int64
0    58957
1       19
Name: 20281, dtype: int64
0    58967
1        9
Name: 20282, dtype: int64
0    58957
1       19
Name: 20283, dtype: int64
0    58974
1        2
Name: 20285, dtype: int64
0    58974
1        2
Name: 20287, dtype: int64
0    58952
1       24
Name: 20288, dtype: int64
0    58975
1        1
Name: 20290, dtype: int64
0    58794
1      182
Name: 20300, dtype: int64
0    58969
1        7
Name: 20301, dtype: int64
0    58970
1        6
Name: 20302, dtype: int64
0    58973
1        3
Name: 20310, dtype: int64
0    58974
1        2
Name: 20312, dtype: int64
0    58971
1        5
Name: 20380, dtype: int64
0    58975
1        1
Name: 20382, dtype: int64
0    58937
1       39
Name: 20400, dtype: int64
0    58969
1        7
Name: 20401, dtype: int64
0    58972
1        4
Name: 20402, dtype: int64
0    58792
1      184
Name: 20410, dtype: int64
0    58968
1        8
Name: 20411, dtype: int64
0    58968
1        8
Name: 20412, dtype: int64
0    58975
1        1
Name: 20480, dtype: int64
0    58975
1        1
Name: 20490, dtype: int64
0    58781
1      195
Name: 20500, dtype: int64
0    58946
1       30
Name: 20501, dtype: int64
0    58963
1       13
Name: 20502, dtype: int64
0    58911
1       65
Name: 20510, dtype: int64
0    58969
1        7
Name: 20511, dtype: int64
0    58974
1        2
Name: 20512, dtype: int64
0    58974
1        2
Name: 20530, dtype: int64
0    58975
1        1
Name: 20590, dtype: int64
0    58973
1        3
Name: 20600, dtype: int64
0    58975
1        1
Name: 20722, dtype: int64
0    58971
1        5
Name: 20780, dtype: int64
0    58971
1        5
Name: 20800, dtype: int64
0    58970
1        6
Name: 20890, dtype: int64
0    58974
1        2
Name: 20891, dtype: int64
0    58975
1        1
Name: 20903, dtype: int64
0    58975
1        1
Name: 20917, dtype: int64
0    58973
1        3
Name: 20920, dtype: int64
0    58971
1        5
Name: 20921, dtype: int64
0    58975
1        1
Name: 20925, dtype: int64
0    58971
1        5
Name: 20929, dtype: int64
0    58975
1        1
Name: 20930, dtype: int64
0    58975
1        1
Name: 20936, dtype: int64
0    58974
1        2
Name: 20943, dtype: int64
0    58975
1        1
Name: 20951, dtype: int64
0    58975
1        1
Name: 20957, dtype: int64
0    58973
1        3
Name: 20961, dtype: int64
0    58975
1        1
Name: 20963, dtype: int64
0    58975
1        1
Name: 20969, dtype: int64
0    58975
1        1
Name: 20971, dtype: int64
0    58968
1        8
Name: 20972, dtype: int64
0    58973
1        3
Name: 20973, dtype: int64
0    58975
1        1
Name: 20974, dtype: int64
0    58974
1        2

Name: 20975, dtype: int64
0    58973
1        3
Name: 20979, dtype: int64
0    58973
1        3
Name: 2101, dtype: int64
0    58974
1        2
Name: 2102, dtype: int64
0    58975
1        1
Name: 2104, dtype: int64
0    58975
1        1
Name: 2110, dtype: int64
0    58896
1       80
Name: 2111, dtype: int64
0    58930
1       46
Name: 2112, dtype: int64
0    58655
1      321
Name: 2113, dtype: int64
0    58941
1       35
Name: 2114, dtype: int64
0    58959
1       17
Name: 2115, dtype: int64
0    58965
1       11
Name: 2116, dtype: int64
0    58975
1        1
Name: 2117, dtype: int64
0    58972
1        4
Name: 2118, dtype: int64
0    58974
1        2
Name: 2119, dtype: int64
0    58975
1        1
Name: 2120, dtype: int64
0    58973
1        3
Name: 2121, dtype: int64
0    58975
1        1
Name: 2122, dtype: int64
0    58971
1        5
Name: 2123, dtype: int64
0    58974
1        2
Name: 2125, dtype: int64
0    58966
1       10
Name: 2126, dtype: int64
0    58934
1       42
Name: 2127, dtype: int64
0    58974
1        2
Name: 2130, dtype: int64
0    58975
1        1
Name: 2132, dtype: int64
0    58974
1        2
Name: 2137, dtype: int64
0    58975
1        1
Name: 2140, dtype: int64
0    58972
1        4
Name: 2141, dtype: int64
0    58973
1        3
Name: 2142, dtype: int64
0    58966
1       10
Name: 2143, dtype: int64
0    58974
1        2
Name: 2144, dtype: int64
0    58959
1       17
Name: 2148, dtype: int64
0    58975
1        1
Name: 2149, dtype: int64
0    58975
1        1
Name: 2150, dtype: int64
0    58975
1        1
Name: 2153, dtype: int64
0    58974
1        2
Name: 2154, dtype: int64
0    58972
1        4
Name: 2155, dtype: int64
0    58974
1        2
Name: 2156, dtype: int64
0    58975
1        1
Name: 2161, dtype: int64
0    58973
1        3
Name: 2163, dtype: int64
0    58975
1        1
Name: 2164, dtype: int64
0    58970
1        6
Name: 2165, dtype: int64
0    58974
1        2
Name: 2166, dtype: int64
0    58972
1        4
Name: 2167, dtype: int64
0    58974
1        2
Name: 2169, dtype: int64
0    58974
1        2
Name: 217, dtype: int64
0    58970
1        6
Name: 2180, dtype: int64
0    58955
1       21
Name: 2181, dtype: int64
0    58966
1       10
Name: 2182, dtype: int64
0    58901
1       75
Name: 2189, dtype: int64
0    58975
1        1
Name: 2191, dtype: int64
0    58951
1       25
Name: 220, dtype: int64
0    58975
1        1
Name: 2210, dtype: int64
0    58975
1        1
Name: 2218, dtype: int64
0    58967
1        9
Name: 2230, dtype: int64
0    58956
1       20
Name: 2250, dtype: int64
0    58965
1       11
Name: 2251, dtype: int64
0    58752
1      224
Name: 2252, dtype: int64
0    58975
1        1
Name: 2253, dtype: int64
0    58965
1       11
Name: 2254, dtype: int64
0    58968
1        8
Name: 226, dtype: int64
0    58914
1       62
Name: 2270, dtype: int64
0    58963
1       13
Name: 2271, dtype: int64
0    58927
1       49
Name: 2273, dtype: int64
0    58975
1        1
Name: 22800, dtype: int64
0    58941
1       35
Name: 22801, dtype: int64
0    58951
1       25
Name: 22802, dtype: int64
0    58935
1       41
Name: 22804, dtype: int64
0    58945
1       31
Name: 22809, dtype: int64
0    58972
1        4
Name: 2281, dtype: int64
0    58974
1        2
Name: 2298, dtype: int64
0    58974
1        2
Name: 2300, dtype: int64
0    58973
1        3
Name: 2301, dtype: int64
0    58975
1        1
Name: 2302, dtype: int64
0    58975
1        1
Name: 2306, dtype: int64
0    58975
1        1
Name: 2308, dtype: int64
0    58974
1        2
Name: 2309, dtype: int64
0    58975
1        1
Name: 2312, dtype: int64
0    58975
1        1
Name: 2325, dtype: int64
0    58975
1        1
Name: 2326, dtype: int64
0    58975
1        1
Name: 2329, dtype: int64
0    58958
1       18
Name: 2330, dtype: int64
0    58974
1        2
Name: 2331, dtype: int64
0    58974
1        2
Name: 2333, dtype: int64
0    58975
1        1
Name: 23331, dtype: int64
0    58974
1        2
Name: 2334, dtype: int64
0    58970
1        6
Name: 2337, dtype: int64
0    58972
1        4
Name: 2339, dtype: int64
0    58966
1       10
Name: 2352, dtype: int64
0    58969
1        7
Name: 2353, dtype: int64
0    58972
1        4
Name: 2354, dtype: int64
0    58969
1        7
Name: 2355, dtype: int64
0    58974
1        2
Name: 2356, dtype: int64
0    58966
1       10
Name: 2357, dtype: int64
0    58975
1        1
Name: 2358, dtype: int64
0    58975
1        1
Name: 2360, dtype: int64
0    58974
1        2
Name: 2362, dtype: int64
0    58972
1        4
Name: 2367, dtype: int64
0    58970
1        6
Name: 23691, dtype: int64
0    58972
1        4
Name: 2370, dtype: int64
0    58973
1        3
Name: 2371, dtype: int64
0    58971
1        5
Name: 2373, dtype: int64
0    58946
1       30
Name: 2375, dtype: int64
0    58972
1        4
Name: 2376, dtype: int64
0    58964
1       12
Name: 23770, dtype: int64
0    58966
1       10
Name: 23771, dtype: int64
0    58974
1        2
Name: 23772, dtype: int64
0    58974
1        2
Name: 23773, dtype: int64
0    58974
1        2
Name: 2379, dtype: int64
0    58973
1        3
Name: 2380, dtype: int64
0    58959
1       17
Name: 2381, dtype: int64
0    58971
1        5
Name: 2382, dtype: int64
0    58863
1      113
Name: 2384, dtype: int64
0    58972
1        4
Name: 2386, dtype: int64
0    58856
1      120
Name: 2387, dtype: int64
0    58766
1      210
Name: 23871, dtype: int64
0    58974
1        2
Name: 23872, dtype: int64
0    58974
1        2
Name: 23873, dtype: int64
0    58974
1        2
Name: 23874, dtype: int64
0    58777
1      199
Name: 23875, dtype: int64
0    58966
1       10
Name: 23876, dtype: int64
0    58974
1        2
Name: 23877, dtype: int64
0    58952
1       24
Name: 23879, dtype: int64
0    58973
1        3
Name: 2388, dtype: int64
0    58961
1       15
Name: 2390, dtype: int64
0    58970
1        6
Name: 2391, dtype: int64
0    58970
1        6
Name: 2392, dtype: int64
0    58974
1        2
Name: 2394, dtype: int64
0    58970
1        6
Name: 2395, dtype: int64
0    58963
1       13
Name: 2396, dtype: int64
0    58966
1       10
Name: 2397, dtype: int64
0    58973
1        3
Name: 23989, dtype: int64
0    58901
1       75
Name: 2409, dtype: int64
0    58831
1      145
Name: 2410, dtype: int64
0    58885
1       91
Name: 2411, dtype: int64
0    58966
1       10
Name: 2419, dtype: int64
0    58904
1       72
Name: 24200, dtype: int64
0    58971
1        5
Name: 24201, dtype: int64
0    58974
1        2
Name: 24210, dtype: int64
0    58958
1       18
Name: 24220, dtype: int64
0    58975
1        1
Name: 24221, dtype: int64
0    58975
1        1
Name: 24230, dtype: int64
0    58960
1       16
Name: 24280, dtype: int64
0    58975
1        1
Name: 24281, dtype: int64
0    58866
1      110
Name: 24290, dtype: int64
0    58970
1        6
Name: 24291, dtype: int64
0    58964
1       12
Name: 243, dtype: int64
0    58773
1      203
Name: 2440, dtype: int64
0    58900
1       76
Name: 2441, dtype: int64
0    58966
1       10
Name: 2442, dtype: int64
0    58956
1       20
Name: 2443, dtype: int64
0    58949
1       27
Name: 2448, dtype: int64
0    54062
1     4914
Name: 2449, dtype: int64
0    58944
1       32
Name: 2452, dtype: int64
0    58975
1        1
Name: 2454, dtype: int64
0    58975
1        1
Name: 2458, dtype: int64
0    58973
1        3
Name: 2459, dtype: int64
0    58972
1        4
Name: 2462, dtype: int64
0    58971
1        5
Name: 2468, dtype: int64
0    58956
1       20
Name: 2469, dtype: int64
0    58871
1      105
Name: 24900, dtype: int64
0    58971
1        5
Name: 24901, dtype: int64
0    58973
1        3
Name: 24911, dtype: int64
0    58975
1        1
Name: 24950, dtype: int64
0    58973
1        3
Name: 24960, dtype: int64
0    58974
1        2
Name: 24980, dtype: int64
0    58972
1        4
Name: 24981, dtype: int64
0    58974
1        2
Name: 24990, dtype: int64
0    58975
1        1
Name: 24991, dtype: int64
0    49919
1     9057
Name: 25000, dtype: int64
0    58657
1      319
Name: 25001, dtype: int64
0    58522
1      454
Name: 25002, dtype: int64
0    58952
1       24
Name: 25003, dtype: int64
0    58928
1       48
Name: 25010, dtype: int64
0    58772
1      204
Name: 25011, dtype: int64
0    58775
1      201
Name: 25012, dtype: int64
0    58555
1      421
Name: 25013, dtype: int64
0    58944
1       32
Name: 25020, dtype: int64
0    58972
1        4
Name: 25021, dtype: int64
0    58932
1       44
Name: 25022, dtype: int64
0    58973
1        3
Name: 25023, dtype: int64
0    58966
1       10
Name: 25030, dtype: int64
0    58972
1        4
Name: 25031, dtype: int64
0    58971
1        5
Name: 25032, dtype: int64
0    58967
1        9
Name: 25033, dtype: int64
0    58022
1      954
Name: 25040, dtype: int64
0    58655
1      321
Name: 25041, dtype: int64
0    58846
1      130
Name: 25042, dtype: int64
0    58791
1      185
Name: 25043, dtype: int64
0    58531
1      445
Name: 25050, dtype: int64
0    58692
1      284
Name: 25051, dtype: int64
0    58891
1       85
Name: 25052, dtype: int64
0    58807
1      169
Name: 25053, dtype: int64
0    57838
1     1138
Name: 25060, dtype: int64
0    58551
1      425
Name: 25061, dtype: int64
0    58778
1      198
Name: 25062, dtype: int64
0    58711
1      265
Name: 25063, dtype: int64
0    58855
1      121
Name: 25070, dtype: int64
0    58943
1       33
Name: 25071, dtype: int64
0    58945
1       31
Name: 25072, dtype: int64
0    58957
1       19
Name: 25073, dtype: int64
0    58529
1      447
Name: 25080, dtype: int64
0    58886
1       90
Name: 25081, dtype: int64
0    58861
1      115
Name: 25082, dtype: int64
0    58917
1       59
Name: 25083, dtype: int64
0    58957
1       19
Name: 25090, dtype: int64
0    58974
1        2
Name: 25091, dtype: int64
0    58905
1       71
Name: 25092, dtype: int64
0    58968
1        8
Name: 25093, dtype: int64
0    58975
1        1
Name: 2510, dtype: int64
0    58942
1       34
Name: 2511, dtype: int64
0    58854
1      122
Name: 2512, dtype: int64
0    58958
1       18
Name: 2513, dtype: int64
0    58967
1        9
Name: 2515, dtype: int64
0    58790
1      186
Name: 2518, dtype: int64
0    58975
1        1
Name: 2519, dtype: int64
0    58966
1       10
Name: 2520, dtype: int64
0    58875
1      101
Name: 25200, dtype: int64
0    58929
1       47
Name: 25201, dtype: int64
0    58968
1        8
Name: 25202, dtype: int64
0    58964
1       12
Name: 25208, dtype: int64
0    58950
1       26
Name: 2521, dtype: int64
0    58974
1        2
Name: 2528, dtype: int64
0    58965
1       11
Name: 2530, dtype: int64
0    58971
1        5
Name: 2531, dtype: int64
0    58901
1       75
Name: 2532, dtype: int64
0    58975
1        1
Name: 2533, dtype: int64
0    58973
1        3
Name: 2534, dtype: int64
0    58887
1       89
Name: 2535, dtype: int64
0    58471
1      505

Name: 2536, dtype: int64
0    58955
1       21
Name: 2537, dtype: int64
0    58964
1       12
Name: 2538, dtype: int64
0    58974
1        2
Name: 2539, dtype: int64
0    58974
1        2
Name: 2540, dtype: int64
0    58975
1        1
Name: 2541, dtype: int64
0    58973
1        3
Name: 2548, dtype: int64
0    58955
1       21
Name: 2550, dtype: int64
0    58966
1       10
Name: 25510, dtype: int64
0    58975
1        1
Name: 25512, dtype: int64
0    58972
1        4
Name: 2552, dtype: int64
0    58975
1        1
Name: 2553, dtype: int64
0    58686
1      290
Name: 2554, dtype: int64
0    58760
1      216
Name: 25541, dtype: int64
0    58971
1        5
Name: 25542, dtype: int64
0    58948
1       28
Name: 2555, dtype: int64
0    58960
1       16
Name: 2558, dtype: int64
0    58947
1       29
Name: 2559, dtype: int64
0    58971
1        5
Name: 2561, dtype: int64
0    58973
1        3
Name: 25639, dtype: int64
0    58956
1       20
Name: 2564, dtype: int64
0    58975
1        1
Name: 2571, dtype: int64
0    58939
1       37
Name: 2572, dtype: int64
0    58972
1        4
Name: 25801, dtype: int64
0    58974
1        2
Name: 2581, dtype: int64
0    58975
1        1
Name: 2588, dtype: int64
0    58973
1        3
Name: 2589, dtype: int64
0    58972
1        4
Name: 2592, dtype: int64
0    58969
1        7
Name: 2594, dtype: int64
0    58974
1        2
Name: 2598, dtype: int64
0    58972
1        4
Name: 2599, dtype: int64
0    58970
1        6
Name: 260, dtype: int64
0    58772
1      204
Name: 261, dtype: int64
0    58915
1       61
Name: 262, dtype: int64
0    58840
1      136
Name: 2630, dtype: int64
0    58941
1       35
Name: 2631, dtype: int64
0    58952
1       24
Name: 2638, dtype: int64
0    57717
1     1259
Name: 2639, dtype: int64
0    58973
1        3
Name: 2650, dtype: int64
0    58951
1       25
Name: 2651, dtype: int64
0    58972
1        4
Name: 2652, dtype: int64
0    58728
1      248
Name: 2662, dtype: int64
0    58974
1        2
Name: 2669, dtype: int64
0    58974
1        2
Name: 267, dtype: int64
0    58969
1        7
Name: 2682, dtype: int64
0    58825
1      151
Name: 2689, dtype: int64
0    58954
1       22
Name: 2690, dtype: int64
0    58975
1        1
Name: 2692, dtype: int64
0    58975
1        1
Name: 2693, dtype: int64
0    58970
1        6
Name: 2698, dtype: int64
0    58967
1        9
Name: 2699, dtype: int64
0    58971
1        5
Name: 2700, dtype: int64
0    58975
1        1
Name: 2702, dtype: int64
0    58956
1       20
Name: 2704, dtype: int64
0    58970
1        6
Name: 2706, dtype: int64
0    58973
1        3
Name: 2707, dtype: int64
0    58951
1       25
Name: 2710, dtype: int64
0    58931
1       45
Name: 2713, dtype: int64
0    58974
1        2
Name: 2718, dtype: int64
0    53046
1     5930
Name: 2720, dtype: int64
0    58866
1      110
Name: 2721, dtype: int64
0    58969
1        7
Name: 2722, dtype: int64
0    50287
1     8689
Name: 2724, dtype: int64
0    58974
1        2
Name: 2725, dtype: int64
0    58969
1        7
Name: 2726, dtype: int64
0    58975
1        1
Name: 2727, dtype: int64
0    58958
1       18
Name: 2728, dtype: int64
0    58973
1        3
Name: 2729, dtype: int64
0    58972
1        4
Name: 2730, dtype: int64
0    58898
1       78
Name: 2731, dtype: int64
0    58950
1       26
Name: 2732, dtype: int64
0    58948
1       28
Name: 2733, dtype: int64
0    58966
1       10
Name: 2734, dtype: int64
0    58837
1      139
Name: 2738, dtype: int64
0    58964
1       12
Name: 2739, dtype: int64
0    58853
1      123
Name: 2740, dtype: int64
0    58955
1       21
Name: 27400, dtype: int64
0    58877
1       99
Name: 27401, dtype: int64
0    58973
1        3
Name: 27402, dtype: int64
0    58968
1        8
Name: 27403, dtype: int64
0    58972
1        4
Name: 27411, dtype: int64
0    58966
1       10
Name: 27482, dtype: int64
0    58975
1        1
Name: 27489, dtype: int64
0    56894
1     2082
Name: 2749, dtype: int64
0    58909
1       67
Name: 2750, dtype: int64
0    58969
1        7
Name: 27501, dtype: int64
0    58974
1        2
Name: 27502, dtype: int64
0    58940
1       36
Name: 27503, dtype: int64
0    58975
1        1
Name: 27509, dtype: int64
0    58970
1        6
Name: 2751, dtype: int64
0    58711
1      265
Name: 2752, dtype: int64
0    58518
1      458
Name: 2753, dtype: int64
0    58973
1        3
Name: 27540, dtype: int64
0    58596
1      380
Name: 27541, dtype: int64
0    58722
1      254
Name: 27542, dtype: int64
0    58912
1       64
Name: 27549, dtype: int64
0    58970
1        6
Name: 2755, dtype: int64
0    58975
1        1
Name: 2758, dtype: int64
0    58975
1        1
Name: 2759, dtype: int64
0    56704
1     2272
Name: 2760, dtype: int64
0    55937
1     3039
Name: 2761, dtype: int64
0    54448
1     4528
Name: 2762, dtype: int64
0    57992
1      984
Name: 2763, dtype: int64
0    58440
1      536
Name: 2764, dtype: int64
0    57628
1     1348
Name: 2765, dtype: int64
0    58644
1      332
Name: 27650, dtype: int64
0    57592
1     1384
Name: 27651, dtype: int64
0    57602
1     1374
Name: 27652, dtype: int64
0    58401
1      575
Name: 2766, dtype: int64
0    58963
1       13
Name: 27661, dtype: int64
0    58619
1      357
Name: 27669, dtype: int64
0    56809
1     2167
Name: 2767, dtype: int64
0    57551
1     1425
Name: 2768, dtype: int64
0    58873
1      103
Name: 2769, dtype: int64
0    58973
1        3
Name: 27700, dtype: int64
0    58975
1        1
Name: 27702, dtype: int64
0    58975
1        1
Name: 27709, dtype: int64
0    58966
1       10
Name: 2771, dtype: int64
0    58937
1       39
Name: 2773, dtype: int64
0    58939
1       37
Name: 27730, dtype: int64
0    58975
1        1
Name: 27731, dtype: int64
0    58837
1      139
Name: 27739, dtype: int64
0    58929
1       47
Name: 2774, dtype: int64
0    58972
1        4
Name: 2776, dtype: int64
0    58958
1       18
Name: 2777, dtype: int64
0    58975
1        1
Name: 2778, dtype: int64
0    58963
1       13
Name: 27787, dtype: int64
0    58946
1       30
Name: 27788, dtype: int64
0    58970
1        6
Name: 27789, dtype: int64
0    58971
1        5
Name: 2779, dtype: int64
0    57465
1     1511
Name: 27800, dtype: int64
0    57806
1     1170
Name: 27801, dtype: int64
0    58968
1        8
Name: 27802, dtype: int64
0    58876
1      100
Name: 27803, dtype: int64
0    58959
1       17
Name: 2781, dtype: int64
0    58951
1       25
Name: 2788, dtype: int64
0    58930
1       46
Name: 27900, dtype: int64
0    58958
1       18
Name: 27901, dtype: int64
0    58964
1       12
Name: 27903, dtype: int64
0    58957
1       19
Name: 27906, dtype: int64
0    58975
1        1
Name: 27911, dtype: int64
0    58974
1        2
Name: 2793, dtype: int64
0    58966
1       10
Name: 2794, dtype: int64
0    58975
1        1
Name: 27941, dtype: int64
0    58969
1        7
Name: 27949, dtype: int64
0    58962
1       14
Name: 27950, dtype: int64
0    58966
1       10
Name: 27951, dtype: int64
0    58943
1       33
Name: 27952, dtype: int64
0    58968
1        8
Name: 27953, dtype: int64
0    58959
1       17
Name: 2798, dtype: int64
0    58975
1        1
Name: 2799, dtype: int64
0    57964
1     1012
Name: 2800, dtype: int64
0    58965
1       11
Name: 2808, dtype: int64
0    57806
1     1170
Name: 2809, dtype: int64
0    58914
1       62
Name: 2810, dtype: int64
0    58907
1       69
Name: 2811, dtype: int64
0    58967
1        9
Name: 2812, dtype: int64
0    58975
1        1
Name: 2813, dtype: int64
0    58975
1        1
Name: 2818, dtype: int64
0    58817
1      159
Name: 2819, dtype: int64
0    58975
1        1
Name: 2820, dtype: int64
0    58975
1        1
Name: 2821, dtype: int64
0    58962
1       14
Name: 2822, dtype: int64
0    58972
1        4
Name: 2823, dtype: int64
0    58964
1       12
Name: 2824, dtype: int64
0    58967
1        9
Name: 28240, dtype: int64
0    58975
1        1
Name: 28241, dtype: int64
0    58975
1        1
Name: 28243, dtype: int64
0    58975
1        1
Name: 28244, dtype: int64
0    58970
1        6
Name: 28246, dtype: int64
0    58899
1       77
Name: 28249, dtype: int64
0    58918
1       58
Name: 2825, dtype: int64
0    58961
1       15
Name: 28260, dtype: int64
0    58964
1       12
Name: 28262, dtype: int64
0    58975
1        1
Name: 28264, dtype: int64
0    58974
1        2
Name: 2827, dtype: int64
0    58975
1        1
Name: 2828, dtype: int64
0    58974
1        2
Name: 2829, dtype: int64
0    58918
1       58
Name: 2830, dtype: int64
0    58975
1        1
Name: 28310, dtype: int64
0    58959
1       17
Name: 28311, dtype: int64
0    58947
1       29
Name: 28319, dtype: int64
0    58971
1        5
Name: 2832, dtype: int64
0    58906
1       70
Name: 2839, dtype: int64
0    58974
1        2
Name: 2840, dtype: int64
0    58504
1      472
Name: 2841, dtype: int64
0    58956
1       20
Name: 28411, dtype: int64
0    58964
1       12
Name: 28412, dtype: int64
0    58837
1      139
Name: 28419, dtype: int64
0    58974
1        2
Name: 2842, dtype: int64
0    58655
1      321
Name: 2848, dtype: int64
0    58916
1       60
Name: 28489, dtype: int64
0    58961
1       15
Name: 2849, dtype: int64
0    54424
1     4552
Name: 2851, dtype: int64
0    57593
1     1383
Name: 28521, dtype: int64
0    58619
1      357
Name: 28522, dtype: int64
0    57883
1     1093
Name: 28529, dtype: int64
0    58927
1       49
Name: 2853, dtype: int64
0    58908
1       68
Name: 2858, dtype: int64
0    53571
1     5405
Name: 2859, dtype: int64
0    58943
1       33
Name: 2860, dtype: int64
0    58970
1        6
Name: 2861, dtype: int64
0    58969
1        7
Name: 2862, dtype: int64
0    58945
1       31
Name: 2863, dtype: int64
0    58950
1       26
Name: 2864, dtype: int64
0    58968
1        8
Name: 2865, dtype: int64
0    58975
1        1
Name: 28652, dtype: int64
0    58524
1      452
Name: 2866, dtype: int64
0    58510
1      466
Name: 2867, dtype: int64
0    57960
1     1016
Name: 2869, dtype: int64
0    58971
1        5
Name: 2870, dtype: int64
0    58969
1        7
Name: 2871, dtype: int64
0    58974
1        2
Name: 2872, dtype: int64
0    58919
1       57
Name: 2873, dtype: int64
0    58966
1       10
Name: 28730, dtype: int64
0    58877
1       99
Name: 28731, dtype: int64
0    58974
1        2
Name: 28732, dtype: int64
0    58974
1        2
Name: 28733, dtype: int64
0    58392
1      584
Name: 2874, dtype: int64
0    58842
1      134
Name: 28749, dtype: int64
0    55911
1     3065
Name: 2875, dtype: int64
0    58967
1        9
Name: 2879, dtype: int64
0    58835
1      141
Name: 2880, dtype: int64
0    58733
1      243
Name: 28800, dtype: int64
0    58972
1        4
Name: 28801, dtype: int64
0    58973
1        3
Name: 28802, dtype: int64
0    58850
1      126
Name: 28803, dtype: int64
0    58955
1       21
Name: 28804, dtype: int64
0    58966
1       10
Name: 28809, dtype: int64
0    58973
1        3
Name: 2881, dtype: int64
0    58975
1        1

Name: 2882, dtype: int64
0    58860
1      116
Name: 2883, dtype: int64
0    58958
1       18
Name: 2884, dtype: int64
0    58834
1      142
Name: 28850, dtype: int64
0    58975
1        1
Name: 28851, dtype: int64
0    58975
1        1
Name: 28859, dtype: int64
0    58120
1      856
Name: 28860, dtype: int64
0    58971
1        5
Name: 28861, dtype: int64
0    58971
1        5
Name: 28862, dtype: int64
0    58974
1        2
Name: 28863, dtype: int64
0    58966
1       10
Name: 28866, dtype: int64
0    58893
1       83
Name: 2888, dtype: int64
0    58975
1        1
Name: 2889, dtype: int64
0    58947
1       29
Name: 2890, dtype: int64
0    58974
1        2
Name: 2891, dtype: int64
0    58970
1        6
Name: 2893, dtype: int64
0    58955
1       21
Name: 2894, dtype: int64
0    58970
1        6
Name: 28950, dtype: int64
0    58957
1       19
Name: 28951, dtype: int64
0    58973
1        3
Name: 28952, dtype: int64
0    58859
1      117
Name: 28959, dtype: int64
0    58962
1       14
Name: 2897, dtype: int64
0    58970
1        6
Name: 2898, dtype: int64
0    58797
1      179
Name: 28981, dtype: int64
0    58956
1       20
Name: 28982, dtype: int64
0    58965
1       11
Name: 28983, dtype: int64
0    58879
1       97
Name: 28984, dtype: int64
0    58945
1       31
Name: 28989, dtype: int64
0    58935
1       41
Name: 2899, dtype: int64
0    58924
1       52
Name: 2900, dtype: int64
0    58975
1        1
Name: 29010, dtype: int64
0    58972
1        4
Name: 29012, dtype: int64
0    58956
1       20
Name: 2903, dtype: int64
0    58821
1      155
Name: 29040, dtype: int64
0    58943
1       33
Name: 29041, dtype: int64
0    58974
1        2
Name: 29042, dtype: int64
0    58971
1        5
Name: 29043, dtype: int64
0    58673
1      303
Name: 2910, dtype: int64
0    58954
1       22
Name: 2911, dtype: int64
0    58957
1       19
Name: 2912, dtype: int64
0    58960
1       16
Name: 2913, dtype: int64
0    58164
1      812
Name: 29181, dtype: int64
0    58975
1        1
Name: 29189, dtype: int64
0    58805
1      171
Name: 2920, dtype: int64
0    58972
1        4
Name: 29211, dtype: int64
0    58943
1       33
Name: 29212, dtype: int64
0    58613
1      363
Name: 29281, dtype: int64
0    58975
1        1
Name: 29282, dtype: int64
0    58968
1        8
Name: 29284, dtype: int64
0    58971
1        5
Name: 29285, dtype: int64
0    58973
1        3
Name: 29289, dtype: int64
0    58964
1       12
Name: 2929, dtype: int64
0    57531
1     1445
Name: 2930, dtype: int64
0    58971
1        5
Name: 2931, dtype: int64
0    58975
1        1
Name: 29381, dtype: int64
0    58975
1        1
Name: 29382, dtype: int64
0    58973
1        3
Name: 29383, dtype: int64
0    58974
1        2
Name: 29384, dtype: int64
0    58972
1        4
Name: 29389, dtype: int64
0    58846
1      130
Name: 2939, dtype: int64
0    58969
1        7
Name: 2940, dtype: int64
0    58363
1      613
Name: 29410, dtype: int64
0    58940
1       36
Name: 29411, dtype: int64
0    58811
1      165
Name: 29420, dtype: int64
0    58971
1        5
Name: 29421, dtype: int64
0    57851
1     1125
Name: 2948, dtype: int64
0    58921
1       55
Name: 2949, dtype: int64
0    58975
1        1
Name: 29502, dtype: int64
0    58975
1        1
Name: 29512, dtype: int64
0    58970
1        6
Name: 29520, dtype: int64
0    58975
1        1
Name: 29522, dtype: int64
0    58975
1        1
Name: 29524, dtype: int64
0    58912
1       64
Name: 29530, dtype: int64
0    58933
1       43
Name: 29532, dtype: int64
0    58974
1        2
Name: 29540, dtype: int64
0    58975
1        1
Name: 29544, dtype: int64
0    58960
1       16
Name: 29560, dtype: int64
0    58917
1       59
Name: 29562, dtype: int64
0    58974
1        2
Name: 29564, dtype: int64
0    58766
1      210
Name: 29570, dtype: int64
0    58940
1       36
Name: 29572, dtype: int64
0    58975
1        1
Name: 29573, dtype: int64
0    58971
1        5
Name: 29574, dtype: int64
0    58975
1        1
Name: 29575, dtype: int64
0    58973
1        3
Name: 29580, dtype: int64
0    58729
1      247
Name: 29590, dtype: int64
0    58970
1        6
Name: 29592, dtype: int64
0    58973
1        3
Name: 29600, dtype: int64
0    58975
1        1
Name: 29604, dtype: int64
0    58975
1        1
Name: 29614, dtype: int64
0    58814
1      162
Name: 29620, dtype: int64
0    58975
1        1
Name: 29621, dtype: int64
0    58974
1        2
Name: 29622, dtype: int64
0    58961
1       15
Name: 29623, dtype: int64
0    58953
1       23
Name: 29624, dtype: int64
0    58975
1        1
Name: 29625, dtype: int64
0    58925
1       51
Name: 29630, dtype: int64
0    58975
1        1
Name: 29631, dtype: int64
0    58969
1        7
Name: 29632, dtype: int64
0    58949
1       27
Name: 29633, dtype: int64
0    58958
1       18
Name: 29634, dtype: int64
0    58957
1       19
Name: 29640, dtype: int64
0    58972
1        4
Name: 29644, dtype: int64
0    58890
1       86
Name: 29650, dtype: int64
0    58975
1        1
Name: 29651, dtype: int64
0    58975
1        1
Name: 29653, dtype: int64
0    58974
1        2
Name: 29654, dtype: int64
0    58770
1      206
Name: 2967, dtype: int64
0    58373
1      603
Name: 29680, dtype: int64
0    58975
1        1
Name: 29681, dtype: int64
0    58920
1       56
Name: 29689, dtype: int64
0    58902
1       74
Name: 29690, dtype: int64
0    58972
1        4
Name: 29699, dtype: int64
0    58955
1       21
Name: 2971, dtype: int64
0    58975
1        1
Name: 2972, dtype: int64
0    58974
1        2
Name: 2978, dtype: int64
0    58973
1        3
Name: 2979, dtype: int64
0    58975
1        1
Name: 2980, dtype: int64
0    58975
1        1
Name: 2982, dtype: int64
0    58975
1        1
Name: 2984, dtype: int64
0    58865
1      111
Name: 2989, dtype: int64
0    58967
1        9
Name: 29900, dtype: int64
0    58959
1       17
Name: 29980, dtype: int64
0    58975
1        1
Name: 29990, dtype: int64
0    57396
1     1580
Name: 30000, dtype: int64
0    58857
1      119
Name: 30001, dtype: int64
0    58958
1       18
Name: 30002, dtype: int64
0    58975
1        1
Name: 30009, dtype: int64
0    58959
1       17
Name: 30011, dtype: int64
0    58975
1        1
Name: 30012, dtype: int64
0    58968
1        8
Name: 30014, dtype: int64
0    58972
1        4
Name: 30015, dtype: int64
0    58974
1        2
Name: 30016, dtype: int64
0    58964
1       12
Name: 30021, dtype: int64
0    58968
1        8
Name: 30022, dtype: int64
0    58949
1       27
Name: 30029, dtype: int64
0    58905
1       71
Name: 3003, dtype: int64
0    57867
1     1109
Name: 3004, dtype: int64
0    58971
1        5
Name: 3007, dtype: int64
0    58975
1        1
Name: 30089, dtype: int64
0    58953
1       23
Name: 3009, dtype: int64
0    58975
1        1
Name: 3010, dtype: int64
0    58975
1        1
Name: 30113, dtype: int64
0    58970
1        6
Name: 30120, dtype: int64
0    58967
1        9
Name: 30122, dtype: int64
0    58973
1        3
Name: 3013, dtype: int64
0    58968
1        8
Name: 3014, dtype: int64
0    58974
1        2
Name: 30150, dtype: int64
0    58973
1        3
Name: 30151, dtype: int64
0    58951
1       25
Name: 3017, dtype: int64
0    58968
1        8
Name: 30181, dtype: int64
0    58899
1       77
Name: 30183, dtype: int64
0    58954
1       22
Name: 3019, dtype: int64
0    58969
1        7
Name: 30250, dtype: int64
0    58974
1        2
Name: 30285, dtype: int64
0    58975
1        1
Name: 3029, dtype: int64
0    58895
1       81
Name: 30300, dtype: int64
0    58600
1      376
Name: 30301, dtype: int64
0    58968
1        8
Name: 30302, dtype: int64
0    58972
1        4
Name: 30303, dtype: int64
0    58379
1      597
Name: 30390, dtype: int64
0    58257
1      719
Name: 30391, dtype: int64
0    58950
1       26
Name: 30392, dtype: int64
0    58668
1      308
Name: 30393, dtype: int64
0    58873
1      103
Name: 30400, dtype: int64
0    58696
1      280
Name: 30401, dtype: int64
0    58971
1        5
Name: 30402, dtype: int64
0    58952
1       24
Name: 30403, dtype: int64
0    58947
1       29
Name: 30410, dtype: int64
0    58948
1       28
Name: 30411, dtype: int64
0    58941
1       35
Name: 30420, dtype: int64
0    58899
1       77
Name: 30421, dtype: int64
0    58973
1        3
Name: 30422, dtype: int64
0    58962
1       14
Name: 30423, dtype: int64
0    58972
1        4
Name: 30430, dtype: int64
0    58956
1       20
Name: 30431, dtype: int64
0    58974
1        2
Name: 30440, dtype: int64
0    58971
1        5
Name: 30441, dtype: int64
0    58974
1        2
Name: 30443, dtype: int64
0    58969
1        7
Name: 30460, dtype: int64
0    58969
1        7
Name: 30461, dtype: int64
0    58935
1       41
Name: 30470, dtype: int64
0    58938
1       38
Name: 30471, dtype: int64
0    58975
1        1
Name: 30472, dtype: int64
0    58966
1       10
Name: 30473, dtype: int64
0    58974
1        2
Name: 30480, dtype: int64
0    58971
1        5
Name: 30481, dtype: int64
0    58973
1        3
Name: 30483, dtype: int64
0    58962
1       14
Name: 30490, dtype: int64
0    58964
1       12
Name: 30491, dtype: int64
0    58971
1        5
Name: 30493, dtype: int64
0    57999
1      977
Name: 30500, dtype: int64
0    58576
1      400
Name: 30501, dtype: int64
0    58948
1       28
Name: 30502, dtype: int64
0    58861
1      115
Name: 30503, dtype: int64
0    55618
1     3358
Name: 3051, dtype: int64
0    58880
1       96
Name: 30520, dtype: int64
0    58950
1       26
Name: 30521, dtype: int64
0    58971
1        5
Name: 30522, dtype: int64
0    58961
1       15
Name: 30523, dtype: int64
0    58974
1        2
Name: 30530, dtype: int64
0    58975
1        1
Name: 30531, dtype: int64
0    58924
1       52
Name: 30540, dtype: int64
0    58967
1        9
Name: 30541, dtype: int64
0    58975
1        1
Name: 30543, dtype: int64
0    58793
1      183
Name: 30550, dtype: int64
0    58929
1       47
Name: 30551, dtype: int64
0    58970
1        6
Name: 30552, dtype: int64
0    58948
1       28
Name: 30553, dtype: int64
0    58572
1      404
Name: 30560, dtype: int64
0    58899
1       77
Name: 30561, dtype: int64
0    58961
1       15
Name: 30562, dtype: int64
0    58930
1       46
Name: 30563, dtype: int64
0    58949
1       27
Name: 30570, dtype: int64
0    58974
1        2
Name: 30571, dtype: int64
0    58974
1        2
Name: 30573, dtype: int64
0    58972
1        4
Name: 30580, dtype: int64
0    58975
1        1
Name: 30583, dtype: int64
0    58783
1      193
Name: 30590, dtype: int64
0    58941
1       35
Name: 30591, dtype: int64
0    58975
1        1
Name: 30592, dtype: int64
0    58950
1       26
Name: 30593, dtype: int64
0    58975
1        1
Name: 3060, dtype: int64
0    58973
1        3
Name: 3061, dtype: int64
0    58975
1        1
Name: 3062, dtype: int64
0    58974
1        2
Name: 3068, dtype: int64
0    58973
1        3

Name: 3069, dtype: int64
0    58952
1       24
Name: 3071, dtype: int64
0    58973
1        3
Name: 30723, dtype: int64
0    58975
1        1
Name: 30742, dtype: int64
0    58975
1        1
Name: 30747, dtype: int64
0    58975
1        1
Name: 30749, dtype: int64
0    58961
1       15
Name: 30750, dtype: int64
0    58960
1       16
Name: 30751, dtype: int64
0    58974
1        2
Name: 30752, dtype: int64
0    58973
1        3
Name: 30759, dtype: int64
0    58975
1        1
Name: 3076, dtype: int64
0    58957
1       19
Name: 30781, dtype: int64
0    58972
1        4
Name: 30789, dtype: int64
0    58823
1      153
Name: 3079, dtype: int64
0    58970
1        6
Name: 3080, dtype: int64
0    58975
1        1
Name: 3081, dtype: int64
0    58971
1        5
Name: 3082, dtype: int64
0    58972
1        4
Name: 3083, dtype: int64
0    58973
1        3
Name: 3089, dtype: int64
0    58927
1       49
Name: 3090, dtype: int64
0    58975
1        1
Name: 3091, dtype: int64
0    58959
1       17
Name: 30924, dtype: int64
0    58940
1       36
Name: 30928, dtype: int64
0    58975
1        1
Name: 3093, dtype: int64
0    58969
1        7
Name: 3094, dtype: int64
0    58689
1      287
Name: 30981, dtype: int64
0    58972
1        4
Name: 30989, dtype: int64
0    58946
1       30
Name: 3099, dtype: int64
0    58965
1       11
Name: 3100, dtype: int64
0    58971
1        5
Name: 3101, dtype: int64
0    58950
1       26
Name: 3102, dtype: int64
0    58974
1        2
Name: 3108, dtype: int64
0    58966
1       10
Name: 3109, dtype: int64
0    55545
1     3431
Name: 311, dtype: int64
0    58973
1        3
Name: 31230, dtype: int64
0    58975
1        1
Name: 31234, dtype: int64
0    58973
1        3
Name: 31239, dtype: int64
0    58975
1        1
Name: 31289, dtype: int64
0    58967
1        9
Name: 3129, dtype: int64
0    58974
1        2
Name: 31381, dtype: int64
0    58931
1       45
Name: 31400, dtype: int64
0    58835
1      141
Name: 31401, dtype: int64
0    58975
1        1
Name: 3152, dtype: int64
0    58975
1        1
Name: 31531, dtype: int64
0    58975
1        1
Name: 31539, dtype: int64
0    58975
1        1
Name: 3154, dtype: int64
0    58970
1        6
Name: 3158, dtype: int64
0    58956
1       20
Name: 3159, dtype: int64
0    58975
1        1
Name: 316, dtype: int64
0    58894
1       82
Name: 317, dtype: int64
0    58967
1        9
Name: 3180, dtype: int64
0    58951
1       25
Name: 3181, dtype: int64
0    58969
1        7
Name: 3182, dtype: int64
0    58794
1      182
Name: 319, dtype: int64
0    58974
1        2
Name: 3200, dtype: int64
0    58963
1       13
Name: 3201, dtype: int64
0    58960
1       16
Name: 3202, dtype: int64
0    58949
1       27
Name: 3203, dtype: int64
0    58968
1        8
Name: 3207, dtype: int64
0    58950
1       26
Name: 32082, dtype: int64
0    58973
1        3
Name: 32089, dtype: int64
0    58950
1       26
Name: 3209, dtype: int64
0    58970
1        6
Name: 3210, dtype: int64
0    58975
1        1
Name: 3212, dtype: int64
0    58971
1        5
Name: 3220, dtype: int64
0    58975
1        1
Name: 3221, dtype: int64
0    58972
1        4
Name: 3222, dtype: int64
0    58888
1       88
Name: 3229, dtype: int64
0    58975
1        1
Name: 3234, dtype: int64
0    58973
1        3
Name: 32341, dtype: int64
0    58975
1        1
Name: 32351, dtype: int64
0    58974
1        2
Name: 3236, dtype: int64
0    58971
1        5
Name: 32361, dtype: int64
0    58975
1        1
Name: 32362, dtype: int64
0    58975
1        1
Name: 32372, dtype: int64
0    58971
1        5
Name: 3238, dtype: int64
0    58963
1       13
Name: 32381, dtype: int64
0    58967
1        9
Name: 32382, dtype: int64
0    58934
1       42
Name: 3239, dtype: int64
0    58926
1       50
Name: 3240, dtype: int64
0    58843
1      133
Name: 3241, dtype: int64
0    58974
1        2
Name: 3249, dtype: int64
0    58954
1       22
Name: 325, dtype: int64
0    58965
1       11
Name: 326, dtype: int64
0    58975
1        1
Name: 32713, dtype: int64
0    58975
1        1
Name: 32719, dtype: int64
0    58975
1        1
Name: 32720, dtype: int64
0    58965
1       11
Name: 32721, dtype: int64
0    56596
1     2380
Name: 32723, dtype: int64
0    58975
1        1
Name: 32724, dtype: int64
0    58974
1        2
Name: 32725, dtype: int64
0    58959
1       17
Name: 32726, dtype: int64
0    58968
1        8
Name: 32727, dtype: int64
0    58975
1        1
Name: 32737, dtype: int64
0    58972
1        4
Name: 32742, dtype: int64
0    58975
1        1
Name: 3300, dtype: int64
0    58975
1        1
Name: 3301, dtype: int64
0    58975
1        1
Name: 3308, dtype: int64
0    58407
1      569
Name: 3310, dtype: int64
0    58958
1       18
Name: 33119, dtype: int64
0    58917
1       59
Name: 3313, dtype: int64
0    58400
1      576
Name: 3314, dtype: int64
0    58953
1       23
Name: 3315, dtype: int64
0    58877
1       99
Name: 33182, dtype: int64
0    58959
1       17
Name: 33183, dtype: int64
0    58973
1        3
Name: 33189, dtype: int64
0    58961
1       15
Name: 3319, dtype: int64
0    58470
1      506
Name: 3320, dtype: int64
0    58972
1        4
Name: 3321, dtype: int64
0    58943
1       33
Name: 3330, dtype: int64
0    58854
1      122
Name: 3331, dtype: int64
0    58906
1       70
Name: 3332, dtype: int64
0    58972
1        4
Name: 3334, dtype: int64
0    58974
1        2
Name: 3335, dtype: int64
0    58969
1        7
Name: 3336, dtype: int64
0    58972
1        4
Name: 3337, dtype: int64
0    58969
1        7
Name: 33372, dtype: int64
0    58975
1        1
Name: 33379, dtype: int64
0    58974
1        2
Name: 33381, dtype: int64
0    58970
1        6
Name: 33382, dtype: int64
0    58975
1        1
Name: 33384, dtype: int64
0    58955
1       21
Name: 33385, dtype: int64
0    58970
1        6
Name: 33390, dtype: int64
0    58972
1        4
Name: 33391, dtype: int64
0    58965
1       11
Name: 33392, dtype: int64
0    58731
1      245
Name: 33394, dtype: int64
0    58943
1       33
Name: 33399, dtype: int64
0    58972
1        4
Name: 3340, dtype: int64
0    58961
1       15
Name: 3341, dtype: int64
0    58972
1        4
Name: 3342, dtype: int64
0    58971
1        5
Name: 3343, dtype: int64
0    58974
1        2
Name: 3344, dtype: int64
0    58974
1        2
Name: 3348, dtype: int64
0    58973
1        3
Name: 3349, dtype: int64
0    58974
1        2
Name: 33510, dtype: int64
0    58975
1        1
Name: 33511, dtype: int64
0    58931
1       45
Name: 33520, dtype: int64
0    58975
1        1
Name: 33521, dtype: int64
0    58973
1        3
Name: 33522, dtype: int64
0    58973
1        3
Name: 33523, dtype: int64
0    58968
1        8
Name: 3360, dtype: int64
0    58915
1       61
Name: 3361, dtype: int64
0    58863
1      113
Name: 3363, dtype: int64
0    58966
1       10
Name: 3368, dtype: int64
0    58950
1       26
Name: 3369, dtype: int64
0    58974
1        2
Name: 3370, dtype: int64
0    58975
1        1
Name: 33701, dtype: int64
0    58975
1        1
Name: 33709, dtype: int64
0    58838
1      138
Name: 3371, dtype: int64
0    58960
1       16
Name: 33720, dtype: int64
0    58974
1        2
Name: 33721, dtype: int64
0    58969
1        7
Name: 33722, dtype: int64
0    58971
1        5
Name: 33729, dtype: int64
0    58959
1       17
Name: 3373, dtype: int64
0    58912
1       64
Name: 3379, dtype: int64
0    58973
1        3
Name: 3380, dtype: int64
0    58933
1       43
Name: 33811, dtype: int64
0    58945
1       31
Name: 33812, dtype: int64
0    58833
1      143
Name: 33818, dtype: int64
0    58922
1       54
Name: 33819, dtype: int64
0    58967
1        9
Name: 33821, dtype: int64
0    58975
1        1
Name: 33822, dtype: int64
0    58968
1        8
Name: 33828, dtype: int64
0    58284
1      692
Name: 33829, dtype: int64
0    58803
1      173
Name: 3383, dtype: int64
0    58929
1       47
Name: 3384, dtype: int64
0    58971
1        5
Name: 33900, dtype: int64
0    58975
1        1
Name: 33902, dtype: int64
0    58975
1        1
Name: 33912, dtype: int64
0    58973
1        3
Name: 33920, dtype: int64
0    58973
1        3
Name: 3393, dtype: int64
0    58974
1        2
Name: 33989, dtype: int64
0    58669
1      307
Name: 340, dtype: int64
0    58969
1        7
Name: 3410, dtype: int64
0    58975
1        1
Name: 3411, dtype: int64
0    58972
1        4
Name: 34120, dtype: int64
0    58968
1        8
Name: 3418, dtype: int64
0    58956
1       20
Name: 3419, dtype: int64
0    58920
1       56
Name: 34200, dtype: int64
0    58963
1       13
Name: 34201, dtype: int64
0    58954
1       22
Name: 34202, dtype: int64
0    58971
1        5
Name: 34210, dtype: int64
0    58973
1        3
Name: 34211, dtype: int64
0    58974
1        2
Name: 34212, dtype: int64
0    58952
1       24
Name: 34280, dtype: int64
0    58957
1       19
Name: 34281, dtype: int64
0    58959
1       17
Name: 34282, dtype: int64
0    58498
1      478
Name: 34290, dtype: int64
0    58903
1       73
Name: 34291, dtype: int64
0    58894
1       82
Name: 34292, dtype: int64
0    58973
1        3
Name: 3430, dtype: int64
0    58972
1        4
Name: 3431, dtype: int64
0    58968
1        8
Name: 3432, dtype: int64
0    58974
1        2
Name: 3434, dtype: int64
0    58974
1        2
Name: 3438, dtype: int64
0    58911
1       65
Name: 3439, dtype: int64
0    58852
1      124
Name: 34400, dtype: int64
0    58966
1       10
Name: 34401, dtype: int64
0    58974
1        2
Name: 34402, dtype: int64
0    58965
1       11
Name: 34403, dtype: int64
0    58969
1        7
Name: 34404, dtype: int64
0    58967
1        9
Name: 34409, dtype: int64
0    58729
1      247
Name: 3441, dtype: int64
0    58972
1        4
Name: 3442, dtype: int64
0    58969
1        7
Name: 34430, dtype: int64
0    58975
1        1
Name: 34431, dtype: int64
0    58968
1        8
Name: 34440, dtype: int64
0    58974
1        2
Name: 34441, dtype: int64
0    58975
1        1
Name: 34442, dtype: int64
0    58975
1        1
Name: 3445, dtype: int64
0    58951
1       25
Name: 34460, dtype: int64
0    58957
1       19
Name: 34461, dtype: int64
0    58968
1        8
Name: 34481, dtype: int64
0    58940
1       36
Name: 34489, dtype: int64
0    58961
1       15
Name: 3449, dtype: int64
0    58963
1       13
Name: 34500, dtype: int64
0    58967
1        9
Name: 34501, dtype: int64
0    58887
1       89
Name: 34510, dtype: int64
0    58955
1       21
Name: 34511, dtype: int64
0    58975
1        1
Name: 3452, dtype: int64
0    58728
1      248
Name: 3453, dtype: int64
0    58927
1       49
Name: 34540, dtype: int64
0    58953
1       23
Name: 34541, dtype: int64
0    58917
1       59

Name: 34550, dtype: int64
0    58958
1       18
Name: 34551, dtype: int64
0    58948
1       28
Name: 34570, dtype: int64
0    58959
1       17
Name: 34571, dtype: int64
0    58929
1       47
Name: 34580, dtype: int64
0    58969
1        7
Name: 34581, dtype: int64
0    57999
1      977
Name: 34590, dtype: int64
0    58947
1       29
Name: 34591, dtype: int64
0    58958
1       18
Name: 34600, dtype: int64
0    58970
1        6
Name: 34620, dtype: int64
0    58974
1        2
Name: 34670, dtype: int64
0    58952
1       24
Name: 34680, dtype: int64
0    58448
1      528
Name: 34690, dtype: int64
0    58975
1        1
Name: 34691, dtype: int64
0    58975
1        1
Name: 34693, dtype: int64
0    58965
1       11
Name: 34700, dtype: int64
0    58975
1        1
Name: 34701, dtype: int64
0    58974
1        2
Name: 34710, dtype: int64
0    58924
1       52
Name: 3480, dtype: int64
0    58523
1      453
Name: 3481, dtype: int64
0    58968
1        8
Name: 3482, dtype: int64
0    58958
1       18
Name: 3483, dtype: int64
0    58302
1      674
Name: 34830, dtype: int64
0    58699
1      277
Name: 34831, dtype: int64
0    58696
1      280
Name: 34839, dtype: int64
0    58265
1      711
Name: 3484, dtype: int64
0    57998
1      978
Name: 3485, dtype: int64
0    58815
1      161
Name: 3488, dtype: int64
0    58973
1        3
Name: 34881, dtype: int64
0    58966
1       10
Name: 34882, dtype: int64
0    58845
1      131
Name: 34889, dtype: int64
0    58948
1       28
Name: 3489, dtype: int64
0    58943
1       33
Name: 3490, dtype: int64
0    58975
1        1
Name: 3491, dtype: int64
0    58966
1       10
Name: 3492, dtype: int64
0    58951
1       25
Name: 34931, dtype: int64
0    58974
1        2
Name: 34939, dtype: int64
0    58965
1       11
Name: 34981, dtype: int64
0    58334
1      642
Name: 34982, dtype: int64
0    58965
1       11
Name: 34989, dtype: int64
0    58973
1        3
Name: 3499, dtype: int64
0    58918
1       58
Name: 3501, dtype: int64
0    58975
1        1
Name: 3502, dtype: int64
0    58974
1        2
Name: 3509, dtype: int64
0    58899
1       77
Name: 3510, dtype: int64
0    58927
1       49
Name: 3518, dtype: int64
0    58964
1       12
Name: 3519, dtype: int64
0    58974
1        2
Name: 3522, dtype: int64
0    58975
1        1
Name: 3523, dtype: int64
0    58975
1        1
Name: 3524, dtype: int64
0    58973
1        3
Name: 3526, dtype: int64
0    58975
1        1
Name: 3529, dtype: int64
0    58958
1       18
Name: 3530, dtype: int64
0    58961
1       15
Name: 3536, dtype: int64
0    58921
1       55
Name: 3540, dtype: int64
0    58973
1        3
Name: 3541, dtype: int64
0    58961
1       15
Name: 3542, dtype: int64
0    58964
1       12
Name: 3543, dtype: int64
0    58973
1        3
Name: 3545, dtype: int64
0    58968
1        8
Name: 3548, dtype: int64
0    58961
1       15
Name: 3549, dtype: int64
0    58973
1        3
Name: 3550, dtype: int64
0    58970
1        6
Name: 3551, dtype: int64
0    58972
1        4
Name: 3552, dtype: int64
0    58967
1        9
Name: 3553, dtype: int64
0    58974
1        2
Name: 3555, dtype: int64
0    58974
1        2
Name: 3556, dtype: int64
0    58975
1        1
Name: 35571, dtype: int64
0    58974
1        2
Name: 35579, dtype: int64
0    58849
1      127
Name: 3558, dtype: int64
0    58868
1      108
Name: 3559, dtype: int64
0    58963
1       13
Name: 3561, dtype: int64
0    58974
1        2
Name: 3562, dtype: int64
0    58956
1       20
Name: 3568, dtype: int64
0    58543
1      433
Name: 3569, dtype: int64
0    58937
1       39
Name: 3570, dtype: int64
0    58975
1        1
Name: 3571, dtype: int64
0    57392
1     1584
Name: 3572, dtype: int64
0    58972
1        4
Name: 3573, dtype: int64
0    58966
1       10
Name: 3574, dtype: int64
0    58937
1       39
Name: 3575, dtype: int64
0    58936
1       40
Name: 3576, dtype: int64
0    58967
1        9
Name: 3577, dtype: int64
0    58975
1        1
Name: 3578, dtype: int64
0    58959
1       17
Name: 35781, dtype: int64
0    58958
1       18
Name: 35782, dtype: int64
0    58971
1        5
Name: 35789, dtype: int64
0    58961
1       15
Name: 3580, dtype: int64
0    58902
1       74
Name: 35800, dtype: int64
0    58928
1       48
Name: 35801, dtype: int64
0    58969
1        7
Name: 3581, dtype: int64
0    58975
1        1
Name: 3588, dtype: int64
0    58966
1       10
Name: 3589, dtype: int64
0    58974
1        2
Name: 3590, dtype: int64
0    58958
1       18
Name: 3591, dtype: int64
0    58970
1        6
Name: 3592, dtype: int64
0    58971
1        5
Name: 35921, dtype: int64
0    58973
1        3
Name: 35922, dtype: int64
0    58974
1        2
Name: 3593, dtype: int64
0    58930
1       46
Name: 3594, dtype: int64
0    58974
1        2
Name: 3595, dtype: int64
0    58969
1        7
Name: 35971, dtype: int64
0    58929
1       47
Name: 35981, dtype: int64
0    58961
1       15
Name: 35989, dtype: int64
0    58945
1       31
Name: 3599, dtype: int64
0    58968
1        8
Name: 36000, dtype: int64
0    58971
1        5
Name: 36001, dtype: int64
0    58975
1        1
Name: 36002, dtype: int64
0    58974
1        2
Name: 36003, dtype: int64
0    58975
1        1
Name: 36012, dtype: int64
0    58974
1        2
Name: 36019, dtype: int64
0    58975
1        1
Name: 36040, dtype: int64
0    58974
1        2
Name: 36043, dtype: int64
0    58975
1        1
Name: 36100, dtype: int64
0    58975
1        1
Name: 36101, dtype: int64
0    58975
1        1
Name: 36105, dtype: int64
0    58975
1        1
Name: 36106, dtype: int64
0    58974
1        2
Name: 36107, dtype: int64
0    58974
1        2
Name: 3612, dtype: int64
0    58973
1        3
Name: 36189, dtype: int64
0    58961
1       15
Name: 3619, dtype: int64
0    58101
1      875
Name: 36201, dtype: int64
0    58955
1       21
Name: 36202, dtype: int64
0    58970
1        6
Name: 36203, dtype: int64
0    58975
1        1
Name: 36204, dtype: int64
0    58975
1        1
Name: 36205, dtype: int64
0    58972
1        4
Name: 36206, dtype: int64
0    58975
1        1
Name: 36207, dtype: int64
0    58961
1       15
Name: 36210, dtype: int64
0    58970
1        6
Name: 36211, dtype: int64
0    58975
1        1
Name: 36213, dtype: int64
0    58975
1        1
Name: 36217, dtype: int64
0    58803
1      173
Name: 36221, dtype: int64
0    58961
1       15
Name: 36230, dtype: int64
0    58970
1        6
Name: 36231, dtype: int64
0    58974
1        2
Name: 36232, dtype: int64
0    58974
1        2
Name: 36233, dtype: int64
0    58965
1       11
Name: 36234, dtype: int64
0    58975
1        1
Name: 36241, dtype: int64
0    58752
1      224
Name: 36250, dtype: int64
0    58974
1        2
Name: 36251, dtype: int64
0    58973
1        3
Name: 36252, dtype: int64
0    58975
1        1
Name: 36253, dtype: int64
0    58964
1       12
Name: 36274, dtype: int64
0    58974
1        2
Name: 36275, dtype: int64
0    58954
1       22
Name: 36281, dtype: int64
0    58974
1        2
Name: 36283, dtype: int64
0    58975
1        1
Name: 36284, dtype: int64
0    58971
1        5
Name: 36289, dtype: int64
0    58975
1        1
Name: 3629, dtype: int64
0    58975
1        1
Name: 36315, dtype: int64
0    58970
1        6
Name: 36320, dtype: int64
0    58974
1        2
Name: 36362, dtype: int64
0    58975
1        1
Name: 36372, dtype: int64
0    58974
1        2
Name: 36400, dtype: int64
0    58975
1        1
Name: 36403, dtype: int64
0    58962
1       14
Name: 3643, dtype: int64
0    58975
1        1
Name: 36441, dtype: int64
0    58975
1        1
Name: 36470, dtype: int64
0    58975
1        1
Name: 3649, dtype: int64
0    58975
1        1
Name: 36500, dtype: int64
0    58968
1        8
Name: 36510, dtype: int64
0    58974
1        2
Name: 36511, dtype: int64
0    58975
1        1
Name: 36512, dtype: int64
0    58974
1        2
Name: 36520, dtype: int64
0    58973
1        3
Name: 36522, dtype: int64
0    58975
1        1
Name: 36523, dtype: int64
0    58975
1        1
Name: 36544, dtype: int64
0    58975
1        1
Name: 36552, dtype: int64
0    58969
1        7
Name: 36563, dtype: int64
0    58973
1        3
Name: 36565, dtype: int64
0    58952
1       24
Name: 36570, dtype: int64
0    58974
1        2
Name: 36573, dtype: int64
0    58974
1        2
Name: 36589, dtype: int64
0    58265
1      711
Name: 3659, dtype: int64
0    58974
1        2
Name: 36616, dtype: int64
0    58974
1        2
Name: 36641, dtype: int64
0    58975
1        1
Name: 36646, dtype: int64
0    58941
1       35
Name: 3668, dtype: int64
0    58819
1      157
Name: 3669, dtype: int64
0    58972
1        4
Name: 3671, dtype: int64
0    58973
1        3
Name: 3674, dtype: int64
0    58974
1        2
Name: 36800, dtype: int64
0    58975
1        1
Name: 36801, dtype: int64
0    58975
1        1
Name: 36811, dtype: int64
0    58975
1        1
Name: 36812, dtype: int64
0    58965
1       11
Name: 36813, dtype: int64
0    58971
1        5
Name: 36815, dtype: int64
0    58947
1       29
Name: 36816, dtype: int64
0    58923
1       53
Name: 3682, dtype: int64
0    58958
1       18
Name: 36840, dtype: int64
0    58973
1        3
Name: 36841, dtype: int64
0    58974
1        2
Name: 36844, dtype: int64
0    58885
1       91
Name: 36846, dtype: int64
0    58973
1        3
Name: 36847, dtype: int64
0    58975
1        1
Name: 36859, dtype: int64
0    58933
1       43
Name: 3688, dtype: int64
0    58966
1       10
Name: 3689, dtype: int64
0    58911
1       65
Name: 36900, dtype: int64
0    58974
1        2
Name: 36901, dtype: int64
0    58974
1        2
Name: 36910, dtype: int64
0    58968
1        8
Name: 3693, dtype: int64
0    58733
1      243
Name: 3694, dtype: int64
0    58901
1       75
Name: 36960, dtype: int64
0    58973
1        3
Name: 36970, dtype: int64
0    58965
1       11
Name: 3698, dtype: int64
0    58967
1        9
Name: 3699, dtype: int64
0    58970
1        6
Name: 37000, dtype: int64
0    58975
1        1
Name: 37005, dtype: int64
0    58975
1        1
Name: 37024, dtype: int64
0    58970
1        6
Name: 37034, dtype: int64
0    58974
1        2
Name: 3708, dtype: int64
0    58974
1        2
Name: 3709, dtype: int64
0    58970
1        6
Name: 37140, dtype: int64
0    58975
1        1
Name: 37143, dtype: int64
0    58975
1        1
Name: 37182, dtype: int64
0    58975
1        1
Name: 37189, dtype: int64
0    58951
1       25
Name: 37200, dtype: int64
0    58970
1        6
Name: 37203, dtype: int64
0    58975
1        1
Name: 37210, dtype: int64
0    58975
1        1
Name: 37214, dtype: int64
0    58882
1       94
Name: 37230, dtype: int64
0    58966
1       10
Name: 37239, dtype: int64
0    58973
1        3
Name: 37240, dtype: int64
0    58919
1       57
Name: 37272, dtype: int64
0    58961
1       15
Name: 37273, dtype: int64
0    58975
1        1
Name: 37274, dtype: int64
0    58975
1        1
Name: 37275, dtype: int64
0    58975
1        1

Name: 37289, dtype: int64
0    58975
1        1
Name: 3729, dtype: int64
0    58963
1       13
Name: 37300, dtype: int64
0    58974
1        2
Name: 37311, dtype: int64
0    58975
1        1
Name: 37312, dtype: int64
0    58971
1        5
Name: 37313, dtype: int64
0    58973
1        3
Name: 3732, dtype: int64
0    58975
1        1
Name: 3739, dtype: int64
0    58974
1        2
Name: 37410, dtype: int64
0    58974
1        2
Name: 37420, dtype: int64
0    58940
1       36
Name: 37430, dtype: int64
0    58973
1        3
Name: 37431, dtype: int64
0    58972
1        4
Name: 37432, dtype: int64
0    58974
1        2
Name: 37443, dtype: int64
0    58975
1        1
Name: 37452, dtype: int64
0    58975
1        1
Name: 37482, dtype: int64
0    58975
1        1
Name: 37489, dtype: int64
0    58975
1        1
Name: 3749, dtype: int64
0    58975
1        1
Name: 37500, dtype: int64
0    58975
1        1
Name: 37501, dtype: int64
0    58967
1        9
Name: 37515, dtype: int64
0    58975
1        1
Name: 37520, dtype: int64
0    58974
1        2
Name: 37530, dtype: int64
0    58969
1        7
Name: 37555, dtype: int64
0    58974
1        2
Name: 37556, dtype: int64
0    58975
1        1
Name: 3759, dtype: int64
0    58965
1       11
Name: 37601, dtype: int64
0    58975
1        1
Name: 37603, dtype: int64
0    58975
1        1
Name: 37611, dtype: int64
0    58975
1        1
Name: 37612, dtype: int64
0    58967
1        9
Name: 37630, dtype: int64
0    58972
1        4
Name: 37632, dtype: int64
0    58970
1        6
Name: 37633, dtype: int64
0    58975
1        1
Name: 37635, dtype: int64
0    58974
1        2
Name: 37652, dtype: int64
0    58971
1        5
Name: 37689, dtype: int64
0    58975
1        1
Name: 3769, dtype: int64
0    58972
1        4
Name: 37700, dtype: int64
0    58969
1        7
Name: 37701, dtype: int64
0    58975
1        1
Name: 37702, dtype: int64
0    58971
1        5
Name: 37710, dtype: int64
0    58972
1        4
Name: 37716, dtype: int64
0    58969
1        7
Name: 37730, dtype: int64
0    58975
1        1
Name: 37733, dtype: int64
0    58960
1       16
Name: 37739, dtype: int64
0    58965
1       11
Name: 37741, dtype: int64
0    58969
1        7
Name: 37749, dtype: int64
0    58974
1        2
Name: 37751, dtype: int64
0    58967
1        9
Name: 37775, dtype: int64
0    58973
1        3
Name: 37800, dtype: int64
0    58969
1        7
Name: 37810, dtype: int64
0    58975
1        1
Name: 37820, dtype: int64
0    58974
1        2
Name: 37842, dtype: int64
0    58975
1        1
Name: 37850, dtype: int64
0    58945
1       31
Name: 37851, dtype: int64
0    58964
1       12
Name: 37852, dtype: int64
0    58973
1        3
Name: 37853, dtype: int64
0    58934
1       42
Name: 37854, dtype: int64
0    58973
1        3
Name: 37855, dtype: int64
0    58974
1        2
Name: 37871, dtype: int64
0    58972
1        4
Name: 37881, dtype: int64
0    58975
1        1
Name: 37882, dtype: int64
0    58975
1        1
Name: 37886, dtype: int64
0    58969
1        7
Name: 37887, dtype: int64
0    58968
1        8
Name: 3789, dtype: int64
0    58971
1        5
Name: 37900, dtype: int64
0    58974
1        2
Name: 37909, dtype: int64
0    58972
1        4
Name: 37921, dtype: int64
0    58974
1        2
Name: 37922, dtype: int64
0    58965
1       11
Name: 37923, dtype: int64
0    58972
1        4
Name: 37924, dtype: int64
0    58974
1        2
Name: 37940, dtype: int64
0    58942
1       34
Name: 37941, dtype: int64
0    58975
1        1
Name: 37942, dtype: int64
0    58966
1       10
Name: 37943, dtype: int64
0    58959
1       17
Name: 37950, dtype: int64
0    58975
1        1
Name: 37952, dtype: int64
0    58975
1        1
Name: 37955, dtype: int64
0    58973
1        3
Name: 37956, dtype: int64
0    58974
1        2
Name: 3798, dtype: int64
0    58975
1        1
Name: 37990, dtype: int64
0    58970
1        6
Name: 37991, dtype: int64
0    58972
1        4
Name: 37992, dtype: int64
0    58974
1        2
Name: 37993, dtype: int64
0    58972
1        4
Name: 37999, dtype: int64
0    58975
1        1
Name: 38000, dtype: int64
0    58975
1        1
Name: 38003, dtype: int64
0    58963
1       13
Name: 38010, dtype: int64
0    58975
1        1
Name: 38014, dtype: int64
0    58975
1        1
Name: 38015, dtype: int64
0    58975
1        1
Name: 38021, dtype: int64
0    58973
1        3
Name: 38022, dtype: int64
0    58974
1        2
Name: 38023, dtype: int64
0    58975
1        1
Name: 38039, dtype: int64
0    58966
1       10
Name: 3804, dtype: int64
0    58974
1        2
Name: 38100, dtype: int64
0    58972
1        4
Name: 3814, dtype: int64
0    58975
1        1
Name: 38200, dtype: int64
0    58973
1        3
Name: 38201, dtype: int64
0    58975
1        1
Name: 3824, dtype: int64
0    58948
1       28
Name: 3829, dtype: int64
0    58968
1        8
Name: 38300, dtype: int64
0    58975
1        1
Name: 38302, dtype: int64
0    58974
1        2
Name: 3831, dtype: int64
0    58975
1        1
Name: 38321, dtype: int64
0    58969
1        7
Name: 3839, dtype: int64
0    58975
1        1
Name: 38401, dtype: int64
0    58974
1        2
Name: 38420, dtype: int64
0    58975
1        1
Name: 38582, dtype: int64
0    58953
1       23
Name: 38589, dtype: int64
0    58936
1       40
Name: 38600, dtype: int64
0    58974
1        2
Name: 38610, dtype: int64
0    58941
1       35
Name: 38611, dtype: int64
0    58970
1        6
Name: 38612, dtype: int64
0    58975
1        1
Name: 38619, dtype: int64
0    58975
1        1
Name: 3862, dtype: int64
0    58970
1        6
Name: 38630, dtype: int64
0    58975
1        1
Name: 3869, dtype: int64
0    58975
1        1
Name: 3879, dtype: int64
0    58966
1       10
Name: 38830, dtype: int64
0    58975
1        1
Name: 38832, dtype: int64
0    58974
1        2
Name: 38842, dtype: int64
0    58974
1        2
Name: 3885, dtype: int64
0    58975
1        1
Name: 38860, dtype: int64
0    58963
1       13
Name: 38861, dtype: int64
0    58965
1       11
Name: 38869, dtype: int64
0    58971
1        5
Name: 38870, dtype: int64
0    58975
1        1
Name: 38871, dtype: int64
0    58974
1        2
Name: 38872, dtype: int64
0    58972
1        4
Name: 3888, dtype: int64
0    58971
1        5
Name: 38900, dtype: int64
0    58973
1        3
Name: 38903, dtype: int64
0    58975
1        1
Name: 38905, dtype: int64
0    58975
1        1
Name: 38906, dtype: int64
0    58975
1        1
Name: 38908, dtype: int64
0    58959
1       17
Name: 38910, dtype: int64
0    58973
1        3
Name: 38912, dtype: int64
0    58970
1        6
Name: 38915, dtype: int64
0    58975
1        1
Name: 38917, dtype: int64
0    58974
1        2
Name: 38918, dtype: int64
0    58975
1        1
Name: 38921, dtype: int64
0    58973
1        3
Name: 38922, dtype: int64
0    58965
1       11
Name: 3897, dtype: int64
0    58961
1       15
Name: 3898, dtype: int64
0    58750
1      226
Name: 3899, dtype: int64
0    58975
1        1
Name: 390, dtype: int64
0    58974
1        2
Name: 3910, dtype: int64
0    58970
1        6
Name: 3911, dtype: int64
0    58975
1        1
Name: 3918, dtype: int64
0    58974
1        2
Name: 393, dtype: int64
0    58946
1       30
Name: 3940, dtype: int64
0    58921
1       55
Name: 3941, dtype: int64
0    58922
1       54
Name: 3942, dtype: int64
0    58972
1        4
Name: 3949, dtype: int64
0    58950
1       26
Name: 3950, dtype: int64
0    58971
1        5
Name: 3951, dtype: int64
0    58970
1        6
Name: 3952, dtype: int64
0    58975
1        1
Name: 3959, dtype: int64
0    58924
1       52
Name: 3960, dtype: int64
0    58961
1       15
Name: 3961, dtype: int64
0    58590
1      386
Name: 3962, dtype: int64
0    58635
1      341
Name: 3963, dtype: int64
0    58862
1      114
Name: 3968, dtype: int64
0    58975
1        1
Name: 3969, dtype: int64
0    58197
1      779
Name: 3970, dtype: int64
0    58974
1        2
Name: 3971, dtype: int64
0    58913
1       63
Name: 39890, dtype: int64
0    58539
1      437
Name: 39891, dtype: int64
0    58975
1        1
Name: 39899, dtype: int64
0    58804
1      172
Name: 4010, dtype: int64
0    58522
1      454
Name: 4011, dtype: int64
0    38280
1    20696
Name: 4019, dtype: int64
0    58973
1        3
Name: 40200, dtype: int64
0    58972
1        4
Name: 40201, dtype: int64
0    58975
1        1
Name: 40210, dtype: int64
0    58975
1        1
Name: 40211, dtype: int64
0    58960
1       16
Name: 40290, dtype: int64
0    58894
1       82
Name: 40291, dtype: int64
0    58920
1       56
Name: 40300, dtype: int64
0    58804
1      172
Name: 40301, dtype: int64
0    58854
1      122
Name: 40310, dtype: int64
0    58937
1       39
Name: 40311, dtype: int64
0    55555
1     3421
Name: 40390, dtype: int64
0    56346
1     2630
Name: 40391, dtype: int64
0    58975
1        1
Name: 40400, dtype: int64
0    58972
1        4
Name: 40401, dtype: int64
0    58968
1        8
Name: 40403, dtype: int64
0    58975
1        1
Name: 40411, dtype: int64
0    58975
1        1
Name: 40413, dtype: int64
0    58973
1        3
Name: 40490, dtype: int64
0    58942
1       34
Name: 40491, dtype: int64
0    58972
1        4
Name: 40492, dtype: int64
0    58950
1       26
Name: 40493, dtype: int64
0    58971
1        5
Name: 40501, dtype: int64
0    58975
1        1
Name: 40511, dtype: int64
0    58957
1       19
Name: 40591, dtype: int64
0    58971
1        5
Name: 40599, dtype: int64
0    58974
1        2
Name: 41000, dtype: int64
0    58834
1      142
Name: 41001, dtype: int64
0    58969
1        7
Name: 41002, dtype: int64
0    58975
1        1
Name: 41010, dtype: int64
0    58432
1      544
Name: 41011, dtype: int64
0    58947
1       29
Name: 41012, dtype: int64
0    58975
1        1
Name: 41020, dtype: int64
0    58861
1      115
Name: 41021, dtype: int64
0    58973
1        3
Name: 41022, dtype: int64
0    58836
1      140
Name: 41031, dtype: int64
0    58974
1        2
Name: 41032, dtype: int64
0    58975
1        1
Name: 41040, dtype: int64
0    58403
1      573
Name: 41041, dtype: int64
0    58948
1       28
Name: 41042, dtype: int64
0    58929
1       47
Name: 41051, dtype: int64
0    58940
1       36
Name: 41061, dtype: int64
0    55921
1     3055
Name: 41071, dtype: int64
0    58697
1      279
Name: 41072, dtype: int64
0    58903
1       73
Name: 41081, dtype: int64
0    58968
1        8
Name: 41082, dtype: int64
0    58973
1        3
Name: 41090, dtype: int64
0    58623
1      353
Name: 41091, dtype: int64
0    58923
1       53
Name: 41092, dtype: int64
0    58937
1       39
Name: 4110, dtype: int64
0    57313
1     1663
Name: 4111, dtype: int64
0    58959
1       17
Name: 41181, dtype: int64
0    58771
1      205
Name: 41189, dtype: int64
0    55698
1     3278
Name: 412, dtype: int64
0    58961
1       15
Name: 4131, dtype: int64
0    57876
1     1100
Name: 4139, dtype: int64
0    57482
1     1494
Name: 41400, dtype: int64
0    46548
1    12428
Name: 41401, dtype: int64
0    58502
1      474
Name: 41402, dtype: int64

0    58975
1        1
Name: 41403, dtype: int64
0    58945
1       31
Name: 41404, dtype: int64
0    58966
1       10
Name: 41405, dtype: int64
0    58933
1       43
Name: 41410, dtype: int64
0    58962
1       14
Name: 41411, dtype: int64
0    58896
1       80
Name: 41412, dtype: int64
0    58968
1        8
Name: 41419, dtype: int64
0    58684
1      292
Name: 4142, dtype: int64
0    58975
1        1
Name: 4144, dtype: int64
0    58111
1      865
Name: 4148, dtype: int64
0    58959
1       17
Name: 4149, dtype: int64
0    58967
1        9
Name: 4150, dtype: int64
0    58777
1      199
Name: 41511, dtype: int64
0    58931
1       45
Name: 41512, dtype: int64
0    58969
1        7
Name: 41513, dtype: int64
0    58117
1      859
Name: 41519, dtype: int64
0    58575
1      401
Name: 4160, dtype: int64
0    58921
1       55
Name: 4162, dtype: int64
0    56828
1     2148
Name: 4168, dtype: int64
0    58896
1       80
Name: 4169, dtype: int64
0    58974
1        2
Name: 4170, dtype: int64
0    58973
1        3
Name: 4171, dtype: int64
0    58961
1       15
Name: 4178, dtype: int64
0    58975
1        1
Name: 4179, dtype: int64
0    58963
1       13
Name: 4200, dtype: int64
0    58826
1      150
Name: 42090, dtype: int64
0    58920
1       56
Name: 42091, dtype: int64
0    58935
1       41
Name: 42099, dtype: int64
0    58591
1      385
Name: 4210, dtype: int64
0    58967
1        9
Name: 4219, dtype: int64
0    58972
1        4
Name: 4220, dtype: int64
0    58971
1        5
Name: 42290, dtype: int64
0    58965
1       11
Name: 42291, dtype: int64
0    58975
1        1
Name: 42292, dtype: int64
0    58972
1        4
Name: 42293, dtype: int64
0    58888
1       88
Name: 4230, dtype: int64
0    58939
1       37
Name: 4231, dtype: int64
0    58924
1       52
Name: 4232, dtype: int64
0    58743
1      233
Name: 4233, dtype: int64
0    58891
1       85
Name: 4238, dtype: int64
0    58531
1      445
Name: 4239, dtype: int64
0    56052
1     2924
Name: 4240, dtype: int64
0    56426
1     2550
Name: 4241, dtype: int64
0    58795
1      181
Name: 4242, dtype: int64
0    58966
1       10
Name: 4243, dtype: int64
0    58932
1       44
Name: 42490, dtype: int64
0    58975
1        1
Name: 42491, dtype: int64
0    58793
1      183
Name: 4251, dtype: int64
0    58967
1        9
Name: 42511, dtype: int64
0    58970
1        6
Name: 42518, dtype: int64
0    58967
1        9
Name: 4253, dtype: int64
0    57267
1     1709
Name: 4254, dtype: int64
0    58901
1       75
Name: 4255, dtype: int64
0    58947
1       29
Name: 4257, dtype: int64
0    58931
1       45
Name: 4258, dtype: int64
0    58923
1       53
Name: 4259, dtype: int64
0    58446
1      530
Name: 4260, dtype: int64
0    58947
1       29
Name: 42610, dtype: int64
0    58842
1      134
Name: 42611, dtype: int64
0    58930
1       46
Name: 42612, dtype: int64
0    58843
1      133
Name: 42613, dtype: int64
0    58964
1       12
Name: 4262, dtype: int64
0    58692
1      284
Name: 4263, dtype: int64
0    58810
1      166
Name: 4264, dtype: int64
0    58972
1        4
Name: 42650, dtype: int64
0    58971
1        5
Name: 42651, dtype: int64
0    58938
1       38
Name: 42652, dtype: int64
0    58953
1       23
Name: 42653, dtype: int64
0    58975
1        1
Name: 42654, dtype: int64
0    58958
1       18
Name: 4266, dtype: int64
0    58952
1       24
Name: 4267, dtype: int64
0    58929
1       47
Name: 42682, dtype: int64
0    58948
1       28
Name: 42689, dtype: int64
0    58964
1       12
Name: 4269, dtype: int64
0    58815
1      161
Name: 4270, dtype: int64
0    57165
1     1811
Name: 4271, dtype: int64
0    58965
1       11
Name: 4272, dtype: int64
0    46090
1    12886
Name: 42731, dtype: int64
0    57759
1     1217
Name: 42732, dtype: int64
0    58408
1      568
Name: 42741, dtype: int64
0    58972
1        4
Name: 42742, dtype: int64
0    57615
1     1361
Name: 4275, dtype: int64
0    58972
1        4
Name: 42760, dtype: int64
0    58950
1       26
Name: 42761, dtype: int64
0    58894
1       82
Name: 42769, dtype: int64
0    58587
1      389
Name: 42781, dtype: int64
0    56523
1     2453
Name: 42789, dtype: int64
0    58956
1       20
Name: 4279, dtype: int64
0    45865
1    13111
Name: 4280, dtype: int64
0    58953
1       23
Name: 4281, dtype: int64
0    58560
1      416
Name: 42820, dtype: int64
0    58484
1      492
Name: 42821, dtype: int64
0    57879
1     1097
Name: 42822, dtype: int64
0    57833
1     1143
Name: 42823, dtype: int64
0    58176
1      800
Name: 42830, dtype: int64
0    58544
1      432
Name: 42831, dtype: int64
0    57736
1     1240
Name: 42832, dtype: int64
0    57756
1     1220
Name: 42833, dtype: int64
0    58866
1      110
Name: 42840, dtype: int64
0    58903
1       73
Name: 42841, dtype: int64
0    58797
1      179
Name: 42842, dtype: int64
0    58649
1      327
Name: 42843, dtype: int64
0    58963
1       13
Name: 4289, dtype: int64
0    58963
1       13
Name: 4290, dtype: int64
0    58971
1        5
Name: 4291, dtype: int64
0    58974
1        2
Name: 4292, dtype: int64
0    58906
1       70
Name: 4293, dtype: int64
0    58955
1       21
Name: 4294, dtype: int64
0    58889
1       87
Name: 4295, dtype: int64
0    58973
1        3
Name: 4296, dtype: int64
0    58930
1       46
Name: 42971, dtype: int64
0    58965
1       11
Name: 42979, dtype: int64
0    58975
1        1
Name: 42981, dtype: int64
0    58919
1       57
Name: 42983, dtype: int64
0    58878
1       98
Name: 42989, dtype: int64
0    58836
1      140
Name: 4299, dtype: int64
0    58318
1      658
Name: 430, dtype: int64
0    57609
1     1367
Name: 431, dtype: int64
0    58970
1        6
Name: 4320, dtype: int64
0    58584
1      392
Name: 4321, dtype: int64
0    58901
1       75
Name: 4329, dtype: int64
0    58959
1       17
Name: 43300, dtype: int64
0    58941
1       35
Name: 43301, dtype: int64
0    58143
1      833
Name: 43310, dtype: int64
0    58849
1      127
Name: 43311, dtype: int64
0    58933
1       43
Name: 43320, dtype: int64
0    58953
1       23
Name: 43321, dtype: int64
0    58711
1      265
Name: 43330, dtype: int64
0    58925
1       51
Name: 43331, dtype: int64
0    58967
1        9
Name: 43380, dtype: int64
0    58973
1        3
Name: 43381, dtype: int64
0    58974
1        2
Name: 43391, dtype: int64
0    58971
1        5
Name: 43400, dtype: int64
0    58916
1       60
Name: 43401, dtype: int64
0    58964
1       12
Name: 43410, dtype: int64
0    58334
1      642
Name: 43411, dtype: int64
0    58946
1       30
Name: 43490, dtype: int64
0    58245
1      731
Name: 43491, dtype: int64
0    58973
1        3
Name: 4350, dtype: int64
0    58974
1        2
Name: 4351, dtype: int64
0    58942
1       34
Name: 4352, dtype: int64
0    58971
1        5
Name: 4353, dtype: int64
0    58948
1       28
Name: 4358, dtype: int64
0    58880
1       96
Name: 4359, dtype: int64
0    58954
1       22
Name: 436, dtype: int64
0    58780
1      196
Name: 4370, dtype: int64
0    58964
1       12
Name: 4371, dtype: int64
0    58912
1       64
Name: 4372, dtype: int64
0    58563
1      413
Name: 4373, dtype: int64
0    58970
1        6
Name: 4374, dtype: int64
0    58961
1       15
Name: 4375, dtype: int64
0    58973
1        3
Name: 4376, dtype: int64
0    58970
1        6
Name: 4377, dtype: int64
0    58956
1       20
Name: 4378, dtype: int64
0    58912
1       64
Name: 4379, dtype: int64
0    58948
1       28
Name: 4380, dtype: int64
0    58962
1       14
Name: 43810, dtype: int64
0    58736
1      240
Name: 43811, dtype: int64
0    58960
1       16
Name: 43812, dtype: int64
0    58934
1       42
Name: 43813, dtype: int64
0    58975
1        1
Name: 43814, dtype: int64
0    58946
1       30
Name: 43819, dtype: int64
0    58539
1      437
Name: 43820, dtype: int64
0    58955
1       21
Name: 43821, dtype: int64
0    58951
1       25
Name: 43822, dtype: int64
0    58967
1        9
Name: 43830, dtype: int64
0    58975
1        1
Name: 43831, dtype: int64
0    58973
1        3
Name: 43840, dtype: int64
0    58967
1        9
Name: 43850, dtype: int64
0    58974
1        2
Name: 43852, dtype: int64
0    58956
1       20
Name: 43853, dtype: int64
0    58968
1        8
Name: 4386, dtype: int64
0    58949
1       27
Name: 4387, dtype: int64
0    58974
1        2
Name: 43881, dtype: int64
0    58889
1       87
Name: 43882, dtype: int64
0    58895
1       81
Name: 43883, dtype: int64
0    58966
1       10
Name: 43884, dtype: int64
0    58975
1        1
Name: 43885, dtype: int64
0    58511
1      465
Name: 43889, dtype: int64
0    58907
1       69
Name: 4389, dtype: int64
0    58693
1      283
Name: 4400, dtype: int64
0    58743
1      233
Name: 4401, dtype: int64
0    58541
1      435
Name: 44020, dtype: int64
0    58719
1      257
Name: 44021, dtype: int64
0    58888
1       88
Name: 44022, dtype: int64
0    58712
1      264
Name: 44023, dtype: int64
0    58649
1      327
Name: 44024, dtype: int64
0    58959
1       17
Name: 44029, dtype: int64
0    58967
1        9
Name: 44030, dtype: int64
0    58927
1       49
Name: 44031, dtype: int64
0    58970
1        6
Name: 44032, dtype: int64
0    58875
1      101
Name: 4404, dtype: int64
0    58913
1       63
Name: 4408, dtype: int64
0    58973
1        3
Name: 4409, dtype: int64
0    58956
1       20
Name: 44100, dtype: int64
0    58745
1      231
Name: 44101, dtype: int64
0    58906
1       70
Name: 44102, dtype: int64
0    58888
1       88
Name: 44103, dtype: int64
0    58950
1       26
Name: 4411, dtype: int64
0    58486
1      490
Name: 4412, dtype: int64
0    58900
1       76
Name: 4413, dtype: int64
0    58316
1      660
Name: 4414, dtype: int64
0    58960
1       16
Name: 4416, dtype: int64
0    58911
1       65
Name: 4417, dtype: int64
0    58970
1        6
Name: 4419, dtype: int64
0    58967
1        9
Name: 4420, dtype: int64
0    58972
1        4
Name: 4421, dtype: int64
0    58896
1       80
Name: 4422, dtype: int64
0    58834
1      142
Name: 4423, dtype: int64
0    58953
1       23
Name: 44281, dtype: int64
0    58971
1        5
Name: 44282, dtype: int64
0    58961
1       15
Name: 44283, dtype: int64
0    58931
1       45
Name: 44284, dtype: int64
0    58964
1       12
Name: 44289, dtype: int64
0    58820
1      156
Name: 4430, dtype: int64
0    58975
1        1
Name: 4431, dtype: int64
0    58930
1       46
Name: 44321, dtype: int64
0    58942
1       34
Name: 44322, dtype: int64
0    58969
1        7
Name: 44323, dtype: int64
0    58937
1       39
Name: 44324, dtype: int64
0    58930
1       46
Name: 44329, dtype: int64
0    58920
1       56
Name: 44381, dtype: int64
0    58975
1        1
Name: 44382, dtype: int64
0    58954
1       22
Name: 44389, dtype: int64
0    57575
1     1401
Name: 4439, dtype: int64
0    58922
1       54
Name: 4440, dtype: int64
0    58967
1        9

Name: 44409, dtype: int64
0    58939
1       37
Name: 4441, dtype: int64
0    58913
1       63
Name: 44421, dtype: int64
0    58773
1      203
Name: 44422, dtype: int64
0    58923
1       53
Name: 44481, dtype: int64
0    58875
1      101
Name: 44489, dtype: int64
0    58968
1        8
Name: 4449, dtype: int64
0    58966
1       10
Name: 44502, dtype: int64
0    58973
1        3
Name: 44581, dtype: int64
0    58974
1        2
Name: 44589, dtype: int64
0    58963
1       13
Name: 4460, dtype: int64
0    58975
1        1
Name: 44620, dtype: int64
0    58972
1        4
Name: 44621, dtype: int64
0    58953
1       23
Name: 44629, dtype: int64
0    58924
1       52
Name: 4464, dtype: int64
0    58920
1       56
Name: 4465, dtype: int64
0    58937
1       39
Name: 4466, dtype: int64
0    58970
1        6
Name: 4467, dtype: int64
0    58947
1       29
Name: 4470, dtype: int64
0    58845
1      131
Name: 4471, dtype: int64
0    58948
1       28
Name: 4472, dtype: int64
0    58975
1        1
Name: 4473, dtype: int64
0    58952
1       24
Name: 4474, dtype: int64
0    58975
1        1
Name: 4475, dtype: int64
0    58925
1       51
Name: 4476, dtype: int64
0    58971
1        5
Name: 44771, dtype: int64
0    58974
1        2
Name: 44772, dtype: int64
0    58974
1        2
Name: 44773, dtype: int64
0    58959
1       17
Name: 4478, dtype: int64
0    58965
1       11
Name: 4479, dtype: int64
0    58971
1        5
Name: 4480, dtype: int64
0    58975
1        1
Name: 4481, dtype: int64
0    58971
1        5
Name: 4489, dtype: int64
0    58942
1       34
Name: 449, dtype: int64
0    58970
1        6
Name: 4510, dtype: int64
0    58975
1        1
Name: 45111, dtype: int64
0    58963
1       13
Name: 45119, dtype: int64
0    58974
1        2
Name: 4512, dtype: int64
0    58975
1        1
Name: 45181, dtype: int64
0    58774
1      202
Name: 45182, dtype: int64
0    58968
1        8
Name: 45183, dtype: int64
0    58864
1      112
Name: 45184, dtype: int64
0    58938
1       38
Name: 45189, dtype: int64
0    58970
1        6
Name: 4519, dtype: int64
0    58719
1      257
Name: 452, dtype: int64
0    58963
1       13
Name: 4530, dtype: int64
0    58970
1        6
Name: 4531, dtype: int64
0    58897
1       79
Name: 4532, dtype: int64
0    58967
1        9
Name: 4533, dtype: int64
0    58881
1       95
Name: 45340, dtype: int64
0    58645
1      331
Name: 45341, dtype: int64
0    58840
1      136
Name: 45342, dtype: int64
0    58970
1        6
Name: 45350, dtype: int64
0    58952
1       24
Name: 45351, dtype: int64
0    58968
1        8
Name: 45352, dtype: int64
0    58955
1       21
Name: 4536, dtype: int64
0    58971
1        5
Name: 45371, dtype: int64
0    58970
1        6
Name: 45372, dtype: int64
0    58975
1        1
Name: 45374, dtype: int64
0    58967
1        9
Name: 45375, dtype: int64
0    58970
1        6
Name: 45376, dtype: int64
0    58968
1        8
Name: 45377, dtype: int64
0    58974
1        2
Name: 45379, dtype: int64
0    58369
1      607
Name: 4538, dtype: int64
0    58857
1      119
Name: 45381, dtype: int64
0    58898
1       78
Name: 45382, dtype: int64
0    58954
1       22
Name: 45383, dtype: int64
0    58947
1       29
Name: 45384, dtype: int64
0    58946
1       30
Name: 45385, dtype: int64
0    58938
1       38
Name: 45386, dtype: int64
0    58967
1        9
Name: 45387, dtype: int64
0    58967
1        9
Name: 45389, dtype: int64
0    58957
1       19
Name: 4539, dtype: int64
0    58971
1        5
Name: 4540, dtype: int64
0    58973
1        3
Name: 4541, dtype: int64
0    58975
1        1
Name: 4542, dtype: int64
0    58974
1        2
Name: 4548, dtype: int64
0    58932
1       44
Name: 4549, dtype: int64
0    58764
1      212
Name: 4550, dtype: int64
0    58973
1        3
Name: 4551, dtype: int64
0    58874
1      102
Name: 4552, dtype: int64
0    58908
1       68
Name: 4553, dtype: int64
0    58973
1        3
Name: 4554, dtype: int64
0    58933
1       43
Name: 4555, dtype: int64
0    58907
1       69
Name: 4556, dtype: int64
0    58918
1       58
Name: 4558, dtype: int64
0    58973
1        3
Name: 4559, dtype: int64
0    58943
1       33
Name: 4560, dtype: int64
0    58854
1      122
Name: 4561, dtype: int64
0    58624
1      352
Name: 45620, dtype: int64
0    58558
1      418
Name: 45621, dtype: int64
0    58788
1      188
Name: 4568, dtype: int64
0    58962
1       14
Name: 4570, dtype: int64
0    58910
1       66
Name: 4571, dtype: int64
0    58975
1        1
Name: 4572, dtype: int64
0    58929
1       47
Name: 4578, dtype: int64
0    58690
1      286
Name: 4580, dtype: int64
0    58969
1        7
Name: 4581, dtype: int64
0    58758
1      218
Name: 4582, dtype: int64
0    58856
1      120
Name: 45821, dtype: int64
0    56855
1     2121
Name: 45829, dtype: int64
0    58697
1      279
Name: 4588, dtype: int64
0    56925
1     2051
Name: 4589, dtype: int64
0    58861
1      115
Name: 4590, dtype: int64
0    58975
1        1
Name: 45910, dtype: int64
0    58815
1      161
Name: 4592, dtype: int64
0    58473
1      503
Name: 45981, dtype: int64
0    58948
1       28
Name: 45989, dtype: int64
0    58950
1       26
Name: 4599, dtype: int64
0    58974
1        2
Name: 460, dtype: int64
0    58964
1       12
Name: 4610, dtype: int64
0    58974
1        2
Name: 4611, dtype: int64
0    58974
1        2
Name: 4612, dtype: int64
0    58966
1       10
Name: 4613, dtype: int64
0    58963
1       13
Name: 4618, dtype: int64
0    58921
1       55
Name: 4619, dtype: int64
0    58942
1       34
Name: 462, dtype: int64
0    58972
1        4
Name: 463, dtype: int64
0    58966
1       10
Name: 46400, dtype: int64
0    58963
1       13
Name: 46410, dtype: int64
0    58971
1        5
Name: 46411, dtype: int64
0    58961
1       15
Name: 46430, dtype: int64
0    58967
1        9
Name: 46431, dtype: int64
0    58965
1       11
Name: 46450, dtype: int64
0    58970
1        6
Name: 46451, dtype: int64
0    58880
1       96
Name: 4659, dtype: int64
0    58850
1      126
Name: 4660, dtype: int64
0    58969
1        7
Name: 46611, dtype: int64
0    58966
1       10
Name: 46619, dtype: int64
0    58969
1        7
Name: 470, dtype: int64
0    58973
1        3
Name: 4710, dtype: int64
0    58971
1        5
Name: 4718, dtype: int64
0    58973
1        3
Name: 4719, dtype: int64
0    58964
1       12
Name: 4720, dtype: int64
0    58958
1       18
Name: 4730, dtype: int64
0    58970
1        6
Name: 4731, dtype: int64
0    58968
1        8
Name: 4732, dtype: int64
0    58969
1        7
Name: 4733, dtype: int64
0    58955
1       21
Name: 4738, dtype: int64
0    58828
1      148
Name: 4739, dtype: int64
0    58975
1        1
Name: 47400, dtype: int64
0    58973
1        3
Name: 47411, dtype: int64
0    58974
1        2
Name: 47412, dtype: int64
0    58974
1        2
Name: 4748, dtype: int64
0    58975
1        1
Name: 4749, dtype: int64
0    58961
1       15
Name: 475, dtype: int64
0    58973
1        3
Name: 4770, dtype: int64
0    58975
1        1
Name: 4772, dtype: int64
0    58962
1       14
Name: 4778, dtype: int64
0    58929
1       47
Name: 4779, dtype: int64
0    58974
1        2
Name: 4780, dtype: int64
0    58965
1       11
Name: 4781, dtype: int64
0    58975
1        1
Name: 47811, dtype: int64
0    58958
1       18
Name: 47819, dtype: int64
0    58973
1        3
Name: 47820, dtype: int64
0    58972
1        4
Name: 47821, dtype: int64
0    58967
1        9
Name: 47822, dtype: int64
0    58954
1       22
Name: 47824, dtype: int64
0    58960
1       16
Name: 47825, dtype: int64
0    58915
1       61
Name: 47829, dtype: int64
0    58939
1       37
Name: 47830, dtype: int64
0    58902
1       74
Name: 47831, dtype: int64
0    58956
1       20
Name: 47832, dtype: int64
0    58960
1       16
Name: 47833, dtype: int64
0    58971
1        5
Name: 47834, dtype: int64
0    58965
1       11
Name: 4784, dtype: int64
0    58931
1       45
Name: 4785, dtype: int64
0    58831
1      145
Name: 4786, dtype: int64
0    58974
1        2
Name: 47870, dtype: int64
0    58975
1        1
Name: 47871, dtype: int64
0    58915
1       61
Name: 47874, dtype: int64
0    58954
1       22
Name: 47875, dtype: int64
0    58969
1        7
Name: 47879, dtype: int64
0    58974
1        2
Name: 4789, dtype: int64
0    58956
1       20
Name: 4801, dtype: int64
0    58968
1        8
Name: 4802, dtype: int64
0    58969
1        7
Name: 4808, dtype: int64
0    58953
1       23
Name: 4809, dtype: int64
0    58782
1      194
Name: 481, dtype: int64
0    58750
1      226
Name: 4820, dtype: int64
0    58546
1      430
Name: 4821, dtype: int64
0    58882
1       94
Name: 4822, dtype: int64
0    58957
1       19
Name: 48230, dtype: int64
0    58971
1        5
Name: 48231, dtype: int64
0    58970
1        6
Name: 48232, dtype: int64
0    58958
1       18
Name: 48239, dtype: int64
0    58953
1       23
Name: 48240, dtype: int64
0    58187
1      789
Name: 48241, dtype: int64
0    58814
1      162
Name: 48242, dtype: int64
0    58955
1       21
Name: 48249, dtype: int64
0    58969
1        7
Name: 48281, dtype: int64
0    58872
1      104
Name: 48282, dtype: int64
0    58712
1      264
Name: 48283, dtype: int64
0    58947
1       29
Name: 48284, dtype: int64
0    58962
1       14
Name: 48289, dtype: int64
0    58749
1      227
Name: 4829, dtype: int64
0    58967
1        9
Name: 4830, dtype: int64
0    58959
1       17
Name: 4838, dtype: int64
0    58959
1       17
Name: 4841, dtype: int64
0    58975
1        1
Name: 4843, dtype: int64
0    58917
1       59
Name: 4846, dtype: int64
0    58958
1       18
Name: 4847, dtype: int64
0    58973
1        3
Name: 4848, dtype: int64
0    58917
1       59
Name: 485, dtype: int64
0    54138
1     4838
Name: 486, dtype: int64
0    58896
1       80
Name: 4870, dtype: int64
0    58922
1       54
Name: 4871, dtype: int64
0    58975
1        1
Name: 4878, dtype: int64
0    58973
1        3
Name: 48801, dtype: int64
0    58965
1       11
Name: 4881, dtype: int64
0    58937
1       39
Name: 490, dtype: int64
0    58975
1        1
Name: 4910, dtype: int64
0    58926
1       50
Name: 49120, dtype: int64
0    57778
1     1198
Name: 49121, dtype: int64
0    58917
1       59
Name: 49122, dtype: int64
0    58968
1        8
Name: 4918, dtype: int64
0    58932
1       44
Name: 4919, dtype: int64
0    58933
1       43
Name: 4920, dtype: int64
0    58335
1      641
Name: 4928, dtype: int64
0    58944
1       32
Name: 49300, dtype: int64
0    58975
1        1
Name: 49301, dtype: int64
0    58967
1        9
Name: 49302, dtype: int64
0    58224
1      752
Name: 49320, dtype: int64
0    58967
1        9
Name: 49321, dtype: int64
0    58677
1      299
Name: 49322, dtype: int64
0    58968
1        8
Name: 49381, dtype: int64
0    58974
1        2
Name: 49382, dtype: int64
0    56781
1     2195
Name: 49390, dtype: int64
0    58945
1       31
Name: 49391, dtype: int64
0    58789
1      187
Name: 49392, dtype: int64
0    58785
1      191
Name: 4940, dtype: int64
0    58938
1       38
Name: 4941, dtype: int64
0    58975
1        1
Name: 4957, dtype: int64
0    58973
1        3

Name: 4958, dtype: int64
0    58970
1        6
Name: 4959, dtype: int64
0    54545
1     4431
Name: 496, dtype: int64
0    58972
1        4
Name: 500, dtype: int64
0    58860
1      116
Name: 501, dtype: int64
0    58970
1        6
Name: 502, dtype: int64
0    58966
1       10
Name: 5060, dtype: int64
0    55296
1     3680
Name: 5070, dtype: int64
0    58971
1        5
Name: 5071, dtype: int64
0    58964
1       12
Name: 5078, dtype: int64
0    58965
1       11
Name: 5080, dtype: int64
0    58951
1       25
Name: 5081, dtype: int64
0    58975
1        1
Name: 5082, dtype: int64
0    58975
1        1
Name: 5088, dtype: int64
0    58915
1       61
Name: 5100, dtype: int64
0    58786
1      190
Name: 5109, dtype: int64
0    58904
1       72
Name: 5110, dtype: int64
0    58949
1       27
Name: 5111, dtype: int64
0    58809
1      167
Name: 5118, dtype: int64
0    58844
1      132
Name: 51181, dtype: int64
0    58798
1      178
Name: 51189, dtype: int64
0    56242
1     2734
Name: 5119, dtype: int64
0    58948
1       28
Name: 5120, dtype: int64
0    58190
1      786
Name: 5121, dtype: int64
0    58970
1        6
Name: 5122, dtype: int64
0    58832
1      144
Name: 5128, dtype: int64
0    58974
1        2
Name: 51283, dtype: int64
0    58973
1        3
Name: 51284, dtype: int64
0    58959
1       17
Name: 51289, dtype: int64
0    58890
1       86
Name: 5130, dtype: int64
0    58969
1        7
Name: 5131, dtype: int64
0    58821
1      155
Name: 514, dtype: int64
0    58432
1      544
Name: 515, dtype: int64
0    58966
1       10
Name: 5160, dtype: int64
0    58975
1        1
Name: 5161, dtype: int64
0    58956
1       20
Name: 5163, dtype: int64
0    58964
1       12
Name: 51631, dtype: int64
0    58974
1        2
Name: 51633, dtype: int64
0    58975
1        1
Name: 51634, dtype: int64
0    58972
1        4
Name: 51636, dtype: int64
0    58975
1        1
Name: 5164, dtype: int64
0    58868
1      108
Name: 5168, dtype: int64
0    58974
1        2
Name: 5169, dtype: int64
0    58966
1       10
Name: 5172, dtype: int64
0    58968
1        8
Name: 5173, dtype: int64
0    58881
1       95
Name: 5178, dtype: int64
0    56811
1     2165
Name: 5180, dtype: int64
0    58921
1       55
Name: 5181, dtype: int64
0    58939
1       37
Name: 5183, dtype: int64
0    58671
1      305
Name: 5184, dtype: int64
0    57169
1     1807
Name: 5185, dtype: int64
0    58802
1      174
Name: 51851, dtype: int64
0    58897
1       79
Name: 51852, dtype: int64
0    58971
1        5
Name: 51853, dtype: int64
0    58974
1        2
Name: 5186, dtype: int64
0    58964
1       12
Name: 5187, dtype: int64
0    51479
1     7497
Name: 51881, dtype: int64
0    58215
1      761
Name: 51882, dtype: int64
0    58645
1      331
Name: 51883, dtype: int64
0    58292
1      684
Name: 51884, dtype: int64
0    58282
1      694
Name: 51889, dtype: int64
0    58975
1        1
Name: 51900, dtype: int64
0    58954
1       22
Name: 51901, dtype: int64
0    58825
1      151
Name: 51902, dtype: int64
0    58854
1      122
Name: 51909, dtype: int64
0    58740
1      236
Name: 5191, dtype: int64
0    58958
1       18
Name: 51911, dtype: int64
0    58442
1      534
Name: 51919, dtype: int64
0    58928
1       48
Name: 5192, dtype: int64
0    58961
1       15
Name: 5193, dtype: int64
0    58934
1       42
Name: 5194, dtype: int64
0    58940
1       36
Name: 5198, dtype: int64
0    58972
1        4
Name: 5199, dtype: int64
0    58975
1        1
Name: 5200, dtype: int64
0    58965
1       11
Name: 5206, dtype: int64
0    58879
1       97
Name: 52100, dtype: int64
0    58975
1        1
Name: 52101, dtype: int64
0    58975
1        1
Name: 52108, dtype: int64
0    58957
1       19
Name: 52109, dtype: int64
0    58969
1        7
Name: 52181, dtype: int64
0    58975
1        1
Name: 5219, dtype: int64
0    58939
1       37
Name: 5224, dtype: int64
0    58920
1       56
Name: 5225, dtype: int64
0    58973
1        3
Name: 5226, dtype: int64
0    58971
1        5
Name: 52310, dtype: int64
0    58973
1        3
Name: 5233, dtype: int64
0    58974
1        2
Name: 52330, dtype: int64
0    58974
1        2
Name: 52331, dtype: int64
0    58974
1        2
Name: 52333, dtype: int64
0    58975
1        1
Name: 5234, dtype: int64
0    58960
1       16
Name: 52340, dtype: int64
0    58974
1        2
Name: 52342, dtype: int64
0    58975
1        1
Name: 5235, dtype: int64
0    58968
1        8
Name: 5238, dtype: int64
0    58967
1        9
Name: 5239, dtype: int64
0    58970
1        6
Name: 52400, dtype: int64
0    58975
1        1
Name: 52406, dtype: int64
0    58973
1        3
Name: 52410, dtype: int64
0    58975
1        1
Name: 5244, dtype: int64
0    58966
1       10
Name: 52460, dtype: int64
0    58975
1        1
Name: 52462, dtype: int64
0    58973
1        3
Name: 52469, dtype: int64
0    58975
1        1
Name: 52489, dtype: int64
0    58966
1       10
Name: 52510, dtype: int64
0    58973
1        3
Name: 52511, dtype: int64
0    58975
1        1
Name: 52512, dtype: int64
0    58973
1        3
Name: 5253, dtype: int64
0    58974
1        2
Name: 52540, dtype: int64
0    58971
1        5
Name: 52550, dtype: int64
0    58974
1        2
Name: 52563, dtype: int64
0    58975
1        1
Name: 52579, dtype: int64
0    58950
1       26
Name: 5258, dtype: int64
0    58963
1       13
Name: 5259, dtype: int64
0    58975
1        1
Name: 5260, dtype: int64
0    58975
1        1
Name: 5262, dtype: int64
0    58967
1        9
Name: 5264, dtype: int64
0    58975
1        1
Name: 5265, dtype: int64
0    58970
1        6
Name: 52689, dtype: int64
0    58972
1        4
Name: 5269, dtype: int64
0    58939
1       37
Name: 5272, dtype: int64
0    58974
1        2
Name: 5273, dtype: int64
0    58967
1        9
Name: 5275, dtype: int64
0    58975
1        1
Name: 5277, dtype: int64
0    58974
1        2
Name: 5278, dtype: int64
0    58975
1        1
Name: 5279, dtype: int64
0    58957
1       19
Name: 5280, dtype: int64
0    58942
1       34
Name: 52800, dtype: int64
0    58927
1       49
Name: 52801, dtype: int64
0    58953
1       23
Name: 52809, dtype: int64
0    58969
1        7
Name: 5282, dtype: int64
0    58949
1       27
Name: 5283, dtype: int64
0    58972
1        4
Name: 5285, dtype: int64
0    58975
1        1
Name: 5286, dtype: int64
0    58935
1       41
Name: 5289, dtype: int64
0    58968
1        8
Name: 5290, dtype: int64
0    58975
1        1
Name: 5291, dtype: int64
0    58975
1        1
Name: 5293, dtype: int64
0    58974
1        2
Name: 5296, dtype: int64
0    58968
1        8
Name: 5298, dtype: int64
0    58934
1       42
Name: 5300, dtype: int64
0    58777
1      199
Name: 53010, dtype: int64
0    58947
1       29
Name: 53011, dtype: int64
0    58946
1       30
Name: 53012, dtype: int64
0    58969
1        7
Name: 53013, dtype: int64
0    58763
1      213
Name: 53019, dtype: int64
0    58940
1       36
Name: 5302, dtype: int64
0    58916
1       60
Name: 53020, dtype: int64
0    58920
1       56
Name: 53021, dtype: int64
0    58780
1      196
Name: 5303, dtype: int64
0    58946
1       30
Name: 5304, dtype: int64
0    58922
1       54
Name: 5305, dtype: int64
0    58941
1       35
Name: 5306, dtype: int64
0    58785
1      191
Name: 5307, dtype: int64
0    52652
1     6324
Name: 53081, dtype: int64
0    58891
1       85
Name: 53082, dtype: int64
0    58953
1       23
Name: 53084, dtype: int64
0    58673
1      303
Name: 53085, dtype: int64
0    58971
1        5
Name: 53087, dtype: int64
0    58934
1       42
Name: 53089, dtype: int64
0    58973
1        3
Name: 5309, dtype: int64
0    58915
1       61
Name: 53100, dtype: int64
0    58975
1        1
Name: 53101, dtype: int64
0    58966
1       10
Name: 53110, dtype: int64
0    58975
1        1
Name: 53111, dtype: int64
0    58975
1        1
Name: 53120, dtype: int64
0    58973
1        3
Name: 53130, dtype: int64
0    58707
1      269
Name: 53140, dtype: int64
0    58973
1        3
Name: 53141, dtype: int64
0    58961
1       15
Name: 53150, dtype: int64
0    58974
1        2
Name: 53160, dtype: int64
0    58953
1       23
Name: 53170, dtype: int64
0    58975
1        1
Name: 53171, dtype: int64
0    58816
1      160
Name: 53190, dtype: int64
0    58974
1        2
Name: 53191, dtype: int64
0    58902
1       74
Name: 53200, dtype: int64
0    58974
1        2
Name: 53201, dtype: int64
0    58963
1       13
Name: 53210, dtype: int64
0    58975
1        1
Name: 53211, dtype: int64
0    58967
1        9
Name: 53220, dtype: int64
0    58970
1        6
Name: 53230, dtype: int64
0    58705
1      271
Name: 53240, dtype: int64
0    58970
1        6
Name: 53241, dtype: int64
0    58955
1       21
Name: 53250, dtype: int64
0    58974
1        2
Name: 53251, dtype: int64
0    58965
1       11
Name: 53260, dtype: int64
0    58975
1        1
Name: 53261, dtype: int64
0    58963
1       13
Name: 53270, dtype: int64
0    58886
1       90
Name: 53290, dtype: int64
0    58975
1        1
Name: 53291, dtype: int64
0    58973
1        3
Name: 53300, dtype: int64
0    58975
1        1
Name: 53311, dtype: int64
0    58966
1       10
Name: 53340, dtype: int64
0    58975
1        1
Name: 53341, dtype: int64
0    58966
1       10
Name: 53370, dtype: int64
0    58826
1      150
Name: 53390, dtype: int64
0    58969
1        7
Name: 53400, dtype: int64
0    58975
1        1
Name: 53401, dtype: int64
0    58974
1        2
Name: 53410, dtype: int64
0    58975
1        1
Name: 53430, dtype: int64
0    58940
1       36
Name: 53440, dtype: int64
0    58974
1        2
Name: 53441, dtype: int64
0    58972
1        4
Name: 53450, dtype: int64
0    58958
1       18
Name: 53490, dtype: int64
0    58968
1        8
Name: 53500, dtype: int64
0    58936
1       40
Name: 53501, dtype: int64
0    58931
1       45
Name: 53510, dtype: int64
0    58967
1        9
Name: 53511, dtype: int64
0    58975
1        1
Name: 53520, dtype: int64
0    58975
1        1
Name: 53521, dtype: int64
0    58951
1       25
Name: 53530, dtype: int64
0    58962
1       14
Name: 53531, dtype: int64
0    58861
1      115
Name: 53540, dtype: int64
0    58868
1      108
Name: 53541, dtype: int64
0    58536
1      440
Name: 53550, dtype: int64
0    58827
1      149
Name: 53551, dtype: int64
0    58824
1      152
Name: 53560, dtype: int64
0    58927
1       49
Name: 53561, dtype: int64
0    58972
1        4
Name: 53570, dtype: int64
0    58973
1        3
Name: 5361, dtype: int64
0    58955
1       21
Name: 5362, dtype: int64
0    58467
1      509
Name: 5363, dtype: int64
0    58974
1        2
Name: 53640, dtype: int64
0    58948
1       28
Name: 53641, dtype: int64
0    58911
1       65
Name: 53642, dtype: int64
0    58933
1       43
Name: 53649, dtype: int64
0    58938
1       38
Name: 5368, dtype: int64
0    58974
1        2
Name: 5369, dtype: int64
0    58890
1       86
Name: 5370, dtype: int64
0    58969
1        7
Name: 5371, dtype: int64
0    58940
1       36

Name: 5373, dtype: int64
0    58951
1       25
Name: 5374, dtype: int64
0    58973
1        3
Name: 53781, dtype: int64
0    58923
1       53
Name: 53782, dtype: int64
0    58849
1      127
Name: 53783, dtype: int64
0    58926
1       50
Name: 53784, dtype: int64
0    58639
1      337
Name: 53789, dtype: int64
0    58942
1       34
Name: 5379, dtype: int64
0    58974
1        2
Name: 538, dtype: int64
0    58972
1        4
Name: 53989, dtype: int64
0    58948
1       28
Name: 5400, dtype: int64
0    58955
1       21
Name: 5401, dtype: int64
0    58965
1       11
Name: 5409, dtype: int64
0    58967
1        9
Name: 541, dtype: int64
0    58971
1        5
Name: 542, dtype: int64
0    58967
1        9
Name: 5439, dtype: int64
0    58973
1        3
Name: 55000, dtype: int64
0    58975
1        1
Name: 55001, dtype: int64
0    58954
1       22
Name: 55010, dtype: int64
0    58970
1        6
Name: 55011, dtype: int64
0    58968
1        8
Name: 55012, dtype: int64
0    58850
1      126
Name: 55090, dtype: int64
0    58973
1        3
Name: 55091, dtype: int64
0    58930
1       46
Name: 55092, dtype: int64
0    58975
1        1
Name: 55093, dtype: int64
0    58975
1        1
Name: 55100, dtype: int64
0    58975
1        1
Name: 5511, dtype: int64
0    58975
1        1
Name: 55120, dtype: int64
0    58975
1        1
Name: 55121, dtype: int64
0    58975
1        1
Name: 55129, dtype: int64
0    58974
1        2
Name: 5513, dtype: int64
0    58972
1        4
Name: 5518, dtype: int64
0    58966
1       10
Name: 55200, dtype: int64
0    58975
1        1
Name: 55202, dtype: int64
0    58951
1       25
Name: 5521, dtype: int64
0    58956
1       20
Name: 55220, dtype: int64
0    58904
1       72
Name: 55221, dtype: int64
0    58964
1       12
Name: 55229, dtype: int64
0    58942
1       34
Name: 5523, dtype: int64
0    58954
1       22
Name: 5528, dtype: int64
0    58973
1        3
Name: 5529, dtype: int64
0    58974
1        2
Name: 55300, dtype: int64
0    58787
1      189
Name: 5531, dtype: int64
0    58883
1       93
Name: 55320, dtype: int64
0    58824
1      152
Name: 55321, dtype: int64
0    58954
1       22
Name: 55329, dtype: int64
0    58313
1      663
Name: 5533, dtype: int64
0    58956
1       20
Name: 5538, dtype: int64
0    58972
1        4
Name: 5539, dtype: int64
0    58944
1       32
Name: 5550, dtype: int64
0    58950
1       26
Name: 5551, dtype: int64
0    58944
1       32
Name: 5552, dtype: int64
0    58703
1      273
Name: 5559, dtype: int64
0    58972
1        4
Name: 5560, dtype: int64
0    58973
1        3
Name: 5561, dtype: int64
0    58971
1        5
Name: 5562, dtype: int64
0    58971
1        5
Name: 5563, dtype: int64
0    58972
1        4
Name: 5564, dtype: int64
0    58975
1        1
Name: 5565, dtype: int64
0    58933
1       43
Name: 5566, dtype: int64
0    58961
1       15
Name: 5568, dtype: int64
0    58731
1      245
Name: 5569, dtype: int64
0    58480
1      496
Name: 5570, dtype: int64
0    58851
1      125
Name: 5571, dtype: int64
0    58835
1      141
Name: 5579, dtype: int64
0    58961
1       15
Name: 5581, dtype: int64
0    58970
1        6
Name: 5582, dtype: int64
0    58942
1       34
Name: 5583, dtype: int64
0    58975
1        1
Name: 55841, dtype: int64
0    58786
1      190
Name: 5589, dtype: int64
0    58957
1       19
Name: 5600, dtype: int64
0    57904
1     1072
Name: 5601, dtype: int64
0    58898
1       78
Name: 5602, dtype: int64
0    58975
1        1
Name: 56030, dtype: int64
0    58974
1        2
Name: 56031, dtype: int64
0    58970
1        6
Name: 56032, dtype: int64
0    58925
1       51
Name: 56039, dtype: int64
0    58745
1      231
Name: 56081, dtype: int64
0    58789
1      187
Name: 56089, dtype: int64
0    58706
1      270
Name: 5609, dtype: int64
0    58946
1       30
Name: 56200, dtype: int64
0    58972
1        4
Name: 56201, dtype: int64
0    58966
1       10
Name: 56202, dtype: int64
0    58127
1      849
Name: 56210, dtype: int64
0    58741
1      235
Name: 56211, dtype: int64
0    58641
1      335
Name: 56212, dtype: int64
0    58946
1       30
Name: 56213, dtype: int64
0    58973
1        3
Name: 5640, dtype: int64
0    58146
1      830
Name: 56400, dtype: int64
0    58973
1        3
Name: 56401, dtype: int64
0    58643
1      333
Name: 56409, dtype: int64
0    58742
1      234
Name: 5641, dtype: int64
0    58969
1        7
Name: 5642, dtype: int64
0    58972
1        4
Name: 5643, dtype: int64
0    58975
1        1
Name: 5644, dtype: int64
0    58975
1        1
Name: 5646, dtype: int64
0    58960
1       16
Name: 5647, dtype: int64
0    58963
1       13
Name: 56481, dtype: int64
0    58959
1       17
Name: 56489, dtype: int64
0    58940
1       36
Name: 5650, dtype: int64
0    58964
1       12
Name: 5651, dtype: int64
0    58932
1       44
Name: 566, dtype: int64
0    58974
1        2
Name: 5670, dtype: int64
0    58975
1        1
Name: 5671, dtype: int64
0    58759
1      217
Name: 5672, dtype: int64
0    58889
1       87
Name: 56721, dtype: int64
0    58739
1      237
Name: 56722, dtype: int64
0    58790
1      186
Name: 56723, dtype: int64
0    58848
1      128
Name: 56729, dtype: int64
0    58941
1       35
Name: 56731, dtype: int64
0    58947
1       29
Name: 56738, dtype: int64
0    58944
1       32
Name: 5678, dtype: int64
0    58956
1       20
Name: 56781, dtype: int64
0    58967
1        9
Name: 56782, dtype: int64
0    58942
1       34
Name: 56789, dtype: int64
0    58883
1       93
Name: 5679, dtype: int64
0    58572
1      404
Name: 5680, dtype: int64
0    58773
1      203
Name: 56881, dtype: int64
0    58970
1        6
Name: 56882, dtype: int64
0    58895
1       81
Name: 56889, dtype: int64
0    58960
1       16
Name: 5690, dtype: int64
0    58950
1       26
Name: 5691, dtype: int64
0    58969
1        7
Name: 5692, dtype: int64
0    58873
1      103
Name: 5693, dtype: int64
0    58926
1       50
Name: 56941, dtype: int64
0    58967
1        9
Name: 56942, dtype: int64
0    58973
1        3
Name: 56944, dtype: int64
0    58918
1       58
Name: 56949, dtype: int64
0    58891
1       85
Name: 5695, dtype: int64
0    58975
1        1
Name: 56960, dtype: int64
0    58951
1       25
Name: 56961, dtype: int64
0    58937
1       39
Name: 56962, dtype: int64
0    58845
1      131
Name: 56969, dtype: int64
0    58973
1        3
Name: 56971, dtype: int64
0    58975
1        1
Name: 56979, dtype: int64
0    58805
1      171
Name: 56981, dtype: int64
0    58925
1       51
Name: 56982, dtype: int64
0    58746
1      230
Name: 56983, dtype: int64
0    58946
1       30
Name: 56984, dtype: int64
0    58878
1       98
Name: 56985, dtype: int64
0    58969
1        7
Name: 56986, dtype: int64
0    58975
1        1
Name: 56987, dtype: int64
0    58903
1       73
Name: 56989, dtype: int64
0    58957
1       19
Name: 5699, dtype: int64
0    57909
1     1067
Name: 570, dtype: int64
0    58931
1       45
Name: 5710, dtype: int64
0    58666
1      310
Name: 5711, dtype: int64
0    57774
1     1202
Name: 5712, dtype: int64
0    58952
1       24
Name: 5713, dtype: int64
0    58972
1        4
Name: 57140, dtype: int64
0    58927
1       49
Name: 57142, dtype: int64
0    58944
1       32
Name: 57149, dtype: int64
0    57689
1     1287
Name: 5715, dtype: int64
0    58920
1       56
Name: 5716, dtype: int64
0    58703
1      273
Name: 5718, dtype: int64
0    58969
1        7
Name: 5719, dtype: int64
0    58880
1       96
Name: 5720, dtype: int64
0    58970
1        6
Name: 5721, dtype: int64
0    58310
1      666
Name: 5722, dtype: int64
0    57969
1     1007
Name: 5723, dtype: int64
0    58630
1      346
Name: 5724, dtype: int64
0    58777
1      199
Name: 5728, dtype: int64
0    58902
1       74
Name: 5730, dtype: int64
0    58971
1        5
Name: 5731, dtype: int64
0    58832
1      144
Name: 5733, dtype: int64
0    58954
1       22
Name: 5734, dtype: int64
0    58970
1        6
Name: 5735, dtype: int64
0    58817
1      159
Name: 5738, dtype: int64
0    58941
1       35
Name: 5739, dtype: int64
0    58871
1      105
Name: 57400, dtype: int64
0    58958
1       18
Name: 57401, dtype: int64
0    58809
1      167
Name: 57410, dtype: int64
0    58969
1        7
Name: 57411, dtype: int64
0    58630
1      346
Name: 57420, dtype: int64
0    58964
1       12
Name: 57421, dtype: int64
0    58966
1       10
Name: 57430, dtype: int64
0    58951
1       25
Name: 57431, dtype: int64
0    58966
1       10
Name: 57440, dtype: int64
0    58958
1       18
Name: 57441, dtype: int64
0    58873
1      103
Name: 57450, dtype: int64
0    58813
1      163
Name: 57451, dtype: int64
0    58969
1        7
Name: 57460, dtype: int64
0    58955
1       21
Name: 57461, dtype: int64
0    58963
1       13
Name: 57470, dtype: int64
0    58954
1       22
Name: 57471, dtype: int64
0    58969
1        7
Name: 57480, dtype: int64
0    58959
1       17
Name: 57481, dtype: int64
0    58955
1       21
Name: 57490, dtype: int64
0    58922
1       54
Name: 57491, dtype: int64
0    58800
1      176
Name: 5750, dtype: int64
0    58939
1       37
Name: 57510, dtype: int64
0    58860
1      116
Name: 57511, dtype: int64
0    58941
1       35
Name: 57512, dtype: int64
0    58973
1        3
Name: 5752, dtype: int64
0    58970
1        6
Name: 5753, dtype: int64
0    58952
1       24
Name: 5754, dtype: int64
0    58968
1        8
Name: 5755, dtype: int64
0    58968
1        8
Name: 5756, dtype: int64
0    58941
1       35
Name: 5758, dtype: int64
0    58973
1        3
Name: 5759, dtype: int64
0    58975
1        1
Name: 5760, dtype: int64
0    58314
1      662
Name: 5761, dtype: int64
0    58616
1      360
Name: 5762, dtype: int64
0    58973
1        3
Name: 5763, dtype: int64
0    58962
1       14
Name: 5764, dtype: int64
0    58695
1      281
Name: 5768, dtype: int64
0    58973
1        3
Name: 5769, dtype: int64
0    58015
1      961
Name: 5770, dtype: int64
0    58545
1      431
Name: 5771, dtype: int64
0    58774
1      202
Name: 5772, dtype: int64
0    58873
1      103
Name: 5778, dtype: int64
0    58922
1       54
Name: 5779, dtype: int64
0    58548
1      428
Name: 5780, dtype: int64
0    58286
1      690
Name: 5781, dtype: int64
0    57579
1     1397
Name: 5789, dtype: int64
0    58879
1       97
Name: 5790, dtype: int64
0    58848
1      128
Name: 5793, dtype: int64
0    58952
1       24
Name: 5798, dtype: int64
0    58957
1       19
Name: 5799, dtype: int64
0    58974
1        2
Name: 5800, dtype: int64
0    58974
1        2
Name: 5804, dtype: int64
0    58974
1        2
Name: 58081, dtype: int64
0    58929
1       47
Name: 58089, dtype: int64
0    58958
1       18
Name: 5809, dtype: int64
0    58975
1        1
Name: 5810, dtype: int64
0    58966
1       10
Name: 5811, dtype: int64
0    58973
1        3
Name: 5812, dtype: int64
0    58962
1       14
Name: 58181, dtype: int64
0    58974
1        2
Name: 58189, dtype: int64
0    58948
1       28
Name: 5819, dtype: int64
0    58975
1        1
Name: 5820, dtype: int64
0    58963
1       13

Name: 5821, dtype: int64
0    58971
1        5
Name: 5822, dtype: int64
0    58975
1        1
Name: 5824, dtype: int64
0    58909
1       67
Name: 58281, dtype: int64
0    58965
1       11
Name: 58289, dtype: int64
0    58948
1       28
Name: 5829, dtype: int64
0    58975
1        1
Name: 5830, dtype: int64
0    58968
1        8
Name: 5831, dtype: int64
0    58973
1        3
Name: 5832, dtype: int64
0    58975
1        1
Name: 5834, dtype: int64
0    58382
1      594
Name: 58381, dtype: int64
0    58953
1       23
Name: 58389, dtype: int64
0    58892
1       84
Name: 5839, dtype: int64
0    56689
1     2287
Name: 5845, dtype: int64
0    58971
1        5
Name: 5846, dtype: int64
0    58975
1        1
Name: 5847, dtype: int64
0    58921
1       55
Name: 5848, dtype: int64
0    49858
1     9118
Name: 5849, dtype: int64
0    58703
1      273
Name: 585, dtype: int64
0    58963
1       13
Name: 5851, dtype: int64
0    58844
1      132
Name: 5852, dtype: int64
0    58241
1      735
Name: 5853, dtype: int64
0    58642
1      334
Name: 5854, dtype: int64
0    58882
1       94
Name: 5855, dtype: int64
0    57050
1     1926
Name: 5856, dtype: int64
0    55541
1     3435
Name: 5859, dtype: int64
0    58960
1       16
Name: 586, dtype: int64
0    58959
1       17
Name: 587, dtype: int64
0    58949
1       27
Name: 5880, dtype: int64
0    58945
1       31
Name: 5881, dtype: int64
0    58967
1        9
Name: 5888, dtype: int64
0    58807
1      169
Name: 58881, dtype: int64
0    58928
1       48
Name: 58889, dtype: int64
0    58975
1        1
Name: 5890, dtype: int64
0    58967
1        9
Name: 59000, dtype: int64
0    58975
1        1
Name: 59001, dtype: int64
0    58844
1      132
Name: 59010, dtype: int64
0    58974
1        2
Name: 59011, dtype: int64
0    58965
1       11
Name: 5902, dtype: int64
0    58892
1       84
Name: 59080, dtype: int64
0    58975
1        1
Name: 5909, dtype: int64
0    58563
1      413
Name: 591, dtype: int64
0    58770
1      206
Name: 5920, dtype: int64
0    58865
1      111
Name: 5921, dtype: int64
0    58973
1        3
Name: 5929, dtype: int64
0    58975
1        1
Name: 5931, dtype: int64
0    58869
1      107
Name: 5932, dtype: int64
0    58948
1       28
Name: 5933, dtype: int64
0    58908
1       68
Name: 5934, dtype: int64
0    58954
1       22
Name: 5935, dtype: int64
0    58973
1        3
Name: 59370, dtype: int64
0    58975
1        1
Name: 59371, dtype: int64
0    58974
1        2
Name: 59373, dtype: int64
0    58893
1       83
Name: 59381, dtype: int64
0    58972
1        4
Name: 59382, dtype: int64
0    58945
1       31
Name: 59389, dtype: int64
0    58297
1      679
Name: 5939, dtype: int64
0    58975
1        1
Name: 5940, dtype: int64
0    58959
1       17
Name: 5941, dtype: int64
0    58975
1        1
Name: 5942, dtype: int64
0    58975
1        1
Name: 5949, dtype: int64
0    58946
1       30
Name: 5950, dtype: int64
0    58970
1        6
Name: 5951, dtype: int64
0    58972
1        4
Name: 5952, dtype: int64
0    58975
1        1
Name: 59581, dtype: int64
0    58952
1       24
Name: 59582, dtype: int64
0    58972
1        4
Name: 59589, dtype: int64
0    58954
1       22
Name: 5959, dtype: int64
0    58931
1       45
Name: 5960, dtype: int64
0    58950
1       26
Name: 5961, dtype: int64
0    58961
1       15
Name: 5963, dtype: int64
0    58956
1       20
Name: 5964, dtype: int64
0    58955
1       21
Name: 59651, dtype: int64
0    58751
1      225
Name: 59654, dtype: int64
0    58974
1        2
Name: 59655, dtype: int64
0    58968
1        8
Name: 59659, dtype: int64
0    58966
1       10
Name: 5966, dtype: int64
0    58966
1       10
Name: 5967, dtype: int64
0    58932
1       44
Name: 5968, dtype: int64
0    58969
1        7
Name: 59689, dtype: int64
0    58968
1        8
Name: 5969, dtype: int64
0    58971
1        5
Name: 5970, dtype: int64
0    58973
1        3
Name: 59789, dtype: int64
0    58975
1        1
Name: 59800, dtype: int64
0    58975
1        1
Name: 5981, dtype: int64
0    58973
1        3
Name: 5982, dtype: int64
0    58961
1       15
Name: 5988, dtype: int64
0    58937
1       39
Name: 5989, dtype: int64
0    52421
1     6555
Name: 5990, dtype: int64
0    58971
1        5
Name: 5991, dtype: int64
0    58974
1        2
Name: 5993, dtype: int64
0    58962
1       14
Name: 5994, dtype: int64
0    58975
1        1
Name: 5995, dtype: int64
0    58971
1        5
Name: 5996, dtype: int64
0    58951
1       25
Name: 59960, dtype: int64
0    58953
1       23
Name: 59969, dtype: int64
0    58467
1      509
Name: 5997, dtype: int64
0    58760
1      216
Name: 59970, dtype: int64
0    58795
1      181
Name: 59971, dtype: int64
0    58944
1       32
Name: 59972, dtype: int64
0    58972
1        4
Name: 59984, dtype: int64
0    58884
1       92
Name: 6000, dtype: int64
0    57486
1     1490
Name: 60000, dtype: int64
0    58662
1      314
Name: 60001, dtype: int64
0    58974
1        2
Name: 60010, dtype: int64
0    58974
1        2
Name: 60011, dtype: int64
0    58974
1        2
Name: 6002, dtype: int64
0    58975
1        1
Name: 6009, dtype: int64
0    58962
1       14
Name: 60090, dtype: int64
0    58960
1       16
Name: 60091, dtype: int64
0    58965
1       11
Name: 6010, dtype: int64
0    58968
1        8
Name: 6011, dtype: int64
0    58969
1        7
Name: 6012, dtype: int64
0    58973
1        3
Name: 6018, dtype: int64
0    58962
1       14
Name: 6019, dtype: int64
0    58974
1        2
Name: 6021, dtype: int64
0    58972
1        4
Name: 6023, dtype: int64
0    58973
1        3
Name: 6028, dtype: int64
0    58975
1        1
Name: 6031, dtype: int64
0    58970
1        6
Name: 6038, dtype: int64
0    58956
1       20
Name: 6039, dtype: int64
0    58970
1        6
Name: 6040, dtype: int64
0    58965
1       11
Name: 60490, dtype: int64
0    58972
1        4
Name: 60499, dtype: int64
0    58945
1       31
Name: 605, dtype: int64
0    58975
1        1
Name: 6071, dtype: int64
0    58970
1        6
Name: 6072, dtype: int64
0    58974
1        2
Name: 6073, dtype: int64
0    58975
1        1
Name: 60781, dtype: int64
0    58970
1        6
Name: 60782, dtype: int64
0    58971
1        5
Name: 60783, dtype: int64
0    58913
1       63
Name: 60784, dtype: int64
0    58975
1        1
Name: 60785, dtype: int64
0    58957
1       19
Name: 60789, dtype: int64
0    58972
1        4
Name: 6079, dtype: int64
0    58975
1        1
Name: 6080, dtype: int64
0    58972
1        4
Name: 6082, dtype: int64
0    58974
1        2
Name: 60820, dtype: int64
0    58947
1       29
Name: 6084, dtype: int64
0    58948
1       28
Name: 60883, dtype: int64
0    58913
1       63
Name: 60886, dtype: int64
0    58961
1       15
Name: 60889, dtype: int64
0    58970
1        6
Name: 6089, dtype: int64
0    58974
1        2
Name: 6101, dtype: int64
0    58957
1       19
Name: 6110, dtype: int64
0    58960
1       16
Name: 6111, dtype: int64
0    58975
1        1
Name: 6116, dtype: int64
0    58974
1        2
Name: 61171, dtype: int64
0    58948
1       28
Name: 61172, dtype: int64
0    58973
1        3
Name: 61179, dtype: int64
0    58971
1        5
Name: 6118, dtype: int64
0    58974
1        2
Name: 61189, dtype: int64
0    58974
1        2
Name: 6119, dtype: int64
0    58967
1        9
Name: 6140, dtype: int64
0    58973
1        3
Name: 6141, dtype: int64
0    58974
1        2
Name: 6142, dtype: int64
0    58967
1        9
Name: 6143, dtype: int64
0    58966
1       10
Name: 6144, dtype: int64
0    58973
1        3
Name: 6145, dtype: int64
0    58943
1       33
Name: 6146, dtype: int64
0    58973
1        3
Name: 6149, dtype: int64
0    58969
1        7
Name: 6150, dtype: int64
0    58972
1        4
Name: 6151, dtype: int64
0    58968
1        8
Name: 6159, dtype: int64
0    58972
1        4
Name: 6160, dtype: int64
0    58946
1       30
Name: 61610, dtype: int64
0    58974
1        2
Name: 6162, dtype: int64
0    58970
1        6
Name: 6164, dtype: int64
0    58974
1        2
Name: 61650, dtype: int64
0    58975
1        1
Name: 6168, dtype: int64
0    58973
1        3
Name: 61689, dtype: int64
0    58975
1        1
Name: 6169, dtype: int64
0    58964
1       12
Name: 6170, dtype: int64
0    58968
1        8
Name: 6171, dtype: int64
0    58975
1        1
Name: 6172, dtype: int64
0    58972
1        4
Name: 6173, dtype: int64
0    58973
1        3
Name: 6175, dtype: int64
0    58975
1        1
Name: 6178, dtype: int64
0    58966
1       10
Name: 6179, dtype: int64
0    58971
1        5
Name: 6180, dtype: int64
0    58975
1        1
Name: 61800, dtype: int64
0    58970
1        6
Name: 61801, dtype: int64
0    58975
1        1
Name: 61802, dtype: int64
0    58975
1        1
Name: 61804, dtype: int64
0    58962
1       14
Name: 6181, dtype: int64
0    58975
1        1
Name: 6182, dtype: int64
0    58974
1        2
Name: 6183, dtype: int64
0    58973
1        3
Name: 6184, dtype: int64
0    58972
1        4
Name: 6185, dtype: int64
0    58975
1        1
Name: 6188, dtype: int64
0    58975
1        1
Name: 61882, dtype: int64
0    58972
1        4
Name: 6190, dtype: int64
0    58942
1       34
Name: 6191, dtype: int64
0    58975
1        1
Name: 6192, dtype: int64
0    58974
1        2
Name: 6198, dtype: int64
0    58973
1        3
Name: 6200, dtype: int64
0    58968
1        8
Name: 6201, dtype: int64
0    58923
1       53
Name: 6202, dtype: int64
0    58975
1        1
Name: 6203, dtype: int64
0    58968
1        8
Name: 6205, dtype: int64
0    58966
1       10
Name: 6208, dtype: int64
0    58973
1        3
Name: 6209, dtype: int64
0    58968
1        8
Name: 6210, dtype: int64
0    58975
1        1
Name: 6212, dtype: int64
0    58974
1        2
Name: 6213, dtype: int64
0    58974
1        2
Name: 62130, dtype: int64
0    58974
1        2
Name: 6214, dtype: int64
0    58974
1        2
Name: 6218, dtype: int64
0    58975
1        1
Name: 6221, dtype: int64
0    58971
1        5
Name: 62210, dtype: int64
0    58973
1        3
Name: 62211, dtype: int64
0    58975
1        1
Name: 6232, dtype: int64
0    58972
1        4
Name: 6235, dtype: int64
0    58931
1       45
Name: 6238, dtype: int64
0    58975
1        1
Name: 62402, dtype: int64
0    58973
1        3
Name: 6248, dtype: int64
0    58974
1        2
Name: 6249, dtype: int64
0    58975
1        1
Name: 6251, dtype: int64
0    58970
1        6
Name: 6253, dtype: int64
0    58975
1        1
Name: 6254, dtype: int64
0    58975
1        1
Name: 6255, dtype: int64
0    58954
1       22
Name: 6256, dtype: int64
0    58975
1        1
Name: 62570, dtype: int64
0    58968
1        8
Name: 6258, dtype: int64
0    58971
1        5
Name: 6259, dtype: int64
0    58971
1        5
Name: 6260, dtype: int64
0    58975
1        1
Name: 6261, dtype: int64
0    58946
1       30
Name: 6262, dtype: int64
0    58974
1        2

Name: 6264, dtype: int64
0    58974
1        2
Name: 6266, dtype: int64
0    58967
1        9
Name: 6268, dtype: int64
0    58974
1        2
Name: 6269, dtype: int64
0    58973
1        3
Name: 6270, dtype: int64
0    58952
1       24
Name: 6271, dtype: int64
0    58972
1        4
Name: 6272, dtype: int64
0    58971
1        5
Name: 6273, dtype: int64
0    58974
1        2
Name: 6274, dtype: int64
0    58974
1        2
Name: 6278, dtype: int64
0    58969
1        7
Name: 6279, dtype: int64
0    58973
1        3
Name: 6289, dtype: int64
0    58975
1        1
Name: 62981, dtype: int64
0    58974
1        2
Name: 62989, dtype: int64
0    58971
1        5
Name: 632, dtype: int64
0    58975
1        1
Name: 63310, dtype: int64
0    58975
1        1
Name: 63311, dtype: int64
0    58975
1        1
Name: 63320, dtype: int64
0    58975
1        1
Name: 63380, dtype: int64
0    58975
1        1
Name: 63381, dtype: int64
0    58975
1        1
Name: 63391, dtype: int64
0    58974
1        2
Name: 63401, dtype: int64
0    58973
1        3
Name: 63411, dtype: int64
0    58975
1        1
Name: 63412, dtype: int64
0    58975
1        1
Name: 63421, dtype: int64
0    58975
1        1
Name: 63451, dtype: int64
0    58973
1        3
Name: 63491, dtype: int64
0    58975
1        1
Name: 63502, dtype: int64
0    58975
1        1
Name: 63511, dtype: int64
0    58973
1        3
Name: 63512, dtype: int64
0    58973
1        3
Name: 63522, dtype: int64
0    58975
1        1
Name: 63552, dtype: int64
0    58973
1        3
Name: 63572, dtype: int64
0    58975
1        1
Name: 63590, dtype: int64
0    58975
1        1
Name: 63592, dtype: int64
0    58974
1        2
Name: 6390, dtype: int64
0    58973
1        3
Name: 6391, dtype: int64
0    58975
1        1
Name: 6392, dtype: int64
0    58975
1        1
Name: 6396, dtype: int64
0    58974
1        2
Name: 6398, dtype: int64
0    58975
1        1
Name: 64101, dtype: int64
0    58975
1        1
Name: 64103, dtype: int64
0    58974
1        2
Name: 64111, dtype: int64
0    58973
1        3
Name: 64121, dtype: int64
0    58973
1        3
Name: 64131, dtype: int64
0    58975
1        1
Name: 64133, dtype: int64
0    58974
1        2
Name: 64201, dtype: int64
0    58974
1        2
Name: 64203, dtype: int64
0    58975
1        1
Name: 64204, dtype: int64
0    58975
1        1
Name: 64214, dtype: int64
0    58973
1        3
Name: 64224, dtype: int64
0    58973
1        3
Name: 64231, dtype: int64
0    58973
1        3
Name: 64233, dtype: int64
0    58975
1        1
Name: 64234, dtype: int64
0    58973
1        3
Name: 64241, dtype: int64
0    58975
1        1
Name: 64243, dtype: int64
0    58970
1        6
Name: 64244, dtype: int64
0    58971
1        5
Name: 64251, dtype: int64
0    58975
1        1
Name: 64252, dtype: int64
0    58972
1        4
Name: 64254, dtype: int64
0    58975
1        1
Name: 64261, dtype: int64
0    58975
1        1
Name: 64263, dtype: int64
0    58974
1        2
Name: 64264, dtype: int64
0    58975
1        1
Name: 64271, dtype: int64
0    58975
1        1
Name: 64274, dtype: int64
0    58975
1        1
Name: 64292, dtype: int64
0    58975
1        1
Name: 64293, dtype: int64
0    58975
1        1
Name: 64294, dtype: int64
0    58975
1        1
Name: 64303, dtype: int64
0    58975
1        1
Name: 64313, dtype: int64
0    58974
1        2
Name: 64403, dtype: int64
0    58951
1       25
Name: 64421, dtype: int64
0    58973
1        3
Name: 64511, dtype: int64
0    58974
1        2
Name: 64621, dtype: int64
0    58974
1        2
Name: 64623, dtype: int64
0    58974
1        2
Name: 64653, dtype: int64
0    58975
1        1
Name: 64661, dtype: int64
0    58968
1        8
Name: 64663, dtype: int64
0    58969
1        7
Name: 64664, dtype: int64
0    58975
1        1
Name: 64671, dtype: int64
0    58975
1        1
Name: 64673, dtype: int64
0    58975
1        1
Name: 64681, dtype: int64
0    58975
1        1
Name: 64682, dtype: int64
0    58973
1        3
Name: 64683, dtype: int64
0    58973
1        3
Name: 64761, dtype: int64
0    58970
1        6
Name: 64781, dtype: int64
0    58974
1        2
Name: 64782, dtype: int64
0    58968
1        8
Name: 64783, dtype: int64
0    58970
1        6
Name: 64784, dtype: int64
0    58975
1        1
Name: 64793, dtype: int64
0    58973
1        3
Name: 64801, dtype: int64
0    58972
1        4
Name: 64803, dtype: int64
0    58970
1        6
Name: 64804, dtype: int64
0    58974
1        2
Name: 64811, dtype: int64
0    58971
1        5
Name: 64813, dtype: int64
0    58972
1        4
Name: 64814, dtype: int64
0    58961
1       15
Name: 64821, dtype: int64
0    58956
1       20
Name: 64822, dtype: int64
0    58962
1       14
Name: 64823, dtype: int64
0    58955
1       21
Name: 64824, dtype: int64
0    58974
1        2
Name: 64831, dtype: int64
0    58975
1        1
Name: 64833, dtype: int64
0    58973
1        3
Name: 64841, dtype: int64
0    58974
1        2
Name: 64842, dtype: int64
0    58969
1        7
Name: 64843, dtype: int64
0    58967
1        9
Name: 64844, dtype: int64
0    58975
1        1
Name: 64852, dtype: int64
0    58969
1        7
Name: 64861, dtype: int64
0    58975
1        1
Name: 64862, dtype: int64
0    58970
1        6
Name: 64863, dtype: int64
0    58971
1        5
Name: 64864, dtype: int64
0    58971
1        5
Name: 64881, dtype: int64
0    58975
1        1
Name: 64883, dtype: int64
0    58975
1        1
Name: 64884, dtype: int64
0    58954
1       22
Name: 64891, dtype: int64
0    58971
1        5
Name: 64892, dtype: int64
0    58957
1       19
Name: 64893, dtype: int64
0    58966
1       10
Name: 64894, dtype: int64
0    58972
1        4
Name: 64903, dtype: int64
0    58975
1        1
Name: 64904, dtype: int64
0    58974
1        2
Name: 64913, dtype: int64
0    58973
1        3
Name: 64914, dtype: int64
0    58974
1        2
Name: 64931, dtype: int64
0    58975
1        1
Name: 64933, dtype: int64
0    58975
1        1
Name: 64934, dtype: int64
0    58974
1        2
Name: 64943, dtype: int64
0    58975
1        1
Name: 64944, dtype: int64
0    58973
1        3
Name: 65101, dtype: int64
0    58972
1        4
Name: 65221, dtype: int64
0    58975
1        1
Name: 65251, dtype: int64
0    58973
1        3
Name: 65261, dtype: int64
0    58975
1        1
Name: 65404, dtype: int64
0    58975
1        1
Name: 65411, dtype: int64
0    58975
1        1
Name: 65414, dtype: int64
0    58964
1       12
Name: 65421, dtype: int64
0    58974
1        2
Name: 65423, dtype: int64
0    58974
1        2
Name: 65441, dtype: int64
0    58975
1        1
Name: 65444, dtype: int64
0    58974
1        2
Name: 65451, dtype: int64
0    58975
1        1
Name: 65571, dtype: int64
0    58973
1        3
Name: 65583, dtype: int64
0    58975
1        1
Name: 65613, dtype: int64
0    58974
1        2
Name: 65641, dtype: int64
0    58973
1        3
Name: 65651, dtype: int64
0    58975
1        1
Name: 65661, dtype: int64
0    58975
1        1
Name: 65671, dtype: int64
0    58975
1        1
Name: 65701, dtype: int64
0    58974
1        2
Name: 65801, dtype: int64
0    58975
1        1
Name: 65821, dtype: int64
0    58975
1        1
Name: 65921, dtype: int64
0    58972
1        4
Name: 65951, dtype: int64
0    58975
1        1
Name: 65953, dtype: int64
0    58965
1       11
Name: 65961, dtype: int64
0    58973
1        3
Name: 65963, dtype: int64
0    58965
1       11
Name: 65971, dtype: int64
0    58975
1        1
Name: 66001, dtype: int64
0    58975
1        1
Name: 66021, dtype: int64
0    58973
1        3
Name: 66111, dtype: int64
0    58975
1        1
Name: 66131, dtype: int64
0    58972
1        4
Name: 66331, dtype: int64
0    58972
1        4
Name: 66401, dtype: int64
0    58974
1        2
Name: 66411, dtype: int64
0    58975
1        1
Name: 66511, dtype: int64
0    58975
1        1
Name: 66524, dtype: int64
0    58974
1        2
Name: 66531, dtype: int64
0    58975
1        1
Name: 66534, dtype: int64
0    58975
1        1
Name: 66541, dtype: int64
0    58971
1        5
Name: 66551, dtype: int64
0    58975
1        1
Name: 66554, dtype: int64
0    58975
1        1
Name: 66561, dtype: int64
0    58975
1        1
Name: 66574, dtype: int64
0    58975
1        1
Name: 66582, dtype: int64
0    58973
1        3
Name: 66602, dtype: int64
0    58975
1        1
Name: 66604, dtype: int64
0    58955
1       21
Name: 66612, dtype: int64
0    58975
1        1
Name: 66614, dtype: int64
0    58975
1        1
Name: 66622, dtype: int64
0    58968
1        8
Name: 66624, dtype: int64
0    58966
1       10
Name: 66632, dtype: int64
0    58970
1        6
Name: 66634, dtype: int64
0    58975
1        1
Name: 66811, dtype: int64
0    58975
1        1
Name: 66822, dtype: int64
0    58974
1        2
Name: 66911, dtype: int64
0    58974
1        2
Name: 66914, dtype: int64
0    58975
1        1
Name: 66921, dtype: int64
0    58971
1        5
Name: 66932, dtype: int64
0    58973
1        3
Name: 66934, dtype: int64
0    58974
1        2
Name: 66941, dtype: int64
0    58975
1        1
Name: 66942, dtype: int64
0    58975
1        1
Name: 66944, dtype: int64
0    58974
1        2
Name: 67002, dtype: int64
0    58969
1        7
Name: 67004, dtype: int64
0    58974
1        2
Name: 67012, dtype: int64
0    58974
1        2
Name: 67014, dtype: int64
0    58975
1        1
Name: 67153, dtype: int64
0    58975
1        1
Name: 67154, dtype: int64
0    58974
1        2
Name: 67202, dtype: int64
0    58975
1        1
Name: 67204, dtype: int64
0    58975
1        1
Name: 67311, dtype: int64
0    58972
1        4
Name: 67323, dtype: int64
0    58974
1        2
Name: 67324, dtype: int64
0    58975
1        1
Name: 67333, dtype: int64
0    58975
1        1
Name: 67401, dtype: int64
0    58975
1        1
Name: 67402, dtype: int64
0    58973
1        3
Name: 67403, dtype: int64
0    58972
1        4
Name: 67404, dtype: int64
0    58975
1        1
Name: 67412, dtype: int64
0    58975
1        1
Name: 67414, dtype: int64
0    58970
1        6
Name: 67432, dtype: int64
0    58973
1        3
Name: 67434, dtype: int64
0    58974
1        2
Name: 67451, dtype: int64
0    58967
1        9
Name: 67454, dtype: int64
0    58974
1        2
Name: 67482, dtype: int64
0    58970
1        6
Name: 67484, dtype: int64
0    58974
1        2
Name: 677, dtype: int64
0    58972
1        4
Name: 6802, dtype: int64
0    58974
1        2
Name: 6805, dtype: int64
0    58973
1        3
Name: 6806, dtype: int64
0    58975
1        1
Name: 6809, dtype: int64
0    58968
1        8
Name: 68100, dtype: int64
0    58975
1        1
Name: 68101, dtype: int64
0    58974
1        2
Name: 68102, dtype: int64
0    58934
1       42
Name: 68110, dtype: int64
0    58970
1        6
Name: 68111, dtype: int64
0    58936
1       40
Name: 6820, dtype: int64
0    58932
1       44
Name: 6821, dtype: int64
0    58582
1      394
Name: 6822, dtype: int64
0    58760
1      216
Name: 6823, dtype: int64
0    58917
1       59
Name: 6824, dtype: int64
0    58953
1       23
Name: 6825, dtype: int64
0    58244
1      732

Name: 6826, dtype: int64
0    58791
1      185
Name: 6827, dtype: int64
0    58951
1       25
Name: 6828, dtype: int64
0    58967
1        9
Name: 6829, dtype: int64
0    58971
1        5
Name: 683, dtype: int64
0    58970
1        6
Name: 684, dtype: int64
0    58975
1        1
Name: 6850, dtype: int64
0    58933
1       43
Name: 6851, dtype: int64
0    58969
1        7
Name: 68601, dtype: int64
0    58973
1        3
Name: 68609, dtype: int64
0    58972
1        4
Name: 6861, dtype: int64
0    58974
1        2
Name: 6868, dtype: int64
0    58959
1       17
Name: 6869, dtype: int64
0    58963
1       13
Name: 69010, dtype: int64
0    58975
1        1
Name: 69012, dtype: int64
0    58975
1        1
Name: 69018, dtype: int64
0    58869
1      107
Name: 6910, dtype: int64
0    58966
1       10
Name: 6918, dtype: int64
0    58975
1        1
Name: 6920, dtype: int64
0    58972
1        4
Name: 6923, dtype: int64
0    58971
1        5
Name: 6924, dtype: int64
0    58972
1        4
Name: 6926, dtype: int64
0    58975
1        1
Name: 69279, dtype: int64
0    58972
1        4
Name: 69282, dtype: int64
0    58974
1        2
Name: 69289, dtype: int64
0    58825
1      151
Name: 6929, dtype: int64
0    58433
1      543
Name: 6930, dtype: int64
0    58973
1        3
Name: 6931, dtype: int64
0    58975
1        1
Name: 6938, dtype: int64
0    58975
1        1
Name: 6940, dtype: int64
0    58970
1        6
Name: 6944, dtype: int64
0    58960
1       16
Name: 6945, dtype: int64
0    58972
1        4
Name: 6948, dtype: int64
0    58974
1        2
Name: 6950, dtype: int64
0    58959
1       17
Name: 6951, dtype: int64
0    58973
1        3
Name: 69510, dtype: int64
0    58975
1        1
Name: 69512, dtype: int64
0    58974
1        2
Name: 69513, dtype: int64
0    58974
1        2
Name: 69514, dtype: int64
0    58974
1        2
Name: 69515, dtype: int64
0    58970
1        6
Name: 6952, dtype: int64
0    58939
1       37
Name: 6953, dtype: int64
0    58949
1       27
Name: 6954, dtype: int64
0    58974
1        2
Name: 69550, dtype: int64
0    58975
1        1
Name: 69551, dtype: int64
0    58975
1        1
Name: 69581, dtype: int64
0    58938
1       38
Name: 69589, dtype: int64
0    58953
1       23
Name: 6959, dtype: int64
0    58904
1       72
Name: 6960, dtype: int64
0    58689
1      287
Name: 6961, dtype: int64
0    58973
1        3
Name: 6962, dtype: int64
0    58975
1        1
Name: 6963, dtype: int64
0    58975
1        1
Name: 6965, dtype: int64
0    58971
1        5
Name: 6970, dtype: int64
0    58975
1        1
Name: 6979, dtype: int64
0    58973
1        3
Name: 6981, dtype: int64
0    58975
1        1
Name: 6982, dtype: int64
0    58954
1       22
Name: 6983, dtype: int64
0    58975
1        1
Name: 6984, dtype: int64
0    58958
1       18
Name: 6988, dtype: int64
0    58911
1       65
Name: 6989, dtype: int64
0    58972
1        4
Name: 700, dtype: int64
0    58968
1        8
Name: 7010, dtype: int64
0    58967
1        9
Name: 7011, dtype: int64
0    58972
1        4
Name: 7012, dtype: int64
0    58975
1        1
Name: 7013, dtype: int64
0    58974
1        2
Name: 7014, dtype: int64
0    58962
1       14
Name: 7015, dtype: int64
0    58966
1       10
Name: 7018, dtype: int64
0    58967
1        9
Name: 7019, dtype: int64
0    58969
1        7
Name: 7020, dtype: int64
0    58962
1       14
Name: 70219, dtype: int64
0    58971
1        5
Name: 7028, dtype: int64
0    58971
1        5
Name: 7030, dtype: int64
0    58961
1       15
Name: 7038, dtype: int64
0    58967
1        9
Name: 70400, dtype: int64
0    58975
1        1
Name: 70401, dtype: int64
0    58974
1        2
Name: 70409, dtype: int64
0    58971
1        5
Name: 7041, dtype: int64
0    58975
1        1
Name: 7042, dtype: int64
0    58946
1       30
Name: 7048, dtype: int64
0    58962
1       14
Name: 7051, dtype: int64
0    58975
1        1
Name: 70521, dtype: int64
0    58967
1        9
Name: 70583, dtype: int64
0    58967
1        9
Name: 7061, dtype: int64
0    58964
1       12
Name: 7062, dtype: int64
0    58972
1        4
Name: 7068, dtype: int64
0    58975
1        1
Name: 7069, dtype: int64
0    58705
1      271
Name: 7070, dtype: int64
0    58968
1        8
Name: 70700, dtype: int64
0    58954
1       22
Name: 70701, dtype: int64
0    58936
1       40
Name: 70702, dtype: int64
0    57687
1     1289
Name: 70703, dtype: int64
0    58901
1       75
Name: 70704, dtype: int64
0    58666
1      310
Name: 70705, dtype: int64
0    58936
1       40
Name: 70706, dtype: int64
0    58681
1      295
Name: 70707, dtype: int64
0    58789
1      187
Name: 70709, dtype: int64
0    58939
1       37
Name: 70710, dtype: int64
0    58949
1       27
Name: 70711, dtype: int64
0    58857
1      119
Name: 70712, dtype: int64
0    58876
1      100
Name: 70713, dtype: int64
0    58591
1      385
Name: 70714, dtype: int64
0    58539
1      437
Name: 70715, dtype: int64
0    58839
1      137
Name: 70719, dtype: int64
0    58861
1      115
Name: 70720, dtype: int64
0    58855
1      121
Name: 70721, dtype: int64
0    58541
1      435
Name: 70722, dtype: int64
0    58828
1      148
Name: 70723, dtype: int64
0    58856
1      120
Name: 70724, dtype: int64
0    58862
1      114
Name: 70725, dtype: int64
0    58833
1      143
Name: 7078, dtype: int64
0    58972
1        4
Name: 7079, dtype: int64
0    58951
1       25
Name: 7080, dtype: int64
0    58972
1        4
Name: 7083, dtype: int64
0    58971
1        5
Name: 7088, dtype: int64
0    58968
1        8
Name: 7089, dtype: int64
0    58973
1        3
Name: 70900, dtype: int64
0    58958
1       18
Name: 70901, dtype: int64
0    58968
1        8
Name: 70909, dtype: int64
0    58956
1       20
Name: 7092, dtype: int64
0    58964
1       12
Name: 7093, dtype: int64
0    58975
1        1
Name: 7094, dtype: int64
0    58908
1       68
Name: 7098, dtype: int64
0    58952
1       24
Name: 7099, dtype: int64
0    58648
1      328
Name: 7100, dtype: int64
0    58895
1       81
Name: 7101, dtype: int64
0    58914
1       62
Name: 7102, dtype: int64
0    58960
1       16
Name: 7103, dtype: int64
0    58954
1       22
Name: 7104, dtype: int64
0    58975
1        1
Name: 7105, dtype: int64
0    58965
1       11
Name: 7108, dtype: int64
0    58964
1       12
Name: 7109, dtype: int64
0    58946
1       30
Name: 71101, dtype: int64
0    58970
1        6
Name: 71102, dtype: int64
0    58960
1       16
Name: 71103, dtype: int64
0    58975
1        1
Name: 71104, dtype: int64
0    58946
1       30
Name: 71105, dtype: int64
0    58912
1       64
Name: 71106, dtype: int64
0    58963
1       13
Name: 71107, dtype: int64
0    58975
1        1
Name: 71108, dtype: int64
0    58969
1        7
Name: 71109, dtype: int64
0    58975
1        1
Name: 71120, dtype: int64
0    58975
1        1
Name: 71155, dtype: int64
0    58975
1        1
Name: 71180, dtype: int64
0    58975
1        1
Name: 71191, dtype: int64
0    58975
1        1
Name: 71195, dtype: int64
0    58975
1        1
Name: 71198, dtype: int64
0    58975
1        1
Name: 71213, dtype: int64
0    58975
1        1
Name: 71216, dtype: int64
0    58974
1        2
Name: 71222, dtype: int64
0    58973
1        3
Name: 71226, dtype: int64
0    58962
1       14
Name: 71230, dtype: int64
0    58971
1        5
Name: 71233, dtype: int64
0    58974
1        2
Name: 71235, dtype: int64
0    58960
1       16
Name: 71236, dtype: int64
0    58975
1        1
Name: 71237, dtype: int64
0    58973
1        3
Name: 71238, dtype: int64
0    58974
1        2
Name: 71239, dtype: int64
0    58975
1        1
Name: 71296, dtype: int64
0    58971
1        5
Name: 7131, dtype: int64
0    58975
1        1
Name: 7132, dtype: int64
0    58895
1       81
Name: 7135, dtype: int64
0    58975
1        1
Name: 7138, dtype: int64
0    58327
1      649
Name: 7140, dtype: int64
0    58973
1        3
Name: 7141, dtype: int64
0    58966
1       10
Name: 7142, dtype: int64
0    58960
1       16
Name: 71430, dtype: int64
0    58975
1        1
Name: 71432, dtype: int64
0    58972
1        4
Name: 71481, dtype: int64
0    58972
1        4
Name: 71489, dtype: int64
0    58968
1        8
Name: 7149, dtype: int64
0    58972
1        4
Name: 71500, dtype: int64
0    58975
1        1
Name: 71504, dtype: int64
0    58971
1        5
Name: 71509, dtype: int64
0    58975
1        1
Name: 71515, dtype: int64
0    58974
1        2
Name: 71516, dtype: int64
0    58975
1        1
Name: 71530, dtype: int64
0    58961
1       15
Name: 71531, dtype: int64
0    58975
1        1
Name: 71533, dtype: int64
0    58968
1        8
Name: 71534, dtype: int64
0    58901
1       75
Name: 71535, dtype: int64
0    58789
1      187
Name: 71536, dtype: int64
0    58973
1        3
Name: 71537, dtype: int64
0    58971
1        5
Name: 71580, dtype: int64
0    58964
1       12
Name: 71589, dtype: int64
0    58085
1      891
Name: 71590, dtype: int64
0    58952
1       24
Name: 71591, dtype: int64
0    58975
1        1
Name: 71592, dtype: int64
0    58974
1        2
Name: 71593, dtype: int64
0    58972
1        4
Name: 71594, dtype: int64
0    58920
1       56
Name: 71595, dtype: int64
0    58844
1      132
Name: 71596, dtype: int64
0    58971
1        5
Name: 71597, dtype: int64
0    58936
1       40
Name: 71598, dtype: int64
0    58973
1        3
Name: 71615, dtype: int64
0    58975
1        1
Name: 71616, dtype: int64
0    58974
1        2
Name: 71650, dtype: int64
0    58975
1        1
Name: 71666, dtype: int64
0    58968
1        8
Name: 71680, dtype: int64
0    58975
1        1
Name: 71687, dtype: int64
0    58692
1      284
Name: 71690, dtype: int64
0    58963
1       13
Name: 71691, dtype: int64
0    58974
1        2
Name: 71693, dtype: int64
0    58970
1        6
Name: 71694, dtype: int64
0    58966
1       10
Name: 71695, dtype: int64
0    58944
1       32
Name: 71696, dtype: int64
0    58971
1        5
Name: 71697, dtype: int64
0    58972
1        4
Name: 71698, dtype: int64
0    58959
1       17
Name: 71699, dtype: int64
0    58973
1        3
Name: 7176, dtype: int64
0    58975
1        1
Name: 71784, dtype: int64
0    58975
1        1
Name: 71815, dtype: int64
0    58975
1        1
Name: 71821, dtype: int64
0    58975
1        1
Name: 71828, dtype: int64
0    58972
1        4
Name: 71831, dtype: int64
0    58975
1        1
Name: 71835, dtype: int64
0    58975
1        1
Name: 71836, dtype: int64
0    58975
1        1
Name: 71840, dtype: int64
0    58974
1        2
Name: 71842, dtype: int64
0    58974
1        2
Name: 71843, dtype: int64
0    58973
1        3
Name: 71844, dtype: int64
0    58975
1        1
Name: 71845, dtype: int64
0    58971
1        5
Name: 71846, dtype: int64
0    58973
1        3
Name: 71847, dtype: int64
0    58975
1        1
Name: 71848, dtype: int64
0    58972
1        4
Name: 71849, dtype: int64
0    58974
1        2
Name: 71855, dtype: int64
0    58975
1        1
Name: 71856, dtype: int64
0    58974
1        2

Name: 71865, dtype: int64
0    58975
1        1
Name: 71884, dtype: int64
0    58972
1        4
Name: 71887, dtype: int64
0    58972
1        4
Name: 71888, dtype: int64
0    58975
1        1
Name: 71891, dtype: int64
0    58975
1        1
Name: 71895, dtype: int64
0    58975
1        1
Name: 71897, dtype: int64
0    58972
1        4
Name: 71901, dtype: int64
0    58970
1        6
Name: 71902, dtype: int64
0    58971
1        5
Name: 71903, dtype: int64
0    58975
1        1
Name: 71904, dtype: int64
0    58973
1        3
Name: 71905, dtype: int64
0    58919
1       57
Name: 71906, dtype: int64
0    58972
1        4
Name: 71907, dtype: int64
0    58974
1        2
Name: 71909, dtype: int64
0    58975
1        1
Name: 71911, dtype: int64
0    58974
1        2
Name: 71912, dtype: int64
0    58974
1        2
Name: 71913, dtype: int64
0    58969
1        7
Name: 71916, dtype: int64
0    58975
1        1
Name: 71917, dtype: int64
0    58975
1        1
Name: 71918, dtype: int64
0    58975
1        1
Name: 71926, dtype: int64
0    58975
1        1
Name: 71930, dtype: int64
0    58972
1        4
Name: 71940, dtype: int64
0    58828
1      148
Name: 71941, dtype: int64
0    58972
1        4
Name: 71942, dtype: int64
0    58961
1       15
Name: 71943, dtype: int64
0    58975
1        1
Name: 71944, dtype: int64
0    58905
1       71
Name: 71945, dtype: int64
0    58904
1       72
Name: 71946, dtype: int64
0    58950
1       26
Name: 71947, dtype: int64
0    58968
1        8
Name: 71949, dtype: int64
0    58975
1        1
Name: 71950, dtype: int64
0    58975
1        1
Name: 71954, dtype: int64
0    58974
1        2
Name: 71958, dtype: int64
0    58953
1       23
Name: 71965, dtype: int64
0    58974
1        2
Name: 71966, dtype: int64
0    58941
1       35
Name: 7197, dtype: int64
0    58975
1        1
Name: 71970, dtype: int64
0    58975
1        1
Name: 71985, dtype: int64
0    58975
1        1
Name: 71986, dtype: int64
0    58975
1        1
Name: 71990, dtype: int64
0    58974
1        2
Name: 71996, dtype: int64
0    58927
1       49
Name: 7200, dtype: int64
0    58968
1        8
Name: 7202, dtype: int64
0    58968
1        8
Name: 7209, dtype: int64
0    58778
1      198
Name: 7210, dtype: int64
0    58889
1       87
Name: 7211, dtype: int64
0    58960
1       16
Name: 7212, dtype: int64
0    58826
1      150
Name: 7213, dtype: int64
0    58971
1        5
Name: 72141, dtype: int64
0    58969
1        7
Name: 72142, dtype: int64
0    58968
1        8
Name: 7217, dtype: int64
0    58966
1       10
Name: 7218, dtype: int64
0    58922
1       54
Name: 72190, dtype: int64
0    58974
1        2
Name: 72191, dtype: int64
0    58930
1       46
Name: 7220, dtype: int64
0    58884
1       92
Name: 72210, dtype: int64
0    58968
1        8
Name: 72211, dtype: int64
0    58970
1        6
Name: 7222, dtype: int64
0    58975
1        1
Name: 72230, dtype: int64
0    58949
1       27
Name: 7224, dtype: int64
0    58971
1        5
Name: 72251, dtype: int64
0    58912
1       64
Name: 72252, dtype: int64
0    58961
1       15
Name: 7226, dtype: int64
0    58975
1        1
Name: 72270, dtype: int64
0    58937
1       39
Name: 72271, dtype: int64
0    58966
1       10
Name: 72272, dtype: int64
0    58966
1       10
Name: 72273, dtype: int64
0    58972
1        4
Name: 72283, dtype: int64
0    58969
1        7
Name: 72290, dtype: int64
0    58949
1       27
Name: 72291, dtype: int64
0    58959
1       17
Name: 72292, dtype: int64
0    58913
1       63
Name: 72293, dtype: int64
0    58895
1       81
Name: 7230, dtype: int64
0    58892
1       84
Name: 7231, dtype: int64
0    58950
1       26
Name: 7234, dtype: int64
0    58962
1       14
Name: 7235, dtype: int64
0    58975
1        1
Name: 7236, dtype: int64
0    58975
1        1
Name: 7237, dtype: int64
0    58970
1        6
Name: 7238, dtype: int64
0    58787
1      189
Name: 72400, dtype: int64
0    58957
1       19
Name: 72401, dtype: int64
0    58799
1      177
Name: 72402, dtype: int64
0    58971
1        5
Name: 72403, dtype: int64
0    58975
1        1
Name: 72409, dtype: int64
0    58489
1      487
Name: 7242, dtype: int64
0    58889
1       87
Name: 7243, dtype: int64
0    58945
1       31
Name: 7244, dtype: int64
0    58619
1      357
Name: 7245, dtype: int64
0    58975
1        1
Name: 7246, dtype: int64
0    58961
1       15
Name: 7248, dtype: int64
0    58969
1        7
Name: 7249, dtype: int64
0    58705
1      271
Name: 725, dtype: int64
0    58960
1       16
Name: 7260, dtype: int64
0    58940
1       36
Name: 72610, dtype: int64
0    58968
1        8
Name: 72611, dtype: int64
0    58974
1        2
Name: 72612, dtype: int64
0    58975
1        1
Name: 72619, dtype: int64
0    58971
1        5
Name: 7262, dtype: int64
0    58975
1        1
Name: 72632, dtype: int64
0    58959
1       17
Name: 72633, dtype: int64
0    58958
1       18
Name: 7265, dtype: int64
0    58972
1        4
Name: 72660, dtype: int64
0    58975
1        1
Name: 72664, dtype: int64
0    58975
1        1
Name: 72665, dtype: int64
0    58974
1        2
Name: 72669, dtype: int64
0    58974
1        2
Name: 72671, dtype: int64
0    58975
1        1
Name: 72672, dtype: int64
0    58975
1        1
Name: 72673, dtype: int64
0    58975
1        1
Name: 72679, dtype: int64
0    58974
1        2
Name: 72690, dtype: int64
0    58968
1        8
Name: 72691, dtype: int64
0    58963
1       13
Name: 72700, dtype: int64
0    58970
1        6
Name: 72703, dtype: int64
0    58972
1        4
Name: 72704, dtype: int64
0    58970
1        6
Name: 72705, dtype: int64
0    58975
1        1
Name: 72706, dtype: int64
0    58971
1        5
Name: 72709, dtype: int64
0    58975
1        1
Name: 7271, dtype: int64
0    58972
1        4
Name: 7273, dtype: int64
0    58974
1        2
Name: 72740, dtype: int64
0    58974
1        2
Name: 72741, dtype: int64
0    58973
1        3
Name: 72742, dtype: int64
0    58973
1        3
Name: 72743, dtype: int64
0    58960
1       16
Name: 72751, dtype: int64
0    58969
1        7
Name: 72761, dtype: int64
0    58974
1        2
Name: 72762, dtype: int64
0    58975
1        1
Name: 72763, dtype: int64
0    58973
1        3
Name: 72781, dtype: int64
0    58974
1        2
Name: 72782, dtype: int64
0    58973
1        3
Name: 72789, dtype: int64
0    58975
1        1
Name: 7279, dtype: int64
0    58966
1       10
Name: 7280, dtype: int64
0    58972
1        4
Name: 72813, dtype: int64
0    58968
1        8
Name: 7282, dtype: int64
0    58973
1        3
Name: 7283, dtype: int64
0    58974
1        2
Name: 7284, dtype: int64
0    58973
1        3
Name: 7286, dtype: int64
0    58964
1       12
Name: 72871, dtype: int64
0    58975
1        1
Name: 72879, dtype: int64
0    58975
1        1
Name: 72882, dtype: int64
0    58975
1        1
Name: 72883, dtype: int64
0    58971
1        5
Name: 72884, dtype: int64
0    58944
1       32
Name: 72885, dtype: int64
0    58890
1       86
Name: 72886, dtype: int64
0    58865
1      111
Name: 72887, dtype: int64
0    58586
1      390
Name: 72888, dtype: int64
0    58835
1      141
Name: 72889, dtype: int64
0    58970
1        6
Name: 7289, dtype: int64
0    58617
1      359
Name: 7291, dtype: int64
0    58966
1       10
Name: 7292, dtype: int64
0    58974
1        2
Name: 72930, dtype: int64
0    58962
1       14
Name: 72939, dtype: int64
0    58968
1        8
Name: 7294, dtype: int64
0    58839
1      137
Name: 7295, dtype: int64
0    58970
1        6
Name: 7296, dtype: int64
0    58969
1        7
Name: 72971, dtype: int64
0    58937
1       39
Name: 72972, dtype: int64
0    58914
1       62
Name: 72973, dtype: int64
0    58902
1       74
Name: 72981, dtype: int64
0    58966
1       10
Name: 72982, dtype: int64
0    58751
1      225
Name: 72989, dtype: int64
0    58958
1       18
Name: 7299, dtype: int64
0    58974
1        2
Name: 72990, dtype: int64
0    58975
1        1
Name: 72991, dtype: int64
0    58890
1       86
Name: 72992, dtype: int64
0    58975
1        1
Name: 72999, dtype: int64
0    58972
1        4
Name: 73001, dtype: int64
0    58975
1        1
Name: 73002, dtype: int64
0    58972
1        4
Name: 73004, dtype: int64
0    58962
1       14
Name: 73005, dtype: int64
0    58968
1        8
Name: 73006, dtype: int64
0    58870
1      106
Name: 73007, dtype: int64
0    58869
1      107
Name: 73008, dtype: int64
0    58974
1        2
Name: 73009, dtype: int64
0    58970
1        6
Name: 73012, dtype: int64
0    58974
1        2
Name: 73013, dtype: int64
0    58957
1       19
Name: 73015, dtype: int64
0    58960
1       16
Name: 73016, dtype: int64
0    58909
1       67
Name: 73017, dtype: int64
0    58915
1       61
Name: 73018, dtype: int64
0    58975
1        1
Name: 73019, dtype: int64
0    58974
1        2
Name: 73020, dtype: int64
0    58972
1        4
Name: 73022, dtype: int64
0    58974
1        2
Name: 73023, dtype: int64
0    58970
1        6
Name: 73024, dtype: int64
0    58957
1       19
Name: 73025, dtype: int64
0    58960
1       16
Name: 73026, dtype: int64
0    58898
1       78
Name: 73027, dtype: int64
0    58861
1      115
Name: 73028, dtype: int64
0    58975
1        1
Name: 73029, dtype: int64
0    58972
1        4
Name: 73088, dtype: int64
0    58975
1        1
Name: 73089, dtype: int64
0    58975
1        1
Name: 73097, dtype: int64
0    58930
1       46
Name: 7310, dtype: int64
0    58946
1       30
Name: 7313, dtype: int64
0    58890
1       86
Name: 7318, dtype: int64
0    58975
1        1
Name: 7320, dtype: int64
0    58973
1        3
Name: 7321, dtype: int64
0    58975
1        1
Name: 7323, dtype: int64
0    58973
1        3
Name: 7324, dtype: int64
0    58975
1        1
Name: 7325, dtype: int64
0    57030
1     1946
Name: 73300, dtype: int64
0    58975
1        1
Name: 73301, dtype: int64
0    58974
1        2
Name: 73302, dtype: int64
0    58938
1       38
Name: 73309, dtype: int64
0    58966
1       10
Name: 73311, dtype: int64
0    58974
1        2
Name: 73312, dtype: int64
0    58674
1      302
Name: 73313, dtype: int64
0    58953
1       23
Name: 73314, dtype: int64
0    58969
1        7
Name: 73315, dtype: int64
0    58971
1        5
Name: 73316, dtype: int64
0    58938
1       38
Name: 73319, dtype: int64
0    58975
1        1
Name: 73320, dtype: int64
0    58974
1        2
Name: 73329, dtype: int64
0    58973
1        3
Name: 7333, dtype: int64
0    58975
1        1
Name: 73340, dtype: int64
0    58970
1        6
Name: 73341, dtype: int64
0    58920
1       56
Name: 73342, dtype: int64
0    58975
1        1
Name: 73345, dtype: int64
0    58958
1       18
Name: 73349, dtype: int64
0    58975
1        1
Name: 7335, dtype: int64
0    58956
1       20
Name: 7336, dtype: int64
0    58970
1        6
Name: 73381, dtype: int64
0    58922
1       54
Name: 73382, dtype: int64
0    58558
1      418
Name: 73390, dtype: int64
0    58975
1        1
Name: 73393, dtype: int64
0    58975
1        1
Name: 73396, dtype: int64
0    58938
1       38
Name: 73399, dtype: int64
0    58972
1        4
Name: 734, dtype: int64
0    58974
1        2

Name: 7350, dtype: int64
0    58970
1        6
Name: 7354, dtype: int64
0    58975
1        1
Name: 7355, dtype: int64
0    58975
1        1
Name: 7358, dtype: int64
0    58975
1        1
Name: 7359, dtype: int64
0    58975
1        1
Name: 73600, dtype: int64
0    58975
1        1
Name: 73605, dtype: int64
0    58974
1        2
Name: 73609, dtype: int64
0    58975
1        1
Name: 73620, dtype: int64
0    58974
1        2
Name: 73629, dtype: int64
0    58975
1        1
Name: 73630, dtype: int64
0    58973
1        3
Name: 7366, dtype: int64
0    58975
1        1
Name: 73670, dtype: int64
0    58974
1        2
Name: 73671, dtype: int64
0    58972
1        4
Name: 73672, dtype: int64
0    58882
1       94
Name: 73679, dtype: int64
0    58972
1        4
Name: 73681, dtype: int64
0    58968
1        8
Name: 73689, dtype: int64
0    58897
1       79
Name: 73710, dtype: int64
0    58974
1        2
Name: 73711, dtype: int64
0    58969
1        7
Name: 73712, dtype: int64
0    58961
1       15
Name: 73719, dtype: int64
0    58974
1        2
Name: 73722, dtype: int64
0    58974
1        2
Name: 73729, dtype: int64
0    58813
1      163
Name: 73730, dtype: int64
0    58974
1        2
Name: 73732, dtype: int64
0    58975
1        1
Name: 73733, dtype: int64
0    58962
1       14
Name: 73734, dtype: int64
0    58950
1       26
Name: 73739, dtype: int64
0    58962
1       14
Name: 73741, dtype: int64
0    58962
1       14
Name: 73743, dtype: int64
0    58974
1        2
Name: 7380, dtype: int64
0    58975
1        1
Name: 73810, dtype: int64
0    58939
1       37
Name: 73819, dtype: int64
0    58970
1        6
Name: 7383, dtype: int64
0    58928
1       48
Name: 7384, dtype: int64
0    58968
1        8
Name: 7385, dtype: int64
0    58975
1        1
Name: 7386, dtype: int64
0    58974
1        2
Name: 7388, dtype: int64
0    58975
1        1
Name: 7402, dtype: int64
0    58971
1        5
Name: 74100, dtype: int64
0    58975
1        1
Name: 74101, dtype: int64
0    58974
1        2
Name: 74103, dtype: int64
0    58949
1       27
Name: 74190, dtype: int64
0    58971
1        5
Name: 74193, dtype: int64
0    58972
1        4
Name: 7420, dtype: int64
0    58967
1        9
Name: 7421, dtype: int64
0    58956
1       20
Name: 7422, dtype: int64
0    58944
1       32
Name: 7423, dtype: int64
0    58916
1       60
Name: 7424, dtype: int64
0    58969
1        7
Name: 74259, dtype: int64
0    58975
1        1
Name: 7428, dtype: int64
0    58966
1       10
Name: 7429, dtype: int64
0    58974
1        2
Name: 74320, dtype: int64
0    58975
1        1
Name: 74322, dtype: int64
0    58974
1        2
Name: 74330, dtype: int64
0    58975
1        1
Name: 74343, dtype: int64
0    58973
1        3
Name: 74349, dtype: int64
0    58975
1        1
Name: 74353, dtype: int64
0    58975
1        1
Name: 74359, dtype: int64
0    58974
1        2
Name: 74361, dtype: int64
0    58974
1        2
Name: 74362, dtype: int64
0    58974
1        2
Name: 74363, dtype: int64
0    58961
1       15
Name: 74365, dtype: int64
0    58975
1        1
Name: 7439, dtype: int64
0    58975
1        1
Name: 74401, dtype: int64
0    58975
1        1
Name: 74402, dtype: int64
0    58975
1        1
Name: 74405, dtype: int64
0    58969
1        7
Name: 7441, dtype: int64
0    58974
1        2
Name: 74423, dtype: int64
0    58970
1        6
Name: 74429, dtype: int64
0    58971
1        5
Name: 7443, dtype: int64
0    58973
1        3
Name: 74441, dtype: int64
0    58974
1        2
Name: 74442, dtype: int64
0    58975
1        1
Name: 74483, dtype: int64
0    58974
1        2
Name: 74489, dtype: int64
0    58974
1        2
Name: 7449, dtype: int64
0    58975
1        1
Name: 7450, dtype: int64
0    58970
1        6
Name: 74510, dtype: int64
0    58975
1        1
Name: 74511, dtype: int64
0    58975
1        1
Name: 74512, dtype: int64
0    58944
1       32
Name: 7452, dtype: int64
0    58787
1      189
Name: 7454, dtype: int64
0    58308
1      668
Name: 7455, dtype: int64
0    58973
1        3
Name: 74560, dtype: int64
0    58971
1        5
Name: 74561, dtype: int64
0    58967
1        9
Name: 74569, dtype: int64
0    58971
1        5
Name: 7458, dtype: int64
0    58975
1        1
Name: 7459, dtype: int64
0    58975
1        1
Name: 74600, dtype: int64
0    58972
1        4
Name: 74601, dtype: int64
0    58883
1       93
Name: 74602, dtype: int64
0    58970
1        6
Name: 74609, dtype: int64
0    58971
1        5
Name: 7461, dtype: int64
0    58966
1       10
Name: 7462, dtype: int64
0    58959
1       17
Name: 7463, dtype: int64
0    58662
1      314
Name: 7464, dtype: int64
0    58972
1        4
Name: 7466, dtype: int64
0    58965
1       11
Name: 7467, dtype: int64
0    58972
1        4
Name: 74681, dtype: int64
0    58975
1        1
Name: 74682, dtype: int64
0    58966
1       10
Name: 74683, dtype: int64
0    58973
1        3
Name: 74684, dtype: int64
0    58955
1       21
Name: 74685, dtype: int64
0    58970
1        6
Name: 74686, dtype: int64
0    58970
1        6
Name: 74687, dtype: int64
0    58922
1       54
Name: 74689, dtype: int64
0    58946
1       30
Name: 7469, dtype: int64
0    58571
1      405
Name: 7470, dtype: int64
0    58949
1       27
Name: 74710, dtype: int64
0    58975
1        1
Name: 74711, dtype: int64
0    58975
1        1
Name: 74720, dtype: int64
0    58966
1       10
Name: 74721, dtype: int64
0    58974
1        2
Name: 74722, dtype: int64
0    58968
1        8
Name: 74729, dtype: int64
0    58859
1      117
Name: 7473, dtype: int64
0    58975
1        1
Name: 74732, dtype: int64
0    58970
1        6
Name: 74740, dtype: int64
0    58972
1        4
Name: 74741, dtype: int64
0    58966
1       10
Name: 74742, dtype: int64
0    58967
1        9
Name: 74749, dtype: int64
0    58972
1        4
Name: 7475, dtype: int64
0    58966
1       10
Name: 74761, dtype: int64
0    58974
1        2
Name: 74762, dtype: int64
0    58973
1        3
Name: 74763, dtype: int64
0    58967
1        9
Name: 74769, dtype: int64
0    58913
1       63
Name: 74781, dtype: int64
0    58974
1        2
Name: 74782, dtype: int64
0    58949
1       27
Name: 74783, dtype: int64
0    58975
1        1
Name: 74789, dtype: int64
0    58972
1        4
Name: 7480, dtype: int64
0    58973
1        3
Name: 7481, dtype: int64
0    58974
1        2
Name: 7482, dtype: int64
0    58940
1       36
Name: 7483, dtype: int64
0    58972
1        4
Name: 7484, dtype: int64
0    58965
1       11
Name: 7485, dtype: int64
0    58963
1       13
Name: 74860, dtype: int64
0    58975
1        1
Name: 74861, dtype: int64
0    58971
1        5
Name: 74869, dtype: int64
0    58974
1        2
Name: 7488, dtype: int64
0    58961
1       15
Name: 74900, dtype: int64
0    58975
1        1
Name: 74902, dtype: int64
0    58974
1        2
Name: 74910, dtype: int64
0    58975
1        1
Name: 74912, dtype: int64
0    58972
1        4
Name: 74920, dtype: int64
0    58975
1        1
Name: 74921, dtype: int64
0    58974
1        2
Name: 74922, dtype: int64
0    58975
1        1
Name: 74923, dtype: int64
0    58974
1        2
Name: 74924, dtype: int64
0    58975
1        1
Name: 74925, dtype: int64
0    58971
1        5
Name: 7500, dtype: int64
0    58975
1        1
Name: 75010, dtype: int64
0    58975
1        1
Name: 75016, dtype: int64
0    58973
1        3
Name: 75019, dtype: int64
0    58973
1        3
Name: 75026, dtype: int64
0    58975
1        1
Name: 75029, dtype: int64
0    58934
1       42
Name: 7503, dtype: int64
0    58970
1        6
Name: 7504, dtype: int64
0    58975
1        1
Name: 7505, dtype: int64
0    58975
1        1
Name: 7508, dtype: int64
0    58972
1        4
Name: 7509, dtype: int64
0    58962
1       14
Name: 7510, dtype: int64
0    58954
1       22
Name: 7511, dtype: int64
0    58955
1       21
Name: 7512, dtype: int64
0    58969
1        7
Name: 7513, dtype: int64
0    58970
1        6
Name: 7514, dtype: int64
0    58953
1       23
Name: 7515, dtype: int64
0    58972
1        4
Name: 75160, dtype: int64
0    58959
1       17
Name: 75162, dtype: int64
0    58957
1       19
Name: 75169, dtype: int64
0    58968
1        8
Name: 7517, dtype: int64
0    58971
1        5
Name: 7520, dtype: int64
0    58975
1        1
Name: 75219, dtype: int64
0    58975
1        1
Name: 7522, dtype: int64
0    58975
1        1
Name: 7523, dtype: int64
0    58975
1        1
Name: 75240, dtype: int64
0    58973
1        3
Name: 75249, dtype: int64
0    58919
1       57
Name: 75251, dtype: int64
0    58920
1       56
Name: 75261, dtype: int64
0    58975
1        1
Name: 75262, dtype: int64
0    58967
1        9
Name: 75263, dtype: int64
0    58975
1        1
Name: 75265, dtype: int64
0    58972
1        4
Name: 75269, dtype: int64
0    58974
1        2
Name: 75289, dtype: int64
0    58974
1        2
Name: 7529, dtype: int64
0    58923
1       53
Name: 7530, dtype: int64
0    58949
1       27
Name: 75310, dtype: int64
0    58974
1        2
Name: 75311, dtype: int64
0    58905
1       71
Name: 75312, dtype: int64
0    58959
1       17
Name: 75313, dtype: int64
0    58974
1        2
Name: 75314, dtype: int64
0    58968
1        8
Name: 75315, dtype: int64
0    58971
1        5
Name: 75317, dtype: int64
0    58963
1       13
Name: 75319, dtype: int64
0    58975
1        1
Name: 75320, dtype: int64
0    58973
1        3
Name: 75321, dtype: int64
0    58970
1        6
Name: 75322, dtype: int64
0    58973
1        3
Name: 75323, dtype: int64
0    58888
1       88
Name: 75329, dtype: int64
0    58939
1       37
Name: 7533, dtype: int64
0    58973
1        3
Name: 7534, dtype: int64
0    58973
1        3
Name: 7535, dtype: int64
0    58974
1        2
Name: 7536, dtype: int64
0    58975
1        1
Name: 7537, dtype: int64
0    58972
1        4
Name: 7538, dtype: int64
0    58969
1        7
Name: 7539, dtype: int64
0    58971
1        5
Name: 7540, dtype: int64
0    58973
1        3
Name: 7541, dtype: int64
0    58974
1        2
Name: 7542, dtype: int64
0    58971
1        5
Name: 75430, dtype: int64
0    58974
1        2
Name: 75431, dtype: int64
0    58971
1        5
Name: 75432, dtype: int64
0    58975
1        1
Name: 75433, dtype: int64
0    58975
1        1
Name: 75435, dtype: int64
0    58975
1        1
Name: 75440, dtype: int64
0    58975
1        1
Name: 75441, dtype: int64
0    58975
1        1
Name: 75444, dtype: int64
0    58975
1        1
Name: 75450, dtype: int64
0    58975
1        1
Name: 75451, dtype: int64
0    58975
1        1
Name: 75453, dtype: int64
0    58974
1        2
Name: 75460, dtype: int64
0    58974
1        2
Name: 75461, dtype: int64
0    58965
1       11
Name: 75470, dtype: int64
0    58972
1        4
Name: 75479, dtype: int64
0    58967
1        9
Name: 75481, dtype: int64
0    58975
1        1
Name: 75482, dtype: int64
0    58969
1        7
Name: 75489, dtype: int64
0    58974
1        2
Name: 75500, dtype: int64
0    58948
1       28
Name: 75501, dtype: int64
0    58971
1        5

Name: 75502, dtype: int64
0    58975
1        1
Name: 75510, dtype: int64
0    58974
1        2
Name: 75511, dtype: int64
0    58968
1        8
Name: 75513, dtype: int64
0    58975
1        1
Name: 75520, dtype: int64
0    58974
1        2
Name: 75521, dtype: int64
0    58975
1        1
Name: 75522, dtype: int64
0    58974
1        2
Name: 75526, dtype: int64
0    58975
1        1
Name: 75529, dtype: int64
0    58975
1        1
Name: 75530, dtype: int64
0    58975
1        1
Name: 75531, dtype: int64
0    58975
1        1
Name: 75537, dtype: int64
0    58974
1        2
Name: 75539, dtype: int64
0    58969
1        7
Name: 75550, dtype: int64
0    58973
1        3
Name: 75555, dtype: int64
0    58975
1        1
Name: 75557, dtype: int64
0    58970
1        6
Name: 75559, dtype: int64
0    58973
1        3
Name: 75560, dtype: int64
0    58967
1        9
Name: 75563, dtype: int64
0    58975
1        1
Name: 75564, dtype: int64
0    58975
1        1
Name: 75566, dtype: int64
0    58972
1        4
Name: 75567, dtype: int64
0    58974
1        2
Name: 75569, dtype: int64
0    58956
1       20
Name: 7560, dtype: int64
0    58967
1        9
Name: 75610, dtype: int64
0    58975
1        1
Name: 75611, dtype: int64
0    58963
1       13
Name: 75612, dtype: int64
0    58975
1        1
Name: 75613, dtype: int64
0    58970
1        6
Name: 75614, dtype: int64
0    58975
1        1
Name: 75615, dtype: int64
0    58972
1        4
Name: 75616, dtype: int64
0    58972
1        4
Name: 75617, dtype: int64
0    58961
1       15
Name: 75619, dtype: int64
0    58969
1        7
Name: 7563, dtype: int64
0    58972
1        4
Name: 7564, dtype: int64
0    58964
1       12
Name: 75651, dtype: int64
0    58960
1       16
Name: 7566, dtype: int64
0    58974
1        2
Name: 75671, dtype: int64
0    58951
1       25
Name: 75679, dtype: int64
0    58960
1       16
Name: 75683, dtype: int64
0    58968
1        8
Name: 75689, dtype: int64
0    58974
1        2
Name: 7569, dtype: int64
0    58972
1        4
Name: 7570, dtype: int64
0    58975
1        1
Name: 7571, dtype: int64
0    58975
1        1
Name: 7572, dtype: int64
0    58952
1       24
Name: 75732, dtype: int64
0    58886
1       90
Name: 75733, dtype: int64
0    58961
1       15
Name: 75739, dtype: int64
0    58975
1        1
Name: 7575, dtype: int64
0    58975
1        1
Name: 7576, dtype: int64
0    58866
1      110
Name: 7580, dtype: int64
0    58971
1        5
Name: 7581, dtype: int64
0    58972
1        4
Name: 7582, dtype: int64
0    58975
1        1
Name: 7583, dtype: int64
0    58972
1        4
Name: 75839, dtype: int64
0    58970
1        6
Name: 7585, dtype: int64
0    58969
1        7
Name: 7586, dtype: int64
0    58969
1        7
Name: 7587, dtype: int64
0    58970
1        6
Name: 75881, dtype: int64
0    58971
1        5
Name: 75889, dtype: int64
0    58970
1        6
Name: 7589, dtype: int64
0    58972
1        4
Name: 7590, dtype: int64
0    58972
1        4
Name: 7592, dtype: int64
0    58970
1        6
Name: 7593, dtype: int64
0    58971
1        5
Name: 7595, dtype: int64
0    58952
1       24
Name: 7596, dtype: int64
0    58975
1        1
Name: 7597, dtype: int64
0    58964
1       12
Name: 75981, dtype: int64
0    58947
1       29
Name: 75982, dtype: int64
0    58974
1        2
Name: 75983, dtype: int64
0    58931
1       45
Name: 75989, dtype: int64
0    58970
1        6
Name: 7599, dtype: int64
0    58962
1       14
Name: 7600, dtype: int64
0    58975
1        1
Name: 7601, dtype: int64
0    58973
1        3
Name: 7602, dtype: int64
0    58975
1        1
Name: 76070, dtype: int64
0    58959
1       17
Name: 76072, dtype: int64
0    58962
1       14
Name: 76075, dtype: int64
0    58975
1        1
Name: 76076, dtype: int64
0    58975
1        1
Name: 76077, dtype: int64
0    58958
1       18
Name: 76079, dtype: int64
0    58960
1       16
Name: 7608, dtype: int64
0    58975
1        1
Name: 7610, dtype: int64
0    58975
1        1
Name: 7611, dtype: int64
0    58963
1       13
Name: 7612, dtype: int64
0    58971
1        5
Name: 7613, dtype: int64
0    58965
1       11
Name: 7615, dtype: int64
0    58962
1       14
Name: 7617, dtype: int64
0    58973
1        3
Name: 7618, dtype: int64
0    58974
1        2
Name: 7620, dtype: int64
0    58965
1       11
Name: 7621, dtype: int64
0    58966
1       10
Name: 7622, dtype: int64
0    58964
1       12
Name: 7623, dtype: int64
0    58969
1        7
Name: 7624, dtype: int64
0    58935
1       41
Name: 7625, dtype: int64
0    58955
1       21
Name: 7626, dtype: int64
0    58972
1        4
Name: 7627, dtype: int64
0    58972
1        4
Name: 7628, dtype: int64
0    58948
1       28
Name: 7630, dtype: int64
0    58966
1       10
Name: 7631, dtype: int64
0    58973
1        3
Name: 7633, dtype: int64
0    58974
1        2
Name: 7634, dtype: int64
0    58966
1       10
Name: 7635, dtype: int64
0    58969
1        7
Name: 7636, dtype: int64
0    58975
1        1
Name: 76381, dtype: int64
0    58967
1        9
Name: 76382, dtype: int64
0    58932
1       44
Name: 76383, dtype: int64
0    58973
1        3
Name: 76384, dtype: int64
0    58972
1        4
Name: 76389, dtype: int64
0    58975
1        1
Name: 76401, dtype: int64
0    58962
1       14
Name: 76402, dtype: int64
0    58967
1        9
Name: 76403, dtype: int64
0    58959
1       17
Name: 76404, dtype: int64
0    58943
1       33
Name: 76405, dtype: int64
0    58950
1       26
Name: 76406, dtype: int64
0    58927
1       49
Name: 76407, dtype: int64
0    58916
1       60
Name: 76408, dtype: int64
0    58955
1       21
Name: 76409, dtype: int64
0    58974
1        2
Name: 76416, dtype: int64
0    58975
1        1
Name: 76418, dtype: int64
0    58973
1        3
Name: 76491, dtype: int64
0    58967
1        9
Name: 76492, dtype: int64
0    58970
1        6
Name: 76493, dtype: int64
0    58968
1        8
Name: 76494, dtype: int64
0    58967
1        9
Name: 76495, dtype: int64
0    58963
1       13
Name: 76496, dtype: int64
0    58958
1       18
Name: 76497, dtype: int64
0    58959
1       17
Name: 76498, dtype: int64
0    58973
1        3
Name: 76499, dtype: int64
0    58974
1        2
Name: 76500, dtype: int64
0    58967
1        9
Name: 76501, dtype: int64
0    58863
1      113
Name: 76502, dtype: int64
0    58837
1      139
Name: 76503, dtype: int64
0    58965
1       11
Name: 76504, dtype: int64
0    58973
1        3
Name: 76505, dtype: int64
0    58975
1        1
Name: 76506, dtype: int64
0    58975
1        1
Name: 76508, dtype: int64
0    58975
1        1
Name: 76510, dtype: int64
0    58975
1        1
Name: 76511, dtype: int64
0    58962
1       14
Name: 76512, dtype: int64
0    58952
1       24
Name: 76513, dtype: int64
0    58762
1      214
Name: 76514, dtype: int64
0    58677
1      299
Name: 76515, dtype: int64
0    58619
1      357
Name: 76516, dtype: int64
0    58502
1      474
Name: 76517, dtype: int64
0    58052
1      924
Name: 76518, dtype: int64
0    58232
1      744
Name: 76519, dtype: int64
0    58967
1        9
Name: 76521, dtype: int64
0    58932
1       44
Name: 76522, dtype: int64
0    58868
1      108
Name: 76523, dtype: int64
0    58783
1      193
Name: 76524, dtype: int64
0    58693
1      283
Name: 76525, dtype: int64
0    58489
1      487
Name: 76526, dtype: int64
0    58095
1      881
Name: 76527, dtype: int64
0    58102
1      874
Name: 76528, dtype: int64
0    58932
1       44
Name: 76529, dtype: int64
0    58947
1       29
Name: 7660, dtype: int64
0    58566
1      410
Name: 7661, dtype: int64
0    58972
1        4
Name: 7662, dtype: int64
0    58943
1       33
Name: 76621, dtype: int64
0    58964
1       12
Name: 7670, dtype: int64
0    58948
1       28
Name: 7671, dtype: int64
0    58972
1        4
Name: 76711, dtype: int64
0    58909
1       67
Name: 76719, dtype: int64
0    58966
1       10
Name: 7672, dtype: int64
0    58962
1       14
Name: 7673, dtype: int64
0    58975
1        1
Name: 7675, dtype: int64
0    58967
1        9
Name: 7676, dtype: int64
0    58959
1       17
Name: 7678, dtype: int64
0    58972
1        4
Name: 7683, dtype: int64
0    58973
1        3
Name: 7685, dtype: int64
0    58975
1        1
Name: 7686, dtype: int64
0    58974
1        2
Name: 7687, dtype: int64
0    58960
1       16
Name: 7689, dtype: int64
0    57662
1     1314
Name: 769, dtype: int64
0    58913
1       63
Name: 7700, dtype: int64
0    58953
1       23
Name: 7701, dtype: int64
0    58968
1        8
Name: 77012, dtype: int64
0    58973
1        3
Name: 77016, dtype: int64
0    58973
1        3
Name: 77018, dtype: int64
0    58860
1      116
Name: 7702, dtype: int64
0    58955
1       21
Name: 7703, dtype: int64
0    58965
1       11
Name: 7704, dtype: int64
0    58961
1       15
Name: 7705, dtype: int64
0    58222
1      754
Name: 7706, dtype: int64
0    58791
1      185
Name: 7707, dtype: int64
0    58751
1      225
Name: 7708, dtype: int64
0    57933
1     1043
Name: 77081, dtype: int64
0    58828
1      148
Name: 77082, dtype: int64
0    58928
1       48
Name: 77083, dtype: int64
0    58964
1       12
Name: 77084, dtype: int64
0    58974
1        2
Name: 77087, dtype: int64
0    58974
1        2
Name: 77088, dtype: int64
0    58393
1      583
Name: 77089, dtype: int64
0    58974
1        2
Name: 7709, dtype: int64
0    58973
1        3
Name: 7711, dtype: int64
0    58972
1        4
Name: 7712, dtype: int64
0    58965
1       11
Name: 7714, dtype: int64
0    58906
1       70
Name: 7716, dtype: int64
0    58922
1       54
Name: 7717, dtype: int64
0    58928
1       48
Name: 7718, dtype: int64
0    58751
1      225
Name: 77181, dtype: int64
0    58969
1        7
Name: 77182, dtype: int64
0    58936
1       40
Name: 77183, dtype: int64
0    58971
1        5
Name: 77189, dtype: int64
0    58963
1       13
Name: 7720, dtype: int64
0    58975
1        1
Name: 7721, dtype: int64
0    58945
1       31
Name: 77210, dtype: int64
0    58866
1      110
Name: 77211, dtype: int64
0    58953
1       23
Name: 77212, dtype: int64
0    58953
1       23
Name: 77213, dtype: int64
0    58965
1       11
Name: 77214, dtype: int64
0    58970
1        6
Name: 7722, dtype: int64
0    58975
1        1
Name: 7723, dtype: int64
0    58965
1       11
Name: 7724, dtype: int64
0    58903
1       73
Name: 7726, dtype: int64
0    58965
1       11
Name: 7728, dtype: int64
0    58967
1        9
Name: 7730, dtype: int64
0    58929
1       47
Name: 7731, dtype: int64
0    58936
1       40
Name: 7732, dtype: int64
0    58975
1        1
Name: 7741, dtype: int64
0    56712
1     2264
Name: 7742, dtype: int64
0    58975
1        1
Name: 77430, dtype: int64
0    58975
1        1
Name: 77431, dtype: int64
0    58973
1        3
Name: 77439, dtype: int64
0    58975
1        1
Name: 7744, dtype: int64
0    58317
1      659
Name: 7746, dtype: int64
0    58795
1      181
Name: 7750, dtype: int64
0    58975
1        1
Name: 7751, dtype: int64
0    58975
1        1
Name: 7753, dtype: int64
0    58971
1        5
Name: 7754, dtype: int64
0    58842
1      134

Name: 7755, dtype: int64
0    58619
1      357
Name: 7756, dtype: int64
0    58877
1       99
Name: 7757, dtype: int64
0    58968
1        8
Name: 7758, dtype: int64
0    58970
1        6
Name: 77581, dtype: int64
0    58972
1        4
Name: 77589, dtype: int64
0    58973
1        3
Name: 7759, dtype: int64
0    58975
1        1
Name: 7760, dtype: int64
0    58896
1       80
Name: 7761, dtype: int64
0    58973
1        3
Name: 7762, dtype: int64
0    58974
1        2
Name: 7763, dtype: int64
0    58946
1       30
Name: 7764, dtype: int64
0    58957
1       19
Name: 7765, dtype: int64
0    58569
1      407
Name: 7766, dtype: int64
0    58945
1       31
Name: 7767, dtype: int64
0    58975
1        1
Name: 7768, dtype: int64
0    58967
1        9
Name: 7771, dtype: int64
0    58974
1        2
Name: 7773, dtype: int64
0    58966
1       10
Name: 7774, dtype: int64
0    58907
1       69
Name: 7775, dtype: int64
0    58959
1       17
Name: 7776, dtype: int64
0    58944
1       32
Name: 7778, dtype: int64
0    58975
1        1
Name: 7779, dtype: int64
0    58966
1       10
Name: 7780, dtype: int64
0    58975
1        1
Name: 7782, dtype: int64
0    58838
1      138
Name: 7783, dtype: int64
0    58875
1      101
Name: 7784, dtype: int64
0    58973
1        3
Name: 7785, dtype: int64
0    58893
1       83
Name: 7786, dtype: int64
0    58908
1       68
Name: 7788, dtype: int64
0    58975
1        1
Name: 7789, dtype: int64
0    58945
1       31
Name: 7790, dtype: int64
0    58975
1        1
Name: 7791, dtype: int64
0    58972
1        4
Name: 7792, dtype: int64
0    57908
1     1068
Name: 7793, dtype: int64
0    58951
1       25
Name: 7795, dtype: int64
0    58975
1        1
Name: 7796, dtype: int64
0    58963
1       13
Name: 7797, dtype: int64
0    58965
1       11
Name: 7798, dtype: int64
0    58370
1      606
Name: 77981, dtype: int64
0    58951
1       25
Name: 77982, dtype: int64
0    58973
1        3
Name: 77984, dtype: int64
0    58975
1        1
Name: 77985, dtype: int64
0    58518
1      458
Name: 77989, dtype: int64
0    58974
1        2
Name: 7799, dtype: int64
0    58825
1      151
Name: 78001, dtype: int64
0    58972
1        4
Name: 78002, dtype: int64
0    58955
1       21
Name: 78003, dtype: int64
0    58399
1      577
Name: 78009, dtype: int64
0    58943
1       33
Name: 7801, dtype: int64
0    58543
1      433
Name: 7802, dtype: int64
0    58975
1        1
Name: 78031, dtype: int64
0    58968
1        8
Name: 78033, dtype: int64
0    57042
1     1934
Name: 78039, dtype: int64
0    58882
1       94
Name: 7804, dtype: int64
0    58968
1        8
Name: 78050, dtype: int64
0    58971
1        5
Name: 78051, dtype: int64
0    58671
1      305
Name: 78052, dtype: int64
0    58975
1        1
Name: 78053, dtype: int64
0    58975
1        1
Name: 78054, dtype: int64
0    58975
1        1
Name: 78055, dtype: int64
0    58395
1      581
Name: 78057, dtype: int64
0    58970
1        6
Name: 78059, dtype: int64
0    58550
1      426
Name: 7806, dtype: int64
0    58681
1      295
Name: 78060, dtype: int64
0    58781
1      195
Name: 78061, dtype: int64
0    58829
1      147
Name: 78062, dtype: int64
0    58972
1        4
Name: 78064, dtype: int64
0    58907
1       69
Name: 78065, dtype: int64
0    58973
1        3
Name: 78066, dtype: int64
0    58961
1       15
Name: 78071, dtype: int64
0    58973
1        3
Name: 78072, dtype: int64
0    58819
1      157
Name: 78079, dtype: int64
0    58968
1        8
Name: 7808, dtype: int64
0    58972
1        4
Name: 7809, dtype: int64
0    58926
1       50
Name: 78093, dtype: int64
0    58970
1        6
Name: 78094, dtype: int64
0    58966
1       10
Name: 78096, dtype: int64
0    58736
1      240
Name: 78097, dtype: int64
0    58942
1       34
Name: 78099, dtype: int64
0    58876
1      100
Name: 7810, dtype: int64
0    58973
1        3
Name: 7811, dtype: int64
0    58802
1      174
Name: 7812, dtype: int64
0    58886
1       90
Name: 7813, dtype: int64
0    58966
1       10
Name: 7816, dtype: int64
0    58975
1        1
Name: 7817, dtype: int64
0    58945
1       31
Name: 7818, dtype: int64
0    58782
1      194
Name: 78194, dtype: int64
0    58959
1       17
Name: 78199, dtype: int64
0    58900
1       76
Name: 7820, dtype: int64
0    58722
1      254
Name: 7821, dtype: int64
0    58972
1        4
Name: 7822, dtype: int64
0    58700
1      276
Name: 7823, dtype: int64
0    58813
1      163
Name: 7824, dtype: int64
0    58969
1        7
Name: 7825, dtype: int64
0    58971
1        5
Name: 78261, dtype: int64
0    58974
1        2
Name: 78262, dtype: int64
0    58953
1       23
Name: 7827, dtype: int64
0    58973
1        3
Name: 7828, dtype: int64
0    58929
1       47
Name: 7830, dtype: int64
0    58969
1        7
Name: 7831, dtype: int64
0    58797
1      179
Name: 78321, dtype: int64
0    58967
1        9
Name: 7833, dtype: int64
0    58957
1       19
Name: 78340, dtype: int64
0    58973
1        3
Name: 78341, dtype: int64
0    58973
1        3
Name: 78343, dtype: int64
0    58959
1       17
Name: 7835, dtype: int64
0    58969
1        7
Name: 7836, dtype: int64
0    58802
1      174
Name: 7837, dtype: int64
0    58700
1      276
Name: 7840, dtype: int64
0    58972
1        4
Name: 7841, dtype: int64
0    58907
1       69
Name: 7842, dtype: int64
0    58488
1      488
Name: 7843, dtype: int64
0    58970
1        6
Name: 78441, dtype: int64
0    58950
1       26
Name: 78442, dtype: int64
0    58974
1        2
Name: 78443, dtype: int64
0    58958
1       18
Name: 78449, dtype: int64
0    58898
1       78
Name: 7845, dtype: int64
0    58845
1      131
Name: 78451, dtype: int64
0    58942
1       34
Name: 78459, dtype: int64
0    58973
1        3
Name: 78461, dtype: int64
0    58953
1       23
Name: 78469, dtype: int64
0    58673
1      303
Name: 7847, dtype: int64
0    58975
1        1
Name: 7848, dtype: int64
0    58974
1        2
Name: 78491, dtype: int64
0    58972
1        4
Name: 78492, dtype: int64
0    58975
1        1
Name: 78499, dtype: int64
0    58369
1      607
Name: 7850, dtype: int64
0    58965
1       11
Name: 7851, dtype: int64
0    58759
1      217
Name: 7852, dtype: int64
0    58856
1      120
Name: 7854, dtype: int64
0    58783
1      193
Name: 78550, dtype: int64
0    57822
1     1154
Name: 78551, dtype: int64
0    56390
1     2586
Name: 78552, dtype: int64
0    58441
1      535
Name: 78559, dtype: int64
0    58762
1      214
Name: 7856, dtype: int64
0    58969
1        7
Name: 7859, dtype: int64
0    58975
1        1
Name: 78600, dtype: int64
0    58973
1        3
Name: 78601, dtype: int64
0    58972
1        4
Name: 78602, dtype: int64
0    58921
1       55
Name: 78603, dtype: int64
0    58964
1       12
Name: 78604, dtype: int64
0    58937
1       39
Name: 78605, dtype: int64
0    58922
1       54
Name: 78606, dtype: int64
0    58969
1        7
Name: 78607, dtype: int64
0    58810
1      166
Name: 78609, dtype: int64
0    58925
1       51
Name: 7861, dtype: int64
0    58902
1       74
Name: 7862, dtype: int64
0    58575
1      401
Name: 7863, dtype: int64
0    58933
1       43
Name: 78630, dtype: int64
0    58952
1       24
Name: 78639, dtype: int64
0    58965
1       11
Name: 7864, dtype: int64
0    58856
1      120
Name: 78650, dtype: int64
0    58959
1       17
Name: 78651, dtype: int64
0    58940
1       36
Name: 78652, dtype: int64
0    58723
1      253
Name: 78659, dtype: int64
0    58899
1       77
Name: 7866, dtype: int64
0    58933
1       43
Name: 7868, dtype: int64
0    58973
1        3
Name: 7869, dtype: int64
0    58684
1      292
Name: 78701, dtype: int64
0    58852
1      124
Name: 78702, dtype: int64
0    58945
1       31
Name: 78703, dtype: int64
0    58973
1        3
Name: 78704, dtype: int64
0    58971
1        5
Name: 7871, dtype: int64
0    58811
1      165
Name: 7872, dtype: int64
0    58477
1      499
Name: 78720, dtype: int64
0    58944
1       32
Name: 78721, dtype: int64
0    58852
1      124
Name: 78722, dtype: int64
0    58958
1       18
Name: 78723, dtype: int64
0    58972
1        4
Name: 78724, dtype: int64
0    58902
1       74
Name: 78729, dtype: int64
0    58939
1       37
Name: 7873, dtype: int64
0    58975
1        1
Name: 7874, dtype: int64
0    58919
1       57
Name: 7876, dtype: int64
0    58957
1       19
Name: 78760, dtype: int64
0    57927
1     1049
Name: 78791, dtype: int64
0    58965
1       11
Name: 78799, dtype: int64
0    58947
1       29
Name: 7881, dtype: int64
0    57956
1     1020
Name: 78820, dtype: int64
0    58954
1       22
Name: 78821, dtype: int64
0    58765
1      211
Name: 78829, dtype: int64
0    58680
1      296
Name: 78830, dtype: int64
0    58954
1       22
Name: 78831, dtype: int64
0    58974
1        2
Name: 78832, dtype: int64
0    58973
1        3
Name: 78833, dtype: int64
0    58974
1        2
Name: 78834, dtype: int64
0    58973
1        3
Name: 78837, dtype: int64
0    58969
1        7
Name: 78838, dtype: int64
0    58946
1       30
Name: 78839, dtype: int64
0    58938
1       38
Name: 78841, dtype: int64
0    58964
1       12
Name: 78842, dtype: int64
0    58968
1        8
Name: 78843, dtype: int64
0    58688
1      288
Name: 7885, dtype: int64
0    58975
1        1
Name: 78862, dtype: int64
0    58966
1       10
Name: 78863, dtype: int64
0    58971
1        5
Name: 78864, dtype: int64
0    58975
1        1
Name: 78865, dtype: int64
0    58975
1        1
Name: 78869, dtype: int64
0    58975
1        1
Name: 7887, dtype: int64
0    58973
1        3
Name: 7888, dtype: int64
0    58973
1        3
Name: 78891, dtype: int64
0    58964
1       12
Name: 78899, dtype: int64
0    58836
1      140
Name: 78900, dtype: int64
0    58929
1       47
Name: 78901, dtype: int64
0    58971
1        5
Name: 78902, dtype: int64
0    58959
1       17
Name: 78903, dtype: int64
0    58955
1       21
Name: 78904, dtype: int64
0    58970
1        6
Name: 78905, dtype: int64
0    58930
1       46
Name: 78906, dtype: int64
0    58940
1       36
Name: 78907, dtype: int64
0    58914
1       62
Name: 78909, dtype: int64
0    58964
1       12
Name: 7891, dtype: int64
0    58899
1       77
Name: 7892, dtype: int64
0    58963
1       13
Name: 78930, dtype: int64
0    58974
1        2
Name: 78931, dtype: int64
0    58975
1        1
Name: 78932, dtype: int64
0    58972
1        4
Name: 78933, dtype: int64
0    58974
1        2
Name: 78934, dtype: int64
0    58975
1        1
Name: 78937, dtype: int64
0    58968
1        8
Name: 78939, dtype: int64
0    58975
1        1
Name: 78940, dtype: int64
0    58975
1        1
Name: 78947, dtype: int64
0    58442
1      534
Name: 7895, dtype: int64
0    58921
1       55
Name: 78951, dtype: int64
0    57998
1      978
Name: 78959, dtype: int64
0    58974
1        2
Name: 78960, dtype: int64
0    58975
1        1
Name: 78961, dtype: int64
0    58677
1      299
Name: 79001, dtype: int64
0    58975
1        1
Name: 79009, dtype: int64
0    58974
1        2
Name: 7901, dtype: int64
0    58968
1        8
Name: 7902, dtype: int64

0    58970
1        6
Name: 79021, dtype: int64
0    58970
1        6
Name: 79022, dtype: int64
0    58639
1      337
Name: 79029, dtype: int64
0    58542
1      434
Name: 7904, dtype: int64
0    58792
1      184
Name: 7905, dtype: int64
0    58819
1      157
Name: 7906, dtype: int64
0    57498
1     1478
Name: 7907, dtype: int64
0    58966
1       10
Name: 7908, dtype: int64
0    57982
1      994
Name: 79092, dtype: int64
0    58944
1       32
Name: 79093, dtype: int64
0    58953
1       23
Name: 79094, dtype: int64
0    58975
1        1
Name: 79095, dtype: int64
0    58959
1       17
Name: 79099, dtype: int64
0    58953
1       23
Name: 7910, dtype: int64
0    58975
1        1
Name: 7912, dtype: int64
0    58973
1        3
Name: 7913, dtype: int64
0    58975
1        1
Name: 7915, dtype: int64
0    58974
1        2
Name: 7916, dtype: int64
0    58919
1       57
Name: 7919, dtype: int64
0    58972
1        4
Name: 7920, dtype: int64
0    58763
1      213
Name: 7921, dtype: int64
0    58975
1        1
Name: 7929, dtype: int64
0    58971
1        5
Name: 7930, dtype: int64
0    58929
1       47
Name: 7931, dtype: int64
0    58913
1       63
Name: 79311, dtype: int64
0    58956
1       20
Name: 79319, dtype: int64
0    58972
1        4
Name: 7932, dtype: int64
0    58975
1        1
Name: 7933, dtype: int64
0    58971
1        5
Name: 7934, dtype: int64
0    58968
1        8
Name: 7935, dtype: int64
0    58973
1        3
Name: 7936, dtype: int64
0    58970
1        6
Name: 7937, dtype: int64
0    58975
1        1
Name: 79380, dtype: int64
0    58975
1        1
Name: 79381, dtype: int64
0    58967
1        9
Name: 79389, dtype: int64
0    58973
1        3
Name: 79399, dtype: int64
0    58975
1        1
Name: 79400, dtype: int64
0    58974
1        2
Name: 79401, dtype: int64
0    58971
1        5
Name: 79402, dtype: int64
0    58973
1        3
Name: 79409, dtype: int64
0    58966
1       10
Name: 79415, dtype: int64
0    58972
1        4
Name: 7942, dtype: int64
0    58839
1      137
Name: 79431, dtype: int64
0    58956
1       20
Name: 79439, dtype: int64
0    58967
1        9
Name: 7944, dtype: int64
0    58963
1       13
Name: 7945, dtype: int64
0    58975
1        1
Name: 7946, dtype: int64
0    58975
1        1
Name: 7947, dtype: int64
0    58890
1       86
Name: 7948, dtype: int64
0    58969
1        7
Name: 7949, dtype: int64
0    58975
1        1
Name: 79500, dtype: int64
0    58975
1        1
Name: 79509, dtype: int64
0    58975
1        1
Name: 79510, dtype: int64
0    58973
1        3
Name: 79539, dtype: int64
0    58914
1       62
Name: 7955, dtype: int64
0    58965
1       11
Name: 79551, dtype: int64
0    58975
1        1
Name: 79552, dtype: int64
0    58935
1       41
Name: 79579, dtype: int64
0    58975
1        1
Name: 79589, dtype: int64
0    58970
1        6
Name: 7960, dtype: int64
0    58969
1        7
Name: 7961, dtype: int64
0    58939
1       37
Name: 7962, dtype: int64
0    58903
1       73
Name: 7963, dtype: int64
0    58967
1        9
Name: 7964, dtype: int64
0    58975
1        1
Name: 79671, dtype: int64
0    58974
1        2
Name: 7969, dtype: int64
0    58975
1        1
Name: 7981, dtype: int64
0    58946
1       30
Name: 7990, dtype: int64
0    58975
1        1
Name: 79901, dtype: int64
0    57678
1     1298
Name: 79902, dtype: int64
0    58913
1       63
Name: 7991, dtype: int64
0    58975
1        1
Name: 7992, dtype: int64
0    58974
1        2
Name: 79923, dtype: int64
0    58974
1        2
Name: 79929, dtype: int64
0    58962
1       14
Name: 7993, dtype: int64
0    58725
1      251
Name: 7994, dtype: int64
0    58974
1        2
Name: 79953, dtype: int64
0    58975
1        1
Name: 79955, dtype: int64
0    58974
1        2
Name: 79959, dtype: int64
0    58962
1       14
Name: 79989, dtype: int64
0    58972
1        4
Name: 80000, dtype: int64
0    58967
1        9
Name: 80001, dtype: int64
0    58975
1        1
Name: 80002, dtype: int64
0    58974
1        2
Name: 80006, dtype: int64
0    58975
1        1
Name: 80009, dtype: int64
0    58970
1        6
Name: 80010, dtype: int64
0    58975
1        1
Name: 80011, dtype: int64
0    58970
1        6
Name: 80012, dtype: int64
0    58975
1        1
Name: 80013, dtype: int64
0    58974
1        2
Name: 80015, dtype: int64
0    58974
1        2
Name: 80016, dtype: int64
0    58964
1       12
Name: 80020, dtype: int64
0    58951
1       25
Name: 80021, dtype: int64
0    58960
1       16
Name: 80022, dtype: int64
0    58974
1        2
Name: 80023, dtype: int64
0    58974
1        2
Name: 80024, dtype: int64
0    58964
1       12
Name: 80025, dtype: int64
0    58950
1       26
Name: 80026, dtype: int64
0    58973
1        3
Name: 80030, dtype: int64
0    58972
1        4
Name: 80031, dtype: int64
0    58975
1        1
Name: 80032, dtype: int64
0    58975
1        1
Name: 80034, dtype: int64
0    58975
1        1
Name: 80035, dtype: int64
0    58972
1        4
Name: 80036, dtype: int64
0    58975
1        1
Name: 80046, dtype: int64
0    58975
1        1
Name: 80050, dtype: int64
0    58975
1        1
Name: 80060, dtype: int64
0    58973
1        3
Name: 80061, dtype: int64
0    58975
1        1
Name: 80065, dtype: int64
0    58974
1        2
Name: 80070, dtype: int64
0    58973
1        3
Name: 80071, dtype: int64
0    58974
1        2
Name: 80075, dtype: int64
0    58971
1        5
Name: 80076, dtype: int64
0    58975
1        1
Name: 80080, dtype: int64
0    58975
1        1
Name: 80081, dtype: int64
0    58975
1        1
Name: 80082, dtype: int64
0    58975
1        1
Name: 80085, dtype: int64
0    58952
1       24
Name: 80100, dtype: int64
0    58927
1       49
Name: 80101, dtype: int64
0    58954
1       22
Name: 80102, dtype: int64
0    58974
1        2
Name: 80105, dtype: int64
0    58948
1       28
Name: 80106, dtype: int64
0    58975
1        1
Name: 80109, dtype: int64
0    58962
1       14
Name: 80110, dtype: int64
0    58963
1       13
Name: 80111, dtype: int64
0    58957
1       19
Name: 80112, dtype: int64
0    58974
1        2
Name: 80113, dtype: int64
0    58974
1        2
Name: 80114, dtype: int64
0    58967
1        9
Name: 80115, dtype: int64
0    58956
1       20
Name: 80116, dtype: int64
0    58975
1        1
Name: 80119, dtype: int64
0    58924
1       52
Name: 80120, dtype: int64
0    58885
1       91
Name: 80121, dtype: int64
0    58908
1       68
Name: 80122, dtype: int64
0    58974
1        2
Name: 80123, dtype: int64
0    58970
1        6
Name: 80124, dtype: int64
0    58932
1       44
Name: 80125, dtype: int64
0    58858
1      118
Name: 80126, dtype: int64
0    58975
1        1
Name: 80129, dtype: int64
0    58960
1       16
Name: 80130, dtype: int64
0    58969
1        7
Name: 80131, dtype: int64
0    58971
1        5
Name: 80132, dtype: int64
0    58970
1        6
Name: 80135, dtype: int64
0    58959
1       17
Name: 80136, dtype: int64
0    58975
1        1
Name: 80140, dtype: int64
0    58974
1        2
Name: 80141, dtype: int64
0    58975
1        1
Name: 80142, dtype: int64
0    58975
1        1
Name: 80144, dtype: int64
0    58975
1        1
Name: 80145, dtype: int64
0    58975
1        1
Name: 80146, dtype: int64
0    58974
1        2
Name: 80150, dtype: int64
0    58975
1        1
Name: 80151, dtype: int64
0    58974
1        2
Name: 80152, dtype: int64
0    58974
1        2
Name: 80160, dtype: int64
0    58974
1        2
Name: 80161, dtype: int64
0    58974
1        2
Name: 80162, dtype: int64
0    58975
1        1
Name: 80164, dtype: int64
0    58971
1        5
Name: 80165, dtype: int64
0    58975
1        1
Name: 80170, dtype: int64
0    58973
1        3
Name: 80171, dtype: int64
0    58972
1        4
Name: 80172, dtype: int64
0    58975
1        1
Name: 80174, dtype: int64
0    58972
1        4
Name: 80175, dtype: int64
0    58970
1        6
Name: 80176, dtype: int64
0    58974
1        2
Name: 80180, dtype: int64
0    58973
1        3
Name: 80182, dtype: int64
0    58975
1        1
Name: 80196, dtype: int64
0    58735
1      241
Name: 8020, dtype: int64
0    58963
1       13
Name: 8021, dtype: int64
0    58948
1       28
Name: 80220, dtype: int64
0    58962
1       14
Name: 80221, dtype: int64
0    58963
1       13
Name: 80222, dtype: int64
0    58973
1        3
Name: 80223, dtype: int64
0    58961
1       15
Name: 80224, dtype: int64
0    58970
1        6
Name: 80225, dtype: int64
0    58965
1       11
Name: 80226, dtype: int64
0    58972
1        4
Name: 80227, dtype: int64
0    58967
1        9
Name: 80228, dtype: int64
0    58963
1       13
Name: 80229, dtype: int64
0    58975
1        1
Name: 80230, dtype: int64
0    58975
1        1
Name: 80232, dtype: int64
0    58974
1        2
Name: 80234, dtype: int64
0    58973
1        3
Name: 80235, dtype: int64
0    58971
1        5
Name: 80236, dtype: int64
0    58967
1        9
Name: 80238, dtype: int64
0    58970
1        6
Name: 80239, dtype: int64
0    58731
1      245
Name: 8024, dtype: int64
0    58958
1       18
Name: 8025, dtype: int64
0    58828
1      148
Name: 8026, dtype: int64
0    58970
1        6
Name: 8027, dtype: int64
0    58746
1      230
Name: 8028, dtype: int64
0    58966
1       10
Name: 8029, dtype: int64
0    58975
1        1
Name: 80300, dtype: int64
0    58973
1        3
Name: 80301, dtype: int64
0    58975
1        1
Name: 80306, dtype: int64
0    58974
1        2
Name: 80311, dtype: int64
0    58968
1        8
Name: 80312, dtype: int64
0    58968
1        8
Name: 80315, dtype: int64
0    58974
1        2
Name: 80316, dtype: int64
0    58964
1       12
Name: 80320, dtype: int64
0    58958
1       18
Name: 80321, dtype: int64
0    58966
1       10
Name: 80322, dtype: int64
0    58975
1        1
Name: 80324, dtype: int64
0    58965
1       11
Name: 80325, dtype: int64
0    58967
1        9
Name: 80326, dtype: int64
0    58974
1        2
Name: 80332, dtype: int64
0    58973
1        3
Name: 80336, dtype: int64
0    58975
1        1
Name: 80341, dtype: int64
0    58975
1        1
Name: 80350, dtype: int64
0    58974
1        2
Name: 80360, dtype: int64
0    58975
1        1
Name: 80362, dtype: int64
0    58975
1        1
Name: 80366, dtype: int64
0    58975
1        1
Name: 80372, dtype: int64
0    58972
1        4
Name: 80375, dtype: int64
0    58975
1        1
Name: 80376, dtype: int64
0    58974
1        2
Name: 80400, dtype: int64
0    58975
1        1
Name: 80410, dtype: int64
0    58975
1        1
Name: 80412, dtype: int64
0    58975
1        1
Name: 80416, dtype: int64
0    58971
1        5
Name: 80420, dtype: int64
0    58970
1        6
Name: 80421, dtype: int64
0    58971
1        5
Name: 80422, dtype: int64
0    58975
1        1
Name: 80423, dtype: int64
0    58969
1        7
Name: 80425, dtype: int64
0    58970
1        6

Name: 80426, dtype: int64
0    58975
1        1
Name: 80430, dtype: int64
0    58975
1        1
Name: 80432, dtype: int64
0    58973
1        3
Name: 80435, dtype: int64
0    58974
1        2
Name: 80436, dtype: int64
0    58975
1        1
Name: 80441, dtype: int64
0    58975
1        1
Name: 80466, dtype: int64
0    58974
1        2
Name: 80470, dtype: int64
0    58975
1        1
Name: 80473, dtype: int64
0    58975
1        1
Name: 80475, dtype: int64
0    58974
1        2
Name: 80476, dtype: int64
0    58974
1        2
Name: 80485, dtype: int64
0    58971
1        5
Name: 80500, dtype: int64
0    58905
1       71
Name: 80501, dtype: int64
0    58824
1      152
Name: 80502, dtype: int64
0    58957
1       19
Name: 80503, dtype: int64
0    58938
1       38
Name: 80504, dtype: int64
0    58924
1       52
Name: 80505, dtype: int64
0    58909
1       67
Name: 80506, dtype: int64
0    58874
1      102
Name: 80507, dtype: int64
0    58938
1       38
Name: 80508, dtype: int64
0    58671
1      305
Name: 8052, dtype: int64
0    58975
1        1
Name: 8053, dtype: int64
0    58666
1      310
Name: 8054, dtype: int64
0    58974
1        2
Name: 8055, dtype: int64
0    58815
1      161
Name: 8056, dtype: int64
0    58971
1        5
Name: 8058, dtype: int64
0    58927
1       49
Name: 80600, dtype: int64
0    58964
1       12
Name: 80601, dtype: int64
0    58974
1        2
Name: 80602, dtype: int64
0    58971
1        5
Name: 80603, dtype: int64
0    58955
1       21
Name: 80604, dtype: int64
0    58939
1       37
Name: 80605, dtype: int64
0    58966
1       10
Name: 80606, dtype: int64
0    58972
1        4
Name: 80607, dtype: int64
0    58968
1        8
Name: 80608, dtype: int64
0    58953
1       23
Name: 80609, dtype: int64
0    58975
1        1
Name: 80610, dtype: int64
0    58974
1        2
Name: 80616, dtype: int64
0    58948
1       28
Name: 80620, dtype: int64
0    58967
1        9
Name: 80621, dtype: int64
0    58975
1        1
Name: 80622, dtype: int64
0    58975
1        1
Name: 80623, dtype: int64
0    58972
1        4
Name: 80624, dtype: int64
0    58953
1       23
Name: 80625, dtype: int64
0    58966
1       10
Name: 80626, dtype: int64
0    58960
1       16
Name: 80629, dtype: int64
0    58975
1        1
Name: 80631, dtype: int64
0    58974
1        2
Name: 80639, dtype: int64
0    58948
1       28
Name: 8064, dtype: int64
0    58975
1        1
Name: 8065, dtype: int64
0    58973
1        3
Name: 80660, dtype: int64
0    58975
1        1
Name: 80662, dtype: int64
0    58974
1        2
Name: 8068, dtype: int64
0    58958
1       18
Name: 80700, dtype: int64
0    58787
1      189
Name: 80701, dtype: int64
0    58852
1      124
Name: 80702, dtype: int64
0    58846
1      130
Name: 80703, dtype: int64
0    58876
1      100
Name: 80704, dtype: int64
0    58903
1       73
Name: 80705, dtype: int64
0    58912
1       64
Name: 80706, dtype: int64
0    58932
1       44
Name: 80707, dtype: int64
0    58878
1       98
Name: 80708, dtype: int64
0    58817
1      159
Name: 80709, dtype: int64
0    58975
1        1
Name: 80710, dtype: int64
0    58975
1        1
Name: 80711, dtype: int64
0    58975
1        1
Name: 80718, dtype: int64
0    58874
1      102
Name: 8072, dtype: int64
0    58974
1        2
Name: 8073, dtype: int64
0    58900
1       76
Name: 8074, dtype: int64
0    58967
1        9
Name: 8075, dtype: int64
0    58974
1        2
Name: 8076, dtype: int64
0    58785
1      191
Name: 8080, dtype: int64
0    58972
1        4
Name: 8081, dtype: int64
0    58718
1      258
Name: 8082, dtype: int64
0    58963
1       13
Name: 8083, dtype: int64
0    58917
1       59
Name: 80841, dtype: int64
0    58965
1       11
Name: 80842, dtype: int64
0    58945
1       31
Name: 80843, dtype: int64
0    58968
1        8
Name: 80849, dtype: int64
0    58972
1        4
Name: 80851, dtype: int64
0    58966
1       10
Name: 80853, dtype: int64
0    58975
1        1
Name: 80859, dtype: int64
0    58957
1       19
Name: 8088, dtype: int64
0    58969
1        7
Name: 8089, dtype: int64
0    58817
1      159
Name: 81000, dtype: int64
0    58960
1       16
Name: 81001, dtype: int64
0    58929
1       47
Name: 81002, dtype: int64
0    58948
1       28
Name: 81003, dtype: int64
0    58973
1        3
Name: 81010, dtype: int64
0    58975
1        1
Name: 81012, dtype: int64
0    58975
1        1
Name: 81013, dtype: int64
0    58882
1       94
Name: 81100, dtype: int64
0    58966
1       10
Name: 81101, dtype: int64
0    58968
1        8
Name: 81102, dtype: int64
0    58957
1       19
Name: 81103, dtype: int64
0    58947
1       29
Name: 81109, dtype: int64
0    58974
1        2
Name: 81110, dtype: int64
0    58952
1       24
Name: 81200, dtype: int64
0    58937
1       39
Name: 81201, dtype: int64
0    58975
1        1
Name: 81202, dtype: int64
0    58962
1       14
Name: 81203, dtype: int64
0    58941
1       35
Name: 81209, dtype: int64
0    58974
1        2
Name: 81210, dtype: int64
0    58975
1        1
Name: 81212, dtype: int64
0    58974
1        2
Name: 81219, dtype: int64
0    58955
1       21
Name: 81220, dtype: int64
0    58942
1       34
Name: 81221, dtype: int64
0    58974
1        2
Name: 81230, dtype: int64
0    58965
1       11
Name: 81231, dtype: int64
0    58967
1        9
Name: 81240, dtype: int64
0    58972
1        4
Name: 81241, dtype: int64
0    58972
1        4
Name: 81242, dtype: int64
0    58974
1        2
Name: 81243, dtype: int64
0    58973
1        3
Name: 81244, dtype: int64
0    58974
1        2
Name: 81249, dtype: int64
0    58969
1        7
Name: 81250, dtype: int64
0    58974
1        2
Name: 81251, dtype: int64
0    58975
1        1
Name: 81252, dtype: int64
0    58974
1        2
Name: 81254, dtype: int64
0    58973
1        3
Name: 81259, dtype: int64
0    58955
1       21
Name: 81301, dtype: int64
0    58971
1        5
Name: 81302, dtype: int64
0    58971
1        5
Name: 81303, dtype: int64
0    58956
1       20
Name: 81305, dtype: int64
0    58974
1        2
Name: 81307, dtype: int64
0    58973
1        3
Name: 81308, dtype: int64
0    58964
1       12
Name: 81311, dtype: int64
0    58974
1        2
Name: 81313, dtype: int64
0    58975
1        1
Name: 81314, dtype: int64
0    58972
1        4
Name: 81318, dtype: int64
0    58964
1       12
Name: 81321, dtype: int64
0    58963
1       13
Name: 81322, dtype: int64
0    58967
1        9
Name: 81323, dtype: int64
0    58974
1        2
Name: 81331, dtype: int64
0    58970
1        6
Name: 81332, dtype: int64
0    58968
1        8
Name: 81333, dtype: int64
0    58935
1       41
Name: 81341, dtype: int64
0    58902
1       74
Name: 81342, dtype: int64
0    58959
1       17
Name: 81343, dtype: int64
0    58930
1       46
Name: 81344, dtype: int64
0    58973
1        3
Name: 81351, dtype: int64
0    58971
1        5
Name: 81352, dtype: int64
0    58974
1        2
Name: 81353, dtype: int64
0    58964
1       12
Name: 81354, dtype: int64
0    58975
1        1
Name: 81381, dtype: int64
0    58970
1        6
Name: 81382, dtype: int64
0    58970
1        6
Name: 81383, dtype: int64
0    58975
1        1
Name: 81391, dtype: int64
0    58975
1        1
Name: 81392, dtype: int64
0    58974
1        2
Name: 81393, dtype: int64
0    58967
1        9
Name: 81400, dtype: int64
0    58964
1       12
Name: 81401, dtype: int64
0    58974
1        2
Name: 81402, dtype: int64
0    58971
1        5
Name: 81403, dtype: int64
0    58975
1        1
Name: 81404, dtype: int64
0    58974
1        2
Name: 81405, dtype: int64
0    58974
1        2
Name: 81406, dtype: int64
0    58975
1        1
Name: 81407, dtype: int64
0    58973
1        3
Name: 81408, dtype: int64
0    58973
1        3
Name: 81409, dtype: int64
0    58974
1        2
Name: 81411, dtype: int64
0    58975
1        1
Name: 81412, dtype: int64
0    58975
1        1
Name: 81418, dtype: int64
0    58974
1        2
Name: 81419, dtype: int64
0    58954
1       22
Name: 81500, dtype: int64
0    58963
1       13
Name: 81501, dtype: int64
0    58959
1       17
Name: 81502, dtype: int64
0    58967
1        9
Name: 81503, dtype: int64
0    58975
1        1
Name: 81504, dtype: int64
0    58971
1        5
Name: 81509, dtype: int64
0    58973
1        3
Name: 81510, dtype: int64
0    58975
1        1
Name: 81511, dtype: int64
0    58974
1        2
Name: 81512, dtype: int64
0    58974
1        2
Name: 81513, dtype: int64
0    58975
1        1
Name: 81514, dtype: int64
0    58971
1        5
Name: 81519, dtype: int64
0    58966
1       10
Name: 81600, dtype: int64
0    58948
1       28
Name: 81601, dtype: int64
0    58967
1        9
Name: 81602, dtype: int64
0    58975
1        1
Name: 81603, dtype: int64
0    58975
1        1
Name: 81610, dtype: int64
0    58966
1       10
Name: 81611, dtype: int64
0    58972
1        4
Name: 81612, dtype: int64
0    58973
1        3
Name: 81613, dtype: int64
0    58973
1        3
Name: 8170, dtype: int64
0    58975
1        1
Name: 8171, dtype: int64
0    58974
1        2
Name: 8190, dtype: int64
0    58975
1        1
Name: 8191, dtype: int64
0    58974
1        2
Name: 82001, dtype: int64
0    58970
1        6
Name: 82002, dtype: int64
0    58969
1        7
Name: 82003, dtype: int64
0    58914
1       62
Name: 82009, dtype: int64
0    58974
1        2
Name: 82019, dtype: int64
0    58961
1       15
Name: 82020, dtype: int64
0    58835
1      141
Name: 82021, dtype: int64
0    58916
1       60
Name: 82022, dtype: int64
0    58975
1        1
Name: 82030, dtype: int64
0    58974
1        2
Name: 82032, dtype: int64
0    58904
1       72
Name: 8208, dtype: int64
0    58975
1        1
Name: 8209, dtype: int64
0    58962
1       14
Name: 82100, dtype: int64
0    58896
1       80
Name: 82101, dtype: int64
0    58972
1        4
Name: 82110, dtype: int64
0    58952
1       24
Name: 82111, dtype: int64
0    58965
1       11
Name: 82120, dtype: int64
0    58957
1       19
Name: 82121, dtype: int64
0    58974
1        2
Name: 82122, dtype: int64
0    58942
1       34
Name: 82123, dtype: int64
0    58966
1       10
Name: 82129, dtype: int64
0    58968
1        8
Name: 82130, dtype: int64
0    58970
1        6
Name: 82131, dtype: int64
0    58974
1        2
Name: 82132, dtype: int64
0    58967
1        9
Name: 82133, dtype: int64
0    58972
1        4
Name: 82139, dtype: int64
0    58942
1       34
Name: 8220, dtype: int64
0    58970
1        6
Name: 8221, dtype: int64
0    58913
1       63
Name: 82300, dtype: int64
0    58953
1       23
Name: 82301, dtype: int64
0    58937
1       39
Name: 82302, dtype: int64
0    58966
1       10
Name: 82310, dtype: int64
0    58966
1       10
Name: 82312, dtype: int64
0    58963
1       13
Name: 82320, dtype: int64
0    58969
1        7

Name: 82321, dtype: int64
0    58958
1       18
Name: 82322, dtype: int64
0    58964
1       12
Name: 82330, dtype: int64
0    58975
1        1
Name: 82331, dtype: int64
0    58934
1       42
Name: 82332, dtype: int64
0    58975
1        1
Name: 82342, dtype: int64
0    58970
1        6
Name: 82380, dtype: int64
0    58970
1        6
Name: 82381, dtype: int64
0    58948
1       28
Name: 82382, dtype: int64
0    58972
1        4
Name: 82390, dtype: int64
0    58953
1       23
Name: 82392, dtype: int64
0    58938
1       38
Name: 8240, dtype: int64
0    58969
1        7
Name: 8241, dtype: int64
0    58953
1       23
Name: 8242, dtype: int64
0    58972
1        4
Name: 8243, dtype: int64
0    58939
1       37
Name: 8244, dtype: int64
0    58961
1       15
Name: 8245, dtype: int64
0    58965
1       11
Name: 8246, dtype: int64
0    58974
1        2
Name: 8247, dtype: int64
0    58918
1       58
Name: 8248, dtype: int64
0    58962
1       14
Name: 8249, dtype: int64
0    58949
1       27
Name: 8250, dtype: int64
0    58970
1        6
Name: 8251, dtype: int64
0    58975
1        1
Name: 82520, dtype: int64
0    58957
1       19
Name: 82521, dtype: int64
0    58970
1        6
Name: 82522, dtype: int64
0    58966
1       10
Name: 82523, dtype: int64
0    58974
1        2
Name: 82524, dtype: int64
0    58924
1       52
Name: 82525, dtype: int64
0    58973
1        3
Name: 82529, dtype: int64
0    58964
1       12
Name: 82531, dtype: int64
0    58975
1        1
Name: 82532, dtype: int64
0    58975
1        1
Name: 82534, dtype: int64
0    58967
1        9
Name: 82535, dtype: int64
0    58975
1        1
Name: 82539, dtype: int64
0    58952
1       24
Name: 8260, dtype: int64
0    58973
1        3
Name: 8261, dtype: int64
0    58974
1        2
Name: 8280, dtype: int64
0    58975
1        1
Name: 8281, dtype: int64
0    58966
1       10
Name: 8300, dtype: int64
0    58957
1       19
Name: 83100, dtype: int64
0    58967
1        9
Name: 83101, dtype: int64
0    58973
1        3
Name: 83103, dtype: int64
0    58958
1       18
Name: 83104, dtype: int64
0    58974
1        2
Name: 83109, dtype: int64
0    58975
1        1
Name: 83114, dtype: int64
0    58970
1        6
Name: 83200, dtype: int64
0    58975
1        1
Name: 83202, dtype: int64
0    58974
1        2
Name: 83209, dtype: int64
0    58975
1        1
Name: 83300, dtype: int64
0    58975
1        1
Name: 83301, dtype: int64
0    58975
1        1
Name: 83302, dtype: int64
0    58975
1        1
Name: 83303, dtype: int64
0    58975
1        1
Name: 83305, dtype: int64
0    58975
1        1
Name: 83309, dtype: int64
0    58975
1        1
Name: 83311, dtype: int64
0    58975
1        1
Name: 83313, dtype: int64
0    58974
1        2
Name: 83400, dtype: int64
0    58975
1        1
Name: 83401, dtype: int64
0    58970
1        6
Name: 83402, dtype: int64
0    58975
1        1
Name: 83411, dtype: int64
0    58951
1       25
Name: 83500, dtype: int64
0    58963
1       13
Name: 83501, dtype: int64
0    58975
1        1
Name: 83503, dtype: int64
0    58971
1        5
Name: 8360, dtype: int64
0    58969
1        7
Name: 8361, dtype: int64
0    58974
1        2
Name: 8362, dtype: int64
0    58975
1        1
Name: 8363, dtype: int64
0    58974
1        2
Name: 8364, dtype: int64
0    58973
1        3
Name: 83650, dtype: int64
0    58974
1        2
Name: 83651, dtype: int64
0    58975
1        1
Name: 83652, dtype: int64
0    58975
1        1
Name: 83660, dtype: int64
0    58975
1        1
Name: 83661, dtype: int64
0    58974
1        2
Name: 8370, dtype: int64
0    58975
1        1
Name: 8371, dtype: int64
0    58975
1        1
Name: 83801, dtype: int64
0    58975
1        1
Name: 83805, dtype: int64
0    58974
1        2
Name: 83809, dtype: int64
0    58975
1        1
Name: 83813, dtype: int64
0    58974
1        2
Name: 83900, dtype: int64
0    58967
1        9
Name: 83901, dtype: int64
0    58971
1        5
Name: 83902, dtype: int64
0    58970
1        6
Name: 83903, dtype: int64
0    58973
1        3
Name: 83904, dtype: int64
0    58963
1       13
Name: 83905, dtype: int64
0    58971
1        5
Name: 83906, dtype: int64
0    58975
1        1
Name: 83907, dtype: int64
0    58964
1       12
Name: 83908, dtype: int64
0    58971
1        5
Name: 83920, dtype: int64
0    58975
1        1
Name: 83921, dtype: int64
0    58968
1        8
Name: 83942, dtype: int64
0    58974
1        2
Name: 83961, dtype: int64
0    58974
1        2
Name: 83969, dtype: int64
0    58975
1        1
Name: 83979, dtype: int64
0    58975
1        1
Name: 8400, dtype: int64
0    58956
1       20
Name: 8404, dtype: int64
0    58975
1        1
Name: 8406, dtype: int64
0    58975
1        1
Name: 8407, dtype: int64
0    58973
1        3
Name: 8408, dtype: int64
0    58973
1        3
Name: 8409, dtype: int64
0    58975
1        1
Name: 8411, dtype: int64
0    58974
1        2
Name: 8418, dtype: int64
0    58971
1        5
Name: 84200, dtype: int64
0    58975
1        1
Name: 84209, dtype: int64
0    58974
1        2
Name: 8438, dtype: int64
0    58974
1        2
Name: 8439, dtype: int64
0    58974
1        2
Name: 8440, dtype: int64
0    58969
1        7
Name: 8441, dtype: int64
0    58972
1        4
Name: 8442, dtype: int64
0    58972
1        4
Name: 8448, dtype: int64
0    58969
1        7
Name: 8449, dtype: int64
0    58967
1        9
Name: 84500, dtype: int64
0    58972
1        4
Name: 84503, dtype: int64
0    58974
1        2
Name: 84509, dtype: int64
0    58975
1        1
Name: 84512, dtype: int64
0    58975
1        1
Name: 8460, dtype: int64
0    58974
1        2
Name: 8461, dtype: int64
0    58975
1        1
Name: 8469, dtype: int64
0    58946
1       30
Name: 8470, dtype: int64
0    58972
1        4
Name: 8471, dtype: int64
0    58975
1        1
Name: 8472, dtype: int64
0    58974
1        2
Name: 8479, dtype: int64
0    58974
1        2
Name: 8488, dtype: int64
0    58972
1        4
Name: 8500, dtype: int64
0    58974
1        2
Name: 8501, dtype: int64
0    58932
1       44
Name: 85011, dtype: int64
0    58974
1        2
Name: 8502, dtype: int64
0    58973
1        3
Name: 8504, dtype: int64
0    58936
1       40
Name: 8505, dtype: int64
0    58969
1        7
Name: 8509, dtype: int64
0    58971
1        5
Name: 85100, dtype: int64
0    58965
1       11
Name: 85101, dtype: int64
0    58960
1       16
Name: 85102, dtype: int64
0    58975
1        1
Name: 85103, dtype: int64
0    58971
1        5
Name: 85105, dtype: int64
0    58973
1        3
Name: 85106, dtype: int64
0    58975
1        1
Name: 85109, dtype: int64
0    58975
1        1
Name: 85121, dtype: int64
0    58974
1        2
Name: 85125, dtype: int64
0    58975
1        1
Name: 85131, dtype: int64
0    58974
1        2
Name: 85135, dtype: int64
0    58965
1       11
Name: 85140, dtype: int64
0    58964
1       12
Name: 85141, dtype: int64
0    58968
1        8
Name: 85142, dtype: int64
0    58975
1        1
Name: 85144, dtype: int64
0    58974
1        2
Name: 85145, dtype: int64
0    58966
1       10
Name: 85146, dtype: int64
0    58975
1        1
Name: 85150, dtype: int64
0    58975
1        1
Name: 85162, dtype: int64
0    58975
1        1
Name: 85173, dtype: int64
0    58975
1        1
Name: 85175, dtype: int64
0    58929
1       47
Name: 85180, dtype: int64
0    58907
1       69
Name: 85181, dtype: int64
0    58936
1       40
Name: 85182, dtype: int64
0    58975
1        1
Name: 85183, dtype: int64
0    58975
1        1
Name: 85184, dtype: int64
0    58956
1       20
Name: 85185, dtype: int64
0    58917
1       59
Name: 85186, dtype: int64
0    58973
1        3
Name: 85189, dtype: int64
0    58975
1        1
Name: 85190, dtype: int64
0    58975
1        1
Name: 85194, dtype: int64
0    58974
1        2
Name: 85196, dtype: int64
0    58873
1      103
Name: 85200, dtype: int64
0    58834
1      142
Name: 85201, dtype: int64
0    58898
1       78
Name: 85202, dtype: int64
0    58973
1        3
Name: 85203, dtype: int64
0    58975
1        1
Name: 85204, dtype: int64
0    58935
1       41
Name: 85205, dtype: int64
0    58881
1       95
Name: 85206, dtype: int64
0    58974
1        2
Name: 85209, dtype: int64
0    58975
1        1
Name: 85210, dtype: int64
0    58973
1        3
Name: 85211, dtype: int64
0    58975
1        1
Name: 85212, dtype: int64
0    58975
1        1
Name: 85215, dtype: int64
0    58975
1        1
Name: 85216, dtype: int64
0    58975
1        1
Name: 85219, dtype: int64
0    58732
1      244
Name: 85220, dtype: int64
0    58595
1      381
Name: 85221, dtype: int64
0    58893
1       83
Name: 85222, dtype: int64
0    58975
1        1
Name: 85223, dtype: int64
0    58972
1        4
Name: 85224, dtype: int64
0    58930
1       46
Name: 85225, dtype: int64
0    58873
1      103
Name: 85226, dtype: int64
0    58971
1        5
Name: 85229, dtype: int64
0    58971
1        5
Name: 85231, dtype: int64
0    58975
1        1
Name: 85232, dtype: int64
0    58974
1        2
Name: 85239, dtype: int64
0    58972
1        4
Name: 85240, dtype: int64
0    58961
1       15
Name: 85241, dtype: int64
0    58970
1        6
Name: 85242, dtype: int64
0    58975
1        1
Name: 85245, dtype: int64
0    58971
1        5
Name: 85246, dtype: int64
0    58975
1        1
Name: 85256, dtype: int64
0    58931
1       45
Name: 85300, dtype: int64
0    58914
1       62
Name: 85301, dtype: int64
0    58947
1       29
Name: 85302, dtype: int64
0    58975
1        1
Name: 85304, dtype: int64
0    58947
1       29
Name: 85305, dtype: int64
0    58939
1       37
Name: 85306, dtype: int64
0    58974
1        2
Name: 85309, dtype: int64
0    58975
1        1
Name: 85310, dtype: int64
0    58975
1        1
Name: 85314, dtype: int64
0    58975
1        1
Name: 85316, dtype: int64
0    58975
1        1
Name: 85400, dtype: int64
0    58971
1        5
Name: 85401, dtype: int64
0    58960
1       16
Name: 85402, dtype: int64
0    58975
1        1
Name: 85403, dtype: int64
0    58975
1        1
Name: 85404, dtype: int64
0    58966
1       10
Name: 85405, dtype: int64
0    58967
1        9
Name: 85406, dtype: int64
0    58601
1      375
Name: 8600, dtype: int64
0    58955
1       21
Name: 8601, dtype: int64
0    58878
1       98
Name: 8602, dtype: int64
0    58956
1       20
Name: 8603, dtype: int64
0    58836
1      140
Name: 8604, dtype: int64
0    58954
1       22
Name: 8605, dtype: int64
0    58973
1        3
Name: 86100, dtype: int64
0    58960
1       16
Name: 86101, dtype: int64
0    58975
1        1
Name: 86102, dtype: int64
0    58974
1        2
Name: 86103, dtype: int64
0    58975
1        1
Name: 86110, dtype: int64
0    58974
1        2
Name: 86112, dtype: int64
0    58969
1        7
Name: 86113, dtype: int64
0    58972
1        4

Name: 86120, dtype: int64
0    58572
1      404
Name: 86121, dtype: int64
0    58956
1       20
Name: 86122, dtype: int64
0    58973
1        3
Name: 86130, dtype: int64
0    58965
1       11
Name: 86131, dtype: int64
0    58960
1       16
Name: 86132, dtype: int64
0    58947
1       29
Name: 8620, dtype: int64
0    58956
1       20
Name: 8621, dtype: int64
0    58969
1        7
Name: 86222, dtype: int64
0    58953
1       23
Name: 86229, dtype: int64
0    58974
1        2
Name: 86232, dtype: int64
0    58966
1       10
Name: 86239, dtype: int64
0    58974
1        2
Name: 8629, dtype: int64
0    58966
1       10
Name: 8630, dtype: int64
0    58966
1       10
Name: 8631, dtype: int64
0    58972
1        4
Name: 86320, dtype: int64
0    58968
1        8
Name: 86321, dtype: int64
0    58961
1       15
Name: 86329, dtype: int64
0    58969
1        7
Name: 86330, dtype: int64
0    58974
1        2
Name: 86331, dtype: int64
0    58962
1       14
Name: 86339, dtype: int64
0    58971
1        5
Name: 86340, dtype: int64
0    58972
1        4
Name: 86342, dtype: int64
0    58973
1        3
Name: 86343, dtype: int64
0    58974
1        2
Name: 86344, dtype: int64
0    58970
1        6
Name: 86345, dtype: int64
0    58973
1        3
Name: 86349, dtype: int64
0    58972
1        4
Name: 86350, dtype: int64
0    58975
1        1
Name: 86351, dtype: int64
0    58972
1        4
Name: 86352, dtype: int64
0    58973
1        3
Name: 86353, dtype: int64
0    58974
1        2
Name: 86354, dtype: int64
0    58975
1        1
Name: 86355, dtype: int64
0    58972
1        4
Name: 86381, dtype: int64
0    58975
1        1
Name: 86383, dtype: int64
0    58971
1        5
Name: 86384, dtype: int64
0    58935
1       41
Name: 86389, dtype: int64
0    58974
1        2
Name: 86393, dtype: int64
0    58974
1        2
Name: 86394, dtype: int64
0    58967
1        9
Name: 86399, dtype: int64
0    58968
1        8
Name: 86400, dtype: int64
0    58949
1       27
Name: 86401, dtype: int64
0    58941
1       35
Name: 86402, dtype: int64
0    58945
1       31
Name: 86403, dtype: int64
0    58951
1       25
Name: 86404, dtype: int64
0    58855
1      121
Name: 86405, dtype: int64
0    58972
1        4
Name: 86409, dtype: int64
0    58974
1        2
Name: 86411, dtype: int64
0    58968
1        8
Name: 86412, dtype: int64
0    58970
1        6
Name: 86413, dtype: int64
0    58966
1       10
Name: 86414, dtype: int64
0    58947
1       29
Name: 86415, dtype: int64
0    58973
1        3
Name: 86419, dtype: int64
0    58880
1       96
Name: 86500, dtype: int64
0    58945
1       31
Name: 86501, dtype: int64
0    58935
1       41
Name: 86502, dtype: int64
0    58928
1       48
Name: 86503, dtype: int64
0    58945
1       31
Name: 86504, dtype: int64
0    58935
1       41
Name: 86509, dtype: int64
0    58973
1        3
Name: 86510, dtype: int64
0    58974
1        2
Name: 86511, dtype: int64
0    58972
1        4
Name: 86512, dtype: int64
0    58968
1        8
Name: 86513, dtype: int64
0    58973
1        3
Name: 86514, dtype: int64
0    58956
1       20
Name: 86600, dtype: int64
0    58951
1       25
Name: 86601, dtype: int64
0    58927
1       49
Name: 86602, dtype: int64
0    58970
1        6
Name: 86603, dtype: int64
0    58974
1        2
Name: 86610, dtype: int64
0    58974
1        2
Name: 86611, dtype: int64
0    58963
1       13
Name: 86612, dtype: int64
0    58974
1        2
Name: 86613, dtype: int64
0    58782
1      194
Name: 8670, dtype: int64
0    58972
1        4
Name: 8671, dtype: int64
0    58969
1        7
Name: 8672, dtype: int64
0    58967
1        9
Name: 8676, dtype: int64
0    58975
1        1
Name: 8677, dtype: int64
0    58966
1       10
Name: 8678, dtype: int64
0    58975
1        1
Name: 8679, dtype: int64
0    58975
1        1
Name: 86800, dtype: int64
0    58952
1       24
Name: 86801, dtype: int64
0    58968
1        8
Name: 86802, dtype: int64
0    58844
1      132
Name: 86803, dtype: int64
0    58892
1       84
Name: 86804, dtype: int64
0    58968
1        8
Name: 86809, dtype: int64
0    58972
1        4
Name: 86810, dtype: int64
0    58972
1        4
Name: 86812, dtype: int64
0    58955
1       21
Name: 86813, dtype: int64
0    58964
1       12
Name: 86814, dtype: int64
0    58972
1        4
Name: 86819, dtype: int64
0    58972
1        4
Name: 8690, dtype: int64
0    58975
1        1
Name: 8691, dtype: int64
0    58951
1       25
Name: 8700, dtype: int64
0    58973
1        3
Name: 8701, dtype: int64
0    58973
1        3
Name: 8702, dtype: int64
0    58975
1        1
Name: 8703, dtype: int64
0    58974
1        2
Name: 8704, dtype: int64
0    58935
1       41
Name: 8708, dtype: int64
0    58975
1        1
Name: 8710, dtype: int64
0    58969
1        7
Name: 8711, dtype: int64
0    58974
1        2
Name: 8712, dtype: int64
0    58975
1        1
Name: 8713, dtype: int64
0    58974
1        2
Name: 8716, dtype: int64
0    58965
1       11
Name: 87200, dtype: int64
0    58959
1       17
Name: 87201, dtype: int64
0    58971
1        5
Name: 87202, dtype: int64
0    58972
1        4
Name: 87261, dtype: int64
0    58975
1        1
Name: 87264, dtype: int64
0    58973
1        3
Name: 87269, dtype: int64
0    58969
1        7
Name: 8728, dtype: int64
0    58611
1      365
Name: 8730, dtype: int64
0    58959
1       17
Name: 8731, dtype: int64
0    58945
1       31
Name: 87320, dtype: int64
0    58975
1        1
Name: 87321, dtype: int64
0    58973
1        3
Name: 87322, dtype: int64
0    58975
1        1
Name: 87323, dtype: int64
0    58974
1        2
Name: 87330, dtype: int64
0    58975
1        1
Name: 87333, dtype: int64
0    58948
1       28
Name: 87340, dtype: int64
0    58948
1       28
Name: 87341, dtype: int64
0    58691
1      285
Name: 87342, dtype: int64
0    58858
1      118
Name: 87343, dtype: int64
0    58926
1       50
Name: 87344, dtype: int64
0    58952
1       24
Name: 87349, dtype: int64
0    58975
1        1
Name: 87350, dtype: int64
0    58974
1        2
Name: 87351, dtype: int64
0    58969
1        7
Name: 87352, dtype: int64
0    58972
1        4
Name: 87353, dtype: int64
0    58974
1        2
Name: 87354, dtype: int64
0    58966
1       10
Name: 87359, dtype: int64
0    58973
1        3
Name: 87360, dtype: int64
0    58973
1        3
Name: 87361, dtype: int64
0    58920
1       56
Name: 87363, dtype: int64
0    58949
1       27
Name: 87364, dtype: int64
0    58971
1        5
Name: 87365, dtype: int64
0    58973
1        3
Name: 87371, dtype: int64
0    58971
1        5
Name: 87373, dtype: int64
0    58970
1        6
Name: 87374, dtype: int64
0    58943
1       33
Name: 8738, dtype: int64
0    58975
1        1
Name: 8739, dtype: int64
0    58970
1        6
Name: 87402, dtype: int64
0    58975
1        1
Name: 87411, dtype: int64
0    58973
1        3
Name: 87412, dtype: int64
0    58974
1        2
Name: 8742, dtype: int64
0    58966
1       10
Name: 8744, dtype: int64
0    58974
1        2
Name: 8745, dtype: int64
0    58943
1       33
Name: 8748, dtype: int64
0    58972
1        4
Name: 8749, dtype: int64
0    58952
1       24
Name: 8750, dtype: int64
0    58972
1        4
Name: 8751, dtype: int64
0    58960
1       16
Name: 8760, dtype: int64
0    58974
1        2
Name: 8761, dtype: int64
0    58963
1       13
Name: 8770, dtype: int64
0    58973
1        3
Name: 8780, dtype: int64
0    58971
1        5
Name: 8782, dtype: int64
0    58975
1        1
Name: 8783, dtype: int64
0    58975
1        1
Name: 8785, dtype: int64
0    58975
1        1
Name: 8786, dtype: int64
0    58975
1        1
Name: 8787, dtype: int64
0    58975
1        1
Name: 8790, dtype: int64
0    58975
1        1
Name: 8791, dtype: int64
0    58967
1        9
Name: 8792, dtype: int64
0    58973
1        3
Name: 8793, dtype: int64
0    58962
1       14
Name: 8794, dtype: int64
0    58972
1        4
Name: 8795, dtype: int64
0    58969
1        7
Name: 8796, dtype: int64
0    58972
1        4
Name: 8797, dtype: int64
0    58968
1        8
Name: 8798, dtype: int64
0    58975
1        1
Name: 8799, dtype: int64
0    58968
1        8
Name: 88000, dtype: int64
0    58972
1        4
Name: 88001, dtype: int64
0    58967
1        9
Name: 88002, dtype: int64
0    58965
1       11
Name: 88003, dtype: int64
0    58974
1        2
Name: 88012, dtype: int64
0    58971
1        5
Name: 88013, dtype: int64
0    58975
1        1
Name: 88019, dtype: int64
0    58974
1        2
Name: 88020, dtype: int64
0    58974
1        2
Name: 88023, dtype: int64
0    58975
1        1
Name: 88029, dtype: int64
0    58946
1       30
Name: 88100, dtype: int64
0    58950
1       26
Name: 88101, dtype: int64
0    58962
1       14
Name: 88102, dtype: int64
0    58961
1       15
Name: 88110, dtype: int64
0    58970
1        6
Name: 88111, dtype: int64
0    58973
1        3
Name: 88112, dtype: int64
0    58961
1       15
Name: 88120, dtype: int64
0    58972
1        4
Name: 88121, dtype: int64
0    58966
1       10
Name: 88122, dtype: int64
0    58939
1       37
Name: 8820, dtype: int64
0    58968
1        8
Name: 8821, dtype: int64
0    58962
1       14
Name: 8822, dtype: int64
0    58951
1       25
Name: 8830, dtype: int64
0    58972
1        4
Name: 8831, dtype: int64
0    58959
1       17
Name: 8832, dtype: int64
0    58966
1       10
Name: 8840, dtype: int64
0    58966
1       10
Name: 8850, dtype: int64
0    58975
1        1
Name: 8851, dtype: int64
0    58961
1       15
Name: 8860, dtype: int64
0    58975
1        1
Name: 8861, dtype: int64
0    58972
1        4
Name: 8870, dtype: int64
0    58975
1        1
Name: 8871, dtype: int64
0    58972
1        4
Name: 8872, dtype: int64
0    58975
1        1
Name: 8873, dtype: int64
0    58975
1        1
Name: 8875, dtype: int64
0    58954
1       22
Name: 8900, dtype: int64
0    58968
1        8
Name: 8901, dtype: int64
0    58975
1        1
Name: 8902, dtype: int64
0    58887
1       89
Name: 8910, dtype: int64
0    58948
1       28
Name: 8911, dtype: int64
0    58964
1       12
Name: 8912, dtype: int64
0    58968
1        8
Name: 8920, dtype: int64
0    58970
1        6
Name: 8921, dtype: int64
0    58974
1        2
Name: 8922, dtype: int64
0    58971
1        5
Name: 8930, dtype: int64
0    58974
1        2
Name: 8940, dtype: int64
0    58975
1        1
Name: 8960, dtype: int64
0    58975
1        1
Name: 8961, dtype: int64
0    58974
1        2
Name: 8970, dtype: int64
0    58974
1        2
Name: 8972, dtype: int64
0    58975
1        1
Name: 8973, dtype: int64
0    58975
1        1
Name: 8977, dtype: int64
0    58973
1        3
Name: 90001, dtype: int64
0    58974
1        2
Name: 90002, dtype: int64
0    58965
1       11
Name: 90003, dtype: int64
0    58971
1        5
Name: 9001, dtype: int64
0    58974
1        2
Name: 90081, dtype: int64
0    58970
1        6
Name: 90082, dtype: int64
0    58955
1       21
Name: 90089, dtype: int64
0    58974
1        2

Name: 9009, dtype: int64
0    58948
1       28
Name: 9010, dtype: int64
0    58971
1        5
Name: 9011, dtype: int64
0    58975
1        1
Name: 9012, dtype: int64
0    58973
1        3
Name: 9013, dtype: int64
0    58975
1        1
Name: 90140, dtype: int64
0    58974
1        2
Name: 90141, dtype: int64
0    58975
1        1
Name: 90142, dtype: int64
0    58974
1        2
Name: 90181, dtype: int64
0    58973
1        3
Name: 90182, dtype: int64
0    58974
1        2
Name: 9019, dtype: int64
0    58975
1        1
Name: 9020, dtype: int64
0    58975
1        1
Name: 90210, dtype: int64
0    58974
1        2
Name: 90220, dtype: int64
0    58971
1        5
Name: 90221, dtype: int64
0    58968
1        8
Name: 90222, dtype: int64
0    58971
1        5
Name: 90223, dtype: int64
0    58974
1        2
Name: 90225, dtype: int64
0    58974
1        2
Name: 90226, dtype: int64
0    58975
1        1
Name: 90229, dtype: int64
0    58974
1        2
Name: 90233, dtype: int64
0    58975
1        1
Name: 90234, dtype: int64
0    58966
1       10
Name: 90241, dtype: int64
0    58973
1        3
Name: 90242, dtype: int64
0    58975
1        1
Name: 90251, dtype: int64
0    58964
1       12
Name: 90253, dtype: int64
0    58972
1        4
Name: 90254, dtype: int64
0    58972
1        4
Name: 90287, dtype: int64
0    58961
1       15
Name: 90289, dtype: int64
0    58972
1        4
Name: 9029, dtype: int64
0    58971
1        5
Name: 90301, dtype: int64
0    58964
1       12
Name: 9031, dtype: int64
0    58964
1       12
Name: 9032, dtype: int64
0    58966
1       10
Name: 9033, dtype: int64
0    58975
1        1
Name: 9034, dtype: int64
0    58963
1       13
Name: 9035, dtype: int64
0    58969
1        7
Name: 9038, dtype: int64
0    58973
1        3
Name: 9039, dtype: int64
0    58973
1        3
Name: 9040, dtype: int64
0    58972
1        4
Name: 9041, dtype: int64
0    58971
1        5
Name: 9042, dtype: int64
0    58975
1        1
Name: 9043, dtype: int64
0    58967
1        9
Name: 90441, dtype: int64
0    58974
1        2
Name: 90442, dtype: int64
0    58975
1        1
Name: 90450, dtype: int64
0    58973
1        3
Name: 90451, dtype: int64
0    58970
1        6
Name: 90453, dtype: int64
0    58975
1        1
Name: 9046, dtype: int64
0    58965
1       11
Name: 9047, dtype: int64
0    58975
1        1
Name: 9048, dtype: int64
0    58962
1       14
Name: 9050, dtype: int64
0    58970
1        6
Name: 9051, dtype: int64
0    58974
1        2
Name: 9052, dtype: int64
0    58964
1       12
Name: 9053, dtype: int64
0    58953
1       23
Name: 9054, dtype: int64
0    58974
1        2
Name: 9055, dtype: int64
0    58975
1        1
Name: 9056, dtype: int64
0    58975
1        1
Name: 9059, dtype: int64
0    58975
1        1
Name: 9060, dtype: int64
0    58975
1        1
Name: 9061, dtype: int64
0    58975
1        1
Name: 9063, dtype: int64
0    58970
1        6
Name: 9064, dtype: int64
0    58975
1        1
Name: 9065, dtype: int64
0    58974
1        2
Name: 9067, dtype: int64
0    58973
1        3
Name: 9068, dtype: int64
0    58908
1       68
Name: 9070, dtype: int64
0    58906
1       70
Name: 9072, dtype: int64
0    58974
1        2
Name: 9074, dtype: int64
0    58975
1        1
Name: 9075, dtype: int64
0    58973
1        3
Name: 9080, dtype: int64
0    58972
1        4
Name: 9081, dtype: int64
0    58974
1        2
Name: 9082, dtype: int64
0    58974
1        2
Name: 9083, dtype: int64
0    58973
1        3
Name: 9086, dtype: int64
0    58964
1       12
Name: 9089, dtype: int64
0    58974
1        2
Name: 9090, dtype: int64
0    58876
1      100
Name: 9092, dtype: int64
0    58959
1       17
Name: 9093, dtype: int64
0    58973
1        3
Name: 9094, dtype: int64
0    58974
1        2
Name: 9095, dtype: int64
0    58973
1        3
Name: 9099, dtype: int64
0    58898
1       78
Name: 9100, dtype: int64
0    58975
1        1
Name: 9102, dtype: int64
0    58975
1        1
Name: 9104, dtype: int64
0    58974
1        2
Name: 9108, dtype: int64
0    58955
1       21
Name: 9110, dtype: int64
0    58974
1        2
Name: 9112, dtype: int64
0    58975
1        1
Name: 9114, dtype: int64
0    58975
1        1
Name: 9116, dtype: int64
0    58958
1       18
Name: 9120, dtype: int64
0    58975
1        1
Name: 9122, dtype: int64
0    58975
1        1
Name: 9125, dtype: int64
0    58947
1       29
Name: 9130, dtype: int64
0    58974
1        2
Name: 9132, dtype: int64
0    58970
1        6
Name: 9140, dtype: int64
0    58973
1        3
Name: 9142, dtype: int64
0    58975
1        1
Name: 9149, dtype: int64
0    58975
1        1
Name: 9152, dtype: int64
0    58930
1       46
Name: 9160, dtype: int64
0    58974
1        2
Name: 9161, dtype: int64
0    58970
1        6
Name: 9162, dtype: int64
0    58975
1        1
Name: 9164, dtype: int64
0    58974
1        2
Name: 9165, dtype: int64
0    58974
1        2
Name: 9170, dtype: int64
0    58974
1        2
Name: 9171, dtype: int64
0    58971
1        5
Name: 9172, dtype: int64
0    58975
1        1
Name: 9173, dtype: int64
0    58972
1        4
Name: 9180, dtype: int64
0    58946
1       30
Name: 9181, dtype: int64
0    58975
1        1
Name: 9189, dtype: int64
0    58946
1       30
Name: 9190, dtype: int64
0    58975
1        1
Name: 9191, dtype: int64
0    58975
1        1
Name: 9196, dtype: int64
0    58974
1        2
Name: 9198, dtype: int64
0    58780
1      196
Name: 920, dtype: int64
0    58960
1       16
Name: 9210, dtype: int64
0    58969
1        7
Name: 9211, dtype: int64
0    58944
1       32
Name: 9212, dtype: int64
0    58965
1       11
Name: 9213, dtype: int64
0    58967
1        9
Name: 9219, dtype: int64
0    58973
1        3
Name: 9220, dtype: int64
0    58948
1       28
Name: 9221, dtype: int64
0    58939
1       37
Name: 9222, dtype: int64
0    58968
1        8
Name: 92231, dtype: int64
0    58944
1       32
Name: 92232, dtype: int64
0    58973
1        3
Name: 9224, dtype: int64
0    58972
1        4
Name: 9228, dtype: int64
0    58975
1        1
Name: 9229, dtype: int64
0    58965
1       11
Name: 92300, dtype: int64
0    58975
1        1
Name: 92301, dtype: int64
0    58969
1        7
Name: 92303, dtype: int64
0    58975
1        1
Name: 92309, dtype: int64
0    58973
1        3
Name: 92310, dtype: int64
0    58973
1        3
Name: 92311, dtype: int64
0    58972
1        4
Name: 92320, dtype: int64
0    58975
1        1
Name: 92321, dtype: int64
0    58975
1        1
Name: 9233, dtype: int64
0    58975
1        1
Name: 9238, dtype: int64
0    58974
1        2
Name: 9239, dtype: int64
0    58936
1       40
Name: 92400, dtype: int64
0    58959
1       17
Name: 92401, dtype: int64
0    58952
1       24
Name: 92410, dtype: int64
0    58952
1       24
Name: 92411, dtype: int64
0    58972
1        4
Name: 92420, dtype: int64
0    58973
1        3
Name: 92421, dtype: int64
0    58974
1        2
Name: 9243, dtype: int64
0    58975
1        1
Name: 9245, dtype: int64
0    58962
1       14
Name: 9248, dtype: int64
0    58971
1        5
Name: 9249, dtype: int64
0    58975
1        1
Name: 9251, dtype: int64
0    58974
1        2
Name: 9252, dtype: int64
0    58975
1        1
Name: 9260, dtype: int64
0    58975
1        1
Name: 92612, dtype: int64
0    58965
1       11
Name: 92619, dtype: int64
0    58975
1        1
Name: 92701, dtype: int64
0    58972
1        4
Name: 92710, dtype: int64
0    58970
1        6
Name: 92720, dtype: int64
0    58975
1        1
Name: 92721, dtype: int64
0    58972
1        4
Name: 9273, dtype: int64
0    58975
1        1
Name: 9278, dtype: int64
0    58974
1        2
Name: 92800, dtype: int64
0    58975
1        1
Name: 92801, dtype: int64
0    58974
1        2
Name: 92810, dtype: int64
0    58975
1        1
Name: 92811, dtype: int64
0    58973
1        3
Name: 92820, dtype: int64
0    58975
1        1
Name: 92821, dtype: int64
0    58975
1        1
Name: 9301, dtype: int64
0    58975
1        1
Name: 9308, dtype: int64
0    58975
1        1
Name: 9309, dtype: int64
0    58973
1        3
Name: 932, dtype: int64
0    58970
1        6
Name: 9330, dtype: int64
0    58773
1      203
Name: 9331, dtype: int64
0    58952
1       24
Name: 9340, dtype: int64
0    58839
1      137
Name: 9341, dtype: int64
0    58913
1       63
Name: 9348, dtype: int64
0    58899
1       77
Name: 9349, dtype: int64
0    58902
1       74
Name: 9351, dtype: int64
0    58958
1       18
Name: 9352, dtype: int64
0    58960
1       16
Name: 936, dtype: int64
0    58975
1        1
Name: 937, dtype: int64
0    58973
1        3
Name: 938, dtype: int64
0    58972
1        4
Name: 9390, dtype: int64
0    58972
1        4
Name: 9392, dtype: int64
0    58975
1        1
Name: 9393, dtype: int64
0    58975
1        1
Name: 94100, dtype: int64
0    58975
1        1
Name: 94108, dtype: int64
0    58975
1        1
Name: 94126, dtype: int64
0    58974
1        2
Name: 94127, dtype: int64
0    58975
1        1
Name: 94128, dtype: int64
0    58975
1        1
Name: 94203, dtype: int64
0    58972
1        4
Name: 94204, dtype: int64
0    58975
1        1
Name: 94209, dtype: int64
0    58973
1        3
Name: 94214, dtype: int64
0    58974
1        2
Name: 94224, dtype: int64
0    58975
1        1
Name: 94232, dtype: int64
0    58975
1        1
Name: 94234, dtype: int64
0    58975
1        1
Name: 94320, dtype: int64
0    58975
1        1
Name: 94321, dtype: int64
0    58975
1        1
Name: 94323, dtype: int64
0    58975
1        1
Name: 94325, dtype: int64
0    58975
1        1
Name: 94332, dtype: int64
0    58975
1        1
Name: 94335, dtype: int64
0    58975
1        1
Name: 94401, dtype: int64
0    58975
1        1
Name: 94420, dtype: int64
0    58975
1        1
Name: 94421, dtype: int64
0    58974
1        2
Name: 94423, dtype: int64
0    58975
1        1
Name: 94425, dtype: int64
0    58975
1        1
Name: 94426, dtype: int64
0    58975
1        1
Name: 94504, dtype: int64
0    58975
1        1
Name: 94519, dtype: int64
0    58974
1        2
Name: 94522, dtype: int64
0    58975
1        1
Name: 94524, dtype: int64
0    58974
1        2
Name: 94532, dtype: int64
0    58974
1        2
Name: 94534, dtype: int64
0    58974
1        2
Name: 94536, dtype: int64
0    58974
1        2
Name: 9462, dtype: int64
0    58974
1        2
Name: 9471, dtype: int64
0    58974
1        2
Name: 9472, dtype: int64
0    58975
1        1
Name: 9473, dtype: int64
0    58963
1       13
Name: 94800, dtype: int64
0    58975
1        1
Name: 94840, dtype: int64
0    58975
1        1
Name: 94850, dtype: int64
0    58967
1        9
Name: 9500, dtype: int64
0    58971
1        5
Name: 9509, dtype: int64
0    58971
1        5
Name: 9510, dtype: int64
0    58973
1        3
Name: 9513, dtype: int64
0    58968
1        8

Name: 9514, dtype: int64
0    58974
1        2
Name: 9515, dtype: int64
0    58975
1        1
Name: 9517, dtype: int64
0    58975
1        1
Name: 9518, dtype: int64
0    58964
1       12
Name: 95200, dtype: int64
0    58975
1        1
Name: 95202, dtype: int64
0    58966
1       10
Name: 95203, dtype: int64
0    58969
1        7
Name: 95204, dtype: int64
0    58963
1       13
Name: 95205, dtype: int64
0    58974
1        2
Name: 95206, dtype: int64
0    58975
1        1
Name: 95207, dtype: int64
0    58960
1       16
Name: 95208, dtype: int64
0    58973
1        3
Name: 95209, dtype: int64
0    58973
1        3
Name: 95214, dtype: int64
0    58975
1        1
Name: 95215, dtype: int64
0    58975
1        1
Name: 95219, dtype: int64
0    58975
1        1
Name: 9523, dtype: int64
0    58975
1        1
Name: 9524, dtype: int64
0    58972
1        4
Name: 9528, dtype: int64
0    58970
1        6
Name: 9529, dtype: int64
0    58974
1        2
Name: 9530, dtype: int64
0    58974
1        2
Name: 9531, dtype: int64
0    58967
1        9
Name: 9534, dtype: int64
0    58975
1        1
Name: 9535, dtype: int64
0    58975
1        1
Name: 9539, dtype: int64
0    58974
1        2
Name: 9540, dtype: int64
0    58968
1        8
Name: 9551, dtype: int64
0    58967
1        9
Name: 9552, dtype: int64
0    58968
1        8
Name: 9553, dtype: int64
0    58975
1        1
Name: 9555, dtype: int64
0    58971
1        5
Name: 9556, dtype: int64
0    58970
1        6
Name: 9557, dtype: int64
0    58975
1        1
Name: 9558, dtype: int64
0    58974
1        2
Name: 9559, dtype: int64
0    58974
1        2
Name: 9561, dtype: int64
0    58974
1        2
Name: 9562, dtype: int64
0    58968
1        8
Name: 9563, dtype: int64
0    58974
1        2
Name: 9569, dtype: int64
0    58973
1        3
Name: 9570, dtype: int64
0    58966
1       10
Name: 9571, dtype: int64
0    58975
1        1
Name: 9578, dtype: int64
0    58973
1        3
Name: 9579, dtype: int64
0    58973
1        3
Name: 9580, dtype: int64
0    58971
1        5
Name: 9581, dtype: int64
0    58960
1       16
Name: 9582, dtype: int64
0    58971
1        5
Name: 9583, dtype: int64
0    58847
1      129
Name: 9584, dtype: int64
0    58972
1        4
Name: 9585, dtype: int64
0    58901
1       75
Name: 9587, dtype: int64
0    58939
1       37
Name: 9588, dtype: int64
0    58967
1        9
Name: 95891, dtype: int64
0    58940
1       36
Name: 95892, dtype: int64
0    58966
1       10
Name: 95893, dtype: int64
0    58973
1        3
Name: 95899, dtype: int64
0    58940
1       36
Name: 95901, dtype: int64
0    58966
1       10
Name: 95909, dtype: int64
0    58974
1        2
Name: 95911, dtype: int64
0    58965
1       11
Name: 95912, dtype: int64
0    58975
1        1
Name: 95914, dtype: int64
0    58975
1        1
Name: 95919, dtype: int64
0    58974
1        2
Name: 9592, dtype: int64
0    58975
1        1
Name: 9593, dtype: int64
0    58975
1        1
Name: 9594, dtype: int64
0    58975
1        1
Name: 9595, dtype: int64
0    58975
1        1
Name: 9596, dtype: int64
0    58969
1        7
Name: 9597, dtype: int64
0    58974
1        2
Name: 9598, dtype: int64
0    58973
1        3
Name: 9599, dtype: int64
0    58974
1        2
Name: 9600, dtype: int64
0    58974
1        2
Name: 9604, dtype: int64
0    58974
1        2
Name: 9605, dtype: int64
0    58975
1        1
Name: 9610, dtype: int64
0    58975
1        1
Name: 9614, dtype: int64
0    58975
1        1
Name: 9617, dtype: int64
0    58975
1        1
Name: 9618, dtype: int64
0    58975
1        1
Name: 9619, dtype: int64
0    58951
1       25
Name: 9623, dtype: int64
0    58974
1        2
Name: 9627, dtype: int64
0    58933
1       43
Name: 9630, dtype: int64
0    58974
1        2
Name: 9631, dtype: int64
0    58975
1        1
Name: 9635, dtype: int64
0    58969
1        7
Name: 9642, dtype: int64
0    58933
1       43
Name: 96500, dtype: int64
0    58936
1       40
Name: 96501, dtype: int64
0    58945
1       31
Name: 96502, dtype: int64
0    58908
1       68
Name: 96509, dtype: int64
0    58946
1       30
Name: 9651, dtype: int64
0    58769
1      207
Name: 9654, dtype: int64
0    58965
1       11
Name: 96561, dtype: int64
0    58975
1        1
Name: 96569, dtype: int64
0    58964
1       12
Name: 9658, dtype: int64
0    58971
1        5
Name: 9661, dtype: int64
0    58928
1       48
Name: 9663, dtype: int64
0    58974
1        2
Name: 9664, dtype: int64
0    58961
1       15
Name: 9670, dtype: int64
0    58974
1        2
Name: 9671, dtype: int64
0    58952
1       24
Name: 9678, dtype: int64
0    58960
1       16
Name: 9679, dtype: int64
0    58966
1       10
Name: 9680, dtype: int64
0    58975
1        1
Name: 9683, dtype: int64
0    58962
1       14
Name: 9684, dtype: int64
0    58972
1        4
Name: 9685, dtype: int64
0    58883
1       93
Name: 9690, dtype: int64
0    58975
1        1
Name: 96901, dtype: int64
0    58974
1        2
Name: 96903, dtype: int64
0    58965
1       11
Name: 96905, dtype: int64
0    58955
1       21
Name: 96909, dtype: int64
0    58968
1        8
Name: 9691, dtype: int64
0    58896
1       80
Name: 9693, dtype: int64
0    58807
1      169
Name: 9694, dtype: int64
0    58972
1        4
Name: 9695, dtype: int64
0    58966
1       10
Name: 9696, dtype: int64
0    58963
1       13
Name: 9697, dtype: int64
0    58975
1        1
Name: 96971, dtype: int64
0    58968
1        8
Name: 96972, dtype: int64
0    58974
1        2
Name: 96979, dtype: int64
0    58953
1       23
Name: 9698, dtype: int64
0    58971
1        5
Name: 9701, dtype: int64
0    58931
1       45
Name: 9708, dtype: int64
0    58955
1       21
Name: 97081, dtype: int64
0    58975
1        1
Name: 9710, dtype: int64
0    58968
1        8
Name: 9711, dtype: int64
0    58973
1        3
Name: 9712, dtype: int64
0    58962
1       14
Name: 9713, dtype: int64
0    58968
1        8
Name: 9720, dtype: int64
0    58971
1        5
Name: 9721, dtype: int64
0    58974
1        2
Name: 9722, dtype: int64
0    58960
1       16
Name: 9724, dtype: int64
0    58975
1        1
Name: 9725, dtype: int64
0    58945
1       31
Name: 9726, dtype: int64
0    58962
1       14
Name: 9729, dtype: int64
0    58975
1        1
Name: 9733, dtype: int64
0    58975
1        1
Name: 9735, dtype: int64
0    58974
1        2
Name: 9744, dtype: int64
0    58973
1        3
Name: 9747, dtype: int64
0    58964
1       12
Name: 9752, dtype: int64
0    58975
1        1
Name: 9753, dtype: int64
0    58970
1        6
Name: 9754, dtype: int64
0    58974
1        2
Name: 9755, dtype: int64
0    58975
1        1
Name: 9760, dtype: int64
0    58975
1        1
Name: 9762, dtype: int64
0    58974
1        2
Name: 9766, dtype: int64
0    58975
1        1
Name: 9767, dtype: int64
0    58975
1        1
Name: 9773, dtype: int64
0    58964
1       12
Name: 9778, dtype: int64
0    58972
1        4
Name: 9779, dtype: int64
0    58926
1       50
Name: 9800, dtype: int64
0    58970
1        6
Name: 9802, dtype: int64
0    58963
1       13
Name: 9809, dtype: int64
0    58964
1       12
Name: 9828, dtype: int64
0    58974
1        2
Name: 9831, dtype: int64
0    58974
1        2
Name: 9832, dtype: int64
0    58973
1        3
Name: 9839, dtype: int64
0    58975
1        1
Name: 9851, dtype: int64
0    58973
1        3
Name: 9858, dtype: int64
0    58974
1        2
Name: 986, dtype: int64
0    58973
1        3
Name: 9878, dtype: int64
0    58974
1        2
Name: 9879, dtype: int64
0    58973
1        3
Name: 9881, dtype: int64
0    58975
1        1
Name: 9890, dtype: int64
0    58975
1        1
Name: 9893, dtype: int64
0    58973
1        3
Name: 9894, dtype: int64
0    58974
1        2
Name: 9895, dtype: int64
0    58972
1        4
Name: 98989, dtype: int64
0    58973
1        3
Name: 9899, dtype: int64
0    58967
1        9
Name: 990, dtype: int64
0    58970
1        6
Name: 9911, dtype: int64
0    58973
1        3
Name: 9912, dtype: int64
0    58973
1        3
Name: 9913, dtype: int64
0    58903
1       73
Name: 9916, dtype: int64
0    58971
1        5
Name: 9920, dtype: int64
0    58961
1       15
Name: 9941, dtype: int64
0    58975
1        1
Name: 9942, dtype: int64
0    58958
1       18
Name: 9947, dtype: int64
0    58974
1        2
Name: 9948, dtype: int64
0    58975
1        1
Name: 9949, dtype: int64
0    58910
1       66
Name: 9950, dtype: int64
0    58835
1      141
Name: 9951, dtype: int64
0    58974
1        2
Name: 9952, dtype: int64
0    58967
1        9
Name: 99527, dtype: int64
0    58962
1       14
Name: 99529, dtype: int64
0    58971
1        5
Name: 9953, dtype: int64
0    58969
1        7
Name: 99561, dtype: int64
0    58975
1        1
Name: 99562, dtype: int64
0    58974
1        2
Name: 99563, dtype: int64
0    58974
1        2
Name: 99564, dtype: int64
0    58975
1        1
Name: 99565, dtype: int64
0    58974
1        2
Name: 99567, dtype: int64
0    58975
1        1
Name: 99569, dtype: int64
0    58974
1        2
Name: 9957, dtype: int64
0    58974
1        2
Name: 99580, dtype: int64
0    58972
1        4
Name: 99581, dtype: int64
0    58975
1        1
Name: 99582, dtype: int64
0    58971
1        5
Name: 99583, dtype: int64
0    58975
1        1
Name: 99585, dtype: int64
0    58975
1        1
Name: 99586, dtype: int64
0    58974
1        2
Name: 99589, dtype: int64
0    58936
1       40
Name: 99590, dtype: int64
0    57705
1     1271
Name: 99591, dtype: int64
0    55064
1     3912
Name: 99592, dtype: int64
0    58912
1       64
Name: 99593, dtype: int64
0    58859
1      117
Name: 99594, dtype: int64
0    58917
1       59
Name: 99601, dtype: int64
0    58921
1       55
Name: 99602, dtype: int64
0    58967
1        9
Name: 99603, dtype: int64
0    58921
1       55
Name: 99604, dtype: int64
0    58959
1       17
Name: 99609, dtype: int64
0    58821
1      155
Name: 9961, dtype: int64
0    58937
1       39
Name: 9962, dtype: int64
0    58955
1       21
Name: 99631, dtype: int64
0    58961
1       15
Name: 99639, dtype: int64
0    58949
1       27
Name: 9964, dtype: int64
0    58974
1        2
Name: 99640, dtype: int64
0    58966
1       10
Name: 99641, dtype: int64
0    58956
1       20
Name: 99642, dtype: int64
0    58970
1        6
Name: 99643, dtype: int64
0    58956
1       20
Name: 99644, dtype: int64
0    58972
1        4
Name: 99645, dtype: int64
0    58972
1        4
Name: 99647, dtype: int64
0    58915
1       61
Name: 99649, dtype: int64
0    58975
1        1
Name: 99651, dtype: int64
0    58956
1       20
Name: 99652, dtype: int64
0    58972
1        4
Name: 99653, dtype: int64
0    58974
1        2
Name: 99654, dtype: int64
0    58963
1       13
Name: 99656, dtype: int64
0    58961
1       15
Name: 99657, dtype: int64
0    58762
1      214
Name: 99659, dtype: int64
0    58832
1      144
Name: 99661, dtype: int64
0    58026
1      950
Name: 99662, dtype: int64
0    58929
1       47

Name: 99663, dtype: int64
0    58759
1      217
Name: 99664, dtype: int64
0    58947
1       29
Name: 99665, dtype: int64
0    58922
1       54
Name: 99666, dtype: int64
0    58905
1       71
Name: 99667, dtype: int64
0    58957
1       19
Name: 99668, dtype: int64
0    58900
1       76
Name: 99669, dtype: int64
0    58974
1        2
Name: 99670, dtype: int64
0    58927
1       49
Name: 99671, dtype: int64
0    58503
1      473
Name: 99672, dtype: int64
0    58762
1      214
Name: 99673, dtype: int64
0    58400
1      576
Name: 99674, dtype: int64
0    58958
1       18
Name: 99675, dtype: int64
0    58946
1       30
Name: 99676, dtype: int64
0    58968
1        8
Name: 99677, dtype: int64
0    58967
1        9
Name: 99678, dtype: int64
0    58917
1       59
Name: 99679, dtype: int64
0    58975
1        1
Name: 99680, dtype: int64
0    58461
1      515
Name: 99681, dtype: int64
0    58799
1      177
Name: 99682, dtype: int64
0    58975
1        1
Name: 99683, dtype: int64
0    58972
1        4
Name: 99684, dtype: int64
0    58832
1      144
Name: 99685, dtype: int64
0    58946
1       30
Name: 99686, dtype: int64
0    58974
1        2
Name: 99687, dtype: int64
0    58972
1        4
Name: 99688, dtype: int64
0    58970
1        6
Name: 99689, dtype: int64
0    58973
1        3
Name: 99693, dtype: int64
0    58975
1        1
Name: 99700, dtype: int64
0    58949
1       27
Name: 99701, dtype: int64
0    58558
1      418
Name: 99702, dtype: int64
0    58863
1      113
Name: 99709, dtype: int64
0    56633
1     2343
Name: 9971, dtype: int64
0    58707
1      269
Name: 9972, dtype: int64
0    58586
1      390
Name: 9973, dtype: int64
0    58412
1      564
Name: 99731, dtype: int64
0    58968
1        8
Name: 99732, dtype: int64
0    58843
1      133
Name: 99739, dtype: int64
0    58216
1      760
Name: 9974, dtype: int64
0    58975
1        1
Name: 99741, dtype: int64
0    58862
1      114
Name: 99749, dtype: int64
0    58527
1      449
Name: 9975, dtype: int64
0    58905
1       71
Name: 99762, dtype: int64
0    58930
1       46
Name: 99769, dtype: int64
0    58973
1        3
Name: 99771, dtype: int64
0    58974
1        2
Name: 99772, dtype: int64
0    58929
1       47
Name: 99779, dtype: int64
0    58945
1       31
Name: 99791, dtype: int64
0    58955
1       21
Name: 99799, dtype: int64
0    58813
1      163
Name: 9980, dtype: int64
0    58971
1        5
Name: 99800, dtype: int64
0    58963
1       13
Name: 99801, dtype: int64
0    58971
1        5
Name: 99802, dtype: int64
0    58955
1       21
Name: 99809, dtype: int64
0    57441
1     1535
Name: 99811, dtype: int64
0    57752
1     1224
Name: 99812, dtype: int64
0    58895
1       81
Name: 99813, dtype: int64
0    58047
1      929
Name: 9982, dtype: int64
0    58946
1       30
Name: 9983, dtype: int64
0    58957
1       19
Name: 99830, dtype: int64
0    58816
1      160
Name: 99831, dtype: int64
0    58743
1      233
Name: 99832, dtype: int64
0    58971
1        5
Name: 99833, dtype: int64
0    58957
1       19
Name: 9984, dtype: int64
0    58952
1       24
Name: 99851, dtype: int64
0    57791
1     1185
Name: 99859, dtype: int64
0    58842
1      134
Name: 9986, dtype: int64
0    58868
1      108
Name: 99881, dtype: int64
0    58879
1       97
Name: 99883, dtype: int64
0    58765
1      211
Name: 99889, dtype: int64
0    58974
1        2
Name: 9989, dtype: int64
0    58973
1        3
Name: 9991, dtype: int64
0    58799
1      177
Name: 9992, dtype: int64
0    58953
1       23
Name: 9993, dtype: int64
0    58695
1      281
Name: 99931, dtype: int64
0    58933
1       43
Name: 99932, dtype: int64
0    58966
1       10
Name: 99933, dtype: int64
0    58952
1       24
Name: 99939, dtype: int64
0    58975
1        1
Name: 9994, dtype: int64
0    58975
1        1
Name: 99941, dtype: int64
0    58973
1        3
Name: 9995, dtype: int64
0    58975
1        1
Name: 9996, dtype: int64
0    58975
1        1
Name: 99971, dtype: int64
0    58896
1       80
Name: 9998, dtype: int64
0    58967
1        9
Name: 99982, dtype: int64
0    58975
1        1
Name: 99984, dtype: int64
0    58945
1       31
Name: 99989, dtype: int64
0    58783
1      193
Name: 9999, dtype: int64
0    58974
1        2
Name: E0000, dtype: int64
0    58973
1        3
Name: E0008, dtype: int64
0    58965
1       11
Name: E0009, dtype: int64
0    58967
1        9
Name: E0010, dtype: int64
0    58975
1        1
Name: E0011, dtype: int64
0    58975
1        1
Name: E0020, dtype: int64
0    58974
1        2
Name: E0026, dtype: int64
0    58975
1        1
Name: E0030, dtype: int64
0    58974
1        2
Name: E0031, dtype: int64
0    58975
1        1
Name: E0032, dtype: int64
0    58974
1        2
Name: E0039, dtype: int64
0    58975
1        1
Name: E0060, dtype: int64
0    58975
1        1
Name: E0061, dtype: int64
0    58975
1        1
Name: E0062, dtype: int64
0    58975
1        1
Name: E0064, dtype: int64
0    58975
1        1
Name: E0069, dtype: int64
0    58975
1        1
Name: E0070, dtype: int64
0    58975
1        1
Name: E0071, dtype: int64
0    58975
1        1
Name: E0073, dtype: int64
0    58974
1        2
Name: E0076, dtype: int64
0    58975
1        1
Name: E0080, dtype: int64
0    58974
1        2
Name: E0089, dtype: int64
0    58975
1        1
Name: E0138, dtype: int64
0    58975
1        1
Name: E0139, dtype: int64
0    58975
1        1
Name: E0161, dtype: int64
0    58975
1        1
Name: E0162, dtype: int64
0    58974
1        2
Name: E0190, dtype: int64
0    58975
1        1
Name: E0291, dtype: int64
0    58975
1        1
Name: E0299, dtype: int64
0    58974
1        2
Name: E030, dtype: int64
0    58975
1        1
Name: E8002, dtype: int64
0    58975
1        1
Name: E8012, dtype: int64
0    58975
1        1
Name: E8041, dtype: int64
0    58975
1        1
Name: E8042, dtype: int64
0    58975
1        1
Name: E8052, dtype: int64
0    58975
1        1
Name: E8058, dtype: int64
0    58973
1        3
Name: E8062, dtype: int64
0    58974
1        2
Name: E8110, dtype: int64
0    58709
1      267
Name: E8120, dtype: int64
0    58887
1       89
Name: E8121, dtype: int64
0    58878
1       98
Name: E8122, dtype: int64
0    58972
1        4
Name: E8123, dtype: int64
0    58973
1        3
Name: E8126, dtype: int64
0    58975
1        1
Name: E8127, dtype: int64
0    58973
1        3
Name: E8129, dtype: int64
0    58956
1       20
Name: E8130, dtype: int64
0    58967
1        9
Name: E8131, dtype: int64
0    58965
1       11
Name: E8132, dtype: int64
0    58974
1        2
Name: E8133, dtype: int64
0    58932
1       44
Name: E8136, dtype: int64
0    58975
1        1
Name: E8138, dtype: int64
0    58975
1        1
Name: E8140, dtype: int64
0    58972
1        4
Name: E8141, dtype: int64
0    58975
1        1
Name: E8142, dtype: int64
0    58975
1        1
Name: E8145, dtype: int64
0    58972
1        4
Name: E8146, dtype: int64
0    58731
1      245
Name: E8147, dtype: int64
0    58843
1      133
Name: E8150, dtype: int64
0    58957
1       19
Name: E8151, dtype: int64
0    58956
1       20
Name: E8152, dtype: int64
0    58975
1        1
Name: E8156, dtype: int64
0    58742
1      234
Name: E8160, dtype: int64
0    58921
1       55
Name: E8161, dtype: int64
0    58925
1       51
Name: E8162, dtype: int64
0    58975
1        1
Name: E8163, dtype: int64
0    58975
1        1
Name: E8169, dtype: int64
0    58974
1        2
Name: E8170, dtype: int64
0    58971
1        5
Name: E8171, dtype: int64
0    58975
1        1
Name: E8178, dtype: int64
0    58971
1        5
Name: E8180, dtype: int64
0    58965
1       11
Name: E8181, dtype: int64
0    58971
1        5
Name: E8182, dtype: int64
0    58970
1        6
Name: E8187, dtype: int64
0    58974
1        2
Name: E8188, dtype: int64
0    58975
1        1
Name: E8189, dtype: int64
0    58934
1       42
Name: E8190, dtype: int64
0    58955
1       21
Name: E8191, dtype: int64
0    58950
1       26
Name: E8192, dtype: int64
0    58975
1        1
Name: E8193, dtype: int64
0    58974
1        2
Name: E8196, dtype: int64
0    58970
1        6
Name: E8197, dtype: int64
0    58966
1       10
Name: E8199, dtype: int64
0    58974
1        2
Name: E8200, dtype: int64
0    58961
1       15
Name: E8210, dtype: int64
0    58975
1        1
Name: E8211, dtype: int64
0    58973
1        3
Name: E8212, dtype: int64
0    58975
1        1
Name: E8216, dtype: int64
0    58971
1        5
Name: E8217, dtype: int64
0    58975
1        1
Name: E8219, dtype: int64
0    58975
1        1
Name: E8226, dtype: int64
0    58973
1        3
Name: E8227, dtype: int64
0    58975
1        1
Name: E8228, dtype: int64
0    58915
1       61
Name: E8230, dtype: int64
0    58963
1       13
Name: E8231, dtype: int64
0    58966
1       10
Name: E8232, dtype: int64
0    58975
1        1
Name: E8233, dtype: int64
0    58975
1        1
Name: E8238, dtype: int64
0    58974
1        2
Name: E8240, dtype: int64
0    58972
1        4
Name: E8241, dtype: int64
0    58975
1        1
Name: E8242, dtype: int64
0    58975
1        1
Name: E8248, dtype: int64
0    58975
1        1
Name: E8249, dtype: int64
0    58972
1        4
Name: E8250, dtype: int64
0    58972
1        4
Name: E8251, dtype: int64
0    58972
1        4
Name: E8252, dtype: int64
0    58971
1        5
Name: E8257, dtype: int64
0    58975
1        1
Name: E8258, dtype: int64
0    58974
1        2
Name: E8260, dtype: int64
0    58913
1       63
Name: E8261, dtype: int64
0    58975
1        1
Name: E8278, dtype: int64
0    58961
1       15
Name: E8282, dtype: int64
0    58972
1        4
Name: E8298, dtype: int64
0    58974
1        2
Name: E8311, dtype: int64
0    58975
1        1
Name: E8314, dtype: int64
0    58975
1        1
Name: E8318, dtype: int64
0    58975
1        1
Name: E8341, dtype: int64
0    58975
1        1
Name: E8343, dtype: int64
0    58974
1        2
Name: E8348, dtype: int64
0    58975
1        1
Name: E8353, dtype: int64
0    58975
1        1
Name: E8381, dtype: int64
0    58975
1        1
Name: E8384, dtype: int64
0    58975
1        1
Name: E8405, dtype: int64
0    58974
1        2
Name: E8415, dtype: int64
0    58974
1        2
Name: E848, dtype: int64
0    58606
1      370
Name: E8490, dtype: int64
0    58952
1       24
Name: E8493, dtype: int64
0    58954
1       22
Name: E8494, dtype: int64
0    58790
1      186
Name: E8495, dtype: int64
0    58951
1       25
Name: E8496, dtype: int64
0    57937
1     1039
Name: E8497, dtype: int64
0    58604
1      372
Name: E8498, dtype: int64
0    58832
1      144
Name: E8499, dtype: int64
0    58955
1       21
Name: E8500, dtype: int64
0    58959
1       17
Name: E8501, dtype: int64
0    58910
1       66
Name: E8502, dtype: int64
0    58972
1        4
Name: E8503, dtype: int64
0    58914
1       62
Name: E8504, dtype: int64
0    58967
1        9
Name: E8508, dtype: int64
0    58973
1        3
Name: E851, dtype: int64
0    58968
1        8
Name: E8528, dtype: int64
0    58963
1       13
Name: E8529, dtype: int64
0    58920
1       56
Name: E8532, dtype: int64
0    58959
1       17

Name: E8538, dtype: int64
0    58958
1       18
Name: E8540, dtype: int64
0    58971
1        5
Name: E8541, dtype: int64
0    58965
1       11
Name: E8542, dtype: int64
0    58930
1       46
Name: E8543, dtype: int64
0    58970
1        6
Name: E8548, dtype: int64
0    58964
1       12
Name: E8550, dtype: int64
0    58967
1        9
Name: E8551, dtype: int64
0    58973
1        3
Name: E8552, dtype: int64
0    58975
1        1
Name: E8554, dtype: int64
0    58974
1        2
Name: E8555, dtype: int64
0    58969
1        7
Name: E8556, dtype: int64
0    58975
1        1
Name: E856, dtype: int64
0    58975
1        1
Name: E857, dtype: int64
0    58956
1       20
Name: E8580, dtype: int64
0    58971
1        5
Name: E8581, dtype: int64
0    58972
1        4
Name: E8582, dtype: int64
0    58938
1       38
Name: E8583, dtype: int64
0    58975
1        1
Name: E8584, dtype: int64
0    58974
1        2
Name: E8585, dtype: int64
0    58973
1        3
Name: E8586, dtype: int64
0    58975
1        1
Name: E8587, dtype: int64
0    58971
1        5
Name: E8588, dtype: int64
0    58975
1        1
Name: E8589, dtype: int64
0    58958
1       18
Name: E8600, dtype: int64
0    58971
1        5
Name: E8603, dtype: int64
0    58971
1        5
Name: E8609, dtype: int64
0    58975
1        1
Name: E8611, dtype: int64
0    58975
1        1
Name: E8613, dtype: int64
0    58975
1        1
Name: E8619, dtype: int64
0    58974
1        2
Name: E8624, dtype: int64
0    58975
1        1
Name: E8637, dtype: int64
0    58974
1        2
Name: E8641, dtype: int64
0    58974
1        2
Name: E8654, dtype: int64
0    58973
1        3
Name: E8655, dtype: int64
0    58975
1        1
Name: E8663, dtype: int64
0    58973
1        3
Name: E8668, dtype: int64
0    58975
1        1
Name: E8669, dtype: int64
0    58975
1        1
Name: E8694, dtype: int64
0    58973
1        3
Name: E8698, dtype: int64
0    58794
1      182
Name: E8700, dtype: int64
0    58975
1        1
Name: E8702, dtype: int64
0    58974
1        2
Name: E8703, dtype: int64
0    58954
1       22
Name: E8704, dtype: int64
0    58959
1       17
Name: E8705, dtype: int64
0    58939
1       37
Name: E8706, dtype: int64
0    58893
1       83
Name: E8708, dtype: int64
0    58975
1        1
Name: E8709, dtype: int64
0    58972
1        4
Name: E8710, dtype: int64
0    58974
1        2
Name: E8714, dtype: int64
0    58972
1        4
Name: E8716, dtype: int64
0    58974
1        2
Name: E8717, dtype: int64
0    58973
1        3
Name: E8718, dtype: int64
0    58975
1        1
Name: E8735, dtype: int64
0    58975
1        1
Name: E8740, dtype: int64
0    58975
1        1
Name: E8742, dtype: int64
0    58973
1        3
Name: E8744, dtype: int64
0    58974
1        2
Name: E8748, dtype: int64
0    58975
1        1
Name: E8761, dtype: int64
0    58974
1        2
Name: E8762, dtype: int64
0    58974
1        2
Name: E8764, dtype: int64
0    58975
1        1
Name: E8767, dtype: int64
0    58961
1       15
Name: E8768, dtype: int64
0    58974
1        2
Name: E8769, dtype: int64
0    58546
1      430
Name: E8780, dtype: int64
0    58269
1      707
Name: E8781, dtype: int64
0    57765
1     1211
Name: E8782, dtype: int64
0    58872
1      104
Name: E8783, dtype: int64
0    58901
1       75
Name: E8784, dtype: int64
0    58940
1       36
Name: E8785, dtype: int64
0    58672
1      304
Name: E8786, dtype: int64
0    57626
1     1350
Name: E8788, dtype: int64
0    58963
1       13
Name: E8789, dtype: int64
0    58513
1      463
Name: E8790, dtype: int64
0    58799
1      177
Name: E8791, dtype: int64
0    58764
1      212
Name: E8792, dtype: int64
0    58974
1        2
Name: E8793, dtype: int64
0    58941
1       35
Name: E8794, dtype: int64
0    58975
1        1
Name: E8795, dtype: int64
0    58775
1      201
Name: E8796, dtype: int64
0    58973
1        3
Name: E8797, dtype: int64
0    57474
1     1502
Name: E8798, dtype: int64
0    58880
1       96
Name: E8799, dtype: int64
0    58974
1        2
Name: E8800, dtype: int64
0    58961
1       15
Name: E8801, dtype: int64
0    58431
1      545
Name: E8809, dtype: int64
0    58869
1      107
Name: E8810, dtype: int64
0    58959
1       17
Name: E8811, dtype: int64
0    58894
1       82
Name: E882, dtype: int64
0    58962
1       14
Name: E8830, dtype: int64
0    58975
1        1
Name: E8839, dtype: int64
0    58975
1        1
Name: E8840, dtype: int64
0    58971
1        5
Name: E8841, dtype: int64
0    58911
1       65
Name: E8842, dtype: int64
0    58933
1       43
Name: E8843, dtype: int64
0    58833
1      143
Name: E8844, dtype: int64
0    58973
1        3
Name: E8845, dtype: int64
0    58948
1       28
Name: E8846, dtype: int64
0    58858
1      118
Name: E8849, dtype: int64
0    58975
1        1
Name: E8850, dtype: int64
0    58974
1        2
Name: E8851, dtype: int64
0    58971
1        5
Name: E8852, dtype: int64
0    58972
1        4
Name: E8853, dtype: int64
0    58971
1        5
Name: E8854, dtype: int64
0    58272
1      704
Name: E8859, dtype: int64
0    58973
1        3
Name: E8860, dtype: int64
0    58942
1       34
Name: E887, dtype: int64
0    58956
1       20
Name: E888, dtype: int64
0    58968
1        8
Name: E8880, dtype: int64
0    58902
1       74
Name: E8881, dtype: int64
0    58923
1       53
Name: E8888, dtype: int64
0    57979
1      997
Name: E8889, dtype: int64
0    58974
1        2
Name: E8902, dtype: int64
0    58975
1        1
Name: E8908, dtype: int64
0    58973
1        3
Name: E8918, dtype: int64
0    58974
1        2
Name: E899, dtype: int64
0    58974
1        2
Name: E9000, dtype: int64
0    58975
1        1
Name: E9001, dtype: int64
0    58948
1       28
Name: E9010, dtype: int64
0    58975
1        1
Name: E9011, dtype: int64
0    58972
1        4
Name: E9018, dtype: int64
0    58971
1        5
Name: E9019, dtype: int64
0    58975
1        1
Name: E9051, dtype: int64
0    58975
1        1
Name: E9053, dtype: int64
0    58970
1        6
Name: E9060, dtype: int64
0    58973
1        3
Name: E9063, dtype: int64
0    58971
1        5
Name: E9064, dtype: int64
0    58970
1        6
Name: E9068, dtype: int64
0    58975
1        1
Name: E9081, dtype: int64
0    58975
1        1
Name: E9100, dtype: int64
0    58971
1        5
Name: E9102, dtype: int64
0    58968
1        8
Name: E9108, dtype: int64
0    58975
1        1
Name: E9109, dtype: int64
0    58937
1       39
Name: E911, dtype: int64
0    58791
1      185
Name: E912, dtype: int64
0    58975
1        1
Name: E9132, dtype: int64
0    58974
1        2
Name: E9138, dtype: int64
0    58763
1      213
Name: E915, dtype: int64
0    58943
1       33
Name: E916, dtype: int64
0    58964
1       12
Name: E9170, dtype: int64
0    58965
1       11
Name: E9173, dtype: int64
0    58962
1       14
Name: E9174, dtype: int64
0    58971
1        5
Name: E9175, dtype: int64
0    58971
1        5
Name: E9177, dtype: int64
0    58972
1        4
Name: E9178, dtype: int64
0    58936
1       40
Name: E9179, dtype: int64
0    58969
1        7
Name: E918, dtype: int64
0    58973
1        3
Name: E9190, dtype: int64
0    58970
1        6
Name: E9192, dtype: int64
0    58975
1        1
Name: E9193, dtype: int64
0    58963
1       13
Name: E9194, dtype: int64
0    58975
1        1
Name: E9196, dtype: int64
0    58968
1        8
Name: E9198, dtype: int64
0    58975
1        1
Name: E9200, dtype: int64
0    58970
1        6
Name: E9201, dtype: int64
0    58973
1        3
Name: E9203, dtype: int64
0    58974
1        2
Name: E9204, dtype: int64
0    58975
1        1
Name: E9205, dtype: int64
0    58959
1       17
Name: E9208, dtype: int64
0    58973
1        3
Name: E9209, dtype: int64
0    58975
1        1
Name: E9211, dtype: int64
0    58970
1        6
Name: E9220, dtype: int64
0    58975
1        1
Name: E9222, dtype: int64
0    58975
1        1
Name: E9225, dtype: int64
0    58968
1        8
Name: E9229, dtype: int64
0    58975
1        1
Name: E9238, dtype: int64
0    58975
1        1
Name: E9240, dtype: int64
0    58972
1        4
Name: E9241, dtype: int64
0    58974
1        2
Name: E9242, dtype: int64
0    58966
1       10
Name: E9248, dtype: int64
0    58975
1        1
Name: E9249, dtype: int64
0    58975
1        1
Name: E9250, dtype: int64
0    58975
1        1
Name: E9262, dtype: int64
0    58964
1       12
Name: E927, dtype: int64
0    58973
1        3
Name: E9270, dtype: int64
0    58975
1        1
Name: E9274, dtype: int64
0    58970
1        6
Name: E9278, dtype: int64
0    58967
1        9
Name: E9283, dtype: int64
0    58914
1       62
Name: E9288, dtype: int64
0    58687
1      289
Name: E9289, dtype: int64
0    58873
1      103
Name: E9290, dtype: int64
0    58970
1        6
Name: E9291, dtype: int64
0    58973
1        3
Name: E9292, dtype: int64
0    58921
1       55
Name: E9293, dtype: int64
0    58974
1        2
Name: E9294, dtype: int64
0    58975
1        1
Name: E9295, dtype: int64
0    58951
1       25
Name: E9298, dtype: int64
0    58951
1       25
Name: E9299, dtype: int64
0    58861
1      115
Name: E9300, dtype: int64
0    58956
1       20
Name: E9301, dtype: int64
0    58972
1        4
Name: E9303, dtype: int64
0    58973
1        3
Name: E9304, dtype: int64
0    58868
1      108
Name: E9305, dtype: int64
0    58970
1        6
Name: E9306, dtype: int64
0    58963
1       13
Name: E9307, dtype: int64
0    58742
1      234
Name: E9308, dtype: int64
0    58928
1       48
Name: E9309, dtype: int64
0    58917
1       59
Name: E9310, dtype: int64
0    58967
1        9
Name: E9313, dtype: int64
0    58974
1        2
Name: E9314, dtype: int64
0    58959
1       17
Name: E9315, dtype: int64
0    58946
1       30
Name: E9317, dtype: int64
0    58973
1        3
Name: E9318, dtype: int64
0    58952
1       24
Name: E9319, dtype: int64
0    58429
1      547
Name: E9320, dtype: int64
0    58973
1        3
Name: E9322, dtype: int64
0    58894
1       82
Name: E9323, dtype: int64
0    58975
1        1
Name: E9324, dtype: int64
0    58974
1        2
Name: E9325, dtype: int64
0    58973
1        3
Name: E9328, dtype: int64
0    58975
1        1
Name: E9329, dtype: int64
0    58962
1       14
Name: E9330, dtype: int64
0    58417
1      559
Name: E9331, dtype: int64
0    58974
1        2
Name: E9334, dtype: int64
0    58975
1        1
Name: E9335, dtype: int64
0    58975
1        1
Name: E9338, dtype: int64
0    58974
1        2
Name: E9340, dtype: int64
0    58291
1      685
Name: E9342, dtype: int64
0    58974
1        2
Name: E9343, dtype: int64
0    58957
1       19
Name: E9344, dtype: int64
0    58972
1        4
Name: E9345, dtype: int64
0    58969
1        7
Name: E9346, dtype: int64
0    58961
1       15
Name: E9347, dtype: int64
0    58930
1       46
Name: E9348, dtype: int64
0    58961
1       15
Name: E9351, dtype: int64
0    58749
1      227
Name: E9352, dtype: int64
0    58941
1       35
Name: E9353, dtype: int64
0    58963
1       13
Name: E9354, dtype: int64
0    58951
1       25

Name: E9356, dtype: int64
0    58971
1        5
Name: E9357, dtype: int64
0    58904
1       72
Name: E9358, dtype: int64
0    58835
1      141
Name: E9359, dtype: int64
0    58974
1        2
Name: E9360, dtype: int64
0    58904
1       72
Name: E9361, dtype: int64
0    58917
1       59
Name: E9363, dtype: int64
0    58972
1        4
Name: E9364, dtype: int64
0    58971
1        5
Name: E9370, dtype: int64
0    58911
1       65
Name: E9378, dtype: int64
0    58892
1       84
Name: E9379, dtype: int64
0    58973
1        3
Name: E9380, dtype: int64
0    58971
1        5
Name: E9382, dtype: int64
0    58938
1       38
Name: E9383, dtype: int64
0    58949
1       27
Name: E9384, dtype: int64
0    58970
1        6
Name: E9385, dtype: int64
0    58974
1        2
Name: E9386, dtype: int64
0    58971
1        5
Name: E9387, dtype: int64
0    58973
1        3
Name: E9389, dtype: int64
0    58942
1       34
Name: E9390, dtype: int64
0    58965
1       11
Name: E9391, dtype: int64
0    58949
1       27
Name: E9392, dtype: int64
0    58935
1       41
Name: E9393, dtype: int64
0    58821
1      155
Name: E9394, dtype: int64
0    58975
1        1
Name: E9395, dtype: int64
0    58972
1        4
Name: E9397, dtype: int64
0    58929
1       47
Name: E9398, dtype: int64
0    58975
1        1
Name: E9399, dtype: int64
0    58969
1        7
Name: E9401, dtype: int64
0    58975
1        1
Name: E9408, dtype: int64
0    58975
1        1
Name: E9410, dtype: int64
0    58958
1       18
Name: E9411, dtype: int64
0    58965
1       11
Name: E9412, dtype: int64
0    58934
1       42
Name: E9413, dtype: int64
0    58975
1        1
Name: E9419, dtype: int64
0    58865
1      111
Name: E9420, dtype: int64
0    58932
1       44
Name: E9421, dtype: int64
0    58962
1       14
Name: E9422, dtype: int64
0    58931
1       45
Name: E9424, dtype: int64
0    58972
1        4
Name: E9425, dtype: int64
0    58879
1       97
Name: E9426, dtype: int64
0    58869
1      107
Name: E9429, dtype: int64
0    58964
1       12
Name: E9430, dtype: int64
0    58974
1        2
Name: E9433, dtype: int64
0    58972
1        4
Name: E9438, dtype: int64
0    58974
1        2
Name: E9441, dtype: int64
0    58963
1       13
Name: E9443, dtype: int64
0    58853
1      123
Name: E9444, dtype: int64
0    58970
1        6
Name: E9445, dtype: int64
0    58965
1       11
Name: E9447, dtype: int64
0    58973
1        3
Name: E9451, dtype: int64
0    58966
1       10
Name: E9452, dtype: int64
0    58975
1        1
Name: E9453, dtype: int64
0    58974
1        2
Name: E9455, dtype: int64
0    58964
1       12
Name: E9457, dtype: int64
0    58971
1        5
Name: E9460, dtype: int64
0    58975
1        1
Name: E9463, dtype: int64
0    58975
1        1
Name: E9466, dtype: int64
0    58975
1        1
Name: E9470, dtype: int64
0    58649
1      327
Name: E9478, dtype: int64
0    58874
1      102
Name: E9479, dtype: int64
0    58974
1        2
Name: E9496, dtype: int64
0    58975
1        1
Name: E9499, dtype: int64
0    58795
1      181
Name: E9500, dtype: int64
0    58967
1        9
Name: E9501, dtype: int64
0    58958
1       18
Name: E9502, dtype: int64
0    58772
1      204
Name: E9503, dtype: int64
0    58826
1      150
Name: E9504, dtype: int64
0    58974
1        2
Name: E9505, dtype: int64
0    58973
1        3
Name: E9506, dtype: int64
0    58970
1        6
Name: E9507, dtype: int64
0    58933
1       43
Name: E9509, dtype: int64
0    58953
1       23
Name: E9530, dtype: int64
0    58975
1        1
Name: E9538, dtype: int64
0    58974
1        2
Name: E954, dtype: int64
0    58968
1        8
Name: E9550, dtype: int64
0    58973
1        3
Name: E9554, dtype: int64
0    58975
1        1
Name: E9559, dtype: int64
0    58932
1       44
Name: E956, dtype: int64
0    58973
1        3
Name: E9570, dtype: int64
0    58966
1       10
Name: E9571, dtype: int64
0    58975
1        1
Name: E9572, dtype: int64
0    58975
1        1
Name: E9579, dtype: int64
0    58973
1        3
Name: E9580, dtype: int64
0    58975
1        1
Name: E9581, dtype: int64
0    58975
1        1
Name: E9583, dtype: int64
0    58972
1        4
Name: E9585, dtype: int64
0    58968
1        8
Name: E9588, dtype: int64
0    58972
1        4
Name: E9589, dtype: int64
0    58972
1        4
Name: E959, dtype: int64
0    58909
1       67
Name: E9600, dtype: int64
0    58971
1        5
Name: E9601, dtype: int64
0    58975
1        1
Name: E9620, dtype: int64
0    58975
1        1
Name: E963, dtype: int64
0    58975
1        1
Name: E964, dtype: int64
0    58951
1       25
Name: E9650, dtype: int64
0    58973
1        3
Name: E9651, dtype: int64
0    58952
1       24
Name: E9654, dtype: int64
0    58975
1        1
Name: E9659, dtype: int64
0    58904
1       72
Name: E966, dtype: int64
0    58970
1        6
Name: E9670, dtype: int64
0    58975
1        1
Name: E9671, dtype: int64
0    58974
1        2
Name: E9673, dtype: int64
0    58975
1        1
Name: E9674, dtype: int64
0    58975
1        1
Name: E9677, dtype: int64
0    58975
1        1
Name: E9678, dtype: int64
0    58973
1        3
Name: E9679, dtype: int64
0    58940
1       36
Name: E9682, dtype: int64
0    58974
1        2
Name: E9687, dtype: int64
0    58965
1       11
Name: E9688, dtype: int64
0    58923
1       53
Name: E9689, dtype: int64
0    58958
1       18
Name: E969, dtype: int64
0    58972
1        4
Name: E970, dtype: int64
0    58975
1        1
Name: E975, dtype: int64
0    58973
1        3
Name: E976, dtype: int64
0    58975
1        1
Name: E977, dtype: int64
0    58938
1       38
Name: E9800, dtype: int64
0    58975
1        1
Name: E9801, dtype: int64
0    58953
1       23
Name: E9803, dtype: int64
0    58950
1       26
Name: E9804, dtype: int64
0    58973
1        3
Name: E9805, dtype: int64
0    58965
1       11
Name: E9809, dtype: int64
0    58975
1        1
Name: E9821, dtype: int64
0    58975
1        1
Name: E9850, dtype: int64
0    58975
1        1
Name: E9854, dtype: int64
0    58975
1        1
Name: E986, dtype: int64
0    58973
1        3
Name: E9871, dtype: int64
0    58975
1        1
Name: E9881, dtype: int64
0    58974
1        2
Name: E9888, dtype: int64
0    58974
1        2
Name: E9889, dtype: int64
0    58968
1        8
Name: E989, dtype: int64
0    58975
1        1
Name: E9991, dtype: int64
0    58960
1       16
Name: V011, dtype: int64
0    58974
1        2
Name: V016, dtype: int64
0    58970
1        6
Name: V017, dtype: int64
0    58963
1       13
Name: V0179, dtype: int64
0    58973
1        3
Name: V0189, dtype: int64
0    58975
1        1
Name: V020, dtype: int64
0    58973
1        3
Name: V023, dtype: int64
0    58975
1        1
Name: V024, dtype: int64
0    58969
1        7
Name: V0251, dtype: int64
0    58975
1        1
Name: V0252, dtype: int64
0    58968
1        8
Name: V0253, dtype: int64
0    58820
1      156
Name: V0254, dtype: int64
0    58873
1      103
Name: V0259, dtype: int64
0    58959
1       17
Name: V0261, dtype: int64
0    58960
1       16
Name: V0262, dtype: int64
0    58960
1       16
Name: V029, dtype: int64
0    58975
1        1
Name: V037, dtype: int64
0    58964
1       12
Name: V0381, dtype: int64
0    58947
1       29
Name: V0382, dtype: int64
0    58975
1        1
Name: V0389, dtype: int64
0    58971
1        5
Name: V040, dtype: int64
0    58975
1        1
Name: V045, dtype: int64
0    58961
1       15
Name: V0481, dtype: int64
0    58962
1       14
Name: V0482, dtype: int64
0    58974
1        2
Name: V0489, dtype: int64
0    58970
1        6
Name: V052, dtype: int64
0    53197
1     5779
Name: V053, dtype: int64
0    58962
1       14
Name: V058, dtype: int64
0    58966
1       10
Name: V061, dtype: int64
0    58975
1        1
Name: V062, dtype: int64
0    58971
1        5
Name: V063, dtype: int64
0    58975
1        1
Name: V065, dtype: int64
0    58968
1        8
Name: V066, dtype: int64
0    58969
1        7
Name: V068, dtype: int64
0    58906
1       70
Name: V071, dtype: int64
0    58975
1        1
Name: V072, dtype: int64
0    58975
1        1
Name: V0739, dtype: int64
0    58972
1        4
Name: V074, dtype: int64
0    58974
1        2
Name: V078, dtype: int64
0    58644
1      332
Name: V08, dtype: int64
0    58318
1      658
Name: V090, dtype: int64
0    58975
1        1
Name: V091, dtype: int64
0    58974
1        2
Name: V0950, dtype: int64
0    58975
1        1
Name: V0971, dtype: int64
0    58791
1      185
Name: V0980, dtype: int64
0    58949
1       27
Name: V0981, dtype: int64
0    58975
1        1
Name: V0990, dtype: int64
0    58951
1       25
Name: V0991, dtype: int64
0    58945
1       31
Name: V1000, dtype: int64
0    58951
1       25
Name: V1001, dtype: int64
0    58917
1       59
Name: V1002, dtype: int64
0    58876
1      100
Name: V1003, dtype: int64
0    58923
1       53
Name: V1004, dtype: int64
0    58205
1      771
Name: V1005, dtype: int64
0    58813
1      163
Name: V1006, dtype: int64
0    58906
1       70
Name: V1007, dtype: int64
0    58876
1      100
Name: V1009, dtype: int64
0    58457
1      519
Name: V1011, dtype: int64
0    58973
1        3
Name: V1012, dtype: int64
0    58975
1        1
Name: V1020, dtype: int64
0    58877
1       99
Name: V1021, dtype: int64
0    58975
1        1
Name: V1022, dtype: int64
0    58972
1        4
Name: V1029, dtype: int64
0    57699
1     1277
Name: V103, dtype: int64
0    58871
1      105
Name: V1041, dtype: int64
0    58815
1      161
Name: V1042, dtype: int64
0    58875
1      101
Name: V1043, dtype: int64
0    58951
1       25
Name: V1044, dtype: int64
0    57769
1     1207
Name: V1046, dtype: int64
0    58930
1       46
Name: V1047, dtype: int64
0    58965
1       11
Name: V1049, dtype: int64
0    58975
1        1
Name: V1050, dtype: int64
0    58635
1      341
Name: V1051, dtype: int64
0    58542
1      434
Name: V1052, dtype: int64
0    58966
1       10
Name: V1053, dtype: int64
0    58974
1        2
Name: V1059, dtype: int64
0    58971
1        5
Name: V1060, dtype: int64
0    58966
1       10
Name: V1061, dtype: int64
0    58970
1        6
Name: V1062, dtype: int64
0    58973
1        3
Name: V1069, dtype: int64
0    58974
1        2
Name: V1071, dtype: int64
0    58911
1       65
Name: V1072, dtype: int64
0    58859
1      117
Name: V1079, dtype: int64
0    58963
1       13
Name: V1081, dtype: int64
0    58537
1      439
Name: V1082, dtype: int64
0    58470
1      506
Name: V1083, dtype: int64
0    58969
1        7
Name: V1084, dtype: int64
0    58935
1       41
Name: V1085, dtype: int64
0    58973
1        3
Name: V1086, dtype: int64
0    58799
1      177
Name: V1087, dtype: int64
0    58970
1        6
Name: V1088, dtype: int64
0    58924
1       52
Name: V1089, dtype: int64
0    58973
1        3
Name: V109, dtype: int64
0    58972
1        4
Name: V1090, dtype: int64
0    58962
1       14
Name: V1091, dtype: int64
0    58975
1        1

Name: V110, dtype: int64
0    58975
1        1
Name: V111, dtype: int64
0    58863
1      113
Name: V113, dtype: int64
0    58974
1        2
Name: V118, dtype: int64
0    58867
1      109
Name: V1201, dtype: int64
0    58950
1       26
Name: V1202, dtype: int64
0    58965
1       11
Name: V1203, dtype: int64
0    58784
1      192
Name: V1204, dtype: int64
0    58878
1       98
Name: V1209, dtype: int64
0    58975
1        1
Name: V122, dtype: int64
0    58975
1        1
Name: V123, dtype: int64
0    58958
1       18
Name: V1241, dtype: int64
0    58963
1       13
Name: V1242, dtype: int64
0    58975
1        1
Name: V1250, dtype: int64
0    57365
1     1611
Name: V1251, dtype: int64
0    58965
1       11
Name: V1252, dtype: int64
0    58880
1       96
Name: V1253, dtype: int64
0    57904
1     1072
Name: V1254, dtype: int64
0    58834
1      142
Name: V1255, dtype: int64
0    58669
1      307
Name: V1259, dtype: int64
0    58963
1       13
Name: V1261, dtype: int64
0    58814
1      162
Name: V1271, dtype: int64
0    58684
1      292
Name: V1272, dtype: int64
0    58901
1       75
Name: V1279, dtype: int64
0    58746
1      230
Name: V1301, dtype: int64
0    58830
1      146
Name: V1302, dtype: int64
0    58972
1        4
Name: V1309, dtype: int64
0    58975
1        1
Name: V135, dtype: int64
0    58931
1       45
Name: V1351, dtype: int64
0    58975
1        1
Name: V1352, dtype: int64
0    58974
1        2
Name: V1364, dtype: int64
0    58971
1        5
Name: V1365, dtype: int64
0    58973
1        3
Name: V1369, dtype: int64
0    58971
1        5
Name: V138, dtype: int64
0    58975
1        1
Name: V1381, dtype: int64
0    58970
1        6
Name: V1389, dtype: int64
0    58907
1       69
Name: V140, dtype: int64
0    58961
1       15
Name: V141, dtype: int64
0    58957
1       19
Name: V142, dtype: int64
0    58974
1        2
Name: V143, dtype: int64
0    58961
1       15
Name: V145, dtype: int64
0    58962
1       14
Name: V146, dtype: int64
0    58940
1       36
Name: V148, dtype: int64
0    58973
1        3
Name: V1501, dtype: int64
0    58971
1        5
Name: V1502, dtype: int64
0    58970
1        6
Name: V1504, dtype: int64
0    58970
1        6
Name: V1505, dtype: int64
0    58975
1        1
Name: V1506, dtype: int64
0    58966
1       10
Name: V1507, dtype: int64
0    58968
1        8
Name: V1508, dtype: int64
0    58967
1        9
Name: V1509, dtype: int64
0    58933
1       43
Name: V151, dtype: int64
0    58973
1        3
Name: V152, dtype: int64
0    58962
1       14
Name: V1529, dtype: int64
0    58281
1      695
Name: V153, dtype: int64
0    58934
1       42
Name: V1541, dtype: int64
0    58973
1        3
Name: V1542, dtype: int64
0    58972
1        4
Name: V155, dtype: int64
0    58886
1       90
Name: V1551, dtype: int64
0    58921
1       55
Name: V1552, dtype: int64
0    58975
1        1
Name: V1553, dtype: int64
0    58972
1        4
Name: V1559, dtype: int64
0    58333
1      643
Name: V1581, dtype: int64
0    56165
1     2811
Name: V1582, dtype: int64
0    58889
1       87
Name: V1584, dtype: int64
0    58975
1        1
Name: V1585, dtype: int64
0    58975
1        1
Name: V1586, dtype: int64
0    58599
1      377
Name: V1588, dtype: int64
0    58968
1        8
Name: V1589, dtype: int64
0    58860
1      116
Name: V160, dtype: int64
0    58914
1       62
Name: V161, dtype: int64
0    58971
1        5
Name: V162, dtype: int64
0    58890
1       86
Name: V163, dtype: int64
0    58966
1       10
Name: V1641, dtype: int64
0    58961
1       15
Name: V1642, dtype: int64
0    58975
1        1
Name: V1643, dtype: int64
0    58969
1        7
Name: V1649, dtype: int64
0    58973
1        3
Name: V1651, dtype: int64
0    58975
1        1
Name: V1652, dtype: int64
0    58974
1        2
Name: V1659, dtype: int64
0    58965
1       11
Name: V166, dtype: int64
0    58962
1       14
Name: V167, dtype: int64
0    58952
1       24
Name: V168, dtype: int64
0    58964
1       12
Name: V169, dtype: int64
0    58962
1       14
Name: V170, dtype: int64
0    58954
1       22
Name: V171, dtype: int64
0    58975
1        1
Name: V172, dtype: int64
0    58274
1      702
Name: V173, dtype: int64
0    58953
1       23
Name: V174, dtype: int64
0    58962
1       14
Name: V1741, dtype: int64
0    58886
1       90
Name: V1749, dtype: int64
0    58972
1        4
Name: V175, dtype: int64
0    58784
1      192
Name: V180, dtype: int64
0    58973
1        3
Name: V181, dtype: int64
0    58975
1        1
Name: V1811, dtype: int64
0    58975
1        1
Name: V1819, dtype: int64
0    58973
1        3
Name: V182, dtype: int64
0    58964
1       12
Name: V183, dtype: int64
0    58974
1        2
Name: V1851, dtype: int64
0    58973
1        3
Name: V1859, dtype: int64
0    58975
1        1
Name: V1869, dtype: int64
0    58972
1        4
Name: V188, dtype: int64
0    58973
1        3
Name: V189, dtype: int64
0    58974
1        2
Name: V192, dtype: int64
0    58969
1        7
Name: V195, dtype: int64
0    58970
1        6
Name: V198, dtype: int64
0    58892
1       84
Name: V202, dtype: int64
0    58973
1        3
Name: V222, dtype: int64
0    58975
1        1
Name: V230, dtype: int64
0    58975
1        1
Name: V239, dtype: int64
0    58975
1        1
Name: V2501, dtype: int64
0    58973
1        3
Name: V252, dtype: int64
0    58974
1        2
Name: V2541, dtype: int64
0    58960
1       16
Name: V2651, dtype: int64
0    58965
1       11
Name: V2652, dtype: int64
0    58939
1       37
Name: V270, dtype: int64
0    58974
1        2
Name: V271, dtype: int64
0    58971
1        5
Name: V272, dtype: int64
0    58975
1        1
Name: V289, dtype: int64
0    53457
1     5519
Name: V290, dtype: int64
0    58971
1        5
Name: V291, dtype: int64
0    58966
1       10
Name: V292, dtype: int64
0    58524
1      452
Name: V293, dtype: int64
0    58910
1       66
Name: V298, dtype: int64
0    55410
1     3566
Name: V3000, dtype: int64
0    56218
1     2758
Name: V3001, dtype: int64
0    58960
1       16
Name: V301, dtype: int64
0    58806
1      170
Name: V3100, dtype: int64
0    57976
1     1000
Name: V3101, dtype: int64
0    58973
1        3
Name: V311, dtype: int64
0    58975
1        1
Name: V3200, dtype: int64
0    58964
1       12
Name: V3201, dtype: int64
0    58975
1        1
Name: V331, dtype: int64
0    58737
1      239
Name: V3401, dtype: int64
0    58975
1        1
Name: V400, dtype: int64
0    58975
1        1
Name: V403, dtype: int64
0    58975
1        1
Name: V4031, dtype: int64
0    58639
1      337
Name: V420, dtype: int64
0    58972
1        4
Name: V421, dtype: int64
0    58500
1      476
Name: V422, dtype: int64
0    58956
1       20
Name: V425, dtype: int64
0    58972
1        4
Name: V426, dtype: int64
0    58832
1      144
Name: V427, dtype: int64
0    58906
1       70
Name: V4281, dtype: int64
0    58904
1       72
Name: V4282, dtype: int64
0    58891
1       85
Name: V4283, dtype: int64
0    58975
1        1
Name: V4284, dtype: int64
0    58972
1        4
Name: V4289, dtype: int64
0    58969
1        7
Name: V430, dtype: int64
0    58969
1        7
Name: V431, dtype: int64
0    58297
1      679
Name: V433, dtype: int64
0    58967
1        9
Name: V434, dtype: int64
0    58975
1        1
Name: V435, dtype: int64
0    58952
1       24
Name: V4361, dtype: int64
0    58975
1        1
Name: V4363, dtype: int64
0    58176
1      800
Name: V4364, dtype: int64
0    58160
1      816
Name: V4365, dtype: int64
0    58974
1        2
Name: V4382, dtype: int64
0    58396
1      580
Name: V440, dtype: int64
0    58454
1      522
Name: V441, dtype: int64
0    58767
1      209
Name: V442, dtype: int64
0    58757
1      219
Name: V443, dtype: int64
0    58894
1       82
Name: V444, dtype: int64
0    58972
1        4
Name: V4450, dtype: int64
0    58975
1        1
Name: V4451, dtype: int64
0    58957
1       19
Name: V4459, dtype: int64
0    58906
1       70
Name: V446, dtype: int64
0    58974
1        2
Name: V448, dtype: int64
0    58975
1        1
Name: V449, dtype: int64
0    57586
1     1390
Name: V4501, dtype: int64
0    58243
1      733
Name: V4502, dtype: int64
0    58970
1        6
Name: V4509, dtype: int64
0    58801
1      175
Name: V451, dtype: int64
0    58382
1      594
Name: V4511, dtype: int64
0    58955
1       21
Name: V4512, dtype: int64
0    58842
1      134
Name: V452, dtype: int64
0    58836
1      140
Name: V453, dtype: int64
0    58749
1      227
Name: V454, dtype: int64
0    58912
1       64
Name: V4561, dtype: int64
0    58971
1        5
Name: V4569, dtype: int64
0    58859
1      117
Name: V4571, dtype: int64
0    58824
1      152
Name: V4572, dtype: int64
0    58779
1      197
Name: V4573, dtype: int64
0    58964
1       12
Name: V4574, dtype: int64
0    58963
1       13
Name: V4575, dtype: int64
0    58942
1       34
Name: V4576, dtype: int64
0    58931
1       45
Name: V4577, dtype: int64
0    58963
1       13
Name: V4578, dtype: int64
0    58751
1      225
Name: V4579, dtype: int64
0    55920
1     3056
Name: V4581, dtype: int64
0    56251
1     2725
Name: V4582, dtype: int64
0    58917
1       59
Name: V4585, dtype: int64
0    58748
1      228
Name: V4586, dtype: int64
0    58971
1        5
Name: V4587, dtype: int64
0    58918
1       58
Name: V4588, dtype: int64
0    58480
1      496
Name: V4589, dtype: int64
0    58952
1       24
Name: V461, dtype: int64
0    58764
1      212
Name: V4611, dtype: int64
0    58975
1        1
Name: V4614, dtype: int64
0    58517
1      459
Name: V462, dtype: int64
0    58893
1       83
Name: V463, dtype: int64
0    58975
1        1
Name: V468, dtype: int64
0    58975
1        1
Name: V469, dtype: int64
0    58975
1        1
Name: V486, dtype: int64
0    58975
1        1
Name: V489, dtype: int64
0    58972
1        4
Name: V4960, dtype: int64
0    58974
1        2
Name: V4961, dtype: int64
0    58950
1       26
Name: V4962, dtype: int64
0    58975
1        1
Name: V4963, dtype: int64
0    58973
1        3
Name: V4965, dtype: int64
0    58975
1        1
Name: V4966, dtype: int64
0    58955
1       21
Name: V4971, dtype: int64
0    58873
1      103
Name: V4972, dtype: int64
0    58940
1       36
Name: V4973, dtype: int64
0    58695
1      281
Name: V4975, dtype: int64
0    58866
1      110
Name: V4976, dtype: int64
0    58973
1        3
Name: V4981, dtype: int64
0    58795
1      181
Name: V4983, dtype: int64
0    58955
1       21
Name: V4984, dtype: int64
0    58972
1        4
Name: V4985, dtype: int64
0    57649
1     1327
Name: V4986, dtype: int64
0    58749
1      227
Name: V4987, dtype: int64
0    58975
1        1
Name: V4989, dtype: int64
0    56960
1     2016

Name: V502, dtype: int64
0    58973
1        3
Name: V503, dtype: int64
0    58971
1        5
Name: V5041, dtype: int64
0    58975
1        1
Name: V5049, dtype: int64
0    58974
1        2
Name: V51, dtype: int64
0    58975
1        1
Name: V510, dtype: int64
0    58975
1        1
Name: V5301, dtype: int64
0    58975
1        1
Name: V5302, dtype: int64
0    58972
1        4
Name: V5309, dtype: int64
0    58836
1      140
Name: V5331, dtype: int64
0    58879
1       97
Name: V5332, dtype: int64
0    58960
1       16
Name: V5339, dtype: int64
0    58974
1        2
Name: V536, dtype: int64
0    58975
1        1
Name: V537, dtype: int64
0    58972
1        4
Name: V5391, dtype: int64
0    58974
1        2
Name: V5399, dtype: int64
0    58972
1        4
Name: V5401, dtype: int64
0    58975
1        1
Name: V5410, dtype: int64
0    58961
1       15
Name: V5411, dtype: int64
0    58966
1       10
Name: V5412, dtype: int64
0    58945
1       31
Name: V5413, dtype: int64
0    58973
1        3
Name: V5415, dtype: int64
0    58963
1       13
Name: V5416, dtype: int64
0    58966
1       10
Name: V5417, dtype: int64
0    58939
1       37
Name: V5419, dtype: int64
0    58975
1        1
Name: V5422, dtype: int64
0    58975
1        1
Name: V5423, dtype: int64
0    58975
1        1
Name: V5426, dtype: int64
0    58973
1        3
Name: V5427, dtype: int64
0    58970
1        6
Name: V5481, dtype: int64
0    58973
1        3
Name: V5482, dtype: int64
0    58955
1       21
Name: V5489, dtype: int64
0    58972
1        4
Name: V549, dtype: int64
0    58849
1      127
Name: V550, dtype: int64
0    58912
1       64
Name: V551, dtype: int64
0    58922
1       54
Name: V552, dtype: int64
0    58917
1       59
Name: V553, dtype: int64
0    58939
1       37
Name: V554, dtype: int64
0    58968
1        8
Name: V555, dtype: int64
0    58954
1       22
Name: V556, dtype: int64
0    58974
1        2
Name: V558, dtype: int64
0    58969
1        7
Name: V560, dtype: int64
0    58974
1        2
Name: V561, dtype: int64
0    58975
1        1
Name: V562, dtype: int64
0    58974
1        2
Name: V568, dtype: int64
0    58974
1        2
Name: V580, dtype: int64
0    58960
1       16
Name: V581, dtype: int64
0    58931
1       45
Name: V5811, dtype: int64
0    58951
1       25
Name: V5812, dtype: int64
0    58974
1        2
Name: V583, dtype: int64
0    58962
1       14
Name: V5831, dtype: int64
0    58971
1        5
Name: V5841, dtype: int64
0    58975
1        1
Name: V5842, dtype: int64
0    58974
1        2
Name: V5843, dtype: int64
0    58974
1        2
Name: V5844, dtype: int64
0    58971
1        5
Name: V5849, dtype: int64
0    55171
1     3805
Name: V5861, dtype: int64
0    58952
1       24
Name: V5862, dtype: int64
0    58951
1       25
Name: V5863, dtype: int64
0    58964
1       12
Name: V5864, dtype: int64
0    58083
1      893
Name: V5865, dtype: int64
0    58696
1      280
Name: V5866, dtype: int64
0    56438
1     2538
Name: V5867, dtype: int64
0    58805
1      171
Name: V5869, dtype: int64
0    58974
1        2
Name: V5873, dtype: int64
0    58972
1        4
Name: V5881, dtype: int64
0    58889
1       87
Name: V5883, dtype: int64
0    58969
1        7
Name: V596, dtype: int64
0    58706
1      270
Name: V600, dtype: int64
0    58975
1        1
Name: V601, dtype: int64
0    58970
1        6
Name: V602, dtype: int64
0    58973
1        3
Name: V604, dtype: int64
0    58975
1        1
Name: V608, dtype: int64
0    58973
1        3
Name: V610, dtype: int64
0    58975
1        1
Name: V6103, dtype: int64
0    58975
1        1
Name: V6104, dtype: int64
0    58975
1        1
Name: V6107, dtype: int64
0    58975
1        1
Name: V6109, dtype: int64
0    58975
1        1
Name: V6110, dtype: int64
0    58975
1        1
Name: V6111, dtype: int64
0    58974
1        2
Name: V6129, dtype: int64
0    58971
1        5
Name: V6141, dtype: int64
0    58972
1        4
Name: V6142, dtype: int64
0    58975
1        1
Name: V6149, dtype: int64
0    58971
1        5
Name: V618, dtype: int64
0    58961
1       15
Name: V620, dtype: int64
0    58975
1        1
Name: V624, dtype: int64
0    58963
1       13
Name: V625, dtype: int64
0    58964
1       12
Name: V626, dtype: int64
0    58975
1        1
Name: V6282, dtype: int64
0    58837
1      139
Name: V6284, dtype: int64
0    58975
1        1
Name: V6285, dtype: int64
0    58974
1        2
Name: V6289, dtype: int64
0    58952
1       24
Name: V632, dtype: int64
0    58973
1        3
Name: V638, dtype: int64
0    58974
1        2
Name: V640, dtype: int64
0    58971
1        5
Name: V6405, dtype: int64
0    58974
1        2
Name: V6406, dtype: int64
0    58773
1      203
Name: V641, dtype: int64
0    58885
1       91
Name: V642, dtype: int64
0    58936
1       40
Name: V643, dtype: int64
0    58964
1       12
Name: V644, dtype: int64
0    58831
1      145
Name: V6441, dtype: int64
0    58947
1       29
Name: V6442, dtype: int64
0    58975
1        1
Name: V6443, dtype: int64
0    58966
1       10
Name: V652, dtype: int64
0    58965
1       11
Name: V653, dtype: int64
0    58975
1        1
Name: V6542, dtype: int64
0    58953
1       23
Name: V6549, dtype: int64
0    58975
1        1
Name: V655, dtype: int64
0    58975
1        1
Name: V660, dtype: int64
0    57956
1     1020
Name: V667, dtype: int64
0    58975
1        1
Name: V671, dtype: int64
0    58975
1        1
Name: V672, dtype: int64
0    58975
1        1
Name: V6889, dtype: int64
0    58970
1        6
Name: V694, dtype: int64
0    58975
1        1
Name: V698, dtype: int64
0    58975
1        1
Name: V703, dtype: int64
0    58446
1      530
Name: V707, dtype: int64
0    58974
1        2
Name: V708, dtype: int64
0    58962
1       14
Name: V714, dtype: int64
0    58975
1        1
Name: V716, dtype: int64
0    58602
1      374
Name: V721, dtype: int64
0    58971
1        5
Name: V7219, dtype: int64
0    58972
1        4
Name: V7281, dtype: int64
0    58971
1        5
Name: V741, dtype: int64
0    58975
1        1
Name: V7651, dtype: int64
0    58975
1        1
Name: V789, dtype: int64
0    58975
1        1
Name: V812, dtype: int64
0    58974
1        2
Name: V8381, dtype: int64
0    58974
1        2
Name: V8389, dtype: int64
0    58974
1        2
Name: V8401, dtype: int64
0    58975
1        1
Name: V8409, dtype: int64
0    58975
1        1
Name: V8489, dtype: int64
0    58855
1      121
Name: V850, dtype: int64
0    58897
1       79
Name: V851, dtype: int64
0    58972
1        4
Name: V8521, dtype: int64
0    58963
1       13
Name: V8522, dtype: int64
0    58967
1        9
Name: V8523, dtype: int64
0    58969
1        7
Name: V8524, dtype: int64
0    58968
1        8
Name: V8525, dtype: int64
0    58963
1       13
Name: V8530, dtype: int64
0    58959
1       17
Name: V8531, dtype: int64
0    58957
1       19
Name: V8532, dtype: int64
0    58960
1       16
Name: V8533, dtype: int64
0    58957
1       19
Name: V8534, dtype: int64
0    58962
1       14
Name: V8535, dtype: int64
0    58953
1       23
Name: V8536, dtype: int64
0    58959
1       17
Name: V8537, dtype: int64
0    58956
1       20
Name: V8538, dtype: int64
0    58957
1       19
Name: V8539, dtype: int64
0    58883
1       93
Name: V854, dtype: int64
0    58892
1       84
Name: V8541, dtype: int64
0    58931
1       45
Name: V8542, dtype: int64
0    58926
1       50
Name: V8543, dtype: int64
0    58958
1       18
Name: V8544, dtype: int64
0    58965
1       11
Name: V8545, dtype: int64
0    58968
1        8
Name: V860, dtype: int64
0    58974
1        2
Name: V861, dtype: int64
0    58975
1        1
Name: V8709, dtype: int64
0    58972
1        4
Name: V872, dtype: int64
0    58566
1      410
Name: V8741, dtype: int64
0    58975
1        1
Name: V8745, dtype: int64
0    58821
1      155
Name: V8801, dtype: int64
0    58975
1        1
Name: V8811, dtype: int64
0    58969
1        7
Name: V8812, dtype: int64
0    58973
1        3
Name: V8821, dtype: int64
0    58975
1        1
Name: V9010, dtype: int64
0    58975
1        1
Name: V902, dtype: int64
0    58975
1        1
Name: V9039, dtype: int64
0    58973
1        3
Name: V9081, dtype: int64
0    58975
1        1
Name: V9089, dtype: int64
0    58975
1        1
Name: V9103, dtype: int64

In [35]:
dataset.to_pickle("./dataset.pkl")

In [36]:
notes = pd.read_csv('NOTEEVENTS-2.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)